{
  "database":"host='localhost' user='kontra' password='kontrapwd' dbname='kontrakcja'",
  "pdftools_lambda" : {
    "gateway_url": "",
    "api_key": "",
    "amazon_s3": {
        "_host": "example.com"
      , "_port": 1234
      , "timeout": 5
      , "bucket" : ""
      , "access_key":""
      , "secret_key": ""
    }
  },
  "_amazon" : {
    "_host": "example.com",
    "_port": 1234,
    "bucket": "foo",
    "access_key": "bar",
    "secret_key": "baz"
  },
  "_local_file_cache_size": 200000000,
  "_redis_cache": {
    "host": "foo",
    "port": 1234,
    "password": "bar",
    "database": 0
  },
  "cron_monthly_invoice": {
    "script_path": "pure_sql/invoice_stats.sql",
    "recipient_name": "Invoicing Stats",
    "recipient_email": "invoicing-stats@scrive.com"
  }
}
