.plan-container form.recurly {

  div.server_errors {
    color: @negativecolor;
  }

  div.field {

    .error {
      color:@negativecolor;
    }

    input.invalid {
      border-color: @negativecolor;
    }
  }
}

