.payments .top-tabs {

  .top-bar:hover {
    border-top-color: @actioncolor;
  }

  .top-bar.active {
    border-top-color: @actioncolor;
  }
}

.plan-container form.recurly {

  div.server_errors {
    color: @negativecolor;
  }

  div.field {

    .error {
      color:@negativecolor;
    }

    input.invalid {
      border-color: @negativecolor;
    }
  }
}

