/* Signview header */
@brandcolor :  @brand-primary;
@brandtextcolor: @text-lighter;
@actioncolor: rgb(83, 182, 136);
@actiontextcolor: @text-very-light;
@actionsecondarycolor:rgb(41, 158, 204);
@actionsecondarytextcolor: @text-very-light;
@positivecolor: #53b688;
@positivetextcolor: #ffffff;
@negativecolor:#b9322f;
@negativetextcolor:#ffffff;
@font: @font-family-source;

