.highlight-explanation {

  .add-participant-button-wrapper {
    border: 2px dashed #f9f9f9;
    display: inline-block;
    padding: 15px;
  }

  .add-participant-buttons {
    margin-top: 23px;
  }

  // This is adjusted to the left due to being at the edge of the screen.
  .signing-instruction {
    margin-left: -80px;
    width: 222px;

    .arrowed:before {
      left: -128px;
    }
  }
}

.sample-document-preview {
  background-color: @gray-3-percent;
  height: 416px;
  left: 42%; // TODO center
  padding: 25px;
  position: fixed;
  top: 190px;
  z-index: 99999; // above participants tab

  img.document-preview {
    border: 1px solid #e7e7e7;
    display: block;
    margin-top: 10px;
  }
}
