@import 'util.less';
@import '../branding/elements.less';
@import '../branding/variables.less';

// hide the page footer in design view
body.designview > footer {
  display: none;
}

body.designview .mainContainer {
  margin-bottom: 0;
  margin-top: 0;
  min-height: 0;
  width: 100%;
}

.design-view-frame {
  border-bottom: none;
  position: relative;

  .box-sizing(border-box);
}

.design-view-frame-top-bar {
  height: 60px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.design-view-tab-container {
  background: @white;
  cursor: pointer;
  font-size:16px;
  height: 60px;
  margin: 0 auto;
  width: 1018px;
  
  .box-sizing(border-box);
}

.tab-active {
  border-bottom: 4px solid @white;
  border-top: 4px solid #7a94b8;
}

.tab-hover {
  border-bottom: 4px solid @white;
  border-top: 4px solid #7a94b8;
}

.designview {
  
  .pagediv {
    margin-top: 15px;
    
    &#page1 {
      margin-top: 0px;
    }
  }

  .tab-viewer {
    width: 100%;
    
    .tab-viewer-header {
      margin-bottom: 0px;
      position:relative;
      z-index:999;

      .box-sizing(border-box);
    }

    .tabs {
      border: none;
      height: 60px;
      margin: auto;
      width: 1018px;

      li {
        line-height: 32px;
        padding: 22px 24px 18px 24px;
        
        &.inactive,
        &.inactive:hover {
          
          .design-view-tab-text {
            color: #aaaaaa;

            .design-view-tab-text-optional {
              color: #aaaaaa;
            }
          }
        }

        &.active,
        &:hover {
          background: none repeat scroll 0 0 @white;
          border-top: 4px solid @brand-primary-darker;
          padding: 18px 24px 18px 24px;
          
          h5 {
            color : #333333;
          }
        }

        .design-view-tab-text {
          color:#262626;
          display: inline-block;
          font-size: 18px;
          height: 100%;
          position: relative;
          text-align : center;
          width: 290px;

          &.grayed {
            background-color: @disabled-grey-background;
            color: #aaaaaa;

            .design-view-tab-text-optional {
              color: #aaaaaa;
            }
          }

          .design-view-tab-text-optional {
            color: #808080;
            font-size: 15px;
          }
        }

        &.float-left.last-tab {
          .box-shadow(1px 0 0 0 #cccccc inset);

          .ie8 & {
            // ie8 doesn't understand box-shadow, fallback to a border
            border-left: 1px solid #cccccc;
          }
          
          .design-view-tab-text {
            width: 291px;
          }
        }

        &.float-left:first-child {
          border-left: none;
          .box-shadow(-1px 0 0 0 #cccccc inset);

          .ie8 & {
            // ie8 doesn't understand box-shadow, fallback to a border
            border-right: 1px solid #cccccc;
          }
        }
      }
    }
  }
}


// @ACTION CONTAINER
// -------------------------

.design-view-action-container {
  margin: 0 auto;
  position: relative;
  width: 1018px;

  .clearfix();
}

.design-view-action-container-shadow {
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .box-shadow(0 4px 0 rgba(0,0,0,0.05) inset);
}


// @DOCUMENT
// -------------------------

.design-view-document-container {

  .box-sizing(border-box);
  overflow: auto;
  min-height: 300px;
  margin: auto;
  position: relative;
}


// @BUTTONS
// -------------------------

.design-view-button-bar {
  background: @brand-primary;
  bottom: 0;
  height: 64px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1001;
  
  .box-shadow(0px -4px rgba(0, 0, 0, 0.05));
}

.design-view-button-bar-inner {
  height: 100%;
  margin: auto;
  width: 1018px;

  a.button {
    margin-right: 11px;
    margin-top: 11px;
  }

  a.sendButton {
    float: right;

    &.disabled {
      @disabled: @brand-primary-darker;

      color: #6b6b6b !important;
      background-color: @disabled;

      &:hover {
        background-color: darken(@disabled, 10%);
      }
    }
  }
}

.design-view-button-remove {
  background-color: @white;
  border-right: 1px solid #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 20%;

  .box-sizing(border-box);
}
