@import 'util.less';
@import '../branding/elements';
@import '../branding/variables.less';


/// @PARTICIPANT
// --------------------------------------------------

.design-view-action-participant-container-participants-box {
  transition: height 0.2s ease-out;
}

.design-view-action-participant-container {
  background-color: #f2f2f2;
  border-bottom: 4px solid @white;
  border-left: 4px solid @white;
  border-right: 4px solid @white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto;
  position: relative;
  width: 1018px;

  .box-shadow(0 4px 0 rgba(0, 0, 0, 0.05));
  .box-sizing(border-box);
}

.design-view-action-participant-box {
  margin: 0 0 0 16px;
  padding-top: 14px;
  position: relative;

  .box-sizing(border-box);
}

.design-view-action-participant {

  .design-view-action-participant-box;
}

.design-view-action-participant-inner {
  border: 2px solid @white;
  border-radius: 4px;
  height: 46px;
  overflow: hidden;
  transition: height 0.2s ease-out;
  width: 970px;

  .box-sizing(border-box);

  &.expanded {
    height: auto;
  }
}

.design-view-action-participant-close {
  background: url(~"@{img-base-url}/editor-view-remove-party.png");
  display: inline-block;
  cursor: pointer;
  height: 22px;
  left: 955px;
  margin-top: -5px;
  position: absolute;
  width: 22px;
  z-index : 501;

  &:hover {
    background-position: -24px 0;
  }
}

.design-view-action-participant-info-box {
  background: #fafafa;
  cursor: pointer;
  height: 42px;
  top: 0;
  width: 100%;
  z-index: 100;

  .box-sizing(border-box);
}

.design-view-action-participant-info-color {
  background-color: green;
  border: 2px solid @white;
  float:left;
  height: 15px;
  margin: 12px 13px;
  width: 15px;
}

.design-view-action-participant-info-name {
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  overflow: hidden;
  width: 168px;

  .box-sizing(border-box);
}

.design-view-action-participant-info-name-inner {
  height: 25px;
  margin: 10px 0 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 153px;
}

.design-view-action-participant-info-email {
  border-left: 2px solid @white;
  float: left;
  height: 100%;
  margin-left: 3px;
  overflow: hidden;
  width: 238px;

  .box-sizing(border-box);
}

.design-view-action-participant-info-email-inner {
  height: 25px;
  margin: 10px 0 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 213px;
}

.design-view-action-participant-info-company {
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  overflow: hidden;
  width: 160px;

  .box-sizing(border-box);
}

.design-view-action-participant-info-company-inner {
  height: 25px;
  margin: 10px 0 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 145px;
}

/**************************/

.design-view-action-participant-icon-order {
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  line-height: 1em;
  width: 44px;

  .box-sizing(border-box);
  .user-select(none);
}

.design-view-action-participant-icon-order-inner {
  margin-top: 12px;
  text-align: center;
}

.design-view-action-participant-icon-role {
  border-left: 2px solid @white;
  display: inline-block;
  float:left;
  height: 100%;
  width: 44px;

  .box-sizing(border-box);
  .user-select(none);
}

// Device Icons
// ------------
@device-icon-height: 36px;
@device-icon-width: 36px;

.design-view-action-participant-icon-role-icon-viewer {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 1) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-role-icon-signatory {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 0) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-role-icon-approver {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 18) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}


.design-view-action-participant-icon-role-inner {
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
}

/**************************/

.design-view-action-participant-icon-device {
  display: inline-block;
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  width: 44px;

  .box-sizing(border-box);
  .user-select(none);
}

.design-view-action-participant-icon-device-icon-email {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 3) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-pad {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 2) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-email {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 3) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-phone {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 4) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-email-mobile {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 5) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-empty {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 7) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-icon-api {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 15) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-device-inner {
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
}

/**************************/

.design-view-action-participant-icon-auth-to-view {
  border-left: 2px solid @white;
  display: inline-block;
  float:left;
  height: 100%;
  width: 44px;

  .box-sizing(border-box);
  .user-select(none);
}

.design-view-action-participant-icon-auth-to-view-icon-noauth {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 7) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-se-bankid {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 13) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-no-bankid {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 14) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-sign-icon-dk-nemid,
.design-view-action-participant-icon-auth-to-view-icon-dk-nemid {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 16) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-fi-tupas {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 17) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-inner {
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
}


.design-view-action-participant-icon-auth-to-sign {
  border-left: 2px solid @white;
  display: inline-block;
  float:left;
  height: 100%;
  width: 44px;

  .box-sizing(border-box);
  .user-select(none);
}

/**************************/

.design-view-action-participant-icon-auth-to-sign-icon-noauth {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 7) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-sign-icon-se-bankid {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 13) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-sign-icon-no-bankid {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 14) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-sms-pin,
.design-view-action-participant-icon-auth-to-sign-icon-sms-pin {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 11) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-verimi{
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 19) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-icon-auth-to-view-icon-idin{
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 20) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}


.design-view-action-participant-icon-auth-to-sign-inner {
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
}

/**************************/

.design-view-action-participant-confirmation {
  display: inline-block;
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  width: 44px;
  .box-sizing(border-box);
  .user-select(none);
}

.design-view-action-participant-confirmation-icon-email {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 3) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-confirmation-icon-phone {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 4) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-confirmation-icon-email-mobile {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 5) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-confirmation-icon-empty {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 7) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-confirmation-icon-inner {
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
}

/**************************/

.design-view-action-participant-confirmation-secondary {
  display: inline-block;
  border-left: 2px solid @white;
  float:left;
  height: 100%;
  width: 44px;
  .box-sizing(border-box);
  .user-select(none);
}

.design-view-action-participant-confirmation-icon-link {
  background-image: url(~"@{img-base-url}/sprite-participation-icons7.png");
  background-position: (-@device-icon-width * 15) 0;
  height: @device-icon-height;
  width: @device-icon-width;
}

.design-view-action-participant-confirmation-icon-attachments {
  background-image: url(~"@{img-base-url}/attachment-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 16px;
  height: @device-icon-height;
  width: @device-icon-width;
}

// input boxes in participants
// -------------------------

.design-view-action-participant-details-field {
  border: 1px solid #ccc;
  width: 194px;

  &:focus {
    border: 1px solid #ccc;
  }
}


/// @NEW BOX
// -------------------------

.design-view-action-participant-new-box {
  line-height: 1em;
  padding-top: 16px;
  position: relative;
  overflow: hidden;
}

.design-view-action-participant-new-box-buttons {
  margin: 0 32px 16px 0;
  text-align: right;
  z-index: 100;
}

.design-view-action-participant-new-single {
  display: inline-block;
  height: 100%;
}

.design-view-action-participant-new-single-text {
  text-align: left;

  .center-vh(100%, 1em);
}

.design-view-action-participant-new-multi {
  display: inline-block;
  height: 100%;
  margin-right: 16px;
}

.design-view-action-participant-new-multi-text {
  text-align: right;

  .center-vh(100%, 1em);
}


/// @DETAILS
// -------------------------

.design-view-action-participant-details-common {
  background-color: #fafafa;
  width: 970px;

  .box-sizing(border-box);
}

.design-view-action-participant-details {
  .design-view-action-participant-details-common;

  border-top: 2px solid @white;
  width: 100%;
}

.design-view-action-participant-new-single-details {
  .design-view-action-participant-details-common;
}

.design-view-action-participant-new-multi-details {
  .design-view-action-participant-details-common;
}

.design-view-action-participant-details-information {
  margin: 16px 0 0 16px;

  .box-sizing(border-box);
  .clearfix;
}

.design-view-action-participant-new-field-name-input {
  display: inline-block;
  margin-bottom: 8px;
  vertical-align: top;
  width: 197px;

}

.design-view-action-participant-new-field-select {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  width: 454px;

  &.select .select-opts {
    width : 454px;
  }

}

.design-view-action-participant-details-information-field-wrapper {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  vertical-align: top;
}

.design-view-action-participant-details-information-field {
  .design-view-action-participant-details-field;

  margin-bottom: 8px;
  width: 287px;
}

.design-view-action-participant-new-field-selector {
  display: inline-block;
  height: 36px;
  margin-bottom: 14px;
  vertical-align: middle;

  .box-sizing(border-box);
}

.design-view-action-participant-details-participation {
  padding: 16px 0 16px 16px;


  .design-view-action-participant-details-checkbox-row {

    margin-bottom: 16px;

    .design-view-action-participant-details-checkbox-box {
      display: inline-block;
      margin-right: 14px;
      width: 300px;
    }
  }

  .design-view-action-participant-details-participation-row {

     margin-bottom: 16px;

     &.last-row {
       margin-bottom: 0px;
     }

    .design-view-action-participant-details-participation-box {
      display: inline-block;
      margin-right: 14px;
      width: 300px;

    }

    .design-view-action-participant-details-participation-checkbox {
      position: absolute;
      top: 15px;
    }
  }
}

.design-view-action-participant-buttons {
  margin-top: 4px;
  text-align: right;
}

.design-view-action-participant-details-information-closer {
  display: inline-block;
  height: 22px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 24px;
  z-index: 2;

  &.active {
    background: url(~"@{img-base-url}/editor-view-remove-party.png");
    background-position: 0 0;
    cursor: pointer;

    &:hover {
      background-position: -24px 0;
    }
  }
}

.design-view-action-participant-new-field-popup-content-top {
  margin: auto;
  width: 250px;
}

.design-view-action-participant-new-field-popup-content-bottom {
  margin: 8px auto 0 auto;
  width: 250px;
}

.design-view-action-participant-new-field-popup-content-bottom-input {
  width: 239px;
}
