@import 'util.less';
@import '../branding/elements';
@import '../branding/variables.less';

.design-view-action-process {
  background-color: @grey-background;
  border-bottom: 4px solid @white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 4px solid @white;
  border-right: 4px solid @white;
  font-size: 15px;
  font-weight: 300;
  margin: auto;
  padding-bottom: 14px;
  width: 1018px;

  .box-shadow(0 4px 0 rgba(0,0,0,0.05));
  .box-sizing(border-box);
}

.design-view-action-process {

  .custommessageeditor {

    .label {
      display: inline-block;
    }

    .preview {

    }

    .custommessageeditboxwrapper

      .editor {
        height: 70px;
        width: 470px;
      }

      &.disabled {
        .mce-panel {
          border-color: @white;
        }
      }
  }
}

.design-view-action-process-left-column {
  display: inline-block;
  height: 170px;
  margin-top: 19px;
  vertical-align: top;
  width: 33%;
}

.design-view-action-row {
  margin-bottom: 8px;
  vertical-align: middle;
}

.design-view-action-label {
  display: inline-block;
  margin-right: 8px;
  text-align: right;
  vertical-align: middle;
  width: 156px;
}

.design-view-action-process-left-column-document-name {
  .design-view-action-row;
}

.design-view-action-process-left-column-document-name-label {
  .design-view-action-label;
}

.design-view-action-process-left-column-document-name-field {
  display: inline-block;
  width: 148px;
  vertical-align: middle;
}

.design-view-action-process-left-column-document-type {
  .design-view-action-row;
}

.design-view-action-process-left-column-document-type-label {
  .design-view-action-label;
}

.design-view-action-process-left-column-document-type-field {
  display: inline-block;
  vertical-align: middle;
  width: 158px;
}

.design-view-action-process-left-column-language {
  .design-view-action-row;
}

.design-view-action-process-left-column-language-label {
  .design-view-action-label;
}

.design-view-action-process-left-column-language-field {
  display: inline-block;
  width: 158px;
  vertical-align: middle;
}

.design-view-action-process-left-column-deadline,
.design-view-action-process-left-column-remindline {
  .design-view-action-row;
}

.design-view-action-process-left-column-deadline-label,
.design-view-action-process-left-column-remindline-label {
  .design-view-action-label;
}

.design-view-action-process-left-column-deadline-field,
.design-view-action-process-left-column-remindline-field {
  display: inline-block;
  margin-right: 8px;
  width: 30px;
  vertical-align: middle;

  input {
    text-align: center;
  }
}

.design-view-action-process-left-column-deadline-tag,
.design-view-action-process-left-column-remindline-tag  {
  display: inline-block;
}

.design-view-action-process-left-column-attachments {
  display: inline-block;
  width: 350px;
}

.design-view-action-process-signview-settings {
  margin-bottom: 5px;
}

.designview-attachemnts-list {
  margin-top: 10px;

  .icon-td {
    width: 24px;

    .author-attachment-icon {
      background: url(~"@{img-base-url}/editor-view-attachment-added.png");
      display: inline-block;
      height: 20px;
      margin-right: 6px;
      vertical-align : middle;
      width: 18px;
    }

    .signatory-attachment-icon {
      background: url(~"@{img-base-url}/editor-view-attachment-requested.png");
      display: inline-block;
      height: 20px;
      margin-right: 6px;
      vertical-align : middle;
      width: 18px;
    }
  }

  .name-td {
    line-height: 16px;
    width: 300px;
  }

  .remove-td {
    width: 11px;

    .remove-icon {
      background: url(~"@{img-base-url}/editor-view-remove-field.png") repeat scroll -5px -5px transparent;
      cursor: pointer;
      display: inline-block;
      height: 11px;
      vertical-align : middle;
      width: 11px;

      &:hover {
        background: url(~"@{img-base-url}/editor-view-remove-field-hover.png") repeat scroll -5px -5px transparent;
      }
    }
  }
}

.design-view-action-process-left-column-attachments-author-button {
  min-width: 116px;
}

.design-view-action-process-left-column-attachments-signatory-button {
  margin-left: 5px;
  min-width: 116px;
}

.design-view-action-process-middle-column {
  display:inline-block;
  margin-top: 14px;
  padding: 0 16px 8px 18px;
  vertical-align: top;
  width: 307px;

  .box-sizing(border-box);
}

.design-view-action-process-right-column {
  display: inline-block;
  margin-top: 19px;
  min-height: 170px;
  padding: 0px 16px 8px 16px;
  vertical-align: top;
  width: 34%;

  .box-sizing(border-box);

  .ie8 & {
    padding-left: 10px;
  }
}

.design-view-action-process-right-column-invitation-topline {
  position: relative;
}

.design-view-action-process-right-column-invitation-link {
  float: right;
  margin-top: 10px;
}
