@import '../branding/variables.less';

.signviewsettings {
  text-align: right;

  .container {
    width: 580px;
    border: 2px solid @gray-10-percent;
    background-color: @white;
    display: inline-block;
    margin-top: 10px;
    padding: 35px;
  }

  .options {
    width: 170px;
    margin: 10px 0px 20px 0px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    height: 100%;

    .checkbox-box {
      vertical-align: top;

      .checkbox {
        vertical-align: top;
        margin-top: 5px;
      }

      label {
        width: 145px;
        font-size: 17px;
        line-height: 20px;
      }
    }

  }
}
