@import 'colors.less';

input[type="submit"]::-moz-focus-inner {border:0;}

.button {
  background-color: @blue;
  max-height: 16px;
  .border-radius(1px,1px,1px,1px);
  font-size: @em;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 18px;
  margin: 0;
  color: #fff !important;
  text-align: center;
  .transition(.15s, ease-in-out);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  font-family: @source;
  line-height : 16px;
  -webkit-transform: translateZ(0);
  zoom:1; /* IE 7 Hack starts here*/
  *display:inline;

  &.button-green {
    background-color: @green;
    &:hover {
       background-color: darken(@green, 25%);
      .transition(.15s, ease-in-out);
    }
    &:active, &.active {
       background-color: @green;
      .transition(.15s, ease-in-out);
    }

  }

  &.button-gray {
    color: #111 !important;
    background: #f6f6f6;
    border: none;
    &:hover {
        background: #b6b6b6;
    }
    &:active {
        background: #f6f6f6;
    }
  }

  &.button-light-blue {
    background : #0768A9;
    .box-shadow(inset  #0768A9 0 0 0 0px);
    border-color:  #0768A9;
    &:hover {
      background : #53B7E9;
      .box-shadow(inset #53B7E9 0 0 0 2px);
      border-color: #53B7E9;
    }
    &:active {
      background : #53B7E9;
      .box-shadow(inset #53B7E9 0 0 0 2px);
      border-color: #53B7E9;
    }
  }


  &.button-red {
    .gradient(hsl(@redH,@redS,30%), hsl(@redH,@redS,25%), hsl(@redH,@redS,@redL));
    border-color: hsl(@redH,@redS,30%);
    .box-shadow(inset hsl(@redH,60%,67%) 0 0 0 2px);
    &:hover {
      .gradient(hsl(@redH,@redS,35%), hsl(@redH,@redS,28%), hsl(@redH,@redS,41%));
      border-color: hsl(@redH,@redS,38%);
      .box-shadow(inset hsl(@redH,66%,73%) 0 0 0 2px);
    }
    &:active, &.active {
      .gradient(hsl(@redH,@redS,25%), hsl(@redH,@redS,20%), hsl(@redH,@redS,30%));
      border-color: hsl(@redH,@redS,27%);
      .box-shadow(inset hsl(@redH,54%,60%) 0 0 0 2px);
    }
  }

  &:hover {
      background-color: darken(@blue, 25%);
  }
  &:active, &.active {
      background-color: @blue;
  }
  &.button-small {
    max-height: 14px;
    background-color: @blue;
    font-size: 13px;
    font-family: @source;
    line-height: 14px;
    padding: 8px 12px;

    &.button-gray { background: #f6f6f6; color: #333 !important }
    &.button-gray:hover { background: #b6b6b6; }
    &.button-gray:active,
    &.button-gray.active, { background: #f6f6f6; }

    &.button-light-blue {.box-shadow(inset #0768A9 0 0 0 1px)}
    &.button-light-blue:hover {.box-shadow(inset #53B7E9 0 0 0 1px)}
    &.button-light-blue:active,
    &.button-light-blue.active, {.box-shadow(inset #53B7E9 0 0 0 1px)}

    &.button-red{.box-shadow(inset hsl(@redH,60%,67%) 0 0 0 1px)}
    &.button-red:hover{.box-shadow(inset hsl(@redH,66%,73%) 0 0 0 1px)}
    &.button-red:active,
    &.button-red.active{.box-shadow(inset hsl(@redH,54%,60%) 0 0 0 1px)}
    /*
    &.button-green {.box-shadow(inset hsl(@greenH,66%,65%) 0 0 0 1px)}
    &.button-green:hover {.box-shadow(inset hsl(@greenH,66%,77%) 0 0 0 1px)}
    &.button-green:active,
    &.button-green.active {.box-shadow(inset hsl(@greenH,30%,75%) 0 0 0 1px)}
    */
  }

  &.button-large {
    max-height: 31px;
    font-size: 24px;
    line-height: 31px;
    font-family: @source;
    /* to fix Firefox bug, have to use padding instead of line height */
    padding: 15px 30px 14px;

    .small-screen & {
        font-size: 42px;
        line-height: 60px;
        max-height: 80px;
        padding-bottom: 25px;
    }
  }

  &.button-round {
    .border-radius(24px,24px,24px,24px);
  }
  &.button-round.button-small {
    .border-radius(16px,16px,16px,16px);
  }
  &.button-round.button-large {
    .border-radius(32px,32px,32px,32px);
  }

}
input[type=submit].button.button-large,
button.button.button-large {
  /* ie8 and below input height fix */
  line-height: 24px\9;
  padding: 12px 30px 13px\9;
}
