@import 'colors.less';

input[type="submit"]::-moz-focus-inner {border:0;}

.button {
  background-color: @blue;
  max-height: 16px;
  min-width: 50px;
  .border-radius(1px,1px,1px,1px);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  padding: 13px 20px;
  margin: 0;
  color: #fff !important;
  text-align: center;
  .transition(.15s, ease-in-out);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  font-family: @source;
  line-height : 16px;
  -webkit-transform: translateZ(0);
  zoom:1; /* IE 7 Hack starts here*/
  *display:inline;

  &.button-green {
    background-color: @green;
    &:hover {
       background-color: #49A979;
      .transition(.15s, ease-in-out);
    }
    &:active, &.active {
       background-color: @green;
      .transition(.15s, ease-in-out);
    }
  }

  &.button-gray {
    color: @text-very-dark !important;
    background: @grey;
    border: none;
    &:hover {
        background: darken(@grey, 5%);
    }
    &:active {
        background: @grey;
    }
  }

  &.button-light-blue {
    background: @blue-secondary;
    border: none;
    &:hover {
        background: darken(@blue-secondary, 5%);
    }
    &:active {
        background: @blue-secondary;
    }
  }

  &.button-red {
    background: @red;
    border: none;
    &:hover {
        background: @red-dark;
    }
    &:active {
        background: @red;
    }
  }

  &:hover {
      background-color: #2C353D;
  }
  &:active, &.active {
      background-color: @blue;
  }
  &.button-small {
    max-height: 14px;
    min-width: 35px;
    background-color: @blue;
    font-size: 13px;
    font-family: @source;
    line-height: 14px;
    padding: 8px 12px;

    &.button-gray { background: @grey; color: @text-very-dark !important }
    &.button-gray:hover { background: darken(@grey, 25%); }
    &.button-gray:active,
    &.button-gray.active, { background: @grey; }

    &.button-light-blue {.box-shadow(inset #0768A9 0 0 0 1px)}
    &.button-light-blue:hover {.box-shadow(inset #53B7E9 0 0 0 1px)}
    &.button-light-blue:active,
    &.button-light-blue.active, {.box-shadow(inset #53B7E9 0 0 0 1px)}

    &.button-red { background: @red;}
    &.button-red:hover { background: @red-dark; }
    &.button-red:active,
    &.button-red.active, { background: @red; }

    /* there's a lot of overlap between this and the bigger button button-green definition */
    &.button-green { background: @green; }
    &.button-green:hover { background: @green-dark; }
    &.button-green:active,
    &.button-green.active { background: @green; }
  }

  &.button-large {
    max-height: 18px;
    font-size: 18px;
    line-height: 18px;
    font-family: @source;
    /* to fix Firefox bug, have to use padding instead of line height */
    padding: 17px 25px 17px;

    .small-screen & {
        font-size: 42px;
        line-height: 60px;
        max-height: 80px;
        padding-bottom: 25px;
    }
  }

  &.button-round {
    .border-radius(25px,25px,25px,25px);
    border: @light-border 5px solid;
    &.red, &.green,&.black {
        border-color: @dark-border;
    }
   
  }
  &.button-round.button-small {
    .border-radius(16px,16px,16px,16px);
    border: @light-border 3px solid;
  }
  &.button-round.button-large {
    .border-radius(32px,32px,32px,32px);
    border: #EEE 5px solid;
     &.black {
	border:none;
    }
  }
}
input[type=submit].button.button-large,
button.button.button-large {
  /* ie8 and below input height fix */
  line-height: 24px\9;
  padding: 12px 30px 13px\9;
}
