@blueH: 215;
@blueS: 30%;
@blueL: 30%;

@blue-dark: hsl(@blueH,@blueS,@blueL);
@blue-medium: hsl(@blueH,@blueS,60%);
@blue-light: hsl(@blueH,@blueS,70%);
@blue-border: hsl(@blueH,@blueS,90%);

@redH: 357;
@redS: 100%;
@redL: 38%;

@red: hsl(@redH,@redS,@redL);
@hover: hsl(@redH,@redS,50%);

@text-dark: #333;
@text-medium: #666;
@text-light: #999;
@text-very-light : #CCC;
