.mainContainer {
    width: 1020px;
    min-height: 544px;
    margin: 50px auto;
    overflow: hidden;
    &.big {
      margin: 0;
      width: 100%;
      position: relative;
      img.bg {
       max-width : none;
       left: 0;
       position: absolute;
       top: 0;
       z-index: -1;
      }
    }
    .short-input-section {
      width: 800px;
      margin: auto;
      header {
        padding: 4em 0 3em;
        text-align: center;
        h1, h2 {
          color: #FFFFFF;
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.45);
        }
      }

      .short-input-container {
        width: 416px;
        margin: 0px auto;
        .short-input-container-body-wrapper{
          border: 1px solid rgba(0, 0, 0, 0.5);
          transition: all 0.15s ease-in-out 0s;
          .short-input-container-body {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 3px solid #DEE4ED;
            padding: 1.5em 0 0.5em;
            transition: all 0.15s ease-in-out 0s;
            .position {
              margin: 16px auto 16px;
              padding-left: 48px;
              padding-right: 48px;
              text-align: center;
              &.first {
                margin-top: 0px;
              }

              h1 {
                color: #7A94B8;
                font: 1.5em/1 @source;
                letter-spacing: normal;
                text-align: center;
              }
              
            }
          }
        }
        &:hover .short-input-container-body-wrapper .short-input-container-body{
            border-color: #364963;
        }
        .short-input-container-footer{
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 8px 48px 8px 32px ;
            height: 2em;
            a {
              color: #CCCCCC;
              text-decoration: none;
              &:hover {
                color: #FFFFFF;
              }
            }
            p {
              line-height: 2em;
              &.float-left {
                text-align: left;
              }
              &.float-right {
                text-align: right;
              }
            }
        }
        p {
            text-align: center;
            line-height: 2em;
          input {
              background: none repeat scroll 0 0 transparent;
              border: 1px solid rgba(255, 255, 255, 0.33);
              color: #FFFFFF;
              content: "";
              height: 12px;
              left: 0;
              line-height: 12px;
              margin-right: 10px;
              margin-top: -4px;
              text-align: center;
              transition: all 0.15s ease-in-out 0s;
              width: 12px;
          }
        }
      }
    } 
}
