footer.site {
  border-top: 1px solid #DEE4ED;
  padding-top : 3em;
  background : #fff;
  position : relative;
  z-index : 100;
  width : 100%;
  .clearfix;
  float : left;
   .ct {
      margin: 0 auto;
      width: 1020px;
      position : relative;
    }
    nav {
      float: left;
      width: 100%;
      font-size : 14px;
      padding-left : 6.5px;
      margin-bottom : 3em;
      ul {
        .clearfix;
        li {
          float : left;
          border-right: 1px solid #DEE4ED;
          width: 95px;
          text-align: center;
          &.copyright {
            border-right-color : transparent;
            padding: 0 1em;
            position: relative;
            width: 192px;
            a {
              text-align: left;
            }
          }
          &.last {
             border-right-color : transparent;
          }
          &.langSwitcher {
            border-right-color : transparent;
            float: right;
            .select-opts {
              width : 93px;
            }
            li {
              border-right-color : transparent;
              float : none;
              text-align: left;
              width : 87px;
              padding-left:0px;
              &.hover {
                background : #fff;
              }
            }
          }
          a {
            color : @text-light;
            display : block;
            line-height : 24px;
            color: #666666;
            display: block;
            font-family: Source Sans Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
            font-size: 16px;
            &:hover {
              color : #7A94B8;
            }
          }
        }
      }
    }
    ul.social {
      .clearfix;
      margin : auto;
      width:300px;
      li {
        border-right-color : transparent;
        float : left;
        a {
          display : block;
          width : 2em;
          height : 2em;
          background : #ddd;
          border-radius : 1.5em;
        }
      }
    }
  .float-right {
    display : block;
    padding-right : 1em;
  }
}