footer.site {
  border-top: 1px solid #DEE4ED;
  background : #FFFFFF;
  color: @text-light;
  margin : 0 auto;
  padding : 3em 1em;
  line-height : 3em;
  .clearfix;
  .ct {
    margin : 0 auto;
    width: 1020px;
  }
  nav {
    ul {
      .clearfix;
      li {
        float : left;
        padding-right : 1em;
        a {
          font: 14px/3em Helvetica Neue,Arial,Helvetica,sans-serif;
          text-transform : uppercase;
          font-weight : normal;
          color: @text-light;
          &:hover {
            text-decoration : underline;
          }
        }
      }
    }
  }
  ul.etc {
    margin-bottom : 1em;
    li {
      text-transform : uppercase;
      color : @text-very-light;
      font: 12px/3em  Arial,Helvetica,sans-serif;
      font-style : normal;
      line-height: 18px;
    }
  }
  ul.social {
    .clearfix;
    li {
      float : left;
      margin-right : 1em;
      a {
        display : block;
        width : 2em;
        height : 2em;
        background : #ddd;
        border-radius : 1.5em;
      }
    }
  }
}