// Here be dragons, lots of overriding.
.change-language {
    .select-opts, .select-button, .select-button-label {
	background: #29313c !important;
	color: #fff !important;
	font-weight: 600;
    }
    li {
	padding-left: 2px !important;
	padding-bottom: 8px !important;
	&:hover {
	    background: #39414c !important;
	}
    }
    ul {
	left: 0px !important;
    }
}

footer.site {
  min-width: 1020px;
  width:100%;
  &.thin { min-width: 960px; }
  &.logged-in { 
    background: #f7f7f7;
    padding: 0;
    height:61px;   /* Height of the footer */
    position: absolute;
    bottom: 0;
  }
  font-size : 16px;
  padding-top: 78px;
  padding-bottom: 49px;
  background: #495259;
  z-index: 90;
  .clearfix;
  .ct {
      margin: 0 auto;
      width: 1020px;
      &.thin {
        width: 862px;
      }
  }
  .visions p {
      font-family: @source;
      font-size: 26px;
      color: #1d2231;
      margin: 0 0 28px;
      padding: 0 16px;
  }

  nav {
    width: 160px;
    float: left;
    padding: 0 1em;

    &.right { float: right; }
    &.wide { width: 260px; }

   .content {
       ul.icons {
         .clearfix;
         float: right;
         margin: 0 0 16px;
         li {
          float: left;
          margin: 0 8px 8px 0;
          &.last { margin-right: 0px; }
          a {
            display: block;
            background: #29313c;
            transition: .15s ease-in-out;
            img {
              display: block;
              opacity: .83333;
              transition: .15s ease-in-out;
            }
            &:hover {
              background: #39414c;
              img {
                opacity: 1;
              }
            }
          }
        }
      }

      ul.tree {
        li.branch {
          color: @text-very-dark;
          font-size: .85em;

          img.globe {
            float: left
          }
          p {
            margin: 0 0 1.33333em;
          }
          ul.select {
            margin: 0 0 1em;
          }
          > a {
            color: @text-very-light;
            font-size: 15px;
            line-height: 32px;
            font-weight: 600;
            &:hover {
              color: @text-light;
            }
          }
        }
     }
   }
 }
 .langSwitcher .select {
    margin-bottom: 1em;
    height: 38px;
    float: right;
    font-size: 15px;
    .select-button {
        border: none;
        background-color: #29313c;
        .select-button-label {
            color: #fff;
            font-weight: 600;
        }
    }
 }
 .poweredbyscrive {
  width: 80px;
  font-size : 15px;
  color: #333;
  margin: 0 auto;
  position:relative;
  top:5px;
  .logo {
    background-image: url("/img/logo-small-grey.png");
    width: 80px;
    height: 17px;
    margin: 0 auto;
  }
 }
}

