header.site {
  min-width: 1018px;
  &.thin { min-width: 960px; }
  top : 0;
  left : 0;
  width : 100%;
  z-index : 100;
  background : #495259;
  font-size: @regular-font-size;
  font-family: @source;
  nav {
    position : relative;
    height: 80px;
    border-bottom : 1px solid black;
    .box-shadow(0 4px 0 rgba(0, 0, 0, 0.1));
    ul.ct {
      .clearfix;
      height: 80px;
      margin: 0 auto;
      width: 1018px;
      position : relative;
      li {
        height : 24px;
        margin : 32px 0 24px;
        a.page {
          display : block;
          font : 15px/80px @source;
          text-align : center;
          color : @text-very-light;
          height : 80px;
          margin-top : -37px;
          border-top : 4px solid transparent;
          padding: 0 1em;
          &.last-link {
            padding: 0 0 0 1em;
          }
          &:hover {
            color : @text-light;
          }
         &.active {
          font-weight: bold;
          cursor: default;
          }
        }
        &.session-login {
          margin-right: 16px;
          margin-top: 23px;
          width : auto;
          .clearfix;
          a.button {
            margin-top : -4px;
            margin-left: 8px;
            margin-right : 0px;
            min-width : 32px;
            float : left;
            transform : translateZ(0);
            #page-login{
              margin-left: 0px;
            }
          }
        }
        &.session-create {
          padding-right : 10px;
          .clearfix;
          &.fromtemplate {
            // be careful with this, sometimes we pop down from the header in branded domains
            padding-right: 40px; 
          }
          a.button {
            margin-top : -14px;
            font-size: @regular-font-size;
            margin-right : 0px;
            padding: 14px 20px;
            float : left;
            transform : translateZ(0);
          }
        }
        &.page-first, &.session-create, &.session-login {
          border-left-color : transparent;
        }
        &#branding {
          .clearfix;
          height: auto;
          margin-bottom:0px;
          float: left;
          border-left : none;
          position : relative;
          margin-left: 10px;

          a#logo {
            display : block;
            text-align : left;
            padding-left: 0px;
            img {
              margin : 20px 0 26px;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
