header.site {
  top : 0;
  left : 0;
  width : 100%;
  z-index : 100;
  background : #fff;
  border-top : 3px solid #fff;
  box-shadow : b10 0 0 8px;
  background : w97;
  background : #fff;
  font-size: 16px;
  nav {
    position : relative;
    border-top : 1px solid @blue-border;
    height : 95px;
    border-bottom : 1px solid @blue-border;
    ul.ct {
      .clearfix;
      height : 95px;
      margin: 0 auto;
      width: 1020px;
      position : relative;
      &.thin { width: 960px; }
      li {
        border-left : 1px solid @blue-border;
        height : 24px;
        margin : 35px 0 34px;
        a.page {
          display : block;
          font : 1em/95px @source;
          text-align : center;
          color : @text-medium;
          text-shadow : #fff 0 1px 0;
          height : 95px + 4px;
          margin-top : -39px;
          border-top : 4px solid transparent;
          transition : .15s ease-in-out all;
          padding: 0 1.25em;
          &:hover {
            border-top-color : @blue-medium;
            color : @blue-medium;
          }
         &.active {
          border-top-color: #C2000A;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
          color: #C2000A;
          cursor: default;
          font-weight: bold;
          }
        }
        &.session-login {
          margin-right: 16px;
          width : auto;
          .clearfix;
          a.button.button-small {
            margin-top : -4px;
            margin-left: 8px;
            margin-right : 0px;
            min-width : 40px;
            padding-left:10px;
            padding-right:10px;
            float : left;
            transform : translateZ(0);
          }
        }
        &.session-create {
          padding-right : 30px;
          width : 140px;
          .clearfix;
          a.button.button-small {
            width: 120px;
            margin-top : -4px;
            margin-right : 0px;
            min-width : 40px;
            float : left;
            transform : translateZ(0);
          }
        }
        &.page-first, &.session-create, &.session-login {
          border-left-color : transparent;
        }
        &#branding {
          .clearfix;
          float: left;
          border-left : none;
          position : relative;

          a#logo {
            display : block;
            width : 156px;
            text-align : left;
            padding-left: 14px;
            img {
              margin : 37px 0 36px;
            }
          }
          #tagline {
            position : absolute;
            top  : 12px;
            left : 150px;
            font-weight : normal;
            display : none;
            font-size : 1em;
            cursor : pointer;
            width : 140px;
          }
        }
      }
    }
  }
}
