header.site {
  background : @blue-header;
  font-family: @source;
  font-size: @regular-font-size;
  left: 0;
  min-width: 1018px;
  top: 0;
  width: 100%;
  z-index: 100;
  
  &.thin {
    min-width: 960px; // related to tablets
  
  } 
  
  nav {
    border-bottom : 1px solid black;
    min-height: 80px;
    position: relative;
    
    .box-shadow(0 4px 0 rgba(0, 0, 0, 0.1));
    
    ul.ct {
      .clearfix;

      margin: 0 auto;
      min-height: 80px;
      position: relative;
      width: 1018px;
  
      &.thin { 
        width: 960px; // related to tablets, can't be wider in ipad
      }

      // right-container is used to align the items to the bottom
      // since the logo (#branding) can have different heights
      .right-container {
        bottom: 0;
        position: absolute;
        right: 0;
      }

      li {
        height: 24px;
        margin: 32px 0 24px;
        
        a.page {
          border-top: 4px solid transparent;
          color: @text-lighter;
          display: block;
          font: 15px/80px @source;
          font-weight: 300;
          margin-top: -37px;
          min-height: 80px;
          padding: 0 14px;
          text-align: center;

          &:hover {
            color: @text-very-light;
          }
          
          &.active {
            color: @text-very-light;
            cursor: pointer;
            font-weight: 600;
          }
        }

        &.session-login {
          margin-top: 23px;
          width: auto;
          
          .clearfix;
          
          a.button {
            float: left;
            font-weight: 300;
            margin-left: 13px;
            margin-right: 0px;
            margin-top: -4px;
            min-width: 32px;
            transform: translateZ(0);

            &#page-login{
              margin-left: 20px;
            }
          }
        }

        &.session-create {
          padding-right: 10px;
          
          .clearfix;

          &.fromtemplate2 {
            // be careful with this, sometimes we pop down from the header in branded domains
            padding-right: 40px; 
          }

          a.button {
            float: left;
            font-size: @regular-font-size;
            font-weight: 300;
            margin-right : 0px;
            margin-top: -14px;
            padding: 14px 20px;
            transform: translateZ(0);
          }
        }

        &.page-first,
        &.session-create,
        &.session-login {
          border-left-color: transparent;
        }

        &#branding {
          .clearfix;
          
          border-left: none;
          float: left;
          margin-bottom: 0px;
          height: auto;
          position: relative;

          a#logo {
            display: block;
            padding: 0px;
            text-align: left;
            
            img {
              margin: 20px 0 26px;
              max-height: 140px;
              max-width: 350px;
              padding-bottom: 10px;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}
