.info-text-input{
    display : inline-block;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background: none repeat scroll 0 0 #FFFFFF;
    line-height: 19px;
    &:focus, &:hover {
          border-color: #7A94B8;
    }
    input {
      width : 100%;
      padding: 0px;
      border: 0px;
      height: 19px;
      line-height: 19px;
    }
    .closer {
      width: 24px;
      height: 22px;
      display: inline-block;
      position: absolute;
      top: -9px;
      left: -9px;
      background: url("/img/editor-view-remove-party.png");
      background-position: 0px 0px;
      cursor: pointer;
      &:hover {
        background-position: -24px 0px;
      }
   }
}



