body {
  font-size: 14.5px;
  font-family: @sans;
  line-height: 1.5em;
  color: @text-dark;
  background: url("/img/bg-body.png") repeat scroll 0 0 transparent;
}
p {
  margin: 0 0 1.5em;
}
p a {
  color: @red;
  text-decoration: none;
  &:hover {
    color: @hover;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @source;
  margin: 0;
}

h1, .h1 {
  font-size: 3.5*@em;
  color: @blue-dark;
  letter-spacing: -1px;
  letter-spacing: -2px;
  line-height: 1.2em;
  margin: 0;
}

h2, .h2 {
  font-size: 2*@em;
  font-weight: normal;
  color: @blue-medium;
  line-height: 1.5em;
}
h3, .h3 {
  font-size: 2*@em;
  font-weight: bold;
  color: @blue-dark;
  line-height: 1.2em;
}

h4, .h4 {
  font-size: 1.5*@em;
  font-weight: normal;
  color: @blue-dark;
  line-height: 1.2em;
}

h5 {
  font-size: 1.25*@em;
  color: @blue-medium;
  font-weight: normal;
  line-height: 1.2em;
}

h6 {
  font-size: 1*@em;
  font-weight: bold;
  color: @blue-dark;
  line-height: 1.2em;
}

.big-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    font: 16px/1 @sans;
    padding: 14px;
    line-height: 19px;
    width: 100%;
    &:focus {
      border-color: #7A94B8;
      outline: medium none;
    }
}

ol, ul {
    list-style: none outside none;
}

input::-webkit-input-placeholder {
    color:    #AAA;
}
input:-moz-placeholder {
    color:    #AAA;
}
input:-ms-input-placeholder {
    color:    #AAA;
}
input.grayed {
  color : #AAA;
}

input, textarea, select {
  font-family : @sans;
}
label {
  color : @dim;
  display: inline-block;
  font-size: 14.5px;
  &.clickable {
    color: @blue-medium;
    cursor: pointer;
    &:hover {
      color : @blue-dark;
    }
  }
}

a.clickable {
    color: @blue-medium;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color : @blue-dark;
    }
}