.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  height: 100%;
  z-index: 10000;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  opacity: 0;
  pointer-events: none;
  &.active {
    pointer-events: auto;
    opacity: 1;
    .modal-container {
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -o-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}

.modal.loadingdialog .modal-container {
  .transition(.0s,ease-in-out);
}
.modal-container {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -300px;
  border: 4px solid @blue-dark;
  background: #fff;
  .box-shadow(rgba(0,0,0,.33) 0 .125em 1em);
  z-index: 102;
  .transition(.5s,ease-in-out);
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
}

.modal-header {
  height: 80px;
  border-bottom: 1px solid @blue-border;
}
.modal-title, .modal-close {
  float: left;
}
.modal-title {
  font-family: @source;
  font-size: 1.5em;
  line-height: 80px;
  color: @blue-dark;
  padding-left: 25px;
  width: 600px - 64px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  padding: 30px 25px 19px;
  cursor: pointer;
  img {
    display: block;
    opacity: .25;
    .transition(.15s,ease-in-out);
  }
  &:hover img {
    opacity: 1;
  }
}
.modal-content {
  border-bottom: 1px solid @blue-border;
}
.modal-content .body {
  padding: 25px;
}
.modal-footer {
  height: 32px;
  padding: 20px 25px;
}
.modal-footer .button {
  min-width: 80px;
}
.modal-footer a {
  cursor: pointer;
  line-height: 32px;
  &.close {
    color: @red;
    &:hover {
      color: @hover;
    }
  }
}
.modal-footer .left {
  float: left;
}
.modal-footer .right {
  float: right;
}
