.modal {
  background: transparent; // TODO: is this a Fallback when rgba is not supported?
  background: rgba(0,0,0,0.8);
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  z-index: 2000;

  .ie8 &, .ie7 & {
      filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CC000000', EndColorStr='#CC000000');
      zoom: 1;
  }

  &.active {
    pointer-events: auto;
    opacity: 1;

    .modal-container {
      -moz-transform: scale(1.0);
      -o-transform: scale(1.0);
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  // Force all inputs to default to a nice and big size
  input {
    height: 28px;
    width: 317px;
  }
}

.modal.screenblockingdialog {

  // Screenblocking modals should be above normal modals
  z-index: 2001;

  .modal-container {
    width: 650px;

    .transition(.0s, ease-in-out);

    .screenblockingsubheader {
      color: #808080;
      font-size: 18px;
    }

    .modal-content {

      .body {
        padding: 20px 23px;
      }
    }
  }
}

.modal-container:after {
  border: 10px solid @black;
  border-radius: 8px;
  bottom: -10px;
  content: "";
  left: -10px;
  opacity: .4;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: -1;
}

.modal-container {

  &.small-device {

    &:after {
      border: 20px solid @black;
      opacity: 1;
    }

    .small-device-go-back-button {
      color: @primary-font-color;
      display: inline-block;
      font-size: 48px;
      line-height: 1;
      margin: 57px 10% 22px;
      text-align: center;
      width: 80%;
    }
  }
}

.modal-container {
  background: #fafafa;
  border: 1px solid #686868;
  left: 50%;
  margin-left: -300px;
  margin-top: -240px;
  position: absolute;
  top: 50%;
  -moz-transform: scale(.1);
  -o-transform: scale(.1);
  -webkit-transform: scale(.1);
  transform: scale(.1);
  width: 600px;
  z-index: 102;

  .box-shadow(rgba(0, 0, 0, .33) 0 .125em 1em);
  .transition(.5s, ease-in-out);
}

.modal-header {
  color: @text-very-light;
  background: repeat scroll 0 0 @brand-secondary;
  border-bottom: 1px solid @blue-border;
  height: 222px;
  padding: 25px 20px;

  .grey & {
    background: @darker-grey-background;
  }

  &.no-icon {
    height: auto;
    text-align: center;

    .modal-title {
      padding-top: 0px;

      .grey & {
        color: @text-dark;
        font-weight: 400;
        margin-left: 15px;
        text-align: left;
      }
    }
  }
}

.modal-header-inner {
  margin: auto;
  text-align: center;

  .grey & {
    margin: 0;
  }
}

.modal-title {
  display: block;
  font-family: @font-family-source;
  font-size: 28px;
  line-height: 25px;
  padding-top: 28px;
}

.modal-subtitle {
  font-size: 16px;
  padding-top: 5px;
}

.modal-container.small-screen .modal-title {
  font-size: 32px;
}

.modal-icon {
  display: block;
  height: 60px;
  margin: auto;
  padding-top: 45px;
  width: 60px;
}

.modal-close {
  background: url(~"@{img-base-url}/sprite-green-X.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  float: right;
  height: 12px;
  position: absolute;
  right: 15px;
  top: 20px;
  width: 12px;

  .grey & {
    background: url(~"@{img-base-url}/sprite-grey-X.png") no-repeat scroll 0 0 transparent;
  }

  &:hover {
    background-position: -12px 0px;
  }
}

.modal-content {

 .body {
    padding: 20px 35px;

    p {
      margin: 10px 0;

      &.center {
        text-align: center;
      }
    }

    table td,
    table td label {
      color: @primary-font-color;
    }
  }
}

.modal-container.small-screen .modal-content {
  font-size: 22px;
  line-height: 30px;

  .body {
    padding: 40px 49px;
  }
}

.modal-footer {
  border-top: 1px solid @blue-border;
  height: 32px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 35px 0px;

  .grey & {
    background: @darker-grey-background;
    border-top: none;
    margin: 0; // make sure the bg goes all the way
    padding: 21px 35px; // make it as high as the top bar
  }

  .drawing-modal & {
    padding: 21px 45px;
  }

  .button {
    margin-top: -11px;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  label {
    cursor: pointer;
    line-height: 32px;

    &.close {
      color: @primary-font-color;
    }
  }
}

.modal-container.small-screen .modal-footer label  {
   font-size: 22px;
}