.select{
    font-family: @sans;
    color: @blue-dark;
    font-size : 14.5px;
    border: 1px solid @blue-border;
    position: relative;
    cursor: pointer;
    text-align : left;
    background: #fff;
    .select-button {
            height: 30px;
            position: relative;
            background: #fff;
            z-index: 0;
            &.select-exp {
              position: relative;
              z-index: 2;
            }
            .select-button-left {
                    float: left;
                    height: 30px;
                    position: relative;
                    width: 6px;
            }

            .select-button-right {
                    background: url('/img/select-arrow.png') no-repeat;
                    background-position: 0px 8px;
                    height: 30px;
                    width: 21px;
                    position: relative;
                    float: right;
            }

            .select-button-label {
                    background-repeat:repeat-y;
                    text-decoration: none;
                    float: left;
                    padding-top: 5px;
                    white-space:nowrap;
                    overflow: hidden;
                    text-indent: 5px;
                    line-height: 21px;
            }
    }
    .select-opts {
            display: none;
            color: @blue-dark;
            background: #fff;
            border: 1px solid @blue-border;
            position: absolute;
            top: 29px;
            width: 200px;
            z-index: 1;
            left : -1px ;
            text-align : left;
	    padding:0px;			
            &.right {
              left: auto;
              right: -1px;
              text-align: right;
            }
            li {
              text-indent: 9px;
              padding: 6px;
              height: 20px;
              &:hover {
                 background: @blue-border;
                 color: @blue-dark;
                    }
            }
    }

}

/* Extra width*/
.select.extra-width .select-opts {
            width: 270px;
}
