.tooltip-container {
	color: #666;
	position: absolute;
	width: 250px;
	z-index: 101;
    .tooltip-body {
      background: #fff;
      margin: 5px;
      padding: 13px 20px 13px;
      width: 200px;
      p {
        display: inline;
      }
    }
    &:before {
      border: 5px solid #000;
      border-radius: 5px;
      bottom: 0;
      content: " ";
      left: 0;
      opacity: 0.55;
      position: absolute;
      right: 0;
      top: 0;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
    .tooltip-arrow {
      background: url(/img/tooltip-arrow.png);
      height: 33px;
      left: -17px;
      position: absolute;
      top: 12px;
      width: 17px;
      z-index: 102;
  }
}

