.branded-banner {
  height: 368px;

  &.nj {
    &.sv {
      background-image: url('/img/partnerbanners/nj_bg_se.png');
    }

    &.en {
      background-image: url('/img/partnerbanners/nj_bg.png');
    }
  }

  &.phone-house {
    &.sv {
      background-image: url('/img/partnerbanners/phonehouse_bg_se.png');
    }

    &.en {
      background-image: url('/img/partnerbanners/phonehouse_bg.png');
    }
  }

  .button {
    background-color: #A2C617; // TODO(jens): Remove usage of this color, it's not a site-wide color.
    background-position: initial initial;
    background-repeat: initial initial;
    box-shadow: none;
    border: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 300px;
    margin-left: 404px;
  }

  .label {
    font-size: 19px;
    font-weight: bold;
  }
}

.save-backup-copy {
  label {
    display: block;
    padding-bottom: 5px;
  }
  
  .terms {
    padding-left: 3px;
  }

  .button {
    margin-left: 12px;
  }
}