.branded-banner {
  border-right: 4px solid @white;
  border-bottom: 4px solid @white;
  height: 368px;

  &.nj {
    background-image: url(~"@{img-base-url}/partnerbanners/nj_bg.png");

    &.sv {
      background-image: url(~"@{img-base-url}/partnerbanners/nj_bg_se.png");
    }
  }

  &.phone-house {
    background-image: url(~"@{img-base-url}/partnerbanners/phonehouse_bg.png");

    &.sv {
      background-image: url(~"@{img-base-url}/partnerbanners/phonehouse_bg_se.png");
    }
  }

  .button {
    background-color: #A2C617; // TODO(jens): Remove usage of this color, it"s not a site-wide color.
    background-position: initial initial;
    background-repeat: initial initial;
    box-shadow: none;
    border: none;
    .border-radius(3px, 3px, 3px, 3px);
    margin-top: 300px;
    margin-left: 404px;
  }

  .label {
    font-size: 19px;
    font-weight: bold;
  }
}

.section.save.save-backup-copy {
  margin-top: 0;

  .label {
    display: block;
    padding-bottom: 5px;
  }

  .terms {
    padding-left: 3px;
  }

  .button {
    margin-left: 12px;
  }
}
