node_modules
/dist/
coverage
.tmp
.sass-cache
.bower-cache/
.bower-registry/
app/compiled_jsx
app/compiled
.idea
app/less/less-compiled.css
app/less/less-compiled.css.map
app/less/signview-less-compiled.css
app/less/signview-less-compiled.css.map
app/less/regular-css-compiled.css
_grunt_pid

# Build remains ignore
LAST_BUILT


# Emacs.gitignore
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


#OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
