html, body, div, p, em {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background: #ffffff;
  border: 0;
  display: block;
  font: 16px/1.3 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  min-height: 480px;
  outline: 0;
  padding-top: 100px;
  position: relative;
  width: 800px;
}
em {
  font-style: italic;
}
h1, h2, h3 {
  color: #364963;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  padding: 24px 0 0;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 20px 0;
}
h2 {
  font-size: 2.0em;
  line-height: 1.1em;
  margin: .6em 0 .3em;
}
h3 {
  font-size: 1.5em;
  font-style: italic;
  line-height: .8em;
  margin: 0 0 .4em 0;
}
p {
  color: #333333;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 1em;
  text-align: justify;
}
p#top {
  padding-bottom: 30px;
  margin-bottom: 1.2em;
}
div {
  padding-bottom: 3em;
}
table {
  border-collapse: collapse;
}
table * {
  text-align: left;
}
table td,th {
  border: 1px solid black;
  padding: 0.5em;
}
