.git/
_build/
_local/
dist/
elm-stuff/
frontend/node_modules/
frontend-elm/node_modules/
dist-newstyle/
Dockerfile
supervisor.sock
.ghc.environment.*
*.log
*.sock
*.pid
*.local
*.local~
*.local.json
./*.conf
./template.yaml
