_local/
dist/
coverage-reports/
log/
kontrakcja.conf
mailing_server.conf
messenger_server.conf
_cron_pid
_mailer_pid
_server_pid
_grunt_pid
kontrakcja_test.conf
kontrakcja-server
*.cookies
selenium-test/selenium-test.properties
kontrakcja-test.tix
jslint.txt
.hpc/
*.less.css
.cabal-sandbox/
cabal.sandbox.config

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

*.DS_Store
SkrivaPå BP.pdf
