_local/
/dist/
/dist-newstyle/
/workspace/
/.ghc.environment.*
coverage-reports/
log/
.locale
cron.conf
kontrakcja.conf
kontrakcja_flow.conf
/supervisord.conf
mailing_server.conf
messenger_server.conf
messenger_server.conf.json
_cron_pid
_mailer_pid
_server_pid
_grunt_pid
_s3_pid
s3files/
_sam_pid
_nix_local/
template.yaml
kontrakcja_test.conf
kontrakcja-server
*.cookies
selenium-test/selenium-test.properties
kontrakcja-test.tix
jslint.txt
.hpc/
*.pyc
*.less.css
regular-css-compiled.css
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
cabal-nix.project.local
cabal-nix.project.local~
/.ghci
/.ghcid
*.bak
*.*\~

result
result-*
pdftools-lambda.local.json

frontend/app/localization/*.js

\#*\#
/.ignore
/.emacs.desktop
/.emacs.desktop.lock
*.swp
.elc
auto-save-list
tramp
.\#*
TAGS
tags

*.DS_Store
SkrivaPå BP.pdf

selenium-test/config.py
selenium-test/general/screenshots
selenium-test/evidence_package/artifacts
selenium-test/evidence_package/screenshots
backend/test/e-legitimation/Test-certificates/Mariana Källström.p12
backend/test/e-legitimation/Test-certificates/Åke Jansson.p12

_shake/
_build/
db-docs/
ghc-pkg.list
*.log

# Frontend stuff
frontend-elm/elm-stuff/
frontend-elm/node_modules/
frontend-elm/dist/
.vscode/
*.pyc
.idea
config.py
.venv/
venv
__pycache__/
artifacts/
screenshots/
node_modules/
