_local/
dist/
coverage-reports/
log/
kontrakcja.conf
mailing_server.conf
messenger_server.conf
_cron_pid
_mailer_pid
_server_pid
kontrakcja_test.conf
kontrakcja-server
*.cookies
selenium-test/selenium-test.properties
kontrakcja-test.tix
jslint.txt
.hpc/
*.less.css
