sudo: false

language: ruby

rvm:
  - 2.4.0

cache: bundler

before_script:
  - nvm install 6
  - nvm use 6
  - npm install -g openapi2slate
script:
  - openapi2slate documentation/scrive_api.yaml > source/index.html.md && bundle exec middleman build --clean

before_deploy:
  - openssl aes-256-cbc -K $encrypted_467135471898_key -iv $encrypted_467135471898_iv
    -in deploy_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: ./deploy.sh --no-build
  env:
    - GIT_DEPLOY_REPO="git@github.com:scrive/scrive-apidocs.git"
  on:
    branch: master
