constraints: AES ==0.2.9,
             Crypto ==4.2.5.1,
             DRBG ==0.5.5,
             Decimal ==0.4.2,
             HStringTemplate ==0.8.5,
             HTTP ==4000.3.3,
             HUnit ==1.3.1.1,
             HaXml ==1.25.3,
             JuicyPixels == 3.2.7.2,
             ListLike ==4.2.1,
             MissingH ==1.4.0.1,
             QuickCheck ==2.8.2,
             abstract-deque ==0.3,
             abstract-par ==0.3.3,
             aeson ==0.11.2.0,
             aeson-pretty ==0.8.1,
             ansi-terminal ==0.6.2.3,
             ansi-wl-pprint ==0.6.7.3,
             async ==2.1.0,
             attoparsec ==0.13.0.2,
             base-compat ==0.9.1,
             base-orphans ==0.5.4,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             bifunctors ==5.3,
             binary ==0.8.3.0,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.8.1.1,
             blaze-markup ==0.7.0.3,
             bloodhound ==0.11.0.0,
             byteable ==0.1.1,
             bytestring ==0.10.8.1,
             bytestring-builder ==0.10.8.1.0,
             bytestring-lexing ==0.5.0.2,
             case-insensitive ==1.2.0.6,
             cereal ==0.5.2.0,
             cipher-aes128 ==0.7.0.1,
             cmdargs ==0.10.14,
             comonad ==5,
             cond ==0.4.1.1,
             conduit ==1.2.6.6,
             conduit-extra ==1.1.13.1,
             configurator ==0.3.0.0,
             constraints ==0.8,
             consumers ==2.0,
             contravariant ==1.4,
             cookie ==0.4.2,
             crypto-api ==0.13.2,
             cryptohash ==0.11.9,
             cryptohash-cryptoapi ==0.1.4,
             cryptonite ==0.17,
             curl ==1.3.8.3,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-base ==0.1.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             dataenc ==0.14.0.8,
             hpqtypes-extras ==1.2.4,
             digest ==0.0.1.2,
             distributive ==0.5.0.2,
             dlist ==0.7.1.2,
             enclosed-exceptions ==1.0.2,
             entropy ==0.3.7,
             erf ==2.0.0.0,
             exceptions ==0.8.2.1,
             explicit-exception ==0.1.8,
             extensible-exceptions ==0.1.1.4,
             fail ==4.9.0.0,
             fields-json ==0.2.2.4,
             filepath ==1.4.1.0,
             fmlist ==0.9,
             free ==4.12.4,
             generic-deriving ==1.10.5,
             hS3 ==0.5.9,
             happstack-server ==7.4.6.2,
             happstack-static-routing ==0.5,
             hashable ==1.2.4.0,
             hedis ==0.9.1,
             hostname ==1.0,
             hpqtypes ==1.5.1,
             hslogger ==1.2.10,
             html ==1.0.1.2,
             http-client ==0.4.29,
             http-types ==0.9.1,
             hxt ==9.3.1.15,
             hxt-charproperties ==9.2.0.1,
             hxt-regex-xmlschema ==9.2.0.2,
             hxt-unicode ==9.0.2.4,
             iconv ==0.4.1.3,
             invariant ==0.3.1,
             json ==0.9.1,
             kontrakcja-templates ==0.10,
             lifted-async ==0.9.0,
             lifted-base ==0.2.3.6,
             lifted-threads ==1.0,
             list-tries ==0.6.2,
             log ==0.5.3,
             math-functions ==0.1.7.0,
             memory ==0.13,
             mime-types ==0.1.0.7,
             mixpanel ==0.1.6,
             mmap ==0.5.9,
             mmorph ==1.0.6,
             monad-control ==1.0.1.0,
             monad-par ==0.3.4.8,
             monad-par-extras ==0.3.3,
             monad-time ==0.2,
             monads-tf ==0.1.0.3,
             mtl ==2.2.1,
             mtl-compat ==0.2.1.3,
             mwc-random ==0.13.4.0,
             nats ==1.1.1,
             network ==2.6.2.1,
             network-uri ==2.6.1.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parallel ==3.2.1.0,
             parsec ==3.1.11,
             polyparse ==1.12,
             prelude-extras ==0.4.0.3,
             prettyclass ==1.0.0.0,
             primitive ==0.6.1.0,
             process ==1.4.2.0,
             process-extras ==0.4.1.4,
             profunctors ==5.2,
             psqueues ==0.2.2.1,
             random ==1.1,
             recurly ==0.0.37,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-posix ==0.95.2,
             regex-tdfa ==1.2.2,
             resource-pool ==0.2.3.2.1,
             resourcet ==1.1.7.4,
             scanner ==0.2,
             scientific ==0.3.4.7,
             semigroupoids ==5.1,
             semigroups ==0.18.2,
             semigroups -bytestring-builder,
             sendfile ==0.7.9,
             soap ==0.2.3.0.1,
             split ==0.2.3.1,
             spreadsheet ==0.1.3.4,
             statistics ==0.13.3.0,
             stm ==2.4.4.1,
             streaming-commons ==0.1.15.5,
             syb ==0.5.1,
             system-filepath ==0.4.13.4,
             tagged ==0.8.4,
             tagsoup ==0.14,
             temporary ==1.2.0.4,
             test-framework ==0.8.1.1,
             test-framework-hunit ==0.3.0.2,
             test-framework-quickcheck2 ==0.3.0.3,
             text ==1.2.2.1,
             text -integer-simple,
             text-show ==3.2.2,
             tf-random ==0.5,
             th-lift ==0.7.6,
             threads ==0.5.1.4,
             time ==1.6.0.1,
             time-compat ==0.1.0.3,
             transformers ==0.5.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             unix-compat ==0.4.2.0,
             unjson ==0.14,
             unordered-containers ==0.2.7.1,
             utf8-string ==1.0.1.1,
             utility-ht ==0.0.11,
             vector ==0.11.0.0,
             vector-algorithms ==0.7.0.1,
             vector-binary-instances ==0.2.3.2,
             vector-th-unbox ==0.2.1.6,
             void ==0.7.1,
             xhtml ==3000.2.1,
             xml ==1.3.14,
             xml-conduit ==1.3.5,
             xml-conduit-writer ==0.1.1.1,
             xml-types ==0.3.6,
             yaml ==0.8.18,
             zip-archive ==0.3.0.2,
             zlib ==0.5.4.2
