constraints: any.AES ==0.2.9,
             any.DRBG ==0.5.5,
             DRBG -test,
             any.Decimal ==0.5.1,
             any.Diff ==0.4.0,
             any.HStringTemplate ==0.8.7,
             any.HTTP ==4000.3.14,
             HTTP -conduit10 -mtl1 +network-uri -warn-as-error -warp-tests,
             any.HUnit ==1.6.0.0,
             any.JuicyPixels ==3.3.5,
             JuicyPixels -mmap,
             any.ListLike ==4.6.3,
             any.QuickCheck ==2.14,
             QuickCheck +templatehaskell,
             any.StateVar ==1.2,
             any.abstract-deque ==0.3,
             abstract-deque -usecas,
             any.abstract-par ==0.3.3,
             any.adjunctions ==4.4,
             any.aeson ==1.4.7.1,
             aeson -bytestring-builder -cffi -developer -fast,
             any.aeson-diff ==1.1.0.8,
             any.aeson-pretty ==0.8.8,
             aeson-pretty -lib-only,
             any.alex ==3.2.5,
             alex +small_base,
             any.amazonka ==1.6.1,
             any.amazonka-core ==1.6.1,
             amazonka-core -old-locale,
             any.amazonka-kinesis ==1.6.1,
             any.amazonka-s3 ==1.6.1,
             any.ansi-terminal ==0.10.3,
             ansi-terminal -example,
             any.ansi-wl-pprint ==0.6.9,
             ansi-wl-pprint -example,
             any.asn1-encoding ==0.9.6,
             any.asn1-parse ==0.9.5,
             any.asn1-types ==0.3.4,
             any.async ==2.2.2,
             async -bench,
             any.attoparsec ==0.13.2.4,
             attoparsec -developer,
             any.base-compat ==0.11.1,
             any.base-compat-batteries ==0.11.1,
             any.base-orphans ==0.8.2,
             any.base16-bytestring ==0.1.1.6,
             any.base64-bytestring ==1.0.0.3,
             any.basement ==0.0.11,
             any.bifunctors ==5.5.7,
             bifunctors +semigroups +tagged,
             any.blaze-builder ==0.4.1.0,
             any.blaze-html ==0.9.1.2,
             any.blaze-markup ==0.8.2.4,
             bloodhound -es1 +es5,
             any.byteable ==0.1.1,
             any.bytestring-builder ==0.10.8.2.0,
             bytestring-builder +bytestring_has_builder,
             any.bytestring-lexing ==0.5.0.2,
             any.cabal-doctest ==1.0.8,
             any.call-stack ==0.2.0,
             any.case-insensitive ==1.2.1.0,
             any.cereal ==0.5.8.1,
             cereal -bytestring-builder,
             any.cipher-aes128 ==0.7.0.5,
             cipher-aes128 -halvm -test,
             any.clock ==0.8,
             clock -llvm,
             any.cmdargs ==0.10.20,
             cmdargs +quotation -testprog,
             any.colour ==2.3.5,
             any.comonad ==5.0.6,
             comonad +containers +distributive +test-doctests,
             any.cond ==0.4.1.1,
             any.conduit ==1.3.2,
             any.conduit-extra ==1.3.5,
             any.configurator ==0.3.0.0,
             configurator -developer,
             any.connection ==0.3.1,
             any.constraints ==0.12,
             any.consumers ==2.2.0.2,
             any.contravariant ==1.5.2,
             contravariant +semigroups +statevar +tagged,
             any.cookie ==0.4.5,
             any.crypto-api ==0.13.3,
             crypto-api -all_cpolys,
             any.crypto-rng ==0.1.2.0,
             any.cryptohash ==0.11.9,
             any.cryptohash-cryptoapi ==0.1.4,
             any.cryptohash-md5 ==0.11.100.1,
             any.cryptohash-sha1 ==0.11.100.1,
             any.cryptonite ==0.26,
             cryptonite -check_alignment +integer-gmp -old_toolchain_inliner +support_aesni +support_deepseq -support_pclmuldq +support_rdrand -support_sse,
             any.cryptostore ==0.2.1.0,
             any.curl ==1.3.8,
             curl +new-base,
             any.data-default ==0.7.1.1,
             any.data-default-class ==0.1.2.0,
             any.data-default-instances-containers ==0.0.1,
             any.data-default-instances-dlist ==0.0.1,
             any.data-default-instances-old-locale ==0.0.1,
             any.deepseq ==1.4.4.0,
             any.dense-linear-algebra ==0.1.0.0,
             any.digest ==0.0.1.2,
             digest -bytestring-in-base,
             any.distributive ==0.6.1,
             distributive +semigroups +tagged,
             any.dlist ==0.8.0.8,
             any.edit-distance-vector ==1.0.0.4,
             any.either ==5.0.1.1,
             any.ekg-core ==0.1.1.7,
             any.ekg-statsd ==0.2.4.0,
             any.entropy ==0.4.1.5,
             entropy -halvm,
             any.errors ==2.3.0,
             any.exceptions ==0.10.4,
             exceptions +transformers-0-4,
             any.explicit-exception ==0.1.10,
             explicit-exception -buildtests +splitbase,
             any.extensible-exceptions ==0.1.1.4,
             any.extra ==1.6.21,
             any.fail ==4.9.0.0,
             any.fields-json ==0.4.0.0,
             any.file-embed ==0.0.11.2,
             any.filepath ==1.4.2.1,
             any.filepattern ==0.1.2,
             any.fmlist ==0.9.3,
             any.free ==5.1.3,
             any.generic-deriving ==1.13.1,
             generic-deriving +base-4-9,
             any.ghc-prim ==0.5.3,
             any.happstack-server ==7.6.0,
             happstack-server +network-uri +template_haskell,
             any.happstack-static-routing ==0.6.0.0,
             any.happy ==1.19.12,
             happy +small_base,
             any.hashable ==1.3.0.0,
             hashable -examples +integer-gmp +sse2 -sse41,
             any.haskell-src-exts ==1.23.0,
             any.haskell-src-meta ==0.8.5,
             any.heaps ==0.3.6.1,
             any.hedis ==0.12.13,
             hedis -dev,
             any.hostname ==1.0,
             any.hourglass ==0.2.12,
             any.hpqtypes ==1.9.0.0,
             any.hpqtypes-extras ==1.10.2.1,
             any.hsc2hs ==0.68.7,
             hsc2hs -in-ghc-tree,
             any.hslogger ==1.3.1.0,
             hslogger +network--gt-3_0_0,
             any.html ==1.0.1.2,
             any.http-client ==0.6.4.1,
             http-client +network-uri,
             any.http-client-tls ==0.3.5.3,
             any.http-conduit ==2.3.7.3,
             any.http-types ==0.12.3,
             any.hxt ==9.3.1.18,
             hxt -network-uri -profile,
             any.hxt-charproperties ==9.4.0.0,
             hxt-charproperties -profile,
             any.hxt-http ==9.1.5.2,
             hxt-http -network-uri,
             any.hxt-regex-xmlschema ==9.2.0.3,
             hxt-regex-xmlschema -profile,
             any.hxt-unicode ==9.0.2.4,
             any.iconv ==0.4.1.3,
             any.indexed-profunctors ==0.1,
             any.ini ==0.4.1,
             any.integer-gmp ==1.0.2.0,
             any.integer-logarithms ==1.0.3,
             integer-logarithms -check-bounds +integer-gmp,
             any.invariant ==0.5.3,
             any.invertible ==0.2.0.5,
             invertible -arrows +invariant +lens +partial-isomorphisms -piso +semigroupoids -typecompose,
             any.invertible-hxt ==0.1,
             any.js-dgtable ==0.5.2,
             any.js-flot ==0.8.3,
             any.js-jquery ==3.3.1,
             any.json ==0.10,
             json +generic -mapdict +parsec +pretty +split-base,
             any.kan-extensions ==5.2,
             any.kontrakcja-templates ==0.11,
             any.language-javascript ==0.7.1.0,
             any.lens ==4.19.1,
             lens -benchmark-uniplate -dump-splices +inlining -j -old-inline-pragmas -safe +test-doctests +test-hunit +test-properties +test-templates +trustworthy,
             any.libyaml ==0.1.2,
             libyaml -no-unicode -system-libyaml,
             any.lifted-async ==0.10.0.6,
             any.lifted-base ==0.2.3.12,
             any.lifted-threads ==1.0,
             any.list-tries ==0.6.6,
             any.math-functions ==0.3.3.0,
             math-functions +system-erf +system-expm1,
             any.memory ==0.15.0,
             memory +support_basement +support_bytestring +support_deepseq +support_foundation,
             any.mime-types ==0.1.0.9,
             any.mmap ==0.5.9,
             mmap -mmaptest,
             any.mmorph ==1.1.3,
             any.monad-control ==1.0.2.3,
             any.monad-loops ==0.4.3,
             monad-loops +base4,
             any.monad-par ==0.3.5,
             monad-par -chaselev -newgeneric,
             any.monad-par-extras ==0.3.3,
             any.monad-time ==0.3.1.0,
             any.monads-tf ==0.1.0.3,
             any.mono-traversable ==1.0.15.1,
             any.mtl ==2.2.2,
             any.mwc-random ==0.14.0.0,
             any.network ==3.1.1.1,
             any.network-bsd ==2.8.1.0,
             any.network-info ==0.2.0.10,
             any.network-uri ==2.6.3.0,
             any.old-locale ==1.0.0.7,
             any.old-time ==1.1.0.3,
             any.one-time-password ==2.0.0,
             any.optics ==0.3,
             any.optics-core ==0.3,
             any.optics-extra ==0.3,
             any.optics-th ==0.3,
             any.optparse-applicative ==0.15.1.0,
             any.parallel ==3.2.2.0,
             any.partial-isomorphisms ==0.2.2.1,
             any.pem ==0.2.4,
             any.pretty ==1.1.3.6,
             any.prettyclass ==1.0.0.0,
             any.primitive ==0.7.0.1,
             any.process-extras ==0.7.4,
             any.profunctors ==5.5.2,
             any.psqueues ==0.2.7.2,
             any.punycode ==2.0,
             any.quickcheck-instances ==0.3.22,
             quickcheck-instances -bytestring-builder,
             any.quickcheck-unicode ==1.0.1.0,
             any.random ==1.1,
             any.reflection ==2.1.5,
             reflection -slow +template-haskell,
             any.regex-base ==0.94.0.0,
             any.regex-posix ==0.96.0.0,
             regex-posix -_regex-posix-clib,
             any.regex-tdfa ==1.3.1.0,
             regex-tdfa -force-o2,
             resource-pool -developer,
             any.resourcet ==1.2.3,
             any.retry ==0.8.1.0,
             retry -lib-werror,
             any.rts ==1.0,
             any.safe ==0.3.18,
             any.sandi ==0.5,
             sandi +with-conduit,
             any.scanner ==0.3.1,
             any.scientific ==0.3.6.2,
             scientific -bytestring-builder -integer-simple,
             any.scrypt ==0.5.0,
             any.semigroupoids ==5.3.4,
             semigroupoids +comonad +containers +contravariant +distributive +doctests +tagged +unordered-containers,
             any.semigroups ==0.19.1,
             semigroups +binary +bytestring -bytestring-builder +containers +deepseq +hashable +tagged +template-haskell +text +transformers +unordered-containers,
             any.semver ==0.3.4,
             any.sendfile ==0.7.11.1,
             sendfile -portable,
             any.shake ==0.18.5,
             shake -cloud -embed-files -portable,
             any.soap ==0.2.3.6,
             any.socks ==0.6.1,
             any.split ==0.2.3.4,
             any.splitmix ==0.0.4,
             splitmix -optimised-mixer +random,
             any.spreadsheet ==0.1.3.8,
             spreadsheet -buildexamples +splitbase,
             any.statistics ==0.15.2.0,
             any.stm ==2.5.0.0,
             any.streaming-commons ==0.2.1.2,
             streaming-commons -use-bytestring-builder,
             any.string-conversions ==0.4.0.1,
             any.syb ==0.7.1,
             any.system-filepath ==0.4.14,
             any.tagged ==0.8.6,
             tagged +deepseq +transformers,
             any.tagsoup ==0.14.8,
             any.tasty ==1.2.3,
             tasty +clock,
             any.tasty-hunit ==0.10.0.2,
             any.temporary ==1.3,
             any.test-framework ==0.8.2.0,
             any.test-framework-hunit ==0.3.0.2,
             test-framework-hunit -base3 +base4,
             any.test-framework-quickcheck2 ==0.3.0.5,
             any.text-icu ==0.7.0.1,
             any.text-show ==3.8.5,
             text-show +base-4-9 +new-functor-classes +template-haskell-2-11,
             any.th-abstraction ==0.3.2.0,
             any.th-expand-syns ==0.4.6.0,
             any.th-lift ==0.8.1,
             any.th-lift-instances ==0.1.15,
             any.th-orphans ==0.13.9,
             any.th-reify-many ==0.1.9,
             any.threads ==0.5.1.6,
             any.time-compat ==1.9.3,
             time-compat -old-locale,
             any.tls ==1.5.4,
             tls +compat -hans +network,
             any.transformers ==0.5.6.2,
             any.transformers-base ==0.4.5.2,
             transformers-base +orphaninstances,
             any.transformers-compat ==0.6.5,
             transformers-compat -five +five-three -four +generic-deriving +mtl -three -two,
             any.type-equality ==1,
             any.typed-process ==0.2.6.0,
             any.unbounded-delays ==0.1.1.0,
             any.unix ==2.7.2.2,
             any.unix-compat ==0.5.2,
             unix-compat -old-time,
             any.unjson ==0.15.3,
             any.unliftio-core ==0.1.2.0,
             any.unordered-containers ==0.2.10.0,
             unordered-containers -debug,
             any.utf8-string ==1.0.1.1,
             any.utility-ht ==0.0.15,
             any.uuid ==1.3.13,
             any.uuid-types ==1.0.3,
             any.vector ==0.12.1.2,
             vector +boundschecks -internalchecks -unsafechecks -wall,
             any.vector-algorithms ==0.8.0.3,
             vector-algorithms +bench +boundschecks -internalchecks -llvm +properties -unsafechecks,
             any.vector-binary-instances ==0.2.5.1,
             any.vector-th-unbox ==0.2.1.7,
             any.void ==0.7.3,
             void -safe,
             any.wcwidth ==0.0.2,
             wcwidth -cli +split-base,
             any.x509 ==1.7.5,
             any.x509-store ==1.6.7,
             any.x509-system ==1.6.6,
             any.x509-validation ==1.6.11,
             any.xhtml ==3000.2.2.1,
             any.xml ==1.3.14,
             any.xml-conduit ==1.8.0.1,
             any.xml-conduit-writer ==0.1.1.2,
             any.xml-types ==0.3.6,
             any.yaml ==0.11.3.0,
             yaml +no-examples +no-exe,
             any.zip-archive ==0.4.1,
             zip-archive -executable,
             any.zlib ==0.6.2.1,
             zlib -non-blocking-ffi -pkg-config
