allow-newer: threads:base,bloodhound:time,happstack-server:template-haskell,ChasingBottoms:QuickCheck,ChasingBottoms:base,ChasingBottoms:syb
constraints: AES ==0.2.9,
             ChasingBottoms ==1.3.1.2,
             Crypto ==4.2.5.1,
             Crypto +small_base,
             DRBG ==0.5.5,
             DRBG -test,
             Decimal ==0.4.2,
             HStringTemplate ==0.8.6,
             HTTP ==4000.3.7,
             HTTP +warp-tests -warn-as-error -network23 +network-uri -mtl1 -conduit10,
             HUnit ==1.6.0.0,
             HaXml ==1.25.3,
             HaXml +splitbase -bytestringinbase,
             ListLike ==4.5.1,
             MissingH ==1.4.0.1,
             QuickCheck ==2.10.0.1,
             QuickCheck +templatehaskell,
             StateVar ==1.1.0.4,
             abstract-deque ==0.3,
             abstract-deque -usecas,
             abstract-par ==0.3.3,
             aeson ==1.2.0.0,
             aeson -fast -developer -cffi -bytestring-builder,
             aeson-pretty ==0.8.2,
             aeson-pretty -lib-only,
             alex ==3.2.1,
             alex +small_base,
             ansi-terminal ==0.6.2.3,
             ansi-terminal -example,
             ansi-wl-pprint ==0.6.7.3,
             ansi-wl-pprint +newbase -example,
             array >= 0.5 && < 0.6,
             asn1-encoding ==0.9.5,
             asn1-parse ==0.9.4,
             asn1-types ==0.3.2,
             async ==2.1.1.1,
             attoparsec ==0.13.1.0,
             attoparsec -developer,
             base-compat ==0.9.3,
             base-orphans ==0.6,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             bifunctors ==5.4.2,
             bifunctors +tagged +semigroups,
             binary ==0.8.5.1,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.9.0.1,
             blaze-markup ==0.8.0.0,
             bloodhound ==0.14.0.0,
             bloodhound -es5 +es1,
             byteable ==0.1.1,
             bytestring >= 0.10.8 && < 0.11,
             bytestring-builder ==0.10.8.1.0,
             bytestring-builder +bytestring_has_builder,
             bytestring-lexing ==0.5.0.2,
             cabal-doctest ==1.0.2,
             call-stack ==0.1.0,
             case-insensitive ==1.2.0.9,
             cereal ==0.5.4.0,
             cereal -bytestring-builder,
             cipher-aes128 ==0.7.0.3,
             cipher-aes128 -test -halvm,
             cmdargs ==0.10.17,
             cmdargs -testprog +quotation,
             comonad ==5.0.1,
             comonad +test-doctests +distributive +contravariant +containers,
             cond ==0.4.1.1,
             conduit ==1.2.10,
             conduit-extra ==1.1.15,
             configurator ==0.3.0.0,
             configurator -developer,
             connection ==0.2.8,
             constraints ==0.9.1,
             consumers ==2.0.0.1,
             containers >= 0.5 && < 0.6,
             contravariant ==1.4,
             contravariant +tagged +statevar +semigroups -safe,
             cookie ==0.4.2.1,
             cpphs ==1.20.8,
             crypto-api ==0.13.2,
             crypto-api -all_cpolys,
             crypto-rng ==0.1.0.1,
             cryptohash ==0.11.9,
             cryptohash-cryptoapi ==0.1.4,
             cryptonite ==0.23,
             cryptonite -support_sse +support_rdrand -support_pclmuldq +support_deepseq -support_blake2_sse +support_aesni -old_toolchain_inliner +integer-gmp -check_alignment,
             curl ==1.3.8.3,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             dataenc ==0.14.0.8,
             dataenc -tests,
             deepseq >= 1.4 && < 1.5,
             digest ==0.0.1.2,
             digest -bytestring-in-base,
             directory >=1.3 && <1.4,
             distributive ==0.5.2,
             distributive +tagged +semigroups,
             dlist ==0.8.0.2,
             ekg-core ==0.1.1.1,
             ekg-statsd ==0.2.1.0,
             enclosed-exceptions ==1.0.2,
             entropy ==0.3.7,
             entropy -halvm,
             erf ==2.0.0.0,
             exceptions ==0.8.3,
             explicit-exception ==0.1.8,
             explicit-exception +splitbase -buildtests,
             extensible-exceptions ==0.1.1.4,
             fields-json ==0.2.2.4,
             filepath >= 1.4 && < 1.5,
             fmlist ==0.9,
             foundation ==0.0.9,
             foundation -minimal-deps -experimental -doctest -bounds-check -bench-all,
             free ==4.12.4,
             generic-deriving ==1.11.2,
             generic-deriving +base-4-9,
             hS3 ==0.5.9,
             hS3 +network-uri,
             happstack-server ==7.4.6.4,
             happstack-server +template_haskell +network-uri,
             happstack-static-routing ==0.6.0.0,
             happy ==1.19.5,
             happy +small_base,
             hashable ==1.2.6.1,
             hashable -sse41 +sse2 +integer-gmp -examples,
             haskell-src-exts ==1.16.0.1,
             hedis ==0.9.8,
             hedis -dev,
             hostname ==1.0,
             hourglass ==0.2.10,
             hpqtypes ==1.5.1.1,
             hpqtypes-extras ==1.3.1.1,
             hsc2hs ==0.68.2,
             hslogger ==1.2.10,
             hslogger +small_base -buildtests,
             html ==1.0.1.2,
             http-client ==0.5.6.1,
             http-client +network-uri,
             http-client-tls ==0.3.5.1,
             http-types ==0.9.1,
             hxt ==9.3.1.16,
             hxt -network-uri,
             hxt-charproperties ==9.2.0.1,
             hxt-regex-xmlschema ==9.2.0.3,
             hxt-regex-xmlschema -profile,
             hxt-unicode ==9.0.2.4,
             iconv ==0.4.1.3,
             integer-logarithms ==1.0.1,
             integer-logarithms +integer-gmp -check-bounds,
             invariant ==0.4.2,
             json ==0.9.1,
             json +split-base +pretty +parsec -mapdict +generic,
             kontrakcja-templates ==0.10,
             language-javascript ==0.5.14.7,
             lifted-async ==0.9.3,
             lifted-async +monad-control-1,
             lifted-base ==0.2.3.10,
             lifted-threads ==1.0,
             list-tries ==0.6.4,
             log-base ==0.7.1.1,
             log-elasticsearch ==0.9.0.1,
             log-postgres ==0.7.0.1,
             math-functions ==0.2.1.0,
             math-functions -system-expm1,
             memory ==0.14.5,
             memory +support_foundation +support_deepseq +support_bytestring,
             mime-types ==0.1.0.7,
             mixpanel ==0.1.6,
             mmap ==0.5.9,
             mmap -mmaptest,
             mmorph ==1.0.9,
             monad-control ==1.0.1.0,
             monad-par ==0.3.4.8,
             monad-par -newgeneric -chaselev,
             monad-par-extras ==0.3.3,
             monad-time ==0.2,
             monads-tf ==0.1.0.3,
             mtl ==2.2.1,
             mtl-compat ==0.2.1.3,
             mtl-compat -two-point-two -two-point-one,
             mwc-random ==0.13.6.0,
             nats ==1.1.1,
             nats +template-haskell +hashable +binary,
             network ==2.6.3.1,
             network-uri ==2.6.1.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parallel ==3.2.1.1,
             parsec ==3.1.11,
             pem ==0.2.2,
             polyparse ==1.12,
             prelude-extras ==0.4.0.3,
             pretty >= 1.1 && < 1.2,
             prettyclass ==1.0.0.0,
             primitive ==0.6.2.0,
             process >= 1.4 && <1.7,
             process-extras ==0.7.1,
             profunctors ==5.2,
             psqueues ==0.2.2.3,
             random ==1.1,
             regex-base ==0.93.2,
             regex-base +splitbase +newbase,
             regex-compat ==0.95.1,
             regex-compat +splitbase +newbase,
             regex-posix ==0.95.2,
             regex-posix +splitbase +newbase,
             regex-tdfa ==1.2.2,
             regex-tdfa -devel,
             resource-pool ==0.2.3.2.1,
             resource-pool -developer,
             resourcet ==1.1.9,
             safe ==0.3.15,
             scanner ==0.2,
             scientific ==0.3.4.12,
             scientific -integer-simple -bytestring-builder,
             semigroupoids ==5.2,
             semigroupoids +tagged +doctests +distributive +contravariant +containers +comonad,
             semigroups ==0.18.3,
             semigroups +unordered-containers +transformers +text +tagged +hashable +deepseq +containers -bytestring-builder +bytestring +binary,
             sendfile ==0.7.9,
             sendfile -portable,
             soap ==0.2.3.3,
             socks ==0.5.5,
             split ==0.2.3.2,
             spreadsheet ==0.1.3.4,
             spreadsheet +splitbase -buildexamples,
             statistics ==0.14.0.1,
             stm ==2.4.4.1,
             streaming-commons ==0.1.17,
             streaming-commons -use-bytestring-builder,
             syb ==0.7,
             system-filepath ==0.4.13.4,
             tagged ==0.8.5,
             tagged +transformers +deepseq,
             tagsoup ==0.14.1,
             tagsoup -testprog,
             temporary ==1.2.0.4,
             test-framework ==0.8.1.1,
             test-framework -tests,
             test-framework-hunit ==0.3.0.2,
             test-framework-hunit +base4 -base3,
             test-framework-quickcheck2 ==0.3.0.4,
             test-framework-quickcheck2 +base4 -base3,
             text ==1.2.2.1,
             text -integer-simple -developer,
             text-icu ==0.7.0.1,
             text-show ==3.6,
             text-show +template-haskell-2-11 +new-functor-classes -developer +base-4-9,
             tf-random ==0.5,
             th-lift ==0.7.7,
             threads ==0.5.1.4,
             time >= 1.6 && < 1.9,
             time-compat ==0.1.0.3,
             time-locale-compat ==0.1.1.3,
             time-locale-compat -old-locale,
             tls ==1.3.10,
             tls +network -hans +compat,
             transformers ==0.5.2.0,
             transformers-base ==0.4.4,
             transformers-base +orphaninstances,
             transformers-compat ==0.5.1.4,
             transformers-compat -two -three +mtl,
             unix >= 2.7 && < 2.8,
             unix-compat ==0.4.3.1,
             unix-compat -old-time,
             unjson ==0.14.1.3,
             unordered-containers ==0.2.8.0,
             unordered-containers -debug,
             utf8-string ==1.0.1.1,
             utility-ht ==0.0.13,
             uuid-types ==1.0.3,
             vector ==0.12.0.1,
             vector -wall -unsafechecks -internalchecks +boundschecks,
             vector-algorithms ==0.7.0.1,
             vector-algorithms -unsafechecks +properties -internalchecks +boundschecks -bench,
             vector-algorithms -unsafechecks +properties -internalchecks +boundschecks -bench,
             vector-binary-instances ==0.2.3.5,
             vector-th-unbox ==0.2.1.6,
             void ==0.7.2,
             void -safe,
             x509 ==1.6.5,
             x509-store ==1.6.2,
             x509-system ==1.6.4,
             x509-validation ==1.6.5,
             xhtml ==3000.2.2,
             xml ==1.3.14,
             xml-conduit ==1.4.0.4,
             xml-conduit-writer ==0.1.1.1,
             xml-types ==0.3.6,
             yaml ==0.8.22.1,
             yaml -system-libyaml -no-unicode -no-exe +no-examples,
             zip-archive ==0.3.0.6,
             zip-archive +splitbase -executable,
             zlib ==0.6.1.2,
             zlib -non-blocking-ffi
