.paddevicearchive .statusIcon.inqueuestatus{
        background-image: url(../img/status_viewed.png);
        float: left;
        height: 16px;
        width: 16px;
}

.paddevicearchive .statusIcon.notinqueuestatus{
        background-image: url(../img/status_draft.png);
        float: left;
        height: 16px;
        width: 16px;
}

.paddevicearchive .actionIcon.gotodocument{
        background-image: url(../img/next.gif);
        float: left;
        height: 14px;
        width: 14px;
}

.paddevicearchive .actionIcon.removefromqueue{
        background-image: url(../img/icon-delete.png);
        float: left;
        height: 16px;
        width: 16px;
}

.paddevicearchive .actionIcon.addtoqueue{
        background-image: url(../img/foreward.png);
        float: left;
        height: 14px;
        width: 14px;
}

.noDocumentAvaible {
    background-color: #FAFAFA;
    border: 1px solid #777777;
    height: 735px;
    width: 943px;
    text-align: center;
    padding-top: 100px;
}
.noDocumentAvaible .header {
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    padding: 10px;
}
.noDocumentAvaible .sheader {
    font-size: 14px;
}
