.paddevicearchive .statusIcon.inqueuestatus{
        background-image: url(../img/status_viewed.png);
        float: left;
        height: 16px;
        width: 16px;
}

.paddevicearchive .statusIcon.notinqueuestatus{
        background-image: url(../img/status_draft.png);
        float: left;
        height: 16px;
        width: 16px;
}

.paddevicearchive .actionIcon.gotodocument{
        background-image: url(../img/next.gif);
        float: left;
        height: 14px;
        width: 14px;
}

.actionIcon.removefromqueue{
        background-image: url(../img/icon-delete.png);
        float: left;
        height: 16px;
        width: 16px;
}

.actionIcon.addtoqueue{
        background-image: url(../img/foreward.png);
        float: left;
        height: 14px;
        width: 14px;
}

.noDocumentAvaible {
    background-color: #FAFAFA;
    border: 1px solid #777777;
    height: 735px;
    width: 943px;
    text-align: center;
    padding-top: 100px;
}
.noDocumentAvaible .header {
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    padding: 10px;
}
.noDocumentAvaible .sheader {
    font-size: 14px;
}

.archive .scrolled .option-top-box{
    position: fixed;
    top: -61px;
    background : #ffffff;
    width: 1018px;
    border-bottom : 1px solid #808080;

}
.notSharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconMan.png);
}

.sharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconGroup.png);
}

.table-statuses {
      background: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      color: #999;
      font-size: 13px;
      margin-top: 10px;
      padding: 10px 10px;
      height: 13px;
      line-height: 13px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
  }

.table-statuses .icon {
      margin-top: 1px;
      margin-left: 8px;
  }