/* Buttons */

.btn-small, .btn-big, .btn-tiny {
	color: #fff;
	display: block;
	text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.btn-small p, .btn-big p, .btn-tiny p {
    font-weight: bold;
}

a.btn-small .label, a.btn-big .label, a.btn-tiny .label{
    color: #fff;
    white-space: nowrap;
    font-weight: bold;
}

a.btn-small.center, a.btn-big.center, a.btn-tiny.center {
	text-align: center;
}

.btn-small p, .btn-big p, .btn-tiny p {
	display: inline;
}
a.btn-small{
    height: 33px;
}
/* Small Buttons */

a.btn-small .left {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 33px;
	width: 16px;
}

a.btn-small .right {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 33px;
	width: 16px;
}

a.btn-small .label {
	background: url(../img/spr-btn-bg.png) 0 0;
	float: left;
    font-size: 12px;
    line-height: 33px;
    font-family: "Helvetica Neue";
	height: 33px;
	letter-spacing: 0.2px;
	position: relative;
}

a.btn-small label p {
	display: inline-block;
	padding: 0 20px;
}

/* Green Button */

a.btn-small.green .left {
	background-position: -209px 0;
}

a.btn-small.green .right {
	background-position: -223px 0;
}

a.btn-small.green .label {
	background-position: 0 -523px;
	color: #fff !important;
	text-shadow: #41770b 0 1px 3px;
}

a.btn-small.green:hover .left {
	background-position: -209px -34px;
}

a.btn-small.green:hover .right {
	background-position: -223px -34px;
}

a.btn-small.green:hover .label {
	background-position: 0 -557px;
	text-shadow: #41770b 0 1px 3px;
}

a.btn-small.green:active .left {
	background-position: -209px -68px;
}

a.btn-small.green:active .right {
	background-position: -223px -68px;
}

a.btn-small.green:active .label {
	background-position: 0 -591px;
	text-shadow: #41770b 0 1px 3px;
}

/* Blue Button */

a.btn-small.blue .left {
	background-position: -240px 0;
}

a.btn-small.blue .right {
	background-position: -256px 0;
}

a.btn-small.blue .label {
	background-position: 0 -421px;
	color: #fff !important;
	text-shadow: #3e88ce 0 1px 3px;
}

a.btn-small.blue:hover .left {
	background-position: -240px -34px;
}

a.btn-small.blue:hover .right {
	background-position: -256px -34px;
}

a.btn-small.blue:hover .label {
	background-position: 0 -455px;
}

a.btn-small.blue:active .left {
	background-position: -240px -68px;
}

a.btn-small.blue:active .right {
	background-position: -256px -68px;
}

a.btn-small.blue:active .label {
	background-position: 0 -489px;
}

/* Black Button */

a.btn-small.black .left {
	background-position: -272px 0;
}

a.btn-small.black .right {
	background-position: -288px 0;
}

a.btn-small.black .label {
	background-position: 0 -625px;
	color: #fff !important;
	text-shadow: #454545 0 1px 3px;
}

a.btn-small.black:hover .left {
	background-position: -272px -34px;
}

a.btn-small.black:hover .right {
	background-position: -288px -34px;
}

a.btn-small.black:hover .label {
	background-position: 0 -659px;
}

a.btn-small.black:active .left {
	background-position: -272px -68px;
}

a.btn-small.black:active .right {
	background-position: -288px -68px;
}

a.btn-small.black:active .label {
	background-position: 0 -693px;
}


/* Red Button */

a.btn-small.red .left {
    background-position: -176px 0;
}

a.btn-small.red .right {
    background-position: -192px 0;
}

a.btn-small.red .label {
    background-position: 0 -319px;
    color: #fff !important;
    text-shadow: #41770b 0 1px 3px;
}

a.btn-small.red:hover .left {
    background-position: -176px -34px;
}

a.btn-small.red:hover .right {
    background-position: -192px -34px;
}

a.btn-small.red:hover .label {
    background-position: 0 -353px;
    text-shadow: #41770b 0 1px 3px;
}

a.btn-small.red:active .left {
    background-position: -176px -68px;
}

a.btn-small.red:active .right {
    background-position: -192px -68px;
}

a.btn-small.red:active .label {
    background-position: 0 -387px;
    text-shadow: #41770b 0 1px 3px;
}

/* Big Buttons */

a.btn-big{
    height: 46px;
}

a.btn-big .left {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 46px;
	width: 22px;
}

a.btn-big .right {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 46px;
	width: 22px;
}

a.btn-big .label {
	background: url(../img/spr-btn-bg.png) 0 0;
	float: left;
	font: 18px/46px "Helvetica Neue";
	letter-spacing: 0.5px;
	height: 44px;
	padding: 1px 40px;
	position: relative;
}

/* Green Button */

a.btn-big.green .left {
	background-position: -44px 0;
}

a.btn-big.green .right {
	background-position: -66px 0;
}

a.btn-big.green .label {
	background-position: 0 -1011px;
	text-shadow: #41770b 0 1px 3px;
}

a.btn-big.green:hover .left {
	background-position: -44px -47px;
}

a.btn-big.green:hover .right {
	background-position: -66px -47px;
}

a.btn-big.green:hover .label {
	background-position: 0 -1058px;
	text-shadow: #41770b 0 1px 3px;
}

a.btn-big.green:active .left {
	background-position: -44px -95px;
}

a.btn-big.green:active .right {
	background-position: -66px -95px;
}

a.btn-big.green:active .label {
	background-position: 0 -1106px;
	text-shadow: #41770b 0 1px 3px;
}

/* Blue Button */

a.btn-big.blue .left {
	background-position: -88px 0;
}

a.btn-big.blue .right {
	background-position: -110px 0;
}

a.btn-big.blue .label {
	background-position: 0 -869px;
	text-shadow: #3e88ce 0 1px 3px;
}

a.btn-big.blue .label .icon.cross {
  position:relative;
  top:5px;
}

a.btn-big.blue:hover .left {
	background-position: -88px -47px;
}

a.btn-big.blue:hover .right {
	background-position: -110px -47px;
}

a.btn-big.blue:hover .label {
	background-position: 0 -916px;
}

a.btn-big.blue:active .left {
	background-position: -88px -95px;
}

a.btn-big.blue:active .right {
	background-position: -110px -95px;
}

a.btn-big.blue:active .label {
	background-position: 0 -964px;
}

/* Black Button */

a.btn-big.black .left {
	background-position: -132px 0;
}

a.btn-big.black .right {
	background-position: -154px 0;
}

a.btn-big.black .label {
	background-position: 0 -1153px;
	color: #fff !important;
	text-shadow: #454545 0 1px 3px;
}

a.btn-big.black:hover .left {
	background-position: -132px -47px;
}

a.btn-big.black:hover .right {
	background-position: -154px -47px;
}

a.btn-big.black:hover .label {
	background-position: 0 -1200px;
}

a.btn-big.black:active .left {
	background-position: -132px -95px;
}

a.btn-big.black:active .right {
	background-position: -154px -95px;
}

a.btn-big.black:active .label {
	background-position: 0 -1248px;
}

/* Red Button */

a.btn-big.red .left {
    background-position: 0 0;
}

a.btn-big.red .right {
    background-position: -22px 0;
}

a.btn-big.red .label {
    background-position: 0 -727px;
    text-shadow: #41770b 0 1px 3px;
}

a.btn-big.red:hover .left {
    background-position: 0 -47px;
}

a.btn-big.red:hover .right {
    background-position: -22px -47px;
}

a.btn-big.red:hover .label {
    background-position: 0 -774px;
    text-shadow: #41770b 0 1px 3px;
}

a.btn-big.red:active .left {
    background-position: 0 -95px;
}

a.btn-big.red:active .right {
    background-position: -22px -95px;
}

a.btn-big.red:active .label {
    background-position: 0 -822px;
    text-shadow: #41770b 0 1px 3px;
}

/* Tiny Buttons */

a.btn-tiny{
    height: 26px;
}

a.btn-tiny .left {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 26px;
	width: 6px;
}

a.btn-tiny .right {
	background-image: url(../img/spr-btn-borders.png);
	float: left;
	height: 26px;
	width: 6px;
}

.btn-tiny .label {
	background: url(../img/spr-btn-bg.png) 0 0;
	float: left;
	font: 11px/26px "Helvetica Neue";
	height: 26px;
	position: relative;
}

.btn-tiny .label p {
	display: inline-block;
	padding: 0 10px;
}

/* Green Button */

a.btn-tiny.green .left {
	background-position: -330px 0;
}

a.btn-tiny.green .right {
	background-position: -334px 0;
}

a.btn-tiny.green .label {
	background-position: 0 -160px;
	text-shadow: #41770b 0 1px 3px;
}

a.btn-tiny.green:hover .left {
	background-position: -330px -27px;
}

a.btn-tiny.green:hover .right {
	background-position: -334px -27px;
}

a.btn-tiny.green:hover .label {
	background-position: 0 -187px;
}

a.btn-tiny.green:active .left {
	background-position: -330px -54px;
}

a.btn-tiny.green:active .right {
	background-position: -334px -54px;
}

a.btn-tiny.green:active .label {
	background-position: 0 -214px;
}

/* Blue Button */

a.btn-tiny.blue .left {
	background-position: -318px 0;
}

a.btn-tiny.blue .right {
	background-position: -322px 0;
}

a.btn-tiny.blue .label {
	background-position: 0 -80px;
	text-shadow: #3e88ce 0 1px 3px;
}

a.btn-tiny.blue:hover .left {
	background-position: -318px -27px;
}

a.btn-tiny.blue:hover .right {
	background-position: -322px -27px;
}

a.btn-tiny.blue:hover .label {
	background-position: 0 -107px;
}

a.btn-tiny.blue:active .left {
	background-position: -318px -54px;
}

a.btn-tiny.blue:active .right {
	background-position: -322px -54px;
}

a.btn-tiny.blue:active .label {
	background-position: 0 -134px;
}

/* Black Button */

a.btn-tiny.black .left {
	background-position: -340px 0;
}

a.btn-tiny.black .right {
	background-position: -346px 0;
}

a.btn-tiny.black .label {
	background-position: 0 -240px;
	color: #fff !important;
	text-shadow: #454545 0 1px 3px;
}

a.btn-tiny.black:hover .left {
	background-position: -340px -27px;
}

a.btn-tiny.black:hover .right {
	background-position: -346px -27px;
}

a.btn-tiny.black:hover .label {
	background-position: 0 -267px;
}

a.btn-tiny.black:active .left {
	background-position: -340px -53px;
}

a.btn-tiny.black:active .right {
	background-position: -346px -53px;
}

a.btn-tiny.black:active .label {
	background-position: 0 -293px;
}

/* Red Button */

a.btn-tiny.red .left {
    background-position: -305px 0;
}

a.btn-tiny.red .right {
    background-position: -309px 0;
}

a.btn-tiny.red .label {
    background-position: 0 -0px;
    color: #fff !important;
    text-shadow: #454545 0 1px 3px;
}

a.btn-tiny.red:hover .left {
    background-position: -305px -27px;
}

a.btn-tiny.red:hover .right {
    background-position: -309px -27px;
}

a.btn-tiny.red:hover .label {
    background-position: 0 -27px;
}

a.btn-tiny.red:active .left {
    background-position: -305px -54px;
}

a.btn-tiny.red:active .right {
    background-position: -309px -54px;
}

a.btn-tiny.red:active .label {
    background-position: 0 -54px;
}
/* Buttons Symbols */

.btn-symbol {
	background: url(../img/spr-btn-symbols.png);
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}

.btn-big .btn-symbol {
	right: -11px;
	top: 15px;
}

.btn-small .btn-symbol {
	right: -6px;
	top: 4px;
}

.btn-tiny .btn-symbol {
	right: 0;
	top: 4px;
}

.btn-small .btn-symbol.cross {
	background-position: -66px -1px;
	right: 5px;
        top: 5px;
	width: 22px;
        margin-left: 10px;
}

.btn-big .btn-symbol.cross {
	background-position: -66px -19px;
	height: 22px;
	margin-right: 4px;
	top: 11px;
	width: 30px;
        margin-left: 10px;
}

.btn-symbol.none {
	background: none;
}

.btn-symbol.green.eye {
	background-position: 0 0;
}

.btn-symbol.green.arrow-left {
	background-position: -16px 0;
}

.btn-symbol.green.arrow-right {
	background-position: -32px 0;
}

.btn-symbol.green.person {
	background-position: -48px 0;
}

.btn-symbol.blue.eye {
	background-position: 0 -17px;
}

.btn-symbol.blue.arrow-left {
	background-position: -16px -17px;
}

.btn-symbol.blue.arrow-right {
	background-position: -32px -17px;
}

.btn-symbol.blue.person {
	background-position: -48px -17px;
}

.btn-symbol.black.eye {
	background-position: 0 -34px;
}

.btn-symbol.black.arrow-left {
	background-position: -16px -34px;
}

.btn-symbol.black.arrow-right {
	background-position: -32px -34px;
	left: 0px;
}

.btn-symbol.black.person {
	background-position: -48px -34px;
}
.btn-symbol.red.arrow-left {
background-position:-16px -51px;
}
