.document-history-container {
    margin-top: 10px;
    background-color : #ffffff;
    float : left;
    width: 579px;
    border : 1px solid #CCCCCC;
    padding: 5px;
    min-height: 180px;
}

.document-history-container .tab-container {
    border-color: transparent;
}

.document-history-container .list-container .table {
    border-color: transparent;
}

.document-history-container .list-container{
    border-color: transparent;
}

.document-history-container .document-history-header{
    width: 100%;
    padding : 5px;
    height : 30px;
}

.document-history-container .document-history-header .title {
    font-size: 20px;
    margin: 5px 0px;
    color: #222222;
    font-weight: bold;
    display: inline-block;
    float : left;

}

.document-history-container .document-history-header .option{
    margin: 8px 12px;
    height : 14px;
    display: inline-block;
    float : right;
}

.document-history-container .document-history-header .option .label{
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    margin-left : 2px;
    float : left;
}

.document-history-container .document-history-header .option .checkbox {
    background: url("../img/checkbox_unchecked.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.document-history-container .document-history-header .option .checkbox.checked{
    background: url("../img/checkbox_checked.png") no-repeat scroll 0 0 transparent;
}
