.document-history-container {
    margin-top: 10px;
    background-color : #ffffff;
    width: 928px;
    border : 1px solid #CCCCCC;
    margin : 10px auto;
    min-height: 120px;
}

.document-history-container .tab-container {
    border-color: transparent;
}

.document-history-container .list-container .table {
    border-color: transparent;
    background-color: #FFFFFF;
}

.document-history-container .list-container{
    border-color: transparent;
}

.document-history-container .document-history-footer{
    width: 100%;
    padding : 5px;
    height : 30px;
}


.document-history-container .document-history-footer .option{
    margin: 8px 12px;
    height : 14px;
    display: inline-block;
    float : right;
}

.document-history-container .document-history-footer .option .label{
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    margin-left : 2px;
    float : left;
}

.document-history-container .document-history-footer .option .checkbox {
    background: url("../img/checkbox_unchecked.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.document-history-container .document-history-footer .option .checkbox.checked{
    background: url("../img/checkbox_checked.png") no-repeat scroll 0 0 transparent;
}
