.flash-container {
    background: url(/img/spr-flash-bg.png) 0 -50px repeat-x;
    cursor: pointer;
    -display: none;
    left: 0px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    -moz-box-shadow: -5px 2px 5px #666;
    text-align: left;
    font-size: 13pt;
    -moz-border-radius: 1px 1px 1px 1px;
    border-bottom: 1px solid #111111;
    color: #111111;
}

.flash-container:before {
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -moz-box-shadow: inset 0 0 2px #fff;
}

.flash-container.green {
    background-position: 0 -100px;
}

.flash-container.red {
    background-position: 0 0;
}

.flash-container.blue {
    background-position: 0 -200px;
}

.flash-content {
	height: 40px;
	margin: 34px  auto 0;
	position: relative;
    left: -8px;
	width: 960px;
	z-index: 101;
}

.flash-icon {
	background: url(../img/spr-flash-icons.png);
	float: left;
	height: 30px;
	margin: 1px 40px 0 30px;
	width: 30px;
}

.flash-icon.red {
	background-position: 0 0;
}

.flash-icon.green {
	background-position: 0 -30px;
}

.flash-icon.blue {
	background-position: 0 -60px;
}

.flash-body {
	color: #fff;
	float: left;
	font: 12px "Helvetica Neue";
	height: 30px;
	margin-top: 9px;
	width: 690px;
}

.flash-close {
	float: right;
	margin-top: 4px;
}

.flashmsgbox{
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 100px;
}

.flash_signingrelated {
  background: #59b1e8;
}

.flash_operationdone {
  background: #8dc11c;
}

.flash_operationfailed {
  background: #e47071;
}

.flashmsgbox .flashmessage {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    width: 940px;
    height: 100px;
    margin: auto;
    display: block;
}

.flashmsgbox .flashcenter {
  height: 100px;
}

.flashmessageclose{
   color:#539EFB;
   cursor:pointer;
   float:right;
   font-size:10pt;
   font-weight:normal;
   position:relative;
   top:-40px;
   right: -40px
}

.flashmsgbox .logo {
        display: block;
        float: left;
        height: 35px;
        margin-top: 34px;
        width: 137px;
        margin-left: -8px;
}

.modalcontainer{
    left: 0;
    position: absolute
    top: 0;
    width: 100%;
    z-index: 10000;
}
.modalbox {

}


.overlay {
    
    /* place overlay on top of other elements */
    z-index:10000;
    display:none;
    /* styling */
    width:640px;    
    
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;  
}

/* close button positioned on upper right corner */
.overlay a.close.modal-close {
    margin-top: 3px;
}

.overlay h1, .overlay h2, .overlay h3, .overlay h4, .overlay h5{
    margin:0px;
    padding: 5px 0 2px 0px;
    font-size:20px;
}

.overlay .buttonbox   
{
    float:right;
    padding-top:10px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.overlay .buttonbox button{
    margin-right:3px;
}

.overlay p {
    margin:8px;
}

