.list-container .page-change{
    padding: 3px;
    font-size: 11px;
    color: #007CAC;
    cursor: pointer;
}
.list-container .page-change.current{
    color: #333333;
    font-weight : bold;
    cursor: default;

}

.list-container {
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-right: 1px solid #808080;
        border-bottom: 1px solid #808080;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
}
.tab-viewer > .list-container {
        border-top: 0px solid #808080;
}

.list-container .tab-container {
        border-bottom: 0px solid #808080;
        border-left: 0px solid #808080;
        border-right: 0px solid #808080;
}

.list-container .table {
	background: #f4f4f4;
        border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
	border: 4px solid #f4f4f4;


}

.list-container .table table {
	background: #fff;
	border: 1px solid #e0e0e0;
	font: 12px "Lucida Grande";
	width: 100%;
        table-layout: fixed;
}

.list-container .table table th {
	height: 40px;
	padding-bottom: 4px;
	padding-left: 15px;
	text-align: left;
	vertical-align: bottom;
}

.list-container .table table th a {
	color: #000 !important;
	font: 12px "Helvetica Neue";
	text-decoration: none;
        cursor: pointer;
}

.list-container .table table th a:hover {
	color: #388add !important;
}

.list-container .table table th em {
	font-size: 9px;
}

.list-container .table table td {
	color: #666;
	height: 22px;
	margin-bottom: 1px;
	padding-left: 15px;
    overflow-x:hidden;
}

.list-container .table table td em {
	font-size: 9px;
}

.list-container .table table td.right {
	padding-right: 12px;
	text-align: right;
}

.list-container .table table td a {
	color: #666 !important;
}

.list-container .table table td a:hover {
	color: #000 !important;
}

.list-container .table table td input.infotext {
	width: 94%;
}

.list-container .table table tr.odd td {
	background: #f6f6f6;
}

.list-container .table table tr {
	border-top: 1px solid #e0e0e0;
}

.list-container .table table th.col1 {
	width: 35px;
}

.list-container .table table th.col2 {
	width: 65px;
}

.list-container .table table th.col3 {
	width: 85px;
}

.list-container .table table th.col4 {
	width: 225px;
}

.list-container .table .table-paginate {
	margin-top: 10px;
	padding: 10px 20px;
}

.list-container .table .table-paginate > a {
	color: #fff !important;
}

.list-container .table .table-paginate .pages {
	color: #999;
	font: 12px/18px "Lucida Grande";
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.list-container .table .table-paginate .pages strong {
	color: #000;
	display: block;
	font: 12px/18px "Helvetica Neue";
}

.list-container .table .table-paginate .pages a {
	color: #666;
    padding-left: 5px;
	text-decoration: none;
}

.list-container .table .table-paginate .pages a:hover {
	color: #000;
}

.list-container .table .table-statuses {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	color: #999;
	font-size: 9px;
	margin-top: 10px;
	padding: 10px;
    height: 12px;
	text-transform: uppercase;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.list-container .table .table-statuses .icon {
	margin-bottom: -1px;
	margin-left: 8px;
}

.list-container .col {
       margin: 0 20px;
       padding-top: 20px;
       padding-bottom: 6px;
       max-width: 800px;
}
.list-container .col.float-right {
       margin: 0 20px 0 0;
}

.list-container .col.float-left {
       margin: 0 0 0 20px;
}
/* Select boxes and search boxes for lists */

.list-container .option-top-box {
      background: #fff;
      border-bottom: 1px solid #cccccc;    
}

.list-container .list-search {
      background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #DEE4ED;
      box-shadow: none;
      font: 16px/1 Source Sans Pro,Helvetica Neue,sans-serif;
      padding: 5px;
      height: 20px;
      width: 160px;
      margin-right: 8px;
}

.list-container .subbox {
   padding-top: 5px;
   height : 40px;
   padding-bottom: 10px;
   display : block;
   padding-right: 10px;
   padding-left: 20px;

}

.subbox.empty {
   height : 0px;
}

.list-container .option-top-box .select  {
    margin-right: 8px;

}

.list-container .subbox .options-box  {
    float: right;

}


.list-container .subbox .options-box  {
    float: right;

}

.list-container .subbox .actions-box .actionButton{
    margin-right : 8px;
    text-align : center;
}


.list-container .listcheckbox{
    background: url("../img/checkbox_unchecked.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.list-container .listcheckbox.checked{
    background: url("../img/checkbox_checked.png") no-repeat scroll 0 0 transparent;
}

