.page-change{
    padding: 3px;
    font-size: 11px;
    color: #007CAC;
    cursor: pointer;
}
.page-change.current{
    color: #333333;
    font-weight : bold;
    cursor: default;

}

.tab-table {
	background: #f4f4f4;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #ccc;
	padding: 4px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.tab-table table {
	background: #fff;
	border: 1px solid #e0e0e0;
	font: 12px "Lucida Grande";
	width: 100%;
    table-layout: fixed;
}

.tab-table table th {
	height: 40px;
	padding-bottom: 4px;
	padding-left: 15px;
	text-align: left;
	vertical-align: bottom;
}

.tab-table table th a {
	color: #000 !important;
	font: 12px "Helvetica Neue";
	text-decoration: none;
}

.tab-table table th a:hover {
	color: #388add !important;
}

.tab-table table th em {
	font-size: 9px;
}

.tab-table table td {
	color: #666;
	height: 22px;
	margin-bottom: 1px;
	padding-left: 15px;
    overflow-x:hidden;
}

.tab-table table td em {
	font-size: 9px;
}

.tab-table table td.right {
	padding-right: 12px;
	text-align: right;
}

.tab-table table td a {
	color: #666 !important;
}

.tab-table table td a:hover {
	color: #000 !important;
}

.tab-table table td input.infotext {
	width: 94%;
}

.tab-table table tr.odd td {
	background: #f6f6f6;
}

.tab-table table tr {
	border-top: 1px solid #e0e0e0;
}

.tab-table table th.col1 {
	width: 35px;
}

.tab-table table th.col2 {
	width: 65px;
}

.tab-table table th.col3 {
	width: 85px;
}

.tab-table table th.col4 {
	width: 225px;
}

.tab-table .table-paginate {
	margin-top: 10px;
	padding: 10px 20px;
}

.tab-table .table-paginate > a {
	color: #fff !important;
}

.tab-table .table-paginate .pages {
	color: #999;
	font: 12px/18px "Lucida Grande";
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.tab-table .table-paginate .pages strong {
	color: #000;
	display: block;
	font: 12px/18px "Helvetica Neue";
}

.tab-table .table-paginate .pages a {
	color: #666;
    padding-left: 5px;
	text-decoration: none;
}

.tab-table .table-paginate .pages a:hover {
	color: #000;
}

.tab-table .table-statuses {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	color: #999;
	font-size: 9px;
	margin-top: 10px;
	padding: 10px;
    height: 12px;
	text-transform: uppercase;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tab-table .table-statuses .icon {
	margin-bottom: -1px;
	margin-left: 8px;
}

.list-container .col {
       margin: 0 20px;
       padding-top: 12px;
       padding-bottom: 6px;
       max-width: 800px;
}

/* Select boxes and search boxes for lists */

.list-search {
        border: 1px solid #e4e4e4;
        border-radius: 3px;
        height: 17px;
        margin: 0 4px 0 0 !important;
        padding: 3px 6px 3px 6px;
        width: 180px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}

.gearImage  {
    background-image: url(../img/gear.png);
    display: block;
    height: 16px;
    width: 16px;
}

/* Advanced filtering */
.advanced-search {
    background: #ffffff;
    width : 100%;
}
.advanced-search .advanced-search-box {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    display : block;
    text-align : center;
}

.advanced-search-box table {
    margin-left: auto;
    margin-right: auto;
    width: 95%
}

.advanced-select{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align : center;
}

.listcheckbox{
    background: url("../img/checkbox_unchecked.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.listcheckbox.checked{
    background: url("../img/checkbox_checked.png") no-repeat scroll 0 0 transparent;
}

.actionButton {
    margin-right : 5px;
}