/* Generic CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/* vertical-align: baseline; */
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue'),
         url('../fonts/helveticaneueltcom-bd.eot?') format('eot'),
         url('../fonts/helveticaneueltcom-bd.woff') format('woff'),
         url('../fonts/helveticaneueltcom-bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: local('Lucida Grande'),
         url('../fonts/lucida_grande.eot?') format('eot'),
         url('../fonts/lucida_grande.woff') format('woff'),
         url('../fonts/lucida_grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Preload images. Added by Eric Normand from http://dev.iceburg.net/jquery/jqModal/ */
@media projection, screen {
     div.imgCache { position: absolute; left: -8000px; top: -8000px; }
     div.imgCache img { display:block; }
}
@media print { div.imgCache { display: none; } }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
	clear: both;
	height: 3px;
	width: 3px;
}

.icon {
	background: url(../img/icons.png) 0 0 no-repeat;
}

.no-txt {
	text-indent: -9000px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


.new-btn-small {
    background: url(../img/btn-small.png) 0 0 no-repeat;
    color: #fff;
    display: block;
    font: 12px "Helvetica Neue";
    height: 23px;
    letter-spacing: 0.2px;
    padding-left: 16px;
    padding-top: 10px;
    text-decoration: none;
    width: 136px;
    font-weight: bold;
}

.new-btn-small p {
    color: #fff;
    text-shadow: #41770b 0 1px 3px;
}


.btn-big p {
	color: #fff;
	text-shadow: #41770b 0 1px 3px;
}

input.shiny {
	background: #fff;
	border: 1px solid #c6dade;
	height: 14px;
	padding: 8px;
	width: 202px;
    margin: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

input.shiny:focus {
	color: #000;
}

textarea:focus {
	color: #000;
}

/* Buttons */

a.new-btn-small:hover {
	background-position: 0 -34px;
}

a.new-btn-small:active {
	background-position: 0 -68px;
}

a.new-btn-small.center {
	text-align: center;
	padding-left: 0;
	padding-right: 16px;
	width: 135px;
}

a.new-btn-small.green2 {
	background-position: -152px 0;
}

a.new-btn-small.green2:hover {
	background-position: -152px -34px;
}

a.new-btn-small.green2:active {
	background-position: -152px -68px;
}

a.new-btn-small.black {
	background-position: -304px 0;
	width: 151px;
}

a.new-btn-small.black:hover {
	background-position: -304px -34px;
}

a.new-btn-small.black:active {
	background-position: -304px -68px;
}

a.new-btn-small.black p {
	color: #fff;
	text-shadow: #000 0 1px 3px;
}

/* Icons */

.icon-money {

        margin: 0 auto;
	height: 60px;
	width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/thumbs.png);

}

.icon-watch {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/clock.png);


}

.icon-globe {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/thumbs.png);


}

.icon-seal {
	height: 60px;
	margin: 0 auto;
	width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/judge.png);
}

.icon-safe {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/vault.png);


}

.icon-face {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/cloud.png);

}

.icon-paper {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/cloud.png);

}

.icon-ipad {
        margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/cloud.png);


}

.icon-cloud {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/cloud.png);

}

.icon-mail {
	height: 60px;
	margin: 0 auto;
	width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/mail.png);
}

.icon-api {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/puzzle.png);

}

.icon-question {
	margin: 0 auto;
        height: 60px;
        width: 60px;
        background-size: 60px 60px;
        background-image: url(/img/grey-icons/question.png);

}

#wrap {
	left: 0;
	position: absolute;
	right: 0;
	-overflow-x: hidden;
}

/* Top Container */
#top-container {
	background: url(../img/bg-header.jpg) repeat-x;
	height: 430px;
	min-width: 960px;

}

#top-container .person {
	background: url(../img/persons.jpg);
	top: 67px;
	height: 363px;
	left: 520px;
	position: absolute;
	width: 390px;
	z-index: 0;
}

#top-container .logo {
	position: absolute;
	top: 20px;
    left:0;
}

#top-container .leftMain {
	float: left;
	position: relative;
	width: 460px;
    z-index: 1;
}

#top-container .rightMain {
	float: left;
	position: relative;
	width: 490px;
    z-index: 100;
}

/* Intro text */

#top-container .intro-container {
	margin-top: 108px;
	width: 480px;
}

#top-container .intro-container h1 {
    color: #FFFFFF;
    font: 26px "Copse";
    padding-top: 32px;
}

#top-container .intro-container h2, #top-container .intro-container h3 {
	color: #FFFFFF;
	font: 24px "Copse";
        padding-top: 32px;
}

#top-container .intro-container p.introtext {
	color: #DDDDDD;
	font: 13px "Lucida Grande";
}

#top-container .intro-container form {
	color: #fff;
	font: 14px "Lucida Grande";
    padding-top:10px;

}

#top-container .intro-container em {
	color: #fff;
	display: block;
	font: 14px "Lucida Grande";
	margin-bottom: 8px;
}


#top-container .intro-container input {
	width: 200px;
}

/* Login Container & Enter Button */

#top-container a.enter-button {
	background: url(../img/btn-login.png);
	color: #b3b3b3;
	display: block;
	font: 14px "Helvetica Neue";
	height: 27px;
	padding-left: 47px;
	padding-top: 16px;
        float: right;
	text-decoration: none;
	text-shadow: #000 0 1px 3px;
	width: 95px;
        z-index: 10;
        font-weight: bold;
        margin-left: 30px;
}

#top-container .moveleft {
	display: block;
	height: 28px;
	padding-left: 30px;
	padding-top: 15px;
	position: absolute;
        width: 700px;
        right: 0px;
        z-index: 10;
}

#top-container .moveleft .toplink {
    padding: 0px;
    margin-left: 30px;
    font-weight: bold;
}

#top-container .moveleft .localeSwitcher a {
    margin-left: 0px;
}

#top-container .moveleft .toplink:hover
{
  color: #FFFFFF;
}

.moveleft2
{
	display: block;
	height: 28px;
	padding-left: 47px;
	padding-top: 15px;
	position: absolute;
	right: 156px;
	top: -14px;
    z-index: 10;
}

#top-container .enter-button:hover {
	color: #fff;
}

.localeSwitcher {
  display: inline-block;
  position:relative;
  z-index:100;
  padding-right: 20px;
}

#top-container .localeSwitcher {
  float: right;
  padding-top: 15px;
  padding-right: 0px;
}

#top-slim-container .localeSwitcher {
    float: right;
    top: 18px;
}

.localeSwitcher div {
  float: left;
  padding-left: 5px;
}
.localeSwitcher div {
  float: left;
  padding-left: 5px;
}
.login-container .body, .recovery-container .body {
    margin:auto;
    min-height: 122px;
}

.login-container .body .wrapper {
    background: #f3f3f3;
    border-color: #3f3f3f;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px;
    margin:auto;
    z-index: 101;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font: 11px "Lucida Grande";
    width: 240px;
    margin: auto;
    text-align: center;
}

.account-from-sign-container .login-container .body .wrapper {
    width: 420px;
    text-align: left;
}

.recovery-container .body .wrapper {
    background: #f3f3f3;
    border-color: #3f3f3f;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px;
    margin:auto;
    z-index: 101;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    font: 11px "Lucida Grande";
    width: 300px;
    text-align: center;
}

.login-container .body .wrapper .txt, .recovery-container .body .wrapper .txt {
    padding-right: 15px;
}

.login-container .body input, .recovery-container .body input {
	border: 1px solid #9e9e9e;
	font: 11px "Lucida Grande";
	margin-bottom: 3px;
	padding: 5px 10px;
	width: 146px;
}

.login-container .body .btn-tiny, .recovery-container .body .btn-tiny {
    margin-bottom: 3px;
    margin-right: 20px;
    padding: 5px 10px;
    float: right;
}

.login-container .body a.txt-link, .recovery-container .body a.txt-link {
	color: #35A4D6;
	font: 10px/34px "Lucida Grande";
	text-decoration: underline;
}

/* Campaign play button */

#top-container .campaign-container {
	background: url(../img/play-bg.png);
	height: 87px;
	margin-left: 98px;
	position: absolute;
	right: -3px;
	top: 278px;
	width: 306px;
	z-index: 2;
}

#top-container .campaign-container .campaign-play {
	background: url(../img/play-btn.png);
	cursor: pointer;
	height: 98px;
	left: -98px;
	position: absolute;
	top: -5px;
	width: 98px;
}

#top-container .campaign-container .campaign-text {
	margin-left: 15px;
	margin-top: 23px;
}

#top-container .campaign-play:hover {
	background-position: 0 -98px;
}

#top-container .campaign-container .campaign-text blockquote {
	color: #fff;
	font: italic 14px/14px "Lucida Grande";
	width: 270px;
}

#top-container .campaign-container .campaign-text em {
	color: #DDD;
	display: block;
	font: normal 10px/11px "Lucida Grande";
	margin-top: 3px;
        width: 260px;
}

#top-container .campaign-container .campaign-text a {
	color: #35A4D6;
	font: 10px/20px "Lucida Grande";
	text-decoration: none;
	text-transform: uppercase;
}

/* Nav Container */

.nav-container {
	background: #fff;
	border-bottom: 1px solid #dadada;
	height: 97px;
	min-width: 940px;
}

.nav-container .bottom-border {
	background: url(../img/spr-border1.png) repeat-x 0 0;
	clear: both;
	height: 3px;
}

/* Body Container */

.body-container {
	background: url(../img/bg-body.jpg);
	min-width: 940px;
        padding-top: 25px;
}

.spacer70 {
	height: 70px;
}

.spacer50 {
	height: 50px;
}

.spacer40 {
	height: 40px;
}

.spacer20 {
        height: 20px;
}
/* Footer Container */

#footer-container {
	background: #fff;
	height: 340px;
}

#footer-container .top-border {
	background: url(../img/spr-border1.png) repeat-x 0 -3px;
	height: 3px;
}

#footer-container .spacer {
	height: 40px;
}

#footer-container .col {
	float: left;
}

#footer-container .col strong {
	font: 14px/22px "Copse";
}

#footer-container .centre strong {
	text-transform: uppercase;
}

#footer-container .left {
	width: 240px;
}

#footer-container .centre {
	width: 320px;
}

#footer-container .right {
	width: 380px;
        float: right;
}

#footer-container .col.left ul li {
	height: 16px;
}

#footer-container .col.left ul li a {
	color: #35A4D6;
	font: 12px "Lucida Grande";
	text-decoration: none;
}

#footer-container .col.left ul li a:hover {
	color: #000;
}

#footer-container .col.centre ul li {
	margin-bottom: 20px;
	width: 230px;
}

#footer-container .col.centre ul li p {
	font: 12px "Lucida Grande";
}

#footer-container .col.centre ul li em {
	color: #999;
	font: 10px "Lucida Grande";
	text-transform: uppercase;
}

#footer-container .col.centre ul li a {
	color: #999;
}

#footer-container .col.centre ul li a:hover {
	color: #000;
}

#footer-container .col.right ul li {
	color: #999;
	float: left;
	font: 12px "Lucida Grande";
	margin-top: 15px;
	width: 160px;
}

#footer-container .col.right ul li strong {
	color: #000;
	font: 14px "Copse";
}

#footer-container .col.right ul li a {
	color: #999;
	text-decoration: none;
}

#footer-container .col.right ul li a:hover {
	color: #000;
}

/* Body Left Column */

.body-container .left-column {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	width: 220px;
}

/* Body Right Column */

.body-container .right-column {
	float: left;
	margin-top: 20px;
	width: 700px;
}


/* Body Price Plan */

.body-container .price-plan-container {
	background: #fff;
	border: 1px solid #ccc;
	height: 400px;
	margin-top: 35px;
	position: relative;
	width: 938px;
	z-index: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
}

.body-container .price-plan {
	height: 404px;
	position: absolute;
	width: 938px;
	z-index: 1;
}

.body-container .price-plan th {
	height: 67px;
	padding: 10px 0;
}

.body-container .price-plan th h3 {
	color: #666;
	font: 18px "Copse";
}

.body-container .price-plan th p {
	color: #999;
	font: italic 14px "Georgia";
        padding:5px;
}

.body-container .price-plan td, .body-container .price-plan th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.body-container .price-plan td:last-child, .body-container .price-plan th:last-child {
	border-right: 0;
}

.body-container .price-plan tr:last-child td {
	border-bottom: 0;
}

.body-container .price-plan tr {
	height: 22px;
}

.body-container .price-plan td {
	color: #999;
	font: 12px "Lucida Grande";
	text-align: center;
	vertical-align: middle;
	width: 227px;
}

.body-container .price-plan td a {
	text-decoration: none;
	color: #35A4D6;
	font: 12px "Lucida Grande";
	text-transform: uppercase;
}

.body-container .price-plan td a:hover {
	color: #000;
}

.body-container .price-plan tr.odd-row td {
	background: #F7F7F7;
}

.body-container .price-plan tr.big-row {
}

.body-container .price-plan tr.big-row td {
    line-height: 1.7em;
}


.price-plan-container .price {
        display:block;
        color: #000;
        font: 16px "Copse";
        margin:2px;
}

.price-plan-container .highlight-rows .price {
        margin-top:8px;
        font: 17px "Copse";
        margin-bottom: 4px;
} 

.price-plan-container .price-comment {
        display:block;
        font: 11px "Copse";
        margin-top:2px;

}

/* Price Plan Highlight */

.body-container .highlight-container {
	background: #fff;
	box-shadow: 0 0 5px #999;
	border: 2px solid #35A4D6;
	left: 467px;
	position: absolute;
	top: -13px;
	width: 245px;
	z-index: 2;
	-moz-border-radius: 7px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 0 5px #999;
    border-radius: 7px;
}

.highlight-container.ppfix {
    height: 910px;
}

.body-container .price-plan-page .highlight-container {
  top: -6px;
}

.body-container .price-plan-page .highlight-container .highlight-rows {
    height: 410px;
}

.body-container .highlight-container .highlight-rows {
	padding: 0 10px;
	width: 224px;
        height: 424px;
}

.body-container .highlight-container .highlight-rows li {
	border-bottom: 1px solid #ccc;
	color: #999;
	font: 14px "Lucida Grande";
	height: 30px;
	line-height: 28px;
	text-align: center;
}

.price-plan-page .highlight-container .highlight-rows li a {
    display: none;
}

.body-container .highlight-container .highlight-rows li a {
	text-decoration: none;
	color: #35A4D6;
	font: 10px "Lucida Grande";
	text-transform: uppercase;
}

.body-container .highlight-container .highlight-rows li a:hover {
	color: #000;
}

.body-container .highlight-container .highlight-rows li.top {
	height: 75px;
	padding-top: 38px;
}

.body-container .highlight-container .highlight-rows li.top h3 {
	color: #137DAD;
	font: 24px "Copse";
	line-height: 20px;
}

.body-container .highlight-container .highlight-rows li.top p {
	color: #666;
	font: italic 14px "Georgia";
	margin-top: 8px;
}

.body-container .highlight-container .highlight-rows li.odd {
	background: #f7f7f7;
}

.body-container .highlight-container .highlight-rows li.bottom {
	color: #999;
	font: italic 14px "Georgia";
	height: 70px;
	line-height: 18px;
	padding-top: 15px;
}

.body-container .highlight-container .highlight-rows li.bottom h4 {
        color: #666;
        font-style: normal;
        font-size: 18px;
}


.body-container .highlight-container .highlight-rows li.bottom a {
	color: #35A4D6;
	font: 10px "Lucida Grande";
	text-transform: uppercase;
}

.body-container .highlight-container .highlight-rows li.bottom a:hover {
	border-color: #000;
	color: #000;
}

.body-container .highlight-container .highlight-rows li:last-child {
	border: 0;
}

.price-plan-annotation {
        color: #999;
        font: italic 12px "Georgia";
        padding: 10px;
        width: 430px;
}

div.price-plan-details {
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 20px;
}

.price-plan-details h3 {
       color: black;
       font: normal 18px "Copse";
}

.price-plan-details p {
       color: #666;
       font: normal 12px "Lucida Grande";
}

/* Highlight Ribbon */

.body-container .highlight-container .ribbon {
	height: 107px;
	left: -6px;
	position: absolute;
	top: -6px;
	width: 107px;
}

.body-container .big-pp-container .highlight-container .ribbon {
	height: 74px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 74px;
}

.ribbon.swedish {
	background: url(../img/highlight-ribbon-small-swedish.png) no-repeat transparent;
}

.ribbon.english {
	background: url(../img/highlight-ribbon-small-english.png) no-repeat transparent;
}

.big-pp-container .ribbon.swedish {
	background: url(../img/highlight-ribbon-small-swedish.png) no-repeat transparent;
}

.big-pp-container .ribbon.english {
	background: url(../img/highlight-ribbon-small-english.png) no-repeat transparent;
}





/* Try SkrivaPå Splash */

.body-container .try-skrivapa {
	background: #fff;
	border: 1px solid #35A4D6;
	border-radius: 5px;
	height: 78px;
	padding-left: 50px;
	padding-top: 30px;
	width: 888px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.body-container .try-skrivapa .left {
	float: left;
	width: 450px;
}

.body-container .try-skrivapa .right {
	float: left;
	margin-top: 10px;
	width: 390px;
}

.body-container .try-skrivapa .left h3 {
	color: #000;
	font: 24px/24px "Copse";
}

.body-container .try-skrivapa .left p {
	color: #666;
	font: 14px/24px "Copse";
}

.body-container .try-skrivapa .right a {
	float: right;
}

/* Head Container */
#top-slim-container {
	background: url(../img/bg-header.jpg);
	border-bottom: 1px solid #737373;
	height: 50px;
	min-width: 940px;
}

#top-slim-container .scrive-logo {
    background: url(../img/logo-scrive-small.png);
    display: block;
    float: left;
    height: 35px;
    margin-top: 9px;
    width: 137px;
    margin-left: -8px;
}


#top-container .toplink  {
        color: #999;
        float: right;
        font: 14px/18px "Helvetica Neue";
        margin-top: 17px;
        padding-bottom: 5px;
        padding-left: 15px;
        text-shadow: #000 0 1px 3px;
        text-decoration: none;
}


.user-container {
	height: 150px;
}

/* Content boxes */

.box.white {
	background: #fff;
}

.box.opaque {
	background: transparent;
	position: relative;
	z-index: 1;
}

.box.thin {
	width: 180px;
}

.box.wide {
	width: 660px;
}

.box.opaque:before {
	border: 1px solid #fff;
	border-radius: 5px;
	bottom: 0px;
	content: "";
	left: 0px;
	opacity: 0.6;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: -1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.box {
	border: 1px solid #ccc;
	border-radius: 5px;
	min-height: 180px;
	padding: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.box.opaque.smaller h1 {
	color: #000;
	font: 18px/22px "Copse";
}

.box.opaque h3 {
	color: #000;
	font: 18px/22px "Copse";
}

.box.opaque blockquote {
	color: #000;
	font: 18px/22px "Copse";
}

.box.opaque p {
	color: #666;
	font: 12px/18px "Lucida Grande";
}

.box.white h3 {
	color: #666;
	font: 18px/22px "Copse";
}

.box.white h4 {
	color: #000;
	font: 16px "Copse";
}

.box input {
	border: 1px solid #999;
	font: 11px "Arial";
	margin-bottom: 3px;
	padding: 4px;
	width: 172px;
}

.box textarea {
	border: 1px solid #999;
	font: 11px "Arial";
	height: 127px;
	margin-bottom: 9px;
	padding: 4px;
	width: 172px;
}

.box select {
	margin-bottom: 10px;
}

.box .link-list {
	margin-left: 10px;
}

.box .link-list li {
	line-height: 26px;
}

.box .link-list a {
	color: #35A4D6;
	font: 14px "Lucida Grande";
	text-decoration: none;
}

.box .link-list a:hover {
	color: #000;
}

.box .info-list li {
	color: #999;
	font: 12px/20px "Lucida Grande";
	margin-bottom: 10px;
}

.box .info-list li strong {
	color: #000;
	display: block;
}

.box .info-list li a {
	color: #1580cb;
	font: 11px "Arial";
	text-transform: uppercase;
}

.box .hor-divider {
	border-bottom: 1px solid #ccc;
	left: -20px;
	margin: 20px 0;
	position: relative;
	width: 220px;
}

/* Partner List */

.box .partner-list {
	margin-top: 40px;
}

.box .partner-list li {
	height: 175px;
	margin-bottom: 50px;
}

.box .partner-list li h2 {
	color: #000;
	font: 16px "Copse";
	margin-bottom: 6px;
}

.box .partner-list li blockquote {
	color: #000;
	font: italic 14px "Lucida Grande";
}

.box .partner-list li em {
	color: #666;
	display: block;
	font: 9px/11px "Arial";
	margin-bottom: 10px;
	margin-top: 4px;
	text-transform: uppercase;
}

.box .partner-list li p {
	color: #666;
	font: 12px/18px "Lucida Grande";
	margin-bottom: 8px;
}

.box .partner-list li a {
	color: #1580cb;
	font: 11px/11px "Arial";
}

.box .partner-list li .partner-info {
	float: left;
	height: 155px;
	width: 430px;
}

.box .partner-list li .partner-image, .box .partner-list li .portrait-image {
	background: #fff;
	border: 1px solid #ccc;
	float: left;
	height: 180px;
	margin-right: 20px;
	position: relative;
	width: 190px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 5px 5px 5px 5px;
}

.box .partner-list li .partner-image:before, .box .partner-list li .portrait-image:before {
	bottom: 3px;
	box-shadow: inset 0 0 5px #000;
	content: "";
	left: 3px;
	opacity: 0.5;
	position: absolute;
	right: 3px;
	top: 3px;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
    border-radius: 5px;
}

.box .partner-list li .partner-image:after, .box .partner-list li .portrait-image:after {
	bottom: 0;
	box-shadow: 0 0 5px #000;
	content: "";
	left: 0;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}

.box .partner-list li .partner-image img, .box .partner-list li .portrait-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.box .partner-list li .portrait-image {
	height: 142px;
	width: 122px;
}

/* Big Price Plan */

.body-container .big-price-plan {
	padding-left: 4px;
	padding-top: 20px;
	width: 860px;
}

.body-container .big-price-plan h1 {
	color: #666;
	font: normal 24px "Copse";
        padding-bottom: 15px;
}

.body-container .big-price-plan p.stronger {
	color: #000;
	font: normal 18px "Copse";
}

.body-container .big-price-plan h2 {
	color: #000;
	font: normal 18px "Copse";
}

.body-container .big-price-plan p {
	color: #666;
	font: normal 12px "Lucida Grande";
}

.body-container .big-pp-container {
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 30px;
	position: relative;
	width: 938px;
	z-index: 2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.body-container .big-pp-container table {
	width: 938px;
	z-index: 1;
}

.body-container .big-pp-container th {
        background: url(../img/bg-pp-header.png);
	border-bottom: 1px solid #ccc;
	height: 84px;
}

.body-container .big-pp-container th h2 {
	color: #fff;
	font: 22px "Copse";
        text-align: left;
        padding-left: 50px;
}

.body-container .big-pp-container th h3 {
	color: #fff;
	font: 18px "Copse";
}

.body-container .big-pp-container th p {
	color: #999;
	font: 12px "Georgia";
        font-weight: bold;
}

.body-container .big-pp-container th em {
	color: #999;
	font: italic 11px "Georgia";
}

.body-container .big-pp-container td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.body-container .big-pp-container td em {
	font-style: italic;
}

.body-container .big-pp-container td:last-child, .body-container .big-pp-container th:last-child {
	border-right: 0;
}

.body-container .big-pp-container tr:last-child td {
	border-bottom: 0;
}

.body-container .big-pp-container tr {
	height: 26px;
}

.body-container .big-pp-container tr.spacer {
	height: 5px;
}

.body-container .big-pp-container td {
	color: #999;
	font: 12px "Lucida Grande";
	text-align: center;
	vertical-align: middle;
}

.body-container .big-pp-container td:first-child {
	padding-right: 9px;
	text-align: left;
	width: 235px;
        padding-left: 50px;
}

.body-container .big-pp-container td a {
	color: #999;
	text-decoration: none;
}

.body-container .big-pp-container td a:hover {
	color: #000;
}

.body-container .big-pp-container tr.odd-row td {
	background: #F7F7F7;
}

.body-container .big-pp-container tr.btn-row td {
	height: 50px;
}

.body-container .big-pp-container tr.btn-row td a {
	margin: 0 auto;
}

.body-container .big-pp-container tr.big-row {
	height: 70px;
}

.body-container .big-pp-container tr.big-row td {
	font: italic 14px "Georgia";
}

.body-container .big-pp-container tr.big-row td a {
	border-bottom: 1px solid #35A4D6;
	color: #35A4D6;
	font: 12px "Lucida Grande";
	text-transform: uppercase;
}

.body-container .big-pp-container tr.big-row td a:hover {
	border-color: #000;
	color: #000;
}

.body-container .big-pp-container .highlight-container {
	left: 599px;
	width: 181px;
}

.body-container .big-pp-container .highlight-rows {
        padding: 0 4px;
	width: 173px;
}

.body-container .big-pp-container .highlight-container li {
	color: #666;
	height: 25px;
}

.body-container .big-pp-container .highlight-container li a {
	margin: 0 auto;
}

.body-container .big-pp-container .highlight-container li.top {
	height: 80px;
	padding-top: 17px;
}

.body-container .big-pp-container .highlight-container li.top h3 {
	color: #666;
	font: 20px "Copse";
        padding-top: 10px;
}

.body-container .big-pp-container .highlight-container li.top em {
    font-size: 12px;
}

.body-container .big-pp-container .highlight-container li.top p {
	color: #35A4D6;
	font: 14px "Georgia";
	margin-bottom: 8px;
	margin-top: 0;
        font-weight: bold;
}

.body-container .big-pp-container .highlight-container li.bottom {
	height: 22px;
}

.body-container .big-pp-container a.new-btn-small, .body-container .big-pp-container .highlight-container a.new-btn-small {
	color: #fff;
}

.body-container .big-pp-container a.new-btn-small:hover, .body-container .big-pp-container .highlight-container a.new-btn-small:hover {
	color: #fff;
}

.body-container .big-pp-container tr.btn-row td a {
	margin: 0 auto;
}

/* About List */

.box .about-container {
	line-height: 7px;
	padding: 20px 60px;
}

.box .about-container li {
	font: 11px/16px "Lucida Grande";
	height: 155px;
	margin-bottom: 40px;
}

.box .about-container li h5 {
	color: #000;
	font: 18px "Copse";
	margin-bottom: 6px;
}

.box .about-container li em {
	color: #666;
	font: 11px/11px "Arial";
	margin-bottom: 10px;
	text-transform: uppercase;
}

.box .about-container li p {
	color: #666;
	font: 12px/16px "Lucida Grande";
	margin-bottom: 8px;
}

.box .about-container li a {
	color: #1580cb;
	font: 11px/11px "Arial";
}

.box .about-container li .portrait-image {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	float: left;
	height: 170px;
	margin-right: 20px;
	position: relative;
	width: 127px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.group-portrait-image {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	float: left;
	height: 433px;
	margin-right: 20px;
	position: relative;
	width: 640px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.group-portrait-image::after {
bottom: 0px;
box-shadow: 0 0 5px black;
content: "";
left: 0px;
opacity: 0.5;
position: absolute;
right: 0px;
top: 0px;
-moz-box-shadow: 0 0 5px black;
-webkit-box-shadow: 0 0 5px black;
}

.group-portrait-image a {
     display: block;
     position: relative;
     left: 10px;
     top: 10px;
     height: 413px;
     width: 620px;
     margin-right: 0px;
     z-index:9999;
}

.box .about-container li .portrait-image a {
     display: block;
     position: relative;
     left: 10px;
     top: 10px;
     height: 150px;
     width: 107px;
     margin-right: 0px;
     z-index:9999;
}

.group-portrait-image a.group {
      background: url(../img/team/group-1.jpg) center no-repeat;
}

.group-portrait-image a.group:hover {
      background: url(../img/team/group-2.jpg) center no-repeat;
}

.portrait-image a.lukas {
      background: url(../img/team/lukas-1.jpg) center no-repeat;
}

.portrait-image a.lukas:hover {
      background: url(../img/team/lukas-2.jpg) center no-repeat;
}

.portrait-image a.gracjan {
      background: url(../img/team/gracjan-1.jpg) center no-repeat;
}

.portrait-image a.gracjan:hover {
      background: url(../img/team/gracjan-2.jpg) center no-repeat;
}

.portrait-image a.viktor {
      background: url(../img/team/viktor-1.jpg) center no-repeat;
}

.portrait-image a.viktor:hover {
      background: url(../img/team/viktor-2.jpg) center no-repeat;
}

.portrait-image a.mariusz {
      background: url(../img/team/mariusz-1.jpg) center no-repeat;
}

.portrait-image a.mariusz:hover {
      background: url(../img/team/mariusz-2.jpg) center no-repeat;
}

.portrait-image a.eric {
      background: url(../img/team/eric-1.jpg) center no-repeat;
}

.portrait-image a.eric:hover {
      background: url(../img/team/eric-2.jpg) center no-repeat;
}

.portrait-image a.emily {
      background: url(../img/team/emily-1.jpg) center no-repeat;
}

.portrait-image a.emily:hover {
      background: url(../img/team/emily-2.jpg) center no-repeat;
}

.portrait-image a.tim {
      background: url(../img/team/tim-1.jpg) center no-repeat;
}

.portrait-image a.tim:hover {
      background: url(../img/team/tim-2.jpg) center no-repeat;
}


.portrait-image a.daniel {
      background: url(../img/team/daniel-1.jpg) center no-repeat;
}

.portrait-image a.daniel:hover {
      background: url(../img/team/daniel-2.jpg) center no-repeat;
}

.portrait-image a.marcus {
      background: url(../img/team/marcus-1.png) center no-repeat;
}

.portrait-image a.marcus:hover {
      background: url(../img/team/marcus-2.png) center no-repeat;
}

.portrait-image a.dudek {
      background: url(../img/team/dudek-1.png) center no-repeat;
}

.portrait-image a.dudek:hover {
      background: url(../img/team/dudek-2.png) center no-repeat;
}

.portrait-image a.magnus {
      background: url(../img/team/magnus-1.png) center no-repeat;
}

.portrait-image a.magnus:hover {
      background: url(../img/team/magnus-2.png) center no-repeat;
}

.portrait-image a.andrzej {
      background: url(../img/team/andrzej-1.jpg) center no-repeat;
}

.portrait-image a.andrzej:hover {
      background: url(../img/team/andrzej-2.jpg) center no-repeat;
}


.box .about-container li .portrait-image:before {
	bottom: 3px;
	box-shadow: inset 0 0 5px #000;
	content: "";
	left: 3px;
	opacity: 0.5;
	position: absolute;
	right: 3px;
	top: 3px;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
}

.box .about-container li .portrait-image:after {
	bottom: 0px;
	box-shadow: 0 0 5px #000;
	content: "";
	left: 0px;
	opacity: 0.5;
	position: absolute;
	right: 0px;
	top: 0px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
}

.box .about-container li .portrait-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

/* Contact Inform */

.body-container .contact-inform h2 {
	color: #666;
	font: 18px "Copse";
}

.body-container .contact-inform h3 {
	color: #999;
	font: 18px "Copse";
}

.contact-inform .icon {
	background: url(../img/icon-globe.png);
	float: left;
	height: 40px;
	margin-right: 20px;
	width: 38px;
}

.text-spacer {
	height: 20px;
}

.nicetext {
	color: #666;
	font: 11px "Lucida Grande";
	padding-left: 20px;
	padding-right: 40px;
}

.nicetext em {
	text-decoration: underline;
}

.nicetext h1 {
	color: #000;
	font: 14px "Copse";
    text-transform: uppercase;
}

.nicetext h2 {
	color: #000;
	font: 13px "Copse";
}

.nicetext h3 {
	color: #000;
	font: 12px "Copse";
}

.nicetext h4 {
	color: #000;
	display: inline;
	text-decoration: underline;
	font: 11px "Copse";
}

.nicetext h5 {
	color: #000;
	display: inline;
	text-decoration: underline;
}

.nicetext ol.numbers {
	list-style-type: decimal;
	padding-left: 20px;
}

.nicetext ol.letters {
	list-style-type: lower-latin;
	padding-left: 20px;
}

.nicetext ul.discs {
	list-style-type: disc;
	padding-left: 20px;
}

.nicetext table {
	background: #000;
	border-collapse: separate;
	border-spacing: 1px;
	width: 500px;
}

.nicetext table td {
	background: #f2f2f2;
	color: #464646;
	padding: 3px;
	text-align: center;
}

.nicetext table th {
	background: #f2f2f2;
	color: #000;
	padding: 3px;
	text-align: left;
}

.nicetext table tr.odd td {
	background: #e2e2e2;
}

.nicetext table td:last-child {
	text-align: left;
}

/* Tweet Override */

.tweet_text {
	color: #666;
	font: 12px "Lucida Grande";
}

.tweet_text a {
	text-decoration: none;
}

.tweet_text a:hover {
	color: #000;
}

.tweet_time {
	color: #666;
	display: block;
	font: 10px "Lucida Grande";
	text-transform: uppercase;
}

.hidden {
   height:0px;
   width:0px;
   opacity:0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
}

input.grayed, textarea.grayed
{
    color: #999999;
    font-style: italic;
}

.bottom {
    margin-top: 5px;
}


.box .about-container li .portrait-image img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.logos {
    text-align: center;
}

/* Benefits and products box */

.benefitstitle , .productdescriptiontitle {
    font-family: Copse;
    font-weight: normal;
    text-align: left;
}
.benefitsbox {

    float: left;
    margin-right: 10px;
    position: relative;
    width: 470px;
    z-index: 1;
}
.productdescriptionbox {
    float: right;
    position: relative;
    width: 480px;
    z-index: 1;
}

.productdescriptionbox .separator{
    background: #DADADA;
    float:left;
    width:1px;
    height: 340px;
    margin-right: 14px;
}


.productdescriptionbox .smallbox,
.benefitsbox .smallbox {
    width: 230px;
    height: 180px;
}

.smallbox h2 {
    color: #000000;
    font: 14px/21px "Copse";
}
.smallbox a {
    text-decoration: none;
}
.smallbox p {
    color: #666666;
    font: 11px/18px "Lucida Grande";
}
.smallbox:hover h2 {
    color: #137DAD;
}
.smallbox:hover p {
    color: #35A4D6;
}
.smallbox .text-container {
    float: right;
    width: 150px;
    margin-right: 5px;
}
.smallbox .icon-container {
    float: left;
    width: 60px;
    margin-right: 15px;
    margin-left: 10px
    position: relative;
}



a {
    color: #35A4D6;
}

#top-container .intro-container form.requestAccount a {
    margin-left: 5px;
    display: inline-block;
}

#legalmodal div img
{
    margin-right: 15px;
}

#legalmodal p.introtext
{
    padding-top: 50px;
    font-size: 1.2em;
    /*line-height: 1.4em;*/
}

#legalmodal .modal-body p
{
    line-height: 1.4em;
    /*height: 750px;*/
    /*overflow: scroll;*/
}

.createaccountbox {
    height: 250px;
}

.contactus strong{
    color: #000000;
    font: 14px "Copse";
}

.page-change{
    padding: 3px;
    font-size: 11px;
    color: #007CAC;
    cursor: pointer;
}
.page-change.current{
    color: #333333;
    font-weight : bold;
    cursor: default;

}
.gotodave {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../theme/images/iconPen.png);

}
.create-user {
    border-color: #808080;
    border-radius: 5px 5px 0px 0px;
    border-style: solid;
    border-width: 1px;
    font: 10px "Lucida Grande";
    padding: 20px;
}