
.mailapiemailslist {
    margin-bottom: 5px;
}

.mailapiemailslist li {
    margin: 5px 0 0 5px;
}

.account-body .mailapitable td:first-child {
   width: 300px !important;
}

.account-body .mailapitable input {
    width: 50px !important;
}

.account-body table td {
   padding: 4px;
}

.account-body table td:first-child {
   width: 140px;
}

.account-body table td{
   padding: 4px;
}

.account {
   padding: 40px 50px 20px;
}

.account .col {
   float: left;
   margin: 0 20px;
   width: 418px;
   padding: 15px 0;
}
.account .col.float-right {
   float: right;
}

.account-header {
   background: url(../img/bg-body-dark.png);
   border-radius:  5px 5px 0px 0px;
       -moz-border-radius: 5px 5px 0px 0px;
       -webkit-border-radius: 5px 5px 0px 0px;
   min-height: 48px;
   padding: 33px 18px 32px;
   position: relative;
}

.account-header h2 {
   color: #fff;
   font-size: 14px/24px;
}

.account-header a {
   color: #2777ca;
   font-size: 10px/24px;
   text-decoration: none;
   text-transform: uppercase;
}

.account-header .image {
   background: #fff;
   border-radius: 3px;
       -moz-border-radius: 3px;
       -webkit-border-radius: 3px;
   display: block;
   height: 68px;
   padding: 3px;
   position: absolute;
   right: 15px;
   top: 20px;
   width: 58px;
   z-index: 1;
}

.account-header .image:before {
   bottom: 3px;
   box-shadow: inset 0 0 5px #000;
       -moz-box-shadow: inset 0 0 5px #000;
       -webkit-box-shadow: inset 0 0 5px #000;
   content: "";
   left: 3px;
   position: absolute;
   right: 3px;
   top: 3px;
   z-index: -1;
}

.account-body {
   background: #f7f7f7;
   border: 1px solid #dedede;
   border-radius: 0px 0px 5px 5px;
       -moz-border-radius: 0px 0px 5px 5px;
       -webkit-border-radius: 0px 0px 5px 5px;
   margin-top: 0px;
   padding: 10px 15px;
   min-height: 170px;
}


.account-body h2,
{
   color: #000;
   font: 14px/24px "Helvetica Neue";
}

.account-footer {
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.account-body .col .account-footer {
    margin-right: 5px;
}

.account-body .account-footer a {
   display: inline-block;
   margin: 0 auto;
}

.tooltip-container {
	color: #666;
	position: absolute;
	width: 250px;
	z-index: 101;
}

.tooltip-container .tooltip-body {
	background: #fff;
	margin: 5px;
	padding: 13px 20px 13px;
	width: 200px;
}

.tooltip-container .tooltip-body p {
	display: inline;
}

.tooltip-container:before {
	border: 5px solid #000;
	border-radius: 5px;
	bottom: 0;
	content: " ";
	left: 0;
	opacity: 0.55;
	position: absolute;
	right: 0;
	top: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tooltip-container .tooltip-arrow {
	background: url(../img/tooltip-arrow.png);
	height: 33px;
	left: -17px;
	position: absolute;
	top: 12px;
	width: 17px;
	z-index: 102;
}

a.submit{
    cursor:pointer
}

.account input[type="text"],
.account input[type="password"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    font: 16px/1 @sans;
    height: 20px;
    padding: 5px;
    width: 200px;

}
.account input[type="checkbox"]{
    margin-right : 6px;
    margin-top : -3px;
}

.account input:focus {
      border-color: #7A94B8;
      outline: medium none;
}


.designview .subcontainer {
  background-color: #e1e1e1;
  box-shadow: inset 1px 1px 5px #505050;
  -moz-box-shadow: inset 1px 1px 5px #505050;
  -webkit-box-shadow: inset 1px 1px 5px #505050;
  background-image: url(../img/horizontal-shading-bar.png);
  background-repeat: no-repeat;
  padding-bottom:23px;
  padding-top:10px;
}