
.mailapiemailslist {
    margin-bottom: 5px;
}

.mailapiemailslist li {
    margin: 5px 0 0 5px;
}

.account-body .mailapitable td:first-child {
   width: 300px !important;
}

.account-body .mailapitable input {
    width: 50px !important;
}

.account-body table td {
   padding: 4px;
}

.account-body table td:first-child {
   width: 120px;
}

.account-body table td{
   padding: 4px;
}

.tab-viewer .account {
   padding: 40px 50px 20px;
}

.account > .col,
.account > .blue-box,
.companybranding > .col,
.noprovider > .col {
   margin: 0 20px 20px;
   border: 4px solid #DEE4ED;
   transition: all 0.5s ease-in-out 0s;  
}
.account > .col,
.companybranding > .col,
.noprovider > .col {
     float: left;
     width: 410px;
}

.account > .col:hover,
.account > .blue-box:hover,
.companybranding > .col:hover,
.noprovider > .col:hover{
    border-color: #364963;
}

.account > .col.float-right {
   float: right;
}

.account-header {
   min-height: 32px;
   margin: 20px 18px 5px 18px;
   padding-bottom: 15px;
   position: relative;
   color: #333333;
   display: block;
   text-align: left;
   border-bottom: 1px solid #DEE4ED;
   font-family: Source Sans Pro,Helvetica Neue,sans-serif;
   font-size: 1.5em;
   line-height: 25px;
}



.account-body {
   margin-top: 0px;
   padding: 10px 15px;
   min-height: 170px;
}


.account-footer {
    float:right;
    margin-right:20px;
    margin-top:10px;
}

.account-body .col .account-footer {
    margin-right: 5px;
}

.account-body .account-footer a {
   display: inline-block;
   margin: 0 auto;
}

.tooltip-container {
	color: #666;
	position: absolute;
	width: 250px;
	z-index: 101;
}

.tooltip-container .tooltip-body {
	background: #fff;
	margin: 5px;
	padding: 13px 20px 13px;
	width: 200px;
}

.tooltip-container .tooltip-body p {
	display: inline;
}

.tooltip-container:before {
	border: 5px solid #000;
	border-radius: 5px;
	bottom: 0;
	content: " ";
	left: 0;
	opacity: 0.55;
	position: absolute;
	right: 0;
	top: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.tooltip-container .tooltip-arrow {
	background: url(../img/tooltip-arrow.png);
	height: 33px;
	left: -17px;
	position: absolute;
	top: 12px;
	width: 17px;
	z-index: 102;
}

a.submit{
    cursor:pointer
}

.account .new-mail-button {
    width: 40px;
}
.account input[type="text"],
.account input[type="password"] {
    width: 220px;

}
.account input[type="checkbox"]{
    margin-right : 6px;
    margin-top : -3px;
}

.designview .subcontainer {
  background-color: #F0F0F0;
  box-shadow: inset 1px 1px 5px #505050;
  -moz-box-shadow: inset 1px 1px 5px #505050;
  -webkit-box-shadow: inset 1px 1px 5px #505050;
  background-image: url(../img/horizontal-shading-bar.png);
  background-repeat: no-repeat;
  padding-bottom:23px;
  padding-top:10px;
}