.payments-dashboard {
    color: #666;
}

.payments-dashboard .payments {
    margin: auto;
    height: 780px;
}

.payments-dashboard .header {
    font-size: 18px;
    margin-bottom: 12px;
}


.payments-dashboard .table {
    padding: 12px;
}

.payments-dashboard .plan-total {
    border-top: 1px dashed #CCC;
    width: 100%;
    margin-top:16px;
    padding-top: 12px;
    font-weight: bold;
}


.payments-dashboard .subheader {
    /* cascading this from somewhere else; have to reset it */
    color: #666;
    font-weight: normal;
}

.payments-dashboard .line .total {
    float: right;
}

.payments-dashboard .next-payment {
    border-bottom: 2px dashed #666;
    padding-bottom: 12px;
    margin-top: 16px;
}

.payments-dashboard .previous-payments {
    margin-top: 12px;
}

.payments-dashboard .btn-small {
    float:right;
}

.payments-dashboard .changesubscription select {
    font-size: 14px;
}

.payments-dashboard .changesubscription .totaltable {
    margin-top: 16px;
}

.payments-dashboard .payments .payments .header {
    margin-top:80px;
}


.payments-dashboard .plan .header {
    margin-top:0px;
}

.payments-dashboard .changesubscription .header {
    margin-top:0px;
}

.payments-dashboard .cancel {
    margin-top: 12px;
    margin-right: 0px;
}

.payments-dashboard .savechanges {
    margin-top: 12px;
}

.payments-dashboard .plan-pending {
    margin-top: 8px;
}

.payments-dashboard .invoice-date {
    width: 120px;
    display: inline-block;
}

.payments-dashboard .recurly .due_now {
    display: none;
}

.payments-dashboard .recurly .subscription {
    display: none;
}

.payments-dashboard .plan-price {
    margin-top: 16px;
}

.payments-dashboard .select-plan {
    font-weight: bold;
}

.payments-dashboard .recurly.update_billing_info .billing_info {
    
}

.payments-dashboard .recurly.update_billing_info {
    width: 458px;
}

.payments-dashboard .col1 .col {
    width: 320px;
}

.payments-dashboard .col2 .col {
    width: 460px;
}

.payments-dashboard .plan, .payments-dashboard .payments {
//    float:left;
}

.payments-dashboard .changesubscription, .payments-dashboard .changebilling {
//    float:right;
}

.payments-dashboard .noprovider {
    width: 480px;
}

.payments-dashboard .changebilling .header {
    margin-top: 32px;
}

.payments-dashboard .recurly .accepted_cards {
    right: 28px;
}

.payments-dashboard .col1 {
    width: 320px;
    float: left;
}

.payments-dashboard .col2 {
    width: 480px;
    float: right;
}

.payments-dashboard .recurly .contact_info {
    background: transparent;
}

.payments-dashboard .recurly div.title {
    color: #666;
    font-weight: normal;
}

.payments-dashboard .subscribing .recurly div.title {
    margin-left: -20px;
}

.payments-dashboard .payments.subscribing {
    width:460px;
    margin: auto;
}


.payments-dashboard .recurly .field .placeholder {
    font-size: 10px;
}

.recurly .field.card_number input[type="text"] {
    width: 180px;
}

.recurly .field.cvv input[type="text"] {
    width: 40px;
}

.payments-dashboad .recurly .footer {
    padding-right: 0px;
}

.payments-dashboard .payments.subscribing {
    height: 720px;
}

.payments-dashboard .btn-big {
    display:inline-block;
    margin:auto;
}

.payments-dashboard .subscribing .table {
    border: 0px;
}

.payments-dashboard .subscribed .billing_info .title {
    font-size: 0px;
    padding: 0;
    height: 16px;
}

.payments-dashboard span.subscription-chooser {
    padding-top: 16px;
    display: block;
}

.payments-dashboard .plan-name {
    padding-top: 16px;
    line-height: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 14px;
}

.payments-dashboard .current-subscription {
    height: 350px;
}

.payments-dashboard .change-subscription {
    height: 350px;
}

.payments-dashboard .subscribed .recurly .footer {
    height: 0px;
    padding: 0px;
    width: 443px;
    position: relative;
}

.payments-dashboard .recurly input[type=text] {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 3px auto 3px 0;
    font: 10px "Lucida Grande";
    height: 17px;
    padding: 1px;
    box-shadow: none;
}

.payments-dashboard .recurly .field.expires .title {
    font: 10px "Lucida Grande";
    line-height: 25px;
}

.payments-dashboard .recurly .field.expires {
    padding-bottom: 6px;
}

.payments-dashboard .recurly .credit_card .field {
    margin-bottom: 0;
    margin-left: 0;
}

.payments-dashboard .recurly .contact_info, .payments-dashboard .recurly .billing_info, .payments-dashboard .recurly .accept_tos {
    padding: 0;
    
}

.payments-dashboard .recurly .field .placeholder {
    line-height: 30px;
    padding-left: 4px;
}

.payments-dashboard .recurly .server_errors.any {
    margin: 16px 28px 0 0;
}

.payments-dashboard .recurly .field .error {
    font-size: 10px;
    margin-left: 0px;
    line-height: 13px;
}

.payments-dashboard .changebilling-form {
    min-height: 124px;
}

.payments-dashboard .recurly .field.card_number .error {
    left: 280px;
}

.payments-dashboard .changebilling-form .btn-small {
    position: relative;
    bottom: -14px;
    right: 0px;
}

.payments-dashboard .accepted_cards {
    display: none;
}

.payments-dashboard .subheader {
    font-weight: bold;
    margin-bottom: 6px;
}

.payments-dashboard .subscription-payments .account-body {
    min-height: 124px;
    
}