
.attachment-view-topbar
{
    color: #ffffff;
    min-height: 20px;
    background-image: url(../img/bg-header.jpg);
    padding: 4px 3px 3px 20px;
    position: relative;
}

.attachment-view-topbar .title
{
    font-size: 10px;
    margin-right: 2px;
}

.attachment-view-topbar .download,
{
    font-size: 10px;
    font-weight: bold;
    margin-right: 2px;
    display: inline-block;
    float: right;
    margin: 4px 10px 0 18px;
}

.attachment-view-topbar .download a{
    color: #999999;
    float: right;
}

.attachment-view-topbar .download .docname {
  display: none;
}

.attachment-view-topbar .download a:hover{
  color: #FFFFFF;
}

.attachment-view-topbar .docname input.docname-edit {
  background: transparent;
  border: 0px solid transparent;
  padding: 0px;
  color : #FFFFFF;
}

.docname
{
    font-size: 14.5px;
    margin-right: 2px;
    width: 450px;
}


.docname .icon.ok {
    margin-top: 4px;
}


.docname .docname-display text {
    display: inline-block;
}

.docname .docname-edit input{
    -moz-border-radius:0px;
    background:transparent;
    border:0 none;
    margin:0;
    outline:0 none;
    padding:0;
    font-size:14.5px;
    width: 450px;
    margin-top:-3px;
}

.visible-docname {
    font-size:14.5px;
    max-width: 450px;
    overflow : hidden;
    white-space:nowrap;
}

/* For the draggable fields in signatory details */
.dragfield {
  position: relative;
  overflow: hidden;
}

/* a class for the little hand in an input field */
.draghandle {
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.redborder
{
    border:1px solid red;
}

.redborder input {
    border-color: red;
}

.nordea {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.telia {
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}

.bankid {
    padding-top: 3px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.mbi {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}

.box.verificationBox{
    text-align : center;
    padding: 120px 0px;
}
.verificationContainer{
    margin: 0 auto;
    padding: 20px 50px;
    display: inline-block;
}

.model.verificationModal,
.model.verificationModal .modal-container{
  width: 300px;
  min-height: 120px;
}

.model.verificationModal.failed,
.model.verificationModal.failed .modal-container{
  width: 280px;
  min-height: 120px;
}

.model.verificationModal .modal-close{
  z-index : 1070;
  float:right;
  margin: 5px;
  position: relative;
}

.verificationSuccessIcon {
    background: url(../img/icons.png) 0 0 no-repeat;
    background-position: 0 -339px;
    height: 61px;
    margin: 0 auto;
    width: 64px;
    margin:15px;

}

.verificationFailedIcon, .verificationErrorIcon {
    background-image: url(/img/spr-flash-icons.png);
    background-repeat: no-repeat;
    height:30px;
    width:30px;
    display: block;
    background-position: 0px 0px;
    margin:15px;

}