.waiting4data
{
    margin-left:40%;
    margin-right:40%;
    height: 100px;
    background-image: url(/img/wait30trans.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.loadingMail
{
    margin-left:40%;
    margin-right:40%;
    height: 400px;
    background-image: url(/img/wait30trans.gif);
    background-repeat: no-repeat;
    background-position: center center;
}



.author, .signatory
{
    margin-bottom:10px;
}


input[type=submit].hidden
{
    display: inherit;
    visibility: hidden;
    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
}

/**/
.tab-viewer-header-title
{
    color: #ffffff;
    min-height: 20px;
    background-image: url(../img/bg-header.jpg);
    padding: 4px 3px 3px 20px;
    position: relative;
}

.tab-viewer-header-title .title
{
    font-size: 10px;
    margin-right: 2px;
}

.tab-viewer-header-title .download,
.tab-viewer-header-title .remove
{
    font-size: 10px;
    font-weight: bold;
    margin-right: 2px;
    display: inline-block;
    float: right;
    margin: 4px 10px 0 18px;


}

.tab-viewer-header-title .remove a,
.tab-viewer-header-title .download a{
    color: #999999;
    text-transform: uppercase;
}

.tab-viewer-header-title .download .docname {
  display: none;
}

.tab-viewer-header-title .remove a:hover,
.tab-viewer-header-title .download a:hover{
  color: #FFFFFF;
}

.docname
{
    font-size: 14.5px;
    margin-right: 2px;
    width: 450px;
}

.docname .icon {
    width: 14px;
    height: 14px;
    display: inline-block;
}

.docname .icon.ok {
    margin-top: 4px;
}

.docname .icon.edit {
    background-image: url(/img/iconPen.png);
}

.docname .docname-display text {
    display: inline-block;
}

.docname .docname-edit input{
    -moz-border-radius:0px;
    background:transparent;
    border:0 none;
    margin:0;
    outline:0 none;
    padding:0;
    font-size:14.5px;
    width: 450px;
    margin-top:-3px;
}

.visible-docname {
    font-size:14.5px;
    max-width: 450px;
    overflow : hidden;
    white-space:nowrap;
}

.tab-viewer-header-title .docname input.docname-edit {
  color : #FFFFFF;
}

.tab-viewer-header-title .changeName a
{
    font-size: 10px;
}


.tab-viewer-header-title .saveButton,
.tab-viewer-header-title .downloadButton
{
    float:right;
    margin-right: 10px;
    margin-top: 2px;
}

.designview .signStepsBody
{
    background-image: url(/img/signStepsBodyBorderLong.png);
    background-repeat: repeat-y;
    overflow: hidden;
    min-height: 100px;
    padding: 0px 19px;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #C0C0C0;
    min-width: 980px;
}


/* HOW TO MAKE FILE INPUT LOOKING LIKE A BUTTON !!!! */
.button input.multiFileInput
{
    position:relative;
    z-index:10;
    cursor:pointer;
    float:right;
    top:-50px;
    left:10;
    right:-30px;
    font-size:90px;
    cursor:pointer;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    /* only IE will use this, it's necessary because it ignores the maxlength att <IE7 */
    #width:0px;
    min-height: 66px;
}

/* 015 new */
.border {
   background-color: #ecedf3;
   width: 1px;
   height: 192px;
   display:inline-block;
   float:left;
}

/* For the draggable fields in signatory details */
.dragfield {
  position: relative;
  overflow: hidden;
}

/* a class for the little hand in an input field */
.draghandle {
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.redborder
{
    border:1px solid red;
}

.redborder input {
    border-color: red;
}


.signatoriesBox {
float: right;
width: 690px;
}


.nordea {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.telia {
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}

.bankid {
    padding-top: 3px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.mbi {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}


.usagestats .tab-content {
    display: none;
}

.usagestats .jsdaytable .tab-container, .usagestats .jsmonthtable .tab-container, .usagestats .tab-table {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.usagestats .tab-table {
    border-top: 0;
}

.usagestats .option-top-box {
    display: none;
}

.usagestats .jsdaytable, .usagestats .jsmonthtable {
    margin-top: 20px;
    margin-bottom: 40px;
}

.usagestats h2 {
    text-align: center;
    font-family: Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 1.5em;
    line-height: 25px;
    color: #333333;
}

.usagestats td.num {

    font-weight: bold;
    font-family: "Courier New", Courier, monospace;

}

.inlineEditing .acceptIcon {
    height:14px;
    width:14px;
    display: block;
    float:right;
    background: url("../img/spr-icons.png") no-repeat scroll 0 0 transparent;
    background-position: -171px 0px;
    margin-top: 3px;
    width: 14px;
    float:right;
}
.inlineEditing {
    border: 1px solid #DDDDDD;
    height: 21px;
    padding: 5px 10px 5px 10px;
    border-radius: 2px 2px 2px 2px;
    margin-top: -6px;
    margin-left: -11px;
    background : #FFF;
}
.inlineEditing input{
    font-family: Helvetica;
    font-size: 15.8487px;
    border: 0px solid #DDDDDD;
    float: left;
    padding: 0px;
    margin: 0px;
}
.inlineEditing input:focus{
    outline:0px;
}

.modal-container.email-preview {
  width:800px;
}

.box.verificationBox{
    text-align : center;
    padding: 120px 0px;
}
.verificationContainer{
    margin: 0 auto;
    padding: 20px 50px;
    display: inline-block;
}

.model.verificationModal,
.model.verificationModal .modal-container{
  width: 300px;
  min-height: 120px;
}

.model.verificationModal.failed,
.model.verificationModal.failed .modal-container{
  width: 280px;
  min-height: 120px;
}

.model.verificationModal .modal-close{
  z-index : 1070;
  float:right;
  margin: 5px;
  position: relative;
}

.verificationSuccessIcon {
    background: url(../img/icons.png) 0 0 no-repeat;
    background-position: 0 -339px;
    height: 61px;
    margin: 0 auto;
    width: 64px;
    margin:15px;
    
}

.verificationFailedIcon, .verificationErrorIcon {
    background-image: url(/img/spr-flash-icons.png);
    background-repeat: no-repeat;
    height:30px;
    width:30px;
    display: block;
    background-position: 0px 0px;
    margin:15px;

}