
.background_with_ie_support(@bcolor) {
        @filter :  %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)",argb(@bcolor),argb(@bcolor));
        background:transparent; /* Fallback IE */
        filter: e(@filter);

        background-color: @bcolor;
}

/* Signview in general */
.signview {
  background-color : @backgroundcolor;

  .section.highlight {
    border-color :@primarycolor;
  }
}
/* Header */
.signview .pageheader {
  background-color: @barscolor;
  color: @barstextcolor;
  font-family : @font;

  .content .sender {
    color: @barstextcolor;
    font-family : @font;

    .inner.clickable {
      color: @barstextcolor;
      font-family : @font;

      &:hover {
        color: @text-very-light;
      }
    }
  }
}
/* Instructions */
.signview .instructions.section {

  .headline,.subheadline , .download.clickable {
    color : @textcolor;
    font-family: @font;
  }

  .arrowtext {
    color : @primarycolor;

    &:hover {
      color: lighten(@primarycolor,10%);
    }
  }

  .arrow-legend {

    .mandatory {
      @url : %('/branded_signview_image?file=icon-legend-mandatory.png&colour=%D',@primarycolor);
      background : url(@url) ;
    }

    .optional {
      @url : %('/branded_signview_image?file=icon-legend-mandatory.png&colour=%D',@secondarycolor);
      background : url(@url) ;
    }
  }
}
/* Signatories section */
.signview .signatories.section {
  color : @textcolor;
  font-family: @font;

  h2, .name, .statustext, .titleinfo, .field, .statusbox {
    color : @textcolor;
    font-family: @font;
  }
}
/* Arrows */
.signview .arrows {

  .action-arrow.left {

    .front {
      @url : %('/branded_signview_image?file=sign-arrow-action-left-front.png&colour=%D',@primarycolor);
      background : url(@url);
    }

    .back {
      @url : %('/branded_signview_image?file=sign-arrow-action-left-back.png&colour=%D',@primarycolor);
      background : url(@url);
    }

    .label {
      @url : %('/branded_signview_image?file=sign-arrow-action-label.png&colour=%D',@primarycolor);
      background : url(@url);
      color : @primarytextcolor;
      font-family: @font;
    }
  }

  .action-arrow.right {

    .front {
      @url : %('/branded_signview_image?file=sign-arrow-action-right-front.png&colour=%D',@primarycolor);
      background : url(@url);
    }

    .back {
      @url : %('/branded_signview_image?file=sign-arrow-action-right-back.png&colour=%D',@primarycolor);
      background : url(@url);
    }

    .label {
      @url : %('/branded_signview_image?file=sign-arrow-action-label.png&colour=%D',@primarycolor);
      background : url(@url);
      color : @primarytextcolor;
      font-family: @font;
    }
  }

  .arrow.up {
    @url : %('/branded_signview_image?file=sign-arrow-up.png&colour=%D',@primarycolor);
    background : url(@url);
  }

  .arrow.down {
    @url : %('/branded_signview_image?file=sign-arrow-down.png&colour=%D',@primarycolor);
    background : url(@url);
  }
}
/* Extra details section */
.signview .extradetails.section {

  h2, .descriptionbox {
    color : @textcolor;
    font-family: @font;
  }

  .obligatory-input{
    border-color: @primarycolor; /* Fallback IE */
    border-color: fade(@primarycolor,60%);

    &:hover, &.active {
      border-color: @primarycolor;
    }

    &.valid {
      border-color: #ddd;
    }
  }

  .signatureBox.forDrawing {
    border-color: #ddd;

    &.signaturePlaceholder {
      border-color: @primarycolor; /* Fallback IE */
      border-color: fade(@primarycolor,60%);

      &:hover {
        border-color: @primarycolor;
      }
    }
  }
}
/* Modal for extra details */
.extradetails-modal {

  .standard-input-table {

    .obligatory-input{
      border-color: @primarycolor; /* Fallback IE */
      border-color: fade(@primarycolor,60%);

      &:hover, &.active {
        border-color: @primarycolor;
      }

      &.valid {
        border-color: #ddd;
      }
    }
  }

  .accept-button.button {
    background-color : @primarycolor;
    color : @primarytextcolor !important;

    &:hover {
      background-color: lighten(@primarycolor,10%);
    }
  }
}
/* Signature drawing modal */
.drawing-modal .accept-button.button {
  background-color : @primarycolor;
  color : @primarytextcolor !important;

  &:hover {
    background-color: lighten(@primarycolor,10%);
  }
}
/* Sign section */
.signview .section.signbuttons .sign-button {
  background-color : @primarycolor;
  color : @primarytextcolor !important;
  &:hover {
    background-color: lighten(@primarycolor,10%);
  }
}
/* Signing in progress modal */
.post-sign-modal-content.grey .modal-container {

  .modal-title,.modal-content {
    color : @textcolor;
    font-family: @font;
  }
}
/* Reject modal */
.reject-modal.grey {

  .modal-container {

    .modal-title,.modal-content {
      color : @textcolor;
      font-family: @font;
    }
  }

  .modal-footer {
    font-family: @font;

    .button {
      font-family: @font;
    }
  }
}
/* Sign modal */
.sign-confirmation-modal.grey {

  .modal-container {

    .modal-title,.modal-content {
      color : @textcolor;
      font-family: @font;
    }
    /* We sometimes ask for pin in this modal */
    .pin-input {
      border-color: @primarycolor; /* Fallback IE */
      border-color: fade(@primarycolor,60%);

      &:hover, &.active {
        border-color: @primarycolor;
      }
    }
  }

  .modal-footer {
    font-family: @font;

    .signbutton{
      background-color : @primarycolor;
      color : @primarytextcolor !important;

      &:hover {
        background-color: lighten(@primarycolor,10%);
      }
    }
  }
}
/* Signatory attachments section */
.signview .section .signatoryattachments {

  h2, .subtitle, .filename .label, .name, .description {
    color : @textcolor;
    font-family: @font;
  }

  .attachment-upload-button {

    .button{
      background-color : @primarycolor;
      color : @primarytextcolor !important;
      font-family: @font;

      &:hover {
        background-color: lighten(@primarycolor,10%);
      }
    }
  }
}
/* Author attachments section */
.signview .section .authorattachments {

  h2, .name {
    color : @textcolor;
    font-family: @font;
  }

  .button{
    background-color : @secondarycolor;
    color : @secondarytextcolor !important;
    font-family: @font;

    &:hover {
      background-color: lighten(@secondarycolor,10%);
    }
  }
}
/* SMS pin modal */
.sms-pin-modal.grey {

  .modal-container {

    .modal-title, .modal-content {
      color : @textcolor;
      font-family: @font;
    }

    .phone-input {
      border-color: @primarycolor; /* Fallback IE */
      border-color: fade(@primarycolor,60%);

      &:hover,&.active {
        border-color: @primarycolor;
      }

      &.valid {
        border-color: #ddd;
      }
    }
  }

  .modal-footer {
    font-family: @font;

    .accept-sms-pin {
      background-color : @primarycolor;
      color : @primarytextcolor !important;

      &:hover {
        background-color: lighten(@primarycolor,10%);
      }
    }
  }
}
/* Placements */
.signview .document-pages {
  /* Texts and checkboxes */
  .placedfield.to-fill-now {
    border-color: @secondarycolor; /* Fallback IE */
    border-color: fade(@secondarycolor,60%);

    .text-inline-editing {
      .background_with_ie_support(fade(@secondarycolor,20%));
    }

    &:hover, &.active {
      border-color: @secondarycolor;

      &.active {
        background-color:#FFFFFF;
      }
    }

    &.obligatory {
      border-color: @primarycolor; /* Fallback IE */
      border-color: fade(@primarycolor,60%);

      .text-inline-editing {
        .background_with_ie_support(fade(@primarycolor,20%));
      }

      &:hover, &.active {
        border-color: @primarycolor;

        &.active {
          background-color:#FFFFFF;
        }
      }
    }

    &.empty-text-field {
      .background_with_ie_support(fade(@secondarycolor,20%));

      &.obligatory {
        .background_with_ie_support(fade(@primarycolor,20%));
      }

      &.active {
        background-color: #FFFFFF;
      }
    }
  }

  .signatureBox.forDrawing {
    border-color: @secondarycolor;
    border-color: fade(@secondarycolor,60%);

    &:hover {
      border-color: @secondarycolor;
    }

    &.signaturePlaceholder {
      .background_with_ie_support(fade(@secondarycolor,20%));
    }

    &.obligatory {
      border-color: @primarycolor;
      border-color: fade(@primarycolor,60%);

      &:hover {
        border-color: @primarycolor;
      }

      &.signaturePlaceholder {
        .background_with_ie_support(fade(@primarycolor,20%));
      }
    }
  }
}
