/* Signview header */

@barscolor :  @brand-primary;
@barstextcolor: @text-lighter;
@font: @font-family-source;
@textcolor: @text-dark;
@backgroundcolor: @slightly-darker-grey-background;
@primarycolor: rgb(83, 182, 136);
@primarytextcolor: @text-very-light;
@secondarycolor:rgb(41, 158, 204);
@secondarytextcolor: @text-very-light;

