.background_with_ie_support(@bcolor) {
        @filter :  %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)",argb(@bcolor),argb(@bcolor));
        background:transparent; /* Fallback IE */
        filter: e(@filter);

        background-color: @bcolor;
}

/* Form fields */
.mainContainer .to-start {
  .form-container {
    .needs-sender-action .checkbox {
      border-color: @primarycolor; // whut
      .background_with_ie_support(fade(@primarycolor, 20%));
    }

    .field-input {
      &.optional-input {
        .background_with_ie_support(fade(@secondarycolor, 20%));
        border-color: @secondarycolor;
      }

      &.needs-sender-action {
        .background_with_ie_support(fade(@primarycolor, 20%));
        border-color: @primarycolor;
      }
    }
  }
}
