.flash {
  &.success {
    .flash-content {
      background-color: @positivecolor;
      color: @positivetextcolor;
    }
    .flash-close:hover {
        color: lighten(@positivetextcolor,10%);
    }
  }

  &.error {
    .flash-content {
      background-color: @negativecolor;
      color: @negativetextcolor;
    }

    .flash-close:hover {
      color: lighten(@negativetextcolor,10%);
    }
  }
}
