
.validation-failed-msg {
  color: @negativecolor;
  font-size: 14px;
  text-align: left;
}

.divider-line {
  background-color: @brandtextcolor;
  display: block;
  height: 1px;
  margin: 15px auto;
  width: 166px;
}
