body.signview {
  font-family: "Lucida Grande"
}

.signview .clearfix {
  height: 0px;
}

.signview .pageheader {
  min-width: 960px;
  background: url(../img/bg-header.jpg);
  color: white;
  border-bottom: solid #bababc 1px;
}

.signview .pageheader .content {
  width: 960px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
}

.signview .pageheader .logowrapper {
  float: left;
  width : 200px;
}

.signview .pageheader div.logo {
  margin-top: 20px;
  background: url(../img/logo-scrive-small.png);
  height: 33px;
  width: 200px;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.signview .pageheader .content .sender {
  float: right;
  margin-top: 20px;
  text-align: right;
  margin-right: 30px;
}

.signview .pageheader.withcustomlogo .content .sender.shoved {
  float: none;
  position: absolute;
  top: 10px;
  right: 100px;
}

.signview .pageheader .content .sender .name {
  font-weight: bold;
}

.signview .pageheader .poweredbyscrive {
  height: 114px;
  width: 114px;
  background: url(../img/powered-by-scrive-corner.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
}

.signview .pageheader.withstandardlogo .poweredbyscrive {
  display: none;
}

.signview .body-container {
  padding-top: 10px;
  background-color: transparent;
  background-image: none;
}

.signview .instructions {
  background-color: white;
  padding-top: 31px;
  padding-bottom: 15px;
  margin-bottom: 7px;
  border: solid #bababc 1px;
  text-align: center;
  font-weight: bold;
}

.signview .instructions .headline {
  text-transform: uppercase;
  color: black;
  font-size: x-large;
  margin-bottom: 5px;
}

.signview .instructions .subheadline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
}

.signview .instructions a {
  display: block;
}

.signview .instructions .subheadline .duedate {
  display: inline-block;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: -7px;
  /*   believe it or not these lines do inline-blocking for IE7 */
    zoom: 1;
    *display: inline;
    _height: 15px;
  /*   end of IE7 junk */
}

.signview .instructions .subheadline .menuwrapper {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 6px;
  /*   believe it or not these lines do inline-blocking for IE7 */
    zoom: 1;
    *display: inline;
    _height: 21px;
  /*   end of IE7 junk */
}

.signview .menu .download .icon {
  margin-top: 1px;
  margin-right: 2px;
  width: 18px;
  height: 20px;
  background: url(../img/download-icon.png);
}

.signview .menu .download .label {
  display: none;
}

.signview .menu .download .docname {
  text-align: left;
  text-decoration: underline;
  font-weight: normal;
  color: grey;
}

.signview .save {
  background-color: white;
  border: solid #bababc 1px;
  text-align: center;
  padding: 20px;
  overflow: none;
}

.signview .save .title {
  font-size: large;
  color: black;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.signview .save .subtitle {
  margin-bottom: 20px;
  max-width: 602px;
  margin-right: auto;
  margin-left: auto;
}

.signview .save.saving {
  min-height: 118px;
  background-image: url(images/wait30trans.gif);
  background-position: center;
  background-repeat: no-repeat;
}

.signview .save.done {
  border: solid #89c041 1px;
  background-color: #e7f6d5;
  color: #89c041;
}

.signview .save.done .title {
  color: #89c041;
}

.signview .save .highlight {
  margin-left: 158px;
  margin-right: 158px;
  text-align: left;
  padding-top: 20px;
  padding-left: 9px;
  padding-right: 9px;
  border: solid #89c041 1px;
  background-color: #e7f6d5;
  overflow: none;
}

.signview .save .highlight .row {
  clear: both;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.signview .save input {
  max-width: 168px;
}

.signview .save .item {
  float: left;
  width: 172px;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 11px;
}

.signview .save .invalid {
  border: solid red 1px;
}

.signview .save .errormsg {
  color: red;
  font-size: x-small;
}

.signview .save .row {
  float: left;
}

.signview .save .tos {
  margin-bottom: 2px;
}

.signview .save .invalid.tos {
  padding: 2px 10px;
}

.signview .save .tos .check {
  float: left;
  margin-right: 10px;
}

.signview .save .tos input {
  background: transparent;
}

.signview .save .tos .label {
  float: left;
  width: 300px;
  margin-top: 3px;
}

.signview .save .acceptbutton {
  float: right;
  margin-right: 22px;
  margin-bottom: 22px;
}

.signview .share {
  background-color: white;
  padding-top: 31px;
  padding-bottom: 15px;
  margin-bottom: 7px;
  margin-top: 7px;
  border: solid #bababc 1px;
  text-align: center;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.signview .share .title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 20px;
}

.signview .share .panel {
  margin-left: 95px;
  margin-right: 95px;
}

.signview .share .item {
  float: left;
  margin: 10px;
  cursor: pointer;
  height: 82px;
  width: 162px;
}

.signview .share .btn {
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 82px;
  width: 162px;
}

.signview .share .btn:hover {
  background-position: -162px 0px;
}

.signview .share .btn .label {
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  color: white;
  text-align: left;
  text-shadow: #bababc 1px 1px 1px;
  font-weight: normal;
}

.signview .share .facebook.btn {
  background-image: url(../img/facebook-button.png);
}

.signview .share .dropdown {
  position: relative;
  z-index: 5000;
  top: -3px;
  background-repeat: no-repeat;
  height: 99px;
  width: 318px;
  padding-top: 25px;
  padding-left: 12px;
  padding-right: 12px;
  background-position: 0px 0px;
  text-align: left;
  font-weight: normal;
}

.signview .share .dropdown.over {
  background-position: -366px 0px;
}

.signview .share .dropdown .content {
  background: white;
  width: 292px;
  height: 65px;
  margin: 0px;
}

.signview .share .facebook.dropdown {
  background-image: url(../img/facebook-dropdown.png);
}

.signview .share .phone.dropdown {
  background-image: url(../img/phone-dropdown.png);
}

.signview .share .phone.dropdown .content {
  background: transparent;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: 262px;
}

.signview .share .phone.dropdown .loading {
  background-image: url(images/wait30trans.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 240px;
}

.signview .share .phone.dropdown input {
  float: left;
}

.signview .share .phone.dropdown a {
  float: left;
  margin-left: 20px;
}

.signview .share .twitter.btn {
  background-image: url(../img/twitter-button.png);
}

.signview .share .phone.btn {
  background-image: url(../img/phone-button.png);
}

.signview .share .phone.btn .label {
  color: #666666;
}

.signview .share .start.btn {
  background-image: url(../img/start-button.png)
}

.signview .share .start.btn .label {
  padding-left: 50px;
}

.signview .subcontainer {
  background-color: #e1e1e1;
  background-image: url(../img/horizontal-shading-bar.png);
  background-repeat: no-repeat;
}

.signview .subcontainer .end {
  background-image: url(../img/horizontal-shading-bar.png);
  background-repeat: no-repeat;
  height: 2px;
}

.signview .pagediv {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;
  width: 945px;
  box-shadow: 0px 0px 5px #505050;
  -moz-box-shadow: 0px 0px 5px #505050;
  -webkit-box-shadow: 0px 0px 5px #505050;
}

.signview .section {
  clear: both;

  margin: 7px;
  padding: 20px;
  background-color: white;
  background-image: url(../img/horizontal-shading-bar.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.signview .section.highlight {
  border: 5px solid #83bc39;
  padding: 15px;
  background-image: none;
}

.signview .section h2 {
  float: left;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: normal;
  padding-left: 30px;
  padding-right: 10px;
  font-size: large;
}

.signview .authorattachments .list {
  float: left;
  width: 322px;

  margin-right: 20px;
}

.signview .authorattachments .item {
  margin-bottom: 10px;
}

.signview .authorattachments .item .icon {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/attachment-icon.png);
}

.signview .authorattachments .item .label {
  float: left;
  margin-left: 10px;
}

.signview .authorattachments .item .name {
  font-weight: bold;
  color: black;
}

.signview .authorattachments .item a {
  text-decoration: underline;
}

.signview .signatoryattachments .list {
  float: left;

  margin-right: 20px;
}

.signview .signatoryattachments .list .item {
  margin-bottom: 10px;
  overflow: none;
}

.signview .signatoryattachments .list .item .first.column {
  float: left;
  display: block;
  width: 350px;
  margin-right: 30px;
}

.signview .signatoryattachments .list .item .second.column {
  float: left;
  display: block;
  width: 200px;
}

.signview .signatoryattachments .list .item .loading {
  margin-left: 80px;
}

.signview .signatoryattachments .list .item .upload .icon {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/attachment-icon.png);
}

.signview .signatoryattachments .list .item .file {
  float: left;
  margin-left: 10px;
}

.signview .signatoryattachments .list .item .file .name {
  color: black;
}

.signview .signatoryattachments .list .item .action {
  float: left;
  margin-right: 10px;
  text-decoration: underline;
}

.signview .signatoryattachments .list .item .name {
  font-weight: bold;
}

.signview .signatoryattachments .list .item .description {
  font-style: italic;
}

.signview .uploadedsignatoryattachments .list {
  float: left;
  width: 500px;
  margin-right: 20px;
}

.signview .uploadedsignatoryattachments .item .icon {
  float: left;
  width: 13px;
  height: 14px;
  background: url(../img/attachment-icon.png);
}

.signview .uploadedsignatoryattachments .item {
  margin-bottom: 10px;
}

.signview .uploadedsignatoryattachments .item .label {
  float: left;
  margin-left: 10px;
}

.signview .uploadedsignatoryattachments .list .item .name {
  font-weight: bold;
  color: black;
}

.signview .uploadedsignatoryattachments .list .item .from {
  font-style: italic;
}

.signview .uploadedsignatoryattachments .list .item a {
  text-decoration: underline;
}

.signview .signatories a {
  text-decoration: underline;
  cursor: pointer;
}

.signview .signatories .list {
  float: left;
}

.signview .signatories .list .column {
  float: left;
  width: 280px;
  margin-right: 20px;
  min-height: 10px;
}

.signview .signatories .signatory {
  border: solid #bababc 1px;
  padding: 10px;
}

.signview .signatories .grouping {
  margin-bottom: 10px;
}

.signview .signatories .email {
  overflow-x: auto;
}

.signview .signatories .signatory .name {
  color: black;
  font-weight: bold;
}

.signview .signatories .signatory .company {
  color: black;
  font-weight: bold;
  font-size: smaller;
}

.signview .signatories .signatory .summary {
  border-top-style: dotted;
  border-top-color: #bababc;
  border-top-width: 1px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.signview .signatories .signatory .summary .labelwrapper {
  margin: 0px auto;
}

.signview .signatories .signatory .summary.signed {
  color: #83bc39;
}

.signview .signatories .signatory .summary .icon {
  float: none;
  display: inline-block;
/*   believe it or not these lines do inline-blocking for IE7 */
  zoom: 1;
  *display: inline;
  _height: 11px;
/*   end of IE7 junk */
}

.signview .signatories .signatory .summary .label {
  display: inline-block;
/*   believe it or not these lines do inline-blocking for IE7 */
  zoom: 1;
  *display: inline;
  _height: 11px;
/*   end of IE7 junk */
}

.signview .signatories .signatory.current .fieldwrapper {
  margin-top: 10px;
}

/** this stuff is kind of messy, need to improve when do inline field editing*/
.signview .signatories .signatory .closedinputs .fieldvalue,
.signview .signatories .signatory.other .fieldvalue {
  border: none;
  height: 17px;
  line-height: 17px;
}

.signview .signatories .signatory .closedinputs .label {
  display: none;
}

.signview .signatories .signatory .closedinputs .fieldwrapper {
  margin-top: 0px;
}

/*Hide the info text on the custom fields, cos
 * we're using labels.
 */
.signview .signatories .signatory .field .grayed {
  color: white;
}

.signview .signatories .signatory .field input {
  width: 195px;
}

.signview .signatories .signatory .fieldwrapper {
  width: 200px;
}

.signview .rejectwrapper {
  float: left;
  margin-left: 30px;
}

.signview .rejectwrapper a.btn-big.red .label {
  padding-left: 10px;
  padding-right: 10px;
}

.signview .signwrapper {
  float: right;
  margin-right: 30px;
}

.signview .arrows .arrow {
  display: block;

  position: fixed;

  z-index: 5000;

  height: 112px;
  min-width: 112px;
}

.signview .arrows .down.arrow {
  bottom: 50px;
  background: url(../img/sign-arrow-down.png);
  background-repeat: no-repeat;
}

/** this is a bit of a cheat way to override the visibility stuff*/
.signview .arrows .down.arrow.infooter {
  height: 0px;
}

.signview .arrows .up.arrow {
  top: 50px;
  background: url(../img/sign-arrow-up.png);
  background-repeat: no-repeat;
}

.signview .arrows .action.arrow {
  position: absolute;
}

.signview .arrows .action.arrow .front {
  background: url(../img/sign-arrow-action-front.png);
  background-repeat: no-repeat;
  min-width: 84px;
  height: 28px;
  float: left;
}

.signview .arrows .action.arrow .back {
  background: url(../img/sign-arrow-action-back.png);
  background-repeat: no-repeat;
  width: 8px;
  height: 28px;
  float: left;
}

.signview .arrows .action.arrow .label {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.signview .pagefooter {
  padding-bottom: 30px;
  min-width: 960px;
  min-height: 200px;
  background: url(../img/bg-header.jpg);
  color: white;
}

.signview .pagefooter .dogtooth {
  background: url(../img/dog-tooth-transparent.png);
  background-repeat: repeat-x;
}

.signview .pagefooter .content {
  width: 960px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.signview .pagefooter .sender {
  float: left;
}

.signview .pagefooter .sender .name {
  font-size: x-large;
  font-family: "Copse";
  font-style: italic;
}

.signview .pagefooter .sender .phone {
  margin-top: 30px;
  font-size: large;
  font-family: "Copse";
  font-style: italic;
}

.signview .pagefooter .sender .position,
.signview .pagefooter .sender .company,
.signview .pagefooter .sender .email {
  font-size: small;
  text-transform: uppercase;
  opacity: 0.7;
}

.signview .pagefooter .poweredbyscrive {
  float: right;
  margin-top: 10px;
}

.signview .pagefooter .poweredbyscrive a {
  color: white;
  font-size: small;
  text-transform: uppercase;
  text-decoration: none;
}

