#footer-container {
        background: #fff;
        height: 340px;
        margin-top: 40px;
}

#footer-container .top-border {
        background: url(../img/spr-border1.png) repeat-x 0 -3px;
        height: 3px;
}

#footer-container .spacer {
        height: 40px;
}

#footer-container .col {
        float: left;
}

#footer-container .col strong {
        font: 14px/22px "Copse";
}

#footer-container .left {
        width: 240px;
}

#footer-container .centre {
        width: 320px;
}

#footer-container .right {
        width: 380px;
}

#footer-container .col.left ul li {
        height: 16px;
}

#footer-container .col.left ul li a {
        color: #539efb;
        font: 12px "Lucida Grande";
        text-decoration: none;
}

#footer-container .col.left ul li a:hover {
        color: #000;
}

#footer-container .col.centre ul li {
        margin-bottom: 20px;
        width: 230px;
}

#footer-container .col.centre ul li p {
        font: 12px "Lucida Grande";
}

#footer-container .col.centre ul li em {
        color: #999;
        font: 10px "Lucida Grande";
        text-transform: uppercase;
}

#footer-container .col.centre ul li a {
        color: #999;
}

#footer-container .col.centre ul li a:hover {
        color: #000;
}

#footer-container .col.right ul li {
        color: #999;
        float: left;
        font: 12px "Lucida Grande";
        margin-top: 15px;
        width: 160px;
}

#footer-container .col.right ul li strong {
        color: #000;
        display: block;
        font: 14px "Copse";
}

#footer-container .col.right ul li a {
        color: #999;
        text-decoration: none;
}

#footer-container .col.right ul li a:hover {
        color: #000;
}


.tweet_text {
        color: #666;
        font: 12px "Lucida Grande";
}

.tweet_text a {
        text-decoration: none;
}

.tweet_text a:hover {
        color: #000;
}

.tweet_time {
        color: #666;
        display: block;
        font: 10px "Lucida Grande";
        text-transform: uppercase;
}

.box {
        border: 1px solid #ccc;
        border-radius: 5px;
        min-height: 180px;
        padding: 20px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}



/* Head Container */
#top-slim-container {
        background: url(../img/bg-header.png);
        border-bottom: 1px solid #737373;
        height: 50px;
        min-width: 940px;
}

.flashmsgbox .logo {
        background: url(../img/logo-small-reverted.png);
        display: block;
        float: left;
        height: 35px;
        margin-top: 9px;
        width: 137px;
}

#top-slim-container .logo {
        background: url(../img/logo-small.png);
        display: block;
        float: left;
        height: 35px;
        margin-top: 9px;
        width: 137px;
}

/* Second Login Container */

#top-slim-container .content ,
.flashmsgbox 
{
        position: relative;
}

#top-slim-container .login-button {
        background: url(../img/icon-lock.png) no-repeat;
        color: #999;
        float: right;
        font: 14px/18px "Helvetica Neue";
        margin-right: 38px;
        margin-top: 17px;
        padding-bottom: 5px;
        padding-left: 28px;
        text-shadow: #000 0 1px 3px;
        text-decoration: none;
}
#top-slim-container .document-button {
        color: #999;
        float: right;
        font: 14px/18px "Helvetica Neue";
        margin-top: 17px;
        padding-bottom: 5px;
        padding-left: 15px;
        text-shadow: #000 0 1px 3px;
        text-decoration: none;
}

#top-slim-container .logout-button {
        color: #999;
        float: right;
        font: 14px/18px "Helvetica Neue";
        margin-right: 20px;
        margin-top: 17px;
        padding-bottom: 5px;
        padding-left: 15px;
        text-shadow: #000 0 1px 3px;
        text-decoration: none;
}

#top-slim-container .logout-button:hover, 
#top-slim-container .document-button:hover,
#top-slim-container .login-button:hover
{
  color: #FFFFFF;
}  
  
  
#top-slim-container .user-container {
        top: 2px;
}


.user-container {
        display: none;
        height: 184px;
        position: absolute;
        right: 0;
        top: 20px;
        width: 192px;
}

.login-container, .recovery-container {
        height: 154px;
        position: absolute;
        width: 192px;
        z-index: 100;
}

.recovery-container {
        display: none;
}

.login-container .top, .recovery-container .top {
        background: #f3f3f3;
        border-color: #3f3f3f;
        border-radius: 25px 25px 0 0;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        color: #666;
        cursor: pointer;
        float: right;
        font: 14px "Helvetica Neue";
        height: 14px;
        padding-left: 26px;
        padding-top: 13px;
        width: 121px;
        z-index: 102;
        -moz-border-radius: 25px 25px 0 0;
        -webkit-border-radius: 25px 25px 0 0;
}

.login-container .top p, .recovery-container .top p {
        background: url(../img/icon-lock2.png) no-repeat;
        margin-top: 2px;
        padding-left: 24px;
        position: absolute;
        width: 98px;
        z-index: 103;
}

.login-container .body, .recovery-container .body {
        background: #f3f3f3;
        border-color: #3f3f3f;
        border-radius: 5px 0px 5px 5px;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        float: right;
        padding: 10px;
        width: 170px;
        z-index: 101;
        -moz-border-radius: 12px 0 12px 12px;
        -webkit-border-radius: 5px 0px 5px 5px;
}

.login-container .body form, .recovery-container .body form {
        font: 11px/18px "Lucida Grande";
        margin-top: 2px;
        text-align: center;
        
}

.login-container .body input, .recovery-container .body input {
        border: 1px solid #9e9e9e;
        font: 11px "Lucida Grande";
        margin-bottom: 3px;
        padding: 5px 10px;
        width: 146px;
}

.login-container a.btn-tiny, .recovery-container a.btn-tiny {
        margin-top: 5px;
}

.login-container .body a.txt-link, .recovery-container .body a.txt-link {
        color: #539EFB;
        font: 10px/34px "Lucida Grande";
        text-decoration: underline;
}


#top-slim-container .btn-tiny.center {
        padding-left: 0;
        text-align: center;
        width: 73px;
}

#top-slim-container .btn-tiny:hover {
        background-position: -73px -27px;
}

#top-slim-container .btn-tiny.blue {
        background-position: 0 0;
}

#top-slim-container .btn-tiny.blue:hover {
        background-position: 0 -27px;
}

#top-slim-container .btn-tiny {
        background: url(../img/btn-tiny.png) -73px 0 no-repeat;
        color: #fff;
        display: block;
        font: 11px "Helvetica Neue";
        height: 19px;
        padding-left: 10px;
        padding-top: 7px;
        text-decoration: none;
        width: 63px;
}

.float-left {
        float: left;
}

.float-right {
        float: right;
}

#inviteContainer
{
    position: absolute;
    right: 300px;
    top: 12px;
    width: 475px;
    text-align: left;
    font-size: 11px;
    color: #FAFAFA;
}

#inviteContainer a
{
    margin-top:1px;
}

#inviteContainer input[type=email]{
  width:390px;
  height:20px;
  margin-top:1px;
  border:1px solid lightgray;
  -moz-border-radius:2px 2px 2px 2px;
}