/* 003  I removed the starting / on all image-urls */

/* 003 new: html */
html 
{
    /* will always show a scroll */
    overflow-y: scroll;
}

/* 003 moved body to the top */
body 
{
    /* 002 new font-family */
    font-family: 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
    color: #6d6e70;
    /* 003  new backgroundcolor */
    background-color: white;
    font-size: small;
    margin: 0px;
}

/* 003 new */
a img
{
    border: 0;	
}


/* 003 new: #mainContainer960. Consider to change this name to mainContainer */
#mainContainer960
{
    width: 960px;
    min-height: 480px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin: auto;
    overflow: hidden;
}

/* 003 a lot of changes */
#loginContainer
{
    position: absolute;
    right: 0;
    top: 22px;
    text-align: right;
    font-size: 10px;
}

/* dont know if you want to cascade these changes to all text-input? */
#loginContainer input[type=text],
#loginContainer input[type=email],
#loginContainer input[type=password],
#signUpContainer input[type=text]
{
    width: 151px;
    height: 16px;
    margin-left: 6px; /* 003 change from ridht to left */
    color: #848484;
}

/*input[name=final] */
.cross-button
{
    background-image: url(images/status_signed.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 4px; 
}

/* dont know if you want to cascade these changes to all submit-buttons? */
#loginContainer input[type=submit]
{
    /*height: 11px; 003 remove */
    font-size: 11px; /* 003 new */
    border: 1px solid #d2d2d6;
    margin-top: 2px;
    margin-left: 5px;
    text-transform: none;
    background-color: #5c5c69;
    font-weight: normal;
    color: white;
    text-align: right; /* 003 new */
}

/* new mouse-effects for loginbutton. just an example, what king of effect and colors need to be descussed */
#loginContainer input[type=submit]:hover
{
    background-color: #87879b;
}

#inviteContainer input[type=submit]:hover
{
    background-color: #d9dae3;
}

#inviteContainer input[type=submit]:active
{
    background-color: #b3b5bd;
}

#loginContainer input[type=submit]:active
{
    background-color: #43434e;
}

#loginContainer, #loginContainer a
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

/* 002 new, alaign loginbutton right with input fields */
/* 003 remove
   #loginContainer .button{
   margin-right: 7px;
   }*/

/* 002 new code start */
#textOneColumn,
#pricingContainer{
    width:  470px;
    margin-top: 30px;
}

#textOneColumn p,
#textOneColumn ul,
#textOneColumn ol{
    font-size: 12px;
}

#textOneColumn li{
    padding-bottom: 10px;
}

#pricingContainer{
    width: 700px;
}

#pricingContainer td{
    width: 150px;
    background-color: #f5f5f5;
    padding: 5px;
}

#pricingContainer th{
    text-align: left;
}

.alphaList{
    list-style-type: lower-alpha;
}
/* 002 new code end */

/* new first page code */
/* 003 #firstPageContentContainer
   {
   width: 690px;
   margin: auto;
   margin-bottom: 105px;
   }*/

/* 003 remove
   #firstPageLeft, #firstPageRight
   {
   margin-top: 70px;
   float: left;
   }*/

/* 003 a lot of changes */
/* 004 a lot of changes */
#firstPageLeft
{
    float: left;
    margin-top: 145px;
    width: 400px;
    padding-right: 40px;
}

/* 004 new */
#firstPageLeft h1{
    Xfont-size: 22px;
}

/* 003 a lot of changes */
/* 004 a lot of changes */
#firstPageRight
{
    float: left;
    margin-top: 70px;
    width: 520px;
}

#signUpContainer
{
    border-top: 1px dotted #c6c6c6;
    width: 95%;
    text-align: center;
    margin-top: 7px;
    float: left;
    padding-top: 15px;
}

#signUpContainer input[type=text]
{
    width: 190px;
}


 input[type=submit]:hover, button:hover, a.button:hover
{
    background-color: #d9dae3;
}

 input[type=submit]:active, button:active, a.button:active
{
    background-color: #b3b5bd;
}

#bigLogoPlaceholder
{
    width: 100%;
    /* 002 new height */
    height: 67px;
    background: url(images/logolarge1.png) no-repeat 0 0;
}

.bodycolorbg 
{
    background-color: #fafafa;
}

.bodycolorfg
{
    background-color: #fafafa;
}

#selectable .ui-selecting 
{ 
    background: #e6e6e6; 
}

#selectable .ui-selected
{
    background: #e0e0e0;
}

#headerContainer,
#headerWide
{
    background: url(images/gradientextent.png) repeat-x bottom center;
    /* background: url(images/darkpattern.png) repeat bottom center; */

    color: #fafafa;
    height: 90px;
    position:relative;
}

/* 003 new: headerWide */
#headerWide
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#headerContainer.topempty
{
    background: #fafafa;
}

/* 003l maybe we no longer need headerContainer2 */
#headerContainer.topempty #headerContainer2
{
    background: #fafafa;
}

#headerContainer.topempty #nav
{
    display: none;
}

/* 003l maybe we no longer need headerContainer2 */
#headerContainer2
{
    /*background: url(images/gradient.png) no-repeat bottom center; 003 remove*/
    color: #fafafa;
    text-align: center;
    height: 90px;
}

#nav
{
    background: none;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: auto;
    float: right; /* 003l new */
    padding: 50px 0 0 0;
    text-align: center;

/*width: 470px !important; 003l remove*/
}

#nav ul 
{
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}


#nav li 
{
    float: left;
    margin-left: 1px;
}

#nav li a 
{
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: center;
    text-align: center;

    color: #999999; /* 003l new/changed */
    font-weight: bold; /* 003l new */
    width: 151px;
    
    background: url("images/ButtonTOPUnactive.png") no-repeat scroll left top transparent; /* 003l new */
}

#nav li a.active 
{
    background: url("images/ButtonTOP.png") no-repeat scroll left top transparent;
    /* 003l remove font-weight: bold; */
    color: #4d4d4d; /* 003l changed */
}

#nav .activeleft
{
    padding-left: 20px;
}

#nav .activeright
{
    padding-right: 20px;
}

#nav .activemid
{
    font-size: 14px;
    font-weight: bold;
}

#nav .inactiveleft
{
    padding-left: 20px;
}

#nav .inactiveright
{
    padding-right: 20px;
}

#nav .inactivemid
{
}

#nav .inactivemid:hover
{
    font-size: 110%;
}


.para 
{
    text-align: justify;
}

.topnavi 
{
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.topnavi a 
{
    text-decoration: none;
    text-color: inherit;
    color: #fafafa;
}

.selected a 
{
    color: #9fb3b5;
    background-color:  #fafafa;
}

.selected 
{ 
    font-size: 130%;
    background-color:  #fafafa;
}

#mainContainer 
{
    /* overflow: auto; 004 remove */
    /* margin-bottom: 25px; */
    margin-bottom: 0px;
    margin-top: 25px;
}

#mainContainer a 
{
    color: #007cac;
    text-decoration: none;
}

#mainContainer .headline 
{
    font-weight: bold;
    font-size: 130%;
}

/* 002 updated values */
/* 003 change from .class to #id */
#logosmall
{
    position: absolute;
    top: 21px;
    left: 0;
    color: white;
    font-size: 300%;
}

/* 003l changed from #logout to #userMenu */
#userMenu, #userMenu a
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

#userMenu
{
    position: absolute;
    right: 4px; /* 003l changed */
    top: 22px; /* 003l changed */
    width: 320px;
    text-align: right;
}

#inviteContainer
{
    position: absolute;
    right: 250px;
    top: 22px;
    width: 400px;
    text-align: left;
    font-size: 11px;
}


/* 002 update values */
.contactabout
{
    position: absolute;
    top: 28px;
    left: 211px;
}

.contactabout, .contactabout a 
{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 11px;
}

.centerdiv 
{
    margin-left: auto; 
    margin-right: auto;
}

.centerdivnarrow 
{
    margin-left: auto; 
    margin-right: auto;
    width: 300px;
}

.small 
{
    font-size: small;
}

#toscontainer #textOneColumn
{
    height: 350px;
    overflow: auto;
    margin: auto;
}

a.button 
{
    color: black !important;
}
.button 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    border: 1px solid lightgray;
    background-color: #F5F5FF;

    text-align: center;
    vertical-align: center;
    margin: 3px auto 3px 0px;
    padding: 0px 7px;
    display: block;
    display: inline;

    line-height: 20px;
    white-space:nowrap;
    cursor: pointer;
}
a.secbutton 
{
    color: white;
}

.secbutton 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    color: white !important;
    text-transform: uppercase;
    background-color: gray;
    font-family: Verdana;
    border: none;
    text-align: center;
    vertical-align: center;
    margin: 3px auto 3px 0px;
    padding: 0px 7px;
    display: block;

    font-size: xx-small;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    width: 115px;
    white-space:nowrap;
}

a.bigbutton 

color: white;
}

.bigbutton 
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    color: white !important;
    text-transform: uppercase;
    background-color: #005794;
    font-family: Verdana;
    border: none;
    text-align: center;
    vertical-align: center;
    margin: 3px auto 3px 0px;
    padding: 0px 7px;
    display: block;

    font-size: small;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    width: 180px;
    white-space:nowrap;
}

#documentBox 
{
    overflow: auto;
    background-color: #999;
    margin: 0 auto;
    width: 960px;
}

.waiting4page
{
    width: 944px;
    height: 100px;
    align: center;
    margin: 6px;
    border: 1px solid black;
    background-color: #fafafa;
    background-image: url(images/wait30trans.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.pagejpg 
{
    width: 944px;
    align: center;
    margin: 6px;
    border: 1px solid black;
    background-color: #fafafa;
}

.pagejpga4
{
    height: 970px;
    width: 755px;
}

img.waiting
{
    width: 30px;
    height: 30px;
    display: block;
    top: 50%;
    left: 50%;
    position: relative;
}

.accounttable 
{
    border-collapse:collapse;
    border-width: 1px;
    padding: 10px; 
    width: 800px;
    margin: 15px auto 10px;
}

.accounttable td
{
    border-width: 1px;
    border-color: gray;
    font-weight:normal;
}

.doctable {
    border-collapse:collapse;
    border-color: gray;
    border-width: 1px;
    background-color: #EAEAEA;
    padding: 10px; 
    width: 800px;
    margin: 0px auto 0px;
}

.doctable td
{
    border-style: none none solid none; 
    border-width: 1px;
    border-color: gray;
    font-weight: normal;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

.doctable thead tr td,
.doctable thead tr
{
    padding: 3px 0px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: gray;
}

.doctable .tdleft
{
    border-style: none none none solid; 
    border-width: 1px;
    border-color: gray;
    width: 11px;
    overflow: hidden;
}

.doctable col.tdleft
{
    width: 11px;
}

.doctable col.tdright
{
    width: 11px;
}

.doctable .tdright
{
    border-style: none solid none none; 
    border-width: 1px;
    border-color: gray;
    width: 11px;
    overflow: hidden;
}

.doctable thead
{
    font-size: xx-small;
    color: #606060;
    border-style: none none solid none;
    background-color: #FAFAFA;
    border-width: 1px;
    border-color: gray;
}

.doctable tfoot,
.doctable tfoot tr,
.doctable tfoot tr td
{
    font-size: xx-small;
    color: #606060;
    border-style: solid none none none;
    background-color: #FAFAFA;
    border-width: 1px;
    border-color: gray;
}

.docview 
{
    margin: 0px auto;
    width: 960px;
    height: 100%;
}

.docviewleft
{
    float: left;
    height: 100%;
    padding-right: 10px;
    overflow: auto;
}

.docviewright
{
    /*float: right; */
    height: 100%;
    max-width: 180px;
    overflow: auto;
}

.docviewright p
{
    overflow: hidden;
}

.inlinebox
{
    border-style: solid none;
    border-width: 1px;
    border-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCFCFC;
}

.flashmsgbox
{
    background-color:#D3D3D3;
    border:1px solid gray;
    left:32%;
    padding:1em;
    position:absolute;
    right:38%;
    top: -4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    display:none;
    z-index:1;
}

/* 002 a lot of changes in #footerContainer  */
/* 003 a lot of changes in #footerContainer  */
#footerContainer
{
    height: 105px;
    /* 002 float: left;*/
    margin-top: 30px;
    width: 100%;
    background: #f7f7f7 url(images/gradientbottom.png) no-repeat center 0; /* 004 new image */ /* 003 new image */
    position: relative; /*003*/
    overflow: hidden;
/* 002 position: fixed;*/
/*bottom: 0;*/
}

/* 003 a lot of changes in #footerContainer2  */
#footerContainer2
{
    position: relative;
    color:#777;
    font-size: 11px;
    width: 960px;/*003*/
    margin: auto;
    /*height: 100%;*/
    border-top: 1px dotted #c6c6c6;
}

#footerContainer2 ul
{
    float: left;
    list-style: none;
    margin-right: 40px;
    /* 002 new margin-top */
    margin-top: 6px;
    line-height: 14px;
}

/* 002 new */
#footerContainer2 ul li
{
    margin: 2px 0 2px 0;
}

/* 
   002 new: #footerContainer2 .footerCategoryHeader instead of .footerCategoryHeader
   */
#footerContainer2 .footerCategoryHeader
{
    margin-left: -7px;
    font-weight: bold;
}

#footerContainer2 a
{
    color: #777;
    text-decoration: none;
}

#footerContainer2 a:hover
{
    text-decoration: underline;	
}

#footerContainer2 a:active
{
    color: #535353;	
}

/* 002 changed a lot in #copy */
#copy
{
    position: absolute;
    right: 30px;/* 003 new value */
    top: 7px;
    width: 110px;
    height: 20px;
    background: url(images/status_signed.png) no-repeat 91px -3px;
}

div.floatleft
{
    float: left;
}

div.floatright
{
    float: right;
}

div.clearboth
{
    clear: both;
}

input.grayed
{
    color: #999999;
    font-style: italic;
}

input , button, a.button
{
    border: 1px solid lightgray;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;   
    background-color: #FFFFFF;
    margin: 3px auto 3px 0px;
}

a.button {
  cursor: pointer;
}


#signatorylist input
{
    width:140px;
}

.pagediv 
{
    position: relative;
    font-size: 15px; /* currently A4 is 612pt wide and for us that is 944px on screen. So to have 10pt font is to have 944px*10pt/612pt = 15px */
}

.placedfield 
{
    position: absolute;
}

/* Localized */


.overlay {
    
    /* place overlay on top of other elements */
    z-index:10000;
    display:none;
    /* styling */
    background-color:#FFFFFF;
    width:675px;	
    min-height:200px;
    border:1px solid #666;
    padding:5px;
    
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.overlay a.close {
    background-image:url(images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.overlay h2 {
    margin:0px;
    padding:10px 0 10px 10px;
    border-bottom:1px solid #333;
    font-size:20px;
}

.overlay .buttonbox   
{
    float:right;
    padding-top:10px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.overlay .buttonbox button{
    margin-right:3px;
}

.overlay p {
    margin:8px;
}

.author, .signatory 
{
    margin-bottom:10px;
}


.hidden 
{
    display:none;
    height:0px;
    width:0px;
}
.transparent
{
    border:0;
    background-color:transparent
}

#signStepsWrapper #signStepsContainer.fixed {
    position: fixed;
    top: -53px;
    z-index: 5000;
}

/* 005 new code below */
#signStepsContainer
{
    width: 960px;
}

#signStepsContainer a{
    color: #2e99d3;
}

#signStepsMenu
{
    height: 25px;
    font-size: 11px;
    position: relative;
}

#signStepsMenu div
{
    height: 23px;
    position: relative;
    float: left;
    z-index: 2;
}

#signStepsMenu div#signStepsMenuEmptyStep
{
    border-width: 1px 1px 1px 1px;
    border-color: #808080 #BDBDBD #BDBDBD #808080;
    border-style: solid;
    height: 23px;
    width: 958px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: #f4f4f4;
}

#signStepsMenu .text
{
    display: inline-block;
    margin: 5px 18px 0 2px;
}

#signStepsMenu div a
{
    color: #4b4b4b;
}

#signStepsMenu .clickArea,
.signStepsButton .clickArea,
.uploadButton .clickArea
{
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    position: absolute;
}

#signStepsContentStack
{
    position: relative;
}

#signStep1Content,
#signStep2Content,
#signStep3Content
{
    /* position: absolute; */
}

#peopleDetails
{
    min-height: 50px;
}

#signStepsMenu div img
{
    position: absolute;
    top: 5px;
    left: 5px;
}

#signStepsMenu div.current
{
    background-image: url(images/darkpattern.png);
    background-repeat: repeat;
    border-width: 0px 1px 0 1px;
    border-color: #000000;
    border-style: solid;
    color: #d9d9d9;
    height: 24px;
}
#signStepsMenu div.current a
{
    color: #d9d9d9;
}
#signStepsMenu div.current img
{
    top: 4px;	
}
/**/
#signStepsTitleRow
{
    color: #ffffff;
    background-image: url(images/darkpattern.png);
    height: 28px;
    border-width: 0 1px 0 1px;
    border-color: #000000;
    border-style: solid;
    position: relative;
}

#signStepsTitleRowTextContainer
{
    display: inline-block;
    margin: 3px 0 0 18px;
    float: left;
    position:relative;
    top:2px;
}

#signStepsTitleRow .title
{
    font-size: 10px;
    margin-right: 2px;

}

#signStepsTitleRow .name
{
    font-weight: bold;
    font-size: 16px;
    margin-right: 2px;
}

#signStepsTitleRow .changeName a
{
    font-size: 10px;
}


#signStepsTitleRow .saveButton,
#signStepsTitleRow .downloadButton
{
    float:right;
    margin-right: 10px;
    margin-top: 2px;
}


.saveButton,
.downloadButton
{
    width: 145px;
    height: 25px;
    background-image: url(images/saveButton.png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; /* 008 new */
}


.floppyIcon{
    background-image: url(images/iconFloppy.png);
}    
.arrowDownIcon{
    background-image: url(images/iconArrowDown.png);
}

.okIcon{
    border: 1px solid black;
    color: black;
    background-color: white;
    /*background-image: url(images/iconGreenCheck.png);*/
}

a.okIcon {
    color:black;
    text-decoration: none;
}

.saveButton .icon,
.downloadButton .icon
{
    width: 14px;
    height: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    left: 6px;
    top: 5px;
    position: absolute;
}

.uploadButton .icon , 
.signStepsButton .icon
{
    width: 11px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    left: 8px;
    top: 6px;
    position: absolute;
}

.signStepsButton .icon.arrowRight
{
    background-image: url(images/iconArrowRight.png);
}

/* 008 new */
.uploadButton .icon.arrowUp
{
    background-image: url(images/iconArrowUp.png);
    width: 13px;
    height: 11px;
}

.signStepsButton .icon.check
{
    background-image: url(images/iconGreenCheck.png);
    width: 14px;
    top: 5px;
}

.signStepsButton a .text,
.uploadButton a .text,
.saveButton a .text,
.downloadButton a .text
{
    font-size: 11px;
    position: absolute;
    left: 28px;
    top: 5px;
    color: #414241;
    font-weight: bold;
    white-space: nowrap;
}

/**/
#signStepsBody
{
    color: #414241;
    background-image: url(images/signStepsBodyBorder.png);
    background-repeat: repeat-y;
    overflow: hidden;
}

#signStepsBodyBorderBottom
{
    background-image: url(images/signStepsBodyBorderBottom.png);
    background-repeat: no-repeat;
    width: 960px;
    height: 11px;
}

/* 006 i couldnt get the real pixel sizes from the psd, please edit the sizes if needed */
/* step 1 */
#signStepsBodyUploadBox
{
    width: 250px;
    margin: 7px auto 0 auto;;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E8E5E5;
    border-left: 1px solid #E8E5E5;
    padding: 14px;
    text-align: center;

}

/* 015 new */
#signStepsBodyUploadBox.step3
{
    width: 217px;
    text-align: center;
    margin-left: 0;
	margin-top: 2px;
    padding: 5px 14px;
}

/* 015 new */
#signStepsBodyUploadBox.step3 #signStepsButtonContainer
{
    margin-left: 44px;
    margin-top: 6px;
}

/* 008 new */
#signStepsBodyUploadTextContainer .text
{
    color: #666666;
}

#signStepsBodyUploadBox .header
{
    font-weight: bold;
    font-size: 16px;
    color: black; /* 008 new */
}

#signStepsBodyUploadBox .title
{
    font-size: 14px;
}

#signStepsButtonContainer
{
    position: relative; /* 008 new */
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 65px;
}


/* 007 code below added in 007 */
/* step 2 */
/* 013 changed */
#signStepsBodyLeft
{
    width: 360px;
    float: left;
    position: relative;
    padding: 7px 0px 0 0px;
}

#signStepsBodyLeft.step3{
  display:block;
}
#signStepsBodyRight.step3{
   display:inline-block;
   width: 250px;
   margin-right: 20px;
}
#signStepsBodyFunctions.step3{
   width: 290px;
}
/* 013 changed */
/* FIXME?
#signStepsBodyRight
{
    width: 326px;
    position: relative;
    padding: 7px 6px 0 0px;
}
*/
.signViewBodyRight 
{
    width: 160px;
    float: left;
    position: relative;
    padding: 10px 0px 5px 20px;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E8E5E5;
    border-left: 1px solid #E8E5E5;
    margin-top: 15px;
    margin-left: 5px;
    min-height: 126px;
}

.forauthor .signViewBodyRight{
    min-height: 170px;
}

#signViewBodyLeft
{
    width: 142px;
    float: left;
    position: relative;
    padding: 14px 15px 5px 20px;
    margin-top: 20px;	
}

.signViewBodyRightTextContainer
{
    margin-top: 10px;
    width: 150px;
    overflow:hidden;
}

.signViewBodyRightTextContainer .text
{
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 11px;
    overflow:hidden;
    
}

.signViewBodyLeftTextContainer .text
{
    margin-top: 5px;
    color: #666666;
    font-size: 11px; 
}

#signViewBodyLeft .header
{
    font-weight: bold;
    font-size: 16px;
    color: black; /* 008 new */
}



/* 015 new */
.border
{
    background-color: #ecedf3;
    width: 1px;
	height: 106px;
    position: absolute;
	top: 12px;
}

/* 015 new */
#signStepsBodyRight.step3 .border.left
{
    left: -5px;
}

/* 015 new */
#signStepsBodyRight.step3 .border.right
{
    right: 4px;
}

/* 015 new */
#signStepsBodyRight.step3,
#signStepsBodyFunctions.step3,
#signStepsBodyLeft.step3
{
    color: #666666;
}


#signStepsBodyLeft.step3 .options{
	margin-left: 4px;
}

/* 016 new */
#signStepsBodyLeft.step3 .options label{
	margin-left: 3px;
}

.step3 .signStepsBodyTitle{
	padding-top: 3px;
 }
/* 013 changed */
.signStepsBodyTitle
{
    height: 14px;
    font-size: 11px;
}

.signViewBodyTitle
{
    marign-top: 9px;
    height: 14px;
    font-size: 12px;
    width: 23px;
}


.signStepsBodyIcons
{
    margin-top: 5px;
    /* width: 55px; 013 removed */
    height: 16px;	
}


/* 016 new */
.signStepsBodyIcons span{
	float: left;
	margin-right: 10px;
 }
 

/* 008 new starts */
.signStepsBodyIcons a,
.signStepsBodyIcons span,
.signStepsBodyIcons span.briefcase,
.signStepsBodyAddField a
{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    float: left;
    background-repeat: no-repeat;
}

.signViewBodyIcons a,
.signViewField a
{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    float: left;
    background-repeat: no-repeat;
}


/* 015 new */
#signStepsBodyLeft .options p
{
	margin-top: 4px;
	margin-bottom: 4px;
}
#signStepsBodyFunctions .options p
{
	margin-top: 3px;
	margin-bottom: 5px;
 }

.signStepsBodyFunctionsBox.options{
	margin-left: 4px;
}
/* 015 new */
.signStepsBodyInvation a
{
    margin: 5px 0 4px 4px
    display: inline-block;
    background-position: 2px 2px;
    background-image: url(images/iconPen.png);
    background-repeat: no-repeat;
    padding-left: 23px;
}

/* 013 new */
.signStepsBodyIcons a
{
    margin-right: 6px;
}


.signStepsBodyIcons .man
{
    background-image: url(images/iconMan.png);
}

.signStepsBodyIcons a.hand
{
    background-image: url(images/iconHand.png);
}

.signStepsBodyIcons .briefcase
{
    background-image: url(images/iconBriefcase.png);
}

.signViewBodyIcons a
{
    margin-right: 6px;
}

.signViewBodyIcons .man
{
    background-image: url(images/iconMan.png);
}

.signStepsBodyIcons .plus,
.newfield a.plus,
#signStepsBodyFunctionsBox ul .plus
{
    background-image: url(images/iconPlus.png);

}

.newfield {
    position: relative;
}

.newfield input.newfieldbox {
    width: 115px;
    border: 0;
    margin: 0px;
}

#personpane .newfield a.okIcon {
    width: 20px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 2px;
    top: 2px;
    color: black;
}


.newfield a.minus {
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 6px;
}

.customfield a.minus {
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 2px;
    top: 3px;
    background-image: url(images/iconMinus.png);
}

.signStepsBodyAddField a.minus,
.newfield a.minus,
#signStepsBodyFunctionsBox ul .minus
{
    background-image: url(images/iconMinus.png);
}

.signStepsBodyAddField p
{
    position: absolute;
    left: 40px;
    top: -3px;
    margin: 0;
}

/* 013 changed */

.signStepsBodyForms .inputWrapper input,
.signStepsBodyForms .inputWrapper .fieldvalue
{
    padding-left: 19px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    border: none;
    margin: 0;
}


.dragtext {
    position: relative;
    width: 138px;
    height: 20px;
    margin-bottom: 3px;
    line-height: 20px;
}

.dragtext .fieldvalue {
    margin-left: 19px;
}

/* For the draggable fields in signatory details */
.dragfield {
  position: relative;
  overflow: hidden;
}

/* a class for the little hand in an input field */
.draghandle {
  position: absolute;
  top: 3px;
  left: 3px;

}

.signViewBodyForms input
{
    padding-left: 20px;
    width: 118px;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    border-color: #6782a5;
    margin: 3px 5px 0 0;
}

.inputWrapper
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;

    border: 1px solid #6782a5;
    display: block;
    float: left;
    margin: 3px 5px 0 0;
    padding: 0;
    width: 161px;
    overflow: hidden;
}


/* 013 changed */
#signStepsBodyFunctionsBox ul
{
        list-style-type: none;
  	margin: 9px 0 0 22px;
 	padding-left: 0;
	padding-bottom: 2px;

}
#signStepsBodyFunctionsBox .divider
{
    width:100%;
    height:1px;
    border-bottom:1px solid #F2F2F7;
}


/* 013 new */
#signStepsBodyFunctionsBox ul li
{
    margin-bottom: 5px;
    height: 16px;
    background-position: 0 2px;
    background-repeat: no-repeat;
    
}

#signStepsBodyFunctionsBox ul a
{
    padding-left: 20px;
    background-position: 0 2px;
}

/* 015 changed */
#signStepsBodyFunctionsBox ul a.floppy,
.signStepsBodySaveMethods label
{
    background-image: url(images/iconFloppy.png);
}

#signStepsBodyFunctionsBox ul .arrowDown
{
    background-image: url(images/iconArrowDown.png);
    background-position: 2px 2px;
}

/* 008 ends */

/* 015 new */
.signStepsBodySaveMethods label
{
    height: 17px;
    background-repeat: no-repeat;
    background-position: 0 3px;
  	padding-left: 21px;
	margin-left: 0 !important;
}

form {
    margin: 0px;
}



.signStepsBodyForms
{
    margin: 5px 0 0px 0; /* 013 changed */
    position: relative;
}

.signViewBodyForms
{
    margin: 5px 0 5px 0; /* 013 changed */
}

.signStepsBodyAddField
{
    /*width: 50px; 008 removed */
    /*position: relative; /* 008 new */
    height: 14px;
    font-size: 11px; /* 013 changed */
    line-height: 19px; /* 013 new */
    margin-top: 3px;
}

/* 013 new */
.signStepsBodyAddField p
{
    margin-left: -2px;
}

#signStepsBodyFunctions
{
    width: 186px;
    position: relative;
    float: right;

}

/* 015 new */
#signStepsBodyFunctions.step3
{
   padding-top: 7px;
}

/* 013 changed */
#signStepsBodyFunctionsBox
{
    width: 100%;
    margin: 7px 0px 0 0px;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}
/*
#signStepsBodyFunctionsBox #signStepsNextButton{
  vertical-align:center;
  width:100%;
  height:40px;
  margin:15px 30% 0 30%;
  
}
*/
/* 013 new */
#signStepsBodyLeft #people,
#signStepsBodyFunctionsBox
{
    border: 1px solid black;
    border-top-color: #e6e7ef;
    border-right-color: #f3f4f7;
    border-bottom-color: #f0f1f5;
    border-left-color: #f2f2f7;
}

/* 013 new */
.buttonSignLarge
{
    background-image: url(images/buttonSignLarge.png);
    background-repeat: no-repeat;
    display: block;
    width: 252px;
    height: 61px;
    cursor: pointer;
}

.buttonSendLarge {
    background-image: url(images/button-send.png);
    background-repeat: no-repeat;
    display: block;
    width: 252px;
    height: 61px;
    cursor: pointer;
}

/* 013 new */
#signStepsBodyLeft #people
{
    width: 250px;
    padding: 10px 8px 4px 8px;
    margin-top: 2px;
}

/* 013 new */
#signStepsBodyLeft #people .signStepsBodyTitle .totalCount
{
    color: #9a9a9a;
}

/* 013 new */
#signStepsBodyLeft #people .signStepsBodyForms a
{
    display: block;
    font-size: 11px;
}

/* 013 new */
#signStepsBodyLeft #people .signStepsBodyAddField.partCount
{
    height: auto;
}

/* 013 new */
#signStepsBodyLeft #people .signStepsBodyAddField.partCount span
{
    margin-right: 3px;
}

/* 013 new */
#signStepsBodyLeft #people .signStepsBodyAddField.partCount a
{
    display: inline;
    float: none;
    width: auto;
}

#signViewBodySpacer
{
    width: 5px;
    float: left;
    position: relative;
    
    margin-top: 15px;
}

#signViewNotificationContainer
{
    width: 958px;
    height: 70px;
    border-top: 1px solid #E2C822;
    border-right: 1px solid #E2C822;
    border-bottom: 1px solid #E2C822;
    border-left: 1px solid #E2C822;
    background-color:#FFF9D7;
    position: absolute;
    z-index: 10;
}

#signViewNotificationContainerRight
{
    width: 100px;
    float: left;
    position: relative;
    margin-top: 10px;
    padding: 0px,0px,5px,5px;	
}

#signViewNotificationContainerLeft
{
    width: 855px;
    float: left;
    position: relative;
    height: 70px;
}

#signViewNotificationContainer .title
{
    color:#595A59;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
    text-align:center; 
}

#signViewNotificationContainer .text
{
    color:#595A59;
    font-size: 11px;
    margin-top: 15px;
    margin-left: 15px;  
}

#signViewNotificationContainerRight .anchor
{
    font-size: 11px;
    text-align:right;
    margin-right: 25px;	
}

#signViewNotificationContainerRight .anchor a
{
    color: #7895BA;
    text-decoration: none;
}

#signViewBottomBox
{
    /* 002 float: left;*/
    margin-top: 30px;
    
    background: none repeat scroll 0 0 #F2F2F2;
    -moz-border-radius: 4px;
    -moz-box-sizing: border-box;
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    height: 143px;
    width: 100%;
}

#signViewBottomBoxTop
{
    background-image: url(images/box2-top.png);
    background-repeat: no-repeat;
    width: 960px;
    height: 10px;
    float: left; /* 008 new */
}

#signViewBottomBoxContainerLeft
{
    width: 625px;
    float: left;
    position: relative;
    padding:10px 0 10px 25px;	
}

#signViewBottomBoxContainerLeftIcon
{
    float:left;
    width: 30px;
}

#signViewBottomBoxContainerLeftText
{
    float:left;
    margin-top:2px;
    width:351px;
    display:table;
    padding: 3px;
}

#signViewBottomBoxContainerLeftText .title
{
    font-size:16px;
    color: black;
    width:100%;
}

#signViewBottomBoxContainerLeftText .text
{
    margin-top:20px;
    font-size:12px;
    color: #666666;
    width:100%;
    display:table-row;
}

#signViewBottomBoxContainerRight
{
    width: 300px;
    float: left;
    position: relative;
    margin-top:45px;
    color:white;
}

#signViewBottomBoxContainerRight .button
{
    background-image: url(images/button-bg.png);
    background-repeat: no-repeat;
    display: block;
    width: 167px;
    height: 43px;
}

#signViewBottomBoxContainerRight .linkText
{
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    vertical-align: center;
    text-align: center;

    color: white; /* 003l new/changed */
    font-weight: bold; /* 003l new */
    width: 151px;
    margin-left:15px;
}

#signViewBottomBoxBottom
{
    background-image: url(images/box2-bottom.png);
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    width: 960px;
}

.step1icon {
    background-image: url(images/icon1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    width: 23px;
}

.step2icon {
    background-image: url(images/icon2.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    width: 23px;
}

.step3icon {
    background-image: url(images/icon3.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    height: 23px;
    width: 23px;
}

#signStepsBody {
    padding-left:20px;
    padding-right:20px;
}

#signStepsBody.personPaneLargeNumberMode span.persondetails
{
    display: none;
}

#signStepsBody.personPaneSmallNumberMode span.persondetails
{
    display: block;
    float: left;
}

#signStepsBody.personPaneSmallNumberMode #personpane
{
    width: 720px;
}

#personpane 
{
    display:inline-block;
}

#signStepsBody.personPaneLargeNumberMode #signStepsBodyLeft
{
    display: block;
}

#signStepsBody.personPaneSmallNumberMode #signStepsBodyLeft
{
    display: none;
}

#signStepsBody span.persondetails.currentPerson
{
    display: block;
}

.partyrole {
    display: none;

    position: absolute;
    background-color: white;
    top: 0px;
    left: 0px;
    border: solid 1px;
    padding: 4px;
}

.partyrole .closelink {
    float: right;
    margin-left: 4px;
}

.persondetails {
    width: 360px;
}

.signViewBodyForms .dragfield input {
    background-image: url(images/iconPen.png); 
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

.redborder 
{
    border:1px solid red;
}

.signStepsBodyIcons .partnumber 
{
  width:100px;
  display:block;
}

.signStepsBodyIcons .man{
  margin-top:-1px;
}

.signStepsBodyIcons .plus{
  margin-top:1px;
}

#inviteContainer input[type=email]{
  width:200px;
}


.btn-small {
	background: url(../img/btn-small.png) 0 0 no-repeat;
	color: #fff;
	display: block;
	font: 12px "Helvetica Neue";
	height: 34px;
	letter-spacing: 0.2px;
	padding-left: 16px;
	padding-top: 0px;
	text-decoration: none;
	width: 152px;
        text-align: left;
        border: 0;
}

.btn-small p {
    color: #fff;
    text-shadow: #41770b 0 1px 3px;
    margin:0px;
}


.btn-small.green2 {
	background-position: -152px 0;
}


.btn-small.green2:hover {
	background-position: -152px -34px;
        background-color: transparent;
}

.btn-small.green2:active {
	background-position: -152px -68px;
}

.btn-blue {
	background: url(images/btn-sign-1.png) 0 0 no-repeat;
	color: #fff;
	display: block;
	font: 18px "Helvetica Neue";
	height: 47px;
	letter-spacing: 0.5px;
	padding-left: 20px;
	padding-top: 0px;
	text-decoration: none;
	width: 222px;
        text-align: left;
        border: 0;
        margin: auto;
}

.btn-blue p {
	color: #fff;
	text-shadow: #41770b 0 1px 3px;
        margin:0;
}


.btn-blue.deactivated {
	background-position: -222px 0;
}

.btn-blue.deactivated:hover {
	background-position: -222px 0;
        background-color: transparent;
}

.btn-blue.deactivated:active {
	background-position: -222px 0px;
}




.btn-blue {
	background-position: 0px 0;
}

.btn-blue:hover {
	background-position: 0px -47px;
        background-color: transparent;
}
.btn-blue:active {
	background-position: 0px -94px;
}


a#nextstep {
    width: 136px;
    color: white;
    border: 0;
    margin: 16px;
    display: block;
}

#nextstep span {
    padding-top: 8px;
    display: block;
    
}

.uploadButton
{
    width: 120px;
    height: 25px;
    background-image: url(images/singStepsButton.png);
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; /* 008 new */
}
