
.bodycolorbg {
  background-color: #fafafa;
}

.bodycolorfg {
  background-color: #fafafa;
}

body {
  font-family: Verdana, serif;
  color: #6d6e70;
  background-color: #fafafa;
  font-size: x-small;
  margin: 0px;
}

#headerContainer
{
  background: #fafafa url(images/gradientextent.png) repeat-x bottom center;
  color: #fafafa;
  height: 90px;
}

#headerContainer.topempty
{
  background: #fafafa;
}

#headerContainer.topempty #headerContainer2
{
  background: #fafafa;
}

#headerContainer.topempty #nav
{
  display: none;
}

#headerContainer2
{
  background: url(images/gradient.png) no-repeat bottom center;
  color: #fafafa;
  text-align: center;
  height: 90px;
}

#nav
{
  background: none;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: auto;

  //height: 25px;
  padding: 50px 0 0 0;
  text-align: center;

  width: 470px !important;
}

#nav ul {
  display: inline;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#nav li {
  float: left;
  margin-left: 1px;
}

/*
#nav li a {
  //background: url("/theme/images/ButtonTOP.png") no-repeat scroll right top transparent;
  float: left;
  //padding-right: 13px;
  text-decoration: none;
}
*/

/*
#nav li a:hover, #nav .active, #nav .active span, #nav li a:hover span {
  background: #fcfcfc url("/theme/images/ButtonTOP.png") no-repeat scroll right bottom transparent;
  color: #9fb3b5;
  font-size: 22px;
}
*/
#nav li a {
  // background: url("/theme/images/ButtonTOP.png") no-repeat scroll left top transparent;
  //color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  //padding: 0 0 0 13px;
  //padding-bottom: 10px; 
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: center;
  text-align: center;

  color: #ffffff;
  width: 151px;
}

#nav li a.active 
{
  background: url("/theme/images/ButtonTOP.png") no-repeat scroll left top transparent;
  font-weight: bold;
  color: #969696;
}

#nav .activeleft
{
  padding-left: 20px;
  //background: url("/theme/images/ButtonTOP.png") no-repeat scroll left top transparent;
}
#nav .activeright
{
  padding-right: 20px;
  //background: url("/theme/images/ButtonTOP.png") no-repeat scroll right top transparent;
}
#nav .activemid
{
  //background: #fcfcfc;
  //color: #969696;
  font-size: 14px;
  font-weight: bold;
}

#nav .inactiveleft
{
  padding-left: 20px;
}
#nav .inactiveright
{
  padding-right: 20px;
}
#nav .inactivemid
{
}

#nav .inactivemid:hover
{
  font-size: 110%;
}


.para {
  text-align: justify;
}

.topnavi {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.topnavi a {
  text-decoration: none;
  text-color: inherit;
  color: #fafafa;
}

.selected a {
  color: #9fb3b5;
  background-color:  #fafafa;
}

.selected { 
  font-size: 130%;
  background-color:  #fafafa;
}

#mainContainer a {
  color: #007cac;
  font-weight: bold;
  text-decoration: none;
}

#mainContainer .headline {
  color: #ff972d; 
  font-weight: bold;
  font-size: 130%;
}

.logosmall
{
  position: absolute;
  top: 0px;
  left: 0px;
}

.contactabout
{
  position: absolute;
  top: 10px;
  right: 10px;
}

.contactabout, .contactabout a {
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-small;
}

.centerdiv {
  margin-left: auto; 
  margin-right: auto;
}

.centerdivnarrow {
  margin-left: auto; 
  margin-right: auto;
  width: 300px;
}

.small {
  font-size: small;
}

a.button {
   color: white;
}

.button {
   -moz-border-radius:4px 4px 4px 4px;
   color: white !important;
   text-transform: uppercase;
   background-color: #005794;
   font-family: Verdana;
   border: none;
   text-align: center;
   vertical-align: center;
   margin: 6px;
   padding: 0px 7px;
   display: block;
   margin-left: auto;
   display: inline;

   font-size: xx-small;
   font-weight: bold;
   height: 20px;
   line-height: 20px;
}

a.secbutton {
   color: white;
}

.secbutton {
   -moz-border-radius:4px 4px 4px 4px;
   color: white !important;
   text-transform: uppercase;
   background-color: gray;
   font-family: Verdana;
   border: none;
   text-align: center;
   vertical-align: center;
   margin: 6px;
   padding: 0px 7px;
   display: block;
   margin-left: auto;

   font-size: xx-small;
   font-weight: bold;
   height: 20px;
   line-height: 20px;
   width: 120px;
}

a.bigbutton {
   color: white;
}

.bigbutton {
   -moz-border-radius:4px 4px 4px 4px;
   color: white !important;
   text-transform: uppercase;
   background-color: #005794;
   font-family: Verdana;
   border: none;
   text-align: center;
   vertical-align: center;
   margin: 6px;
   padding: 0px 7px;
   display: block;
   margin-left: auto;

   font-size: x-small;
   font-weight: bold;
   height: 35px;
   line-height: 35px;
   width: 180px;
}

#documentBox {
   overflow: auto;
   height: 540px;
   width: 400px;
   background-color: #999;
}

#documentBox img {
   width: 370px;
   align: center;
   margin: 6px;
   border: 1px solid black;
}

.doctable {
  border-collapse:collapse;
  border-color: gray;
  border-width: 1px;
  background-color: #EAEAEA;
  padding: 10px; 
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
 
.doctable td
{
  border-style: none none solid none; 
  border-width: 1px;
  border-color: gray;
}

.doctable thead tr td,
.doctable thead tr
{
  padding: 3px 0px;
  border-style: none none solid none;
  border-width: 1px;
  border-color: gray;
}

.doctable .tdleft
{
  border-style: none none none solid; 
  border-width: 1px;
  border-color: gray;
  width: 11px;
  overflow: hidden;
}

.doctable col.tdleft
{
  width: 11px; // minimum
}

.doctable col.tdright
{
  width: 11px;
}

.doctable .tdright
{
  border-style: none solid none none; 
  border-width: 1px;
  border-color: gray;
  width: 11px;
  overflow: hidden;
}

.doctable thead
{
  font-size: xx-small;
  color: #606060;
  border-style: none none solid none;
  background-color: #FAFAFA;
  border-width: 1px;
  border-color: gray;
}

.doctable tfoot,
.doctable tfoot tr,
.doctable tfoot tr td
{
  font-size: xx-small;
  color: #606060;
  border-style: solid none none none;
  background-color: #FAFAFA;
  border-width: 1px;
  border-color: gray;
}

.docview td
{
  vertical-align:top;
}

.docview 
{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.inlinebox
{
  border-style: solid none;
  border-width: 1px;
  border-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FCFCFC;
}

.flashmsgbox
{
background-color:lightgray;
border:1px solid gray;
// height:60%;
left:40%;
padding:1em;
position:absolute;
right:40%;
top: -4px;
-moz-border-radius: 4px 4px 4px 4px;

//font-size: 200%;
}

/*
#footerContainer
{
  background: url(images/gradientbottomextent.png) repeat-x bottom center;

  height:36px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

#footerContainer2
{
  background:url(images/gradientbottom.png) no-repeat bottom center;
  height: 36px;
}
*/

#signatorylist
{
  height:200px;
  overflow:auto;
  padding:0 0 0 20px;
}