/* make iframe cover the whole are */

html {
  height: 85%;
}

body.iframe {
  height: 100%;
  width: 100%;
  margin: 0px;
}

div.ipage {
  height: 100%;
  width: 100%
}

div.main {
  width: 100%;
}

div.nemid_client.standard {
  height: 100%;
  width:100%;
}

#nemid_iframe {
  height: 100%;
  width: 100%;
  min-width: 240px;
  min-height: 360px
}

#codefile_iframe {
  min-height: 370px;
  width: 100%;
}
/* keyfile vs keycard selection */
div.signheader.ipageheader {
  color: #505050;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

div.signdeadline {
  margin-top: 10px;
  color: #505050;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
}
