.bidm_app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#bidmob_form {
  margin: 0px;
}

.bidm_app .bidm_wrapper {
  height: 85%;
}

.bidm_phone {
  border: 10px black;
}

/* make iframe cover the whole area */

html {
  height: 100%;
}

body.iframe {
  margin: 0px;
}

body.iframe.signiframe {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='300px' width='120px'><text x='50' y='230' fill='#505050' font-size='18' font-family='Source Sans Pro, sans-serif'>or</text></svg>");
  background-repeat: no-repeat;
  background-position: top;
}

#nobankid_index_body {
  height: 100%;
}

div.ipage {
  height: 100%;
  width: 100%
}

div.ipage.signipage {
  height: auto;
}

div.main {
  height: 90%;
  width: 100%;
}

div.main.signcontent {
  height: auto;
}

#bid_client {
  height: 100%;
  width: 100%;
  min-width: 320px;
}

/* keyfile vs keycard selection */
div.signheader.ipageheader {
  color: #505050;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

div.signcontent input[type="submit"] {
  width: 100%;
  border: none;
  background-color: #F1F1F1;
  color: #505050;
  padding: 24px 28px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50px;
}

div.signdeadline {
  margin-top: 10px;
  color: #505050;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
}
