//  Extend the object to full width of the page,
//  even if it's wrapped in an object which have for example width 70%;
//
//  http://www.sitepoint.com/css-extend-full-width-bars/

.extendfull {
  padding-left: 3000px;
  margin-left: -3000px;
  padding-right: 3000px;
  margin-right: -3000px;
}


.fold {
  .extendfull;
  padding-top: 70px;
  padding-bottom: 90px;

  &.fold-grey {
    background-color: @gray-5-percent;
  }

  &.fold-green {
    background-color: @brand-secondary;
  }

  &.fold-white {
    background-color: @white;
  }

  &.fold-blue {
    background-color: @brand-primary;
  }
}