// Postsignview landing page
// -------------------------

.psv-landing-page {
  text-align: left;

  .main-header {
    padding-bottom: 30px;
  }
  
  .quote {

    .big-quotation {
      font-size: 48px;
      line-height: 0px;
      position: relative;
      top: 15px;

      &.big-quotation-left {
	padding-right: 4px;
      }
      
      &.big-quotation-right {
	padding-left: 4px;
      }
    }

    p {
      padding-top:14px;
    }
  }

  .signup-buttons {
    padding-top: 40px;

    .text-between-buttons {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
