@import 'util.less';
@import '../branding/elements';
@import '../branding/variables.less';

// @DRAGGABLES
// -------------------------

@draggables-border: 2px dashed #e4e4e4;

// TODO: remove some overlap with the process box.
.design-view-action-document-draggables {
  background-color: @grey-background;
  border-bottom: 4px solid @white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 4px solid @white;
  border-right: 4px solid @white;
  height: 96px;
  margin: auto;
  padding-top: 16px;
  width: 1018px;

  .box-shadow(0 4px 0 rgba(0,0,0,0.05));
  .box-sizing(border-box);
}

.design-view-action-document-draggables-help {
  display: inline-block;
  position: relative;
  text-align: center;
  
  .box-sizing(border-box);

  .icon {
    background-image: url(~"@{img-base-url}/Add-field-help-sprite.png");
    display: inline-block;
    height: 35px;
    position: relative;
    top: 3px;
    width: 38px;
  }

  &.help1 {
    margin-left: 35px;
    width: 196px;

    .icon {
      background-position: 0px 0px;
    }

    .text {
      max-width: 135px;
      min-width: 123px;
      margin-left: 10px;
    }
  }

  &.help2 {
    margin-left: 12px;
    max-width: 190px;
    min-width: 156px;
    
    .icon {
      background-position: 38px 0px;
    }
    .text {
      margin-left: 4px;
      margin-right: 14px;
      max-width: 125px;
      min-width: 83px;
    }
  }

  .wrapper {
    border: @draggables-border;
    border-radius: 2px;
    height: 42px;
    padding: 6px 0px 6px 5px;

    .text {
      display: inline-block;
      line-height: 16px;
      text-align : left;
    }
  }
}

@draggable-background: #fafafa;

.design-view-action-document-draggable {
  display: inline-block;
  margin-right:12px;
  height: 100%;
  position: relative;
  vertical-align:top;
  
  .box-sizing(border-box);

  &.design-view-action-document-draggable-textbox {
    margin-left: 30px;

    .design-view-action-document-draggable-icon {
      background-position: 0px 0px;
    }

    .design-view-action-document-draggable-text {
      width: 110px;
    }
  }

  &.design-view-action-document-draggable-signature {
    
    .design-view-action-document-draggable-icon {
      background-position: 44px 0px;
    }

    .design-view-action-document-draggable-text {
      width: 116px;
    }
  }

  &.design-view-action-document-draggable-checkbox {
    
    .design-view-action-document-draggable-icon {
      background-position: 21px 0px;
    }
    
    .design-view-action-document-draggable-text {
      width:94px;
    }
  }

  .design-view-action-document-draggable-wrapper {
    border: @draggables-border;
    border-radius: 2px;
    padding: 5px;
  }

  .design-view-action-document-draggable-inner-wrapper {
    background-color: @brand-secondary-light;
    border-radius: 2px;
    height: 44px;
  }

  .design-view-action-document-draggable-icon-wrapper {
    background-color: @brand-secondary;
    border-radius: 2px 0px 0px 2px;
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 44px;
  }

  .design-view-action-document-draggable-text {
    cursor: default;
    display:inline-block;
    text-align:center;
    position: relative;
    top: -7px;

    span {
      color: @white;
      position: relative;
      top: 2px;
    }
  }

  .design-view-action-document-draggable-icon {
    background-image: url(~"@{img-base-url}/place-fields-sprite.png");
    display: inline-block;
    height: 20px;
    margin-top: 11px;
    margin-left: 3px;
    width: 21px;
  }
}

.typesetter-obligatory-option {
  width: 220px;
}

.text-field-placement-setter-field-name {
  width: 221px;

  .name {
    border: 1px solid red;
    height: 19px;
    padding: 5px;
    vertical-align: top;
    width: 150px;
  }

  input {
    font-size: 14px;
    height: 24px;
    margin-top: -5px;
  }

  .button {
    padding: 8px 12px 9px;
    vertical-align: top;
  }
}

.text-field-placement-setter-field-selector,
.text-field-placement-setter-field-field-selector {
  font-size: 14.5px; // keep consistent with size of .placedfield.ui-draggable when placing fields.
  height: 29px;
  width: 189px;
  
  .select-button {
    height: 29px;
    
    .select-button-label {
      padding-top: 5px;
    }

    .select-button-right,
    .select-button-left {
      top: -2px;
    }
  }
  .select-opts {
    top: 28px !important;
  }
}

.text-field-placement-setter-field-editor {
  height: 20px;
  padding: 5px;
  width: 208px;
}