.highlight-explanation {
    .add-participant-button-wrapper {
        padding: 15px;
        border: 2px dashed #f9f9f9;
        display: inline-block;
    }
    .add-participant-buttons {
        margin-top: 23px;
    }

    // This is adjusted to the left due to being at the edge of the screen.
    .signing-instruction {
        width: 222px;
        margin-left: -80px;
        .arrowed:before {
            left: -128px;
        }
   }
}

.sample-document-preview {
    position: fixed;
    top: 210px;
    z-index: 99999; // above participants tab
    left: 42%; // TODO center
    height: 488px;
    padding: 25px;
    background-color: #f7f7f7;

    img.document-preview {
        display: block;
        margin-top: 10px;
        border: 1px solid #e7e7e7;
    }
}
