.send-modal-body {
    text-align: center;
}

.modal-content .body .designview-cant-sign-modal {
  font-size: 14px;
  text-align: center;

  .sample {
    color: #5db98f;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
  }

  p {
    margin: 0 0 30px;
  }
}
