.send-modal-body {
    text-align: center;
}

.something-missing-modal {
  font-size: 14px;
  text-align: center;

  .something-missing-popup-p1 {
    margin-bottom: 40px;
  }

  .something-missing-popup-email {
    font-size: 15px;
    color: #5DB98F;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .something-missing-popup-mobile {
    font-size: 15px;
    color: #5DB98F;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
