@import 'util.less';

/// @PARTICIPANT ///

.design-view-action-participant-container {
    .box-sizing(border-box);
    margin: 0 -1px -1px 0;
    width: 100%;
    float: left;
    position: relative;
    background-color: #f2f2f2;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .box-shadow(0 4px 0 rgba(0, 0, 0, 0.05));
}

.design-view-action-participant-box {
    .box-sizing(border-box);
    margin: 16px 6px 8px 16px;
    position: relative;
}

.design-view-action-participant {
    .design-view-action-participant-box;
}

.design-view-action-participant-inner {
    .box-sizing(border-box);
    overflow: hidden;
    border: 4px solid #fff;
    width: 970px;
    height: 58px;
    position: relative;
    z-index: 1;
    border-radius: 4px;

}

.design-view-action-participant-close {
     position: absolute;
     margin-right: 12px;
     margin-top: -5px;
     right : 0px;
     width: 19px;
     height: 20px;
     background: url("/img/editor-view-remove-party.png");
     display: inline-block;
     cursor: pointer;
     z-index : 501;
     &:hover {
      background: url("/img/editor-view-remove-party-hover.png");
     }
}

.design-view-action-participant-info-box {
    .box-sizing(border-box);
    position: absolute;
    left: 0;
    top: 0px;
    height: 50px;
    width: 100%;
    background: #fafafa;
    z-index: 100;
    cursor: pointer;
}


.design-view-action-participant-info-color {
    height: 10px;
    width: 10px;
    background-color: green;
    position: absolute;
    top: 17px;
    left: 13px;
    border: 4px solid white;
}

.design-view-action-participant-info-name {
    .box-sizing(border-box);
    position: absolute;
    top: 0px;
    left: 44px;
    width: 200px;
    height: 100%;
    border-left: 1px dashed #ddd;
}

.design-view-action-participant-info-name-inner {
    line-height: 1.3em;
    .center-vh(180px, 1.3em);
    left: 10px;
    overflow: hidden;
    margin-left: 0;
}


.design-view-action-participant-info-email {
    .box-sizing(border-box);
    position: absolute;
    top: 0px;
    left: 444px;
    width: 320px;
    height: 100%;
    border-left: 1px dashed #ddd;
}

.design-view-action-participant-info-email-inner {
    line-height: 1.3em;
    .center-vh(320px, 1.3em);
    left: 10px;
    overflow: hidden;
    margin-left: 0;
}

.design-view-action-participant-info-company {
    .box-sizing(border-box);
    position: absolute;
    top: 0px;
    left: 244px;
    margin-left: 3px;
    width: 200px;
    height: 100%;
    border-left: 1px dashed #ddd;

}

.design-view-action-participant-info-company-inner {
    line-height: 1.3em;
    .center-vh(180px, 1.3em);
    left: 10px;
    overflow: hidden;
    margin-left: 0;
}

.design-view-action-participant-icon-order {
    .box-sizing(border-box);
    border-left: 1px dashed #ddd;
    width: 44px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 132px;
    line-height: 1em;
}

.design-view-action-participant-icon-order-inner {
    margin-top: 18px;
    text-align: center;
}

.design-view-action-participant-icon-role {
    .box-sizing(border-box);
    display: inline-block;
    border-left: 1px dashed #ddd;
    width: 44px;
    height: 50px;
    position: absolute;
    top:0;
    right: 88px;
}

.design-view-action-participant-icon-role-inner {
    margin-top: 6px;
    text-align: center;
}

.design-view-action-participant-icon-device {
    .box-sizing(border-box);
    display: inline-block;
    border-left: 1px dashed #ddd;
    width: 44px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 44px;
}

.design-view-action-participant-icon-device-inner {
    margin-top: 6px;
    text-align: center;
}

.design-view-action-participant-icon-auth {
    .box-sizing(border-box);
    display: inline-block;
    border-left: 1px dashed #ddd;
    width: 44px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.design-view-action-participant-icon-auth-inner {
    margin-top: 6px;
    text-align: center;
}



// input boxes in participants
.design-view-action-participant-details-field {
    .box-sizing(border-box);
    border: 1px solid #ccc;
    width: 196px;
    padding: 8px;
    height: 36px;
    background: #white;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    &:focus {
        border: 1px solid #ccc;
    }
}



/// @NEW BOX ///



.design-view-action-participant-new-box {
    position: relative;
    overflow: hidden;
    line-height: 1em;

    border-top: 1px dashed #aaa;
    margin-top: 16px;
    padding-top: 16px;
}

.design-view-action-participant-new-box-buttons {
    z-index: 100;
    text-align: right;
    margin: 0px 32px 16px 0px;
}

.design-view-action-participant-new-single {
    display: inline-block;
    height: 100%;
}

.design-view-action-participant-new-single-text {
    .center-vh(100%, 1em);
    text-align: left;
}

.design-view-action-participant-new-multi {
    display: inline-block;
    height: 100%;
    margin-right: 16px;
}

.design-view-action-participant-new-multi-text {
    .center-vh(100%, 1em);
    text-align: right;
}


/// @DETAILS ///

.design-view-action-participant-details-common {
    .box-sizing(border-box);
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 970px;
    z-index: 1;
}

.design-view-action-participant-details {
    .design-view-action-participant-details-common;
    width: 100%;
    border-top: 1px dashed #eee;
}

.design-view-action-participant-new-single-details {
    .design-view-action-participant-details-common;
}

.design-view-action-participant-new-multi-details {
    .design-view-action-participant-details-common;
}

.design-view-action-participant-details-information {
    .box-sizing(border-box);
    margin: 16px 0 0 16px;
    .clearfix;
}

.design-view-action-participant-details-information-header {

}

.design-view-action-participant-details-information-fields {

}

.design-view-action-participant-details-information-field-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.design-view-action-participant-details-information-field {
    .design-view-action-participant-details-field;
    margin-bottom: 8px;
    border-right-color : transparent;
    width: 240px;
    &.redborder {
        border:1px solid red;
    }
}

.design-view-action-participant-details-information-field-options-wrapper {
    display: inline-block;
}

.design-view-action-participant-details-information-field-options {
    .box-sizing(border-box);
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    height: 36px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    .select-opts {
        z-index: 1000;
        width: 200px;
    }
    margin-bottom: 8px;
}

.design-view-action-participant-new-field-selector {
    .box-sizing(border-box);
    height: 36px;
    width: 256px;
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-participant-details-information-add-field {

}

.design-view-action-participant-details-information-add-field-plus {

}

.design-view-action-participant-details-information-add-field-text {

}



.design-view-action-participant-details-participation {
    .box-sizing(border-box);
    display: block;
    margin: 16px 0 16px 16px;
}

.design-view-action-participant-details-participation-header {

}

.design-view-action-participant-details-participation-fields {
    height: 32px;
    margin-bottom: 8px;
}

.design-view-action-participant-details-participation-order {
    width: 225px;
    margin-right: 8px;
    float: left;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    .select-opts {
        z-index: 1000;
        width: 100%;
    }
}

.design-view-action-participant-details-participation-delivery {
    width: 225px;
    margin-right: 8px;
    float: left;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    .select-opts {
        z-index: 1000;
        width: 100%;
        li {
            z-index: 1000;
        }
    }
}

.design-view-action-participant-details-participation-role {
    width: 225px;
    margin-right: 8px;
    float: left;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    .select-opts {
        z-index: 1000;
        width: 100%;
    }
}

.design-view-action-participant-details-participation-auth {
    width: 225px;
    margin-right: 8px;
    float: left;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    .select-opts {
        z-index: 1000;
        width: 100%;
    }
}

.design-view-action-participant-buttons {
    margin-top: 4px;
    text-align: right;
}



.design-view-action-participant-new-field-popup-content {

}

.design-view-action-participant-details-information-closer {
     width: 19px;
     height: 20px;
     display: inline-block;
     position: absolute;
     top: -8px;
     left: -8px;
     &.active {
      background: url("/img/editor-view-remove-party.png");
      cursor: pointer;
      &:hover {
        background: url("/img/editor-view-remove-party-hover.png");
      }
    }
}

.design-view-action-participant-new-field-popup-content-top {
    width: 250px;
    margin: auto;
}

.design-view-action-participant-new-field-popup-content-bottom {
    width: 250px;
    margin: 8px auto 0 auto;

}

.design-view-action-participant-new-field-popup-content-bottom-input {
    width: 239px;
}
