@import 'util.less';

.design-view-action-process {
    background: white;
    border-bottom: 1px solid #ccc;
}

.design-view-action-process {
    .design-view-action-process-right-column-invitation-wrapper {
        .mceStatusbar {
            display: none;
        }
    }
}

.design-view-action-process-left-column {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 170px;
    margin-top: 16px;
}

.design-view-action-row {
    margin-bottom: 8px;
    line-height: 32px;
    vertical-align: middle;
}

.design-view-action-label {
    width: 156px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
    vertical-align: middle;
}

.design-view-action-process-left-column-document-name {
    .design-view-action-row;
}

.design-view-action-process-left-column-document-name-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-document-name-field {
    width: 148px;
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-document-type {
    .design-view-action-row;
}

.design-view-action-process-left-column-document-type-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-document-type-field {
    width: 158px;
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-language {
    .design-view-action-row;
}

.design-view-action-process-left-column-language-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-language-field {
    width: 158px; 
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-deadline {
    .design-view-action-row;
}

.design-view-action-process-left-column-deadline-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-deadline-field {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.design-view-action-process-left-column-deadline-tag {
    display: inline-block;
}

.design-view-action-process-left-column-attachments {
    display: inline-block;
    margin-top: 20px;
}


.design-view-action-process-left-column-attachments-author-button {

}

.design-view-action-process-left-column-attachments-signatory-button {
    margin-left: 4px;
}

.design-view-action-process-middle-column {
    display:inline-block;
    .box-sizing(border-box);
    width: 33%;
    height: 170px;
    margin-top: 16px;
    padding: 4px 16px 8px 16px;
    vertical-align: top;
}

.design-view-action-process-right-column {
    display: inline-block;
    .box-sizing(border-box);
    margin-top: 18px;
    width: 34%;
    height: 170px;
    padding: 8px 16px;
    vertical-align: top;
}

.design-view-action-process-right-column-invitation-topline {
    position: relative;
}

.design-view-action-process-right-column-invitation-link {
    position: absolute;
    top: 0;
    right: 0;
    color: #7a94b8;
    text-decoration: underline;
}

.design-view-action-process-right-column-invitation-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 4px;
}

.design-view-action-process-right-column-invitation-wrapper {
    display: inline-block;
    width: 470px;
    height: 110px;
    vertical-align: top;
}

.design-view-action-process-right-column-invitation-editor {
    width: 470px;
    height: 110px;
}