@import 'util.less';

.design-view-action-process {
    background: white;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.design-view-action-process-left-column {
    display: inline-block;
    vertical-align: top;
}

.design-view-action-row {
    margin-top: 8px;
    line-height: 32px;
    vertical-align: middle;
}

.design-view-action-label {
    width: 165px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
    vertical-align: middle;
}

.design-view-action-process-left-column-document-name {
    .design-view-action-row;
}

.design-view-action-process-left-column-document-name-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-document-name-field {
    width: 132px;
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-document-type {
    .design-view-action-row;
}

.design-view-action-process-left-column-document-type-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-document-type-field {
    width: 132px;
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-language {
    .design-view-action-row;
}

.design-view-action-process-left-column-language-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-language-field {
    width: 132px; 
    display: inline-block;
    vertical-align: middle;
}

.design-view-action-process-left-column-deadline {
    .design-view-action-row;
}

.design-view-action-process-left-column-deadline-label {
    .design-view-action-label;
}

.design-view-action-process-left-column-deadline-field {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.design-view-action-process-left-column-deadline-tag {
    display: inline-block;
}

.design-view-action-process-left-column-attachments {
    display: inline-block;
    
}


.design-view-action-process-left-column-attachments-author-button {

}

.design-view-action-process-left-column-attachments-signatory-button {
    margin-left: 4px;
}

.design-view-action-process-right-column {
    display: inline-block;
    margin-top: 10px;
    margin-left: 16px;
    width: 250px;
    height: 192px;
    position: relative;
}

.design-view-action-process-right-column-invitation-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.design-view-action-process-right-column-invitation-wrapper {
    display: inline-block;
    width: 470px;
    height: 150px;
    vertical-align: top;
}

.design-view-action-process-right-column-invitation-editor {
    width: 470px;
    height: 130px;
}

.design-view-action-process-right-column-invitation-button-wrapper {
    margin-top: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
}