/// @GLOBAL
// --------------------------------------------------

.hidden {
  display: none;
}

.center-vh(@width,@height) {
  height: @height;
  left: 50%;
  margin: (@height / -2.0) 0 0 (@width / -2.0);
  top: 50%;
  position: absolute;
  width: @width;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.box-sizing(@bs) {
  -moz-box-sizing: @bs;
  -webkit-box-sizing: @bs;
  box-sizing: @bs;
}

.box-shadow(@a) {
  -moz-box-shadow: @a;
  -webkit-box-shadow: @a;
  box-shadow: @a;
}

.rounded(@radius: 2px) {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}