.welcomemodal {
    background: rgba(250,250,250,.95);
    font-family: Helvetica Neue, Source Sans Pro, sans-serif !important;
    color: black;

    .modal-header {
        height: 57px;
        text-align: center;
        span.modal-title {
            width: 88%;
            font-size: 24px;
            line-height: 30px;
        }
        span.modal-subtitle {
            font-size: 16px;
        }
    }

    .modal-container:after {
        border-radius: 0px;
    }

    div.body {
        padding: 70px 100px;
    }

    .action {
        text-align: center;
        padding-top: 16px;
    }

    .scrivecapabilities {
        margin-top: 70px;
    }

    .trybutton {
        margin-top: 60px;
        padding: 15px 100px 14px;
    }

    h1 {
        font-size: 38px;
        color: black;
        font-weight: normal;
        letter-spacing: 0px;
    }

    h2 {
        font-size: 24px;
        font-weight: normal;
        color: black;
        line-height: 30px;
    }
}
