@import '../branding/elements';
@import '../branding/variables';
@import "vars";

@scroll-arrow-size: 108px;
@scroll-arrow-margin: 50px;
@action-arrow-width: 20px;
@action-arrow-height: 37px;
@action-arrow-left-margin: -13px;
@action-arrow-right-margin: -10px;

.arrows {
  .scroll-arrow {
    cursor: pointer;
    display: block;
    height: @scroll-arrow-size;
    left: 50%;
    margin-left: -(@scroll-arrow-size / 2);
    min-width: @scroll-arrow-size;
    position: fixed;
    z-index: @signview-overlay-z-index + 2;
  }

  .scroll-arrow.down {
    bottom: @scroll-arrow-size / 2;
  }

  .scroll-arrow.up {
    top: @scroll-arrow-size / 2;
  }

  .action-arrow {
    cursor: pointer;
    display: block;
    height: @action-arrow-height;
    margin-top: -(@action-arrow-height / 2);
    position: absolute;
    width: @action-arrow-width;
    z-index: @signview-overlay-z-index + 2;
  }

  .action-arrow.right {
    float: left;
    margin-left: @action-arrow-right-margin;
  }

  .action-arrow.left {
    float: right;
    margin-left: @action-arrow-left-margin;
  }
}
