@import "vars";

.signatory-attachment, .author-attachment {
  table {
    table-layout: fixed;
    width: 100%;

    .on-small-view({
      margin-bottom: @signview-half-gutter;
    });
  }

  td {
    vertical-align: middle;
  }

  h1, .checkbox-box, .desc {
    margin-bottom: @signview-half-gutter;
  }

  td:first-child {
    width: 40px;
    padding-right: @signview-half-gutter;
  }

  .loader {
    text-align: right;

    .on-small-view({
      text-align: center;
    });
  }

  .loading {
    background-image: url(/img/wait30trans.gif);
    width: 30px;
    height: 30px;
    display: inline-block;
  }

  .help {
    margin-top: @signview-half-gutter;

    .on-small-view({
      display: block;
      text-align: left;
    });
  }

  .file-name {
    margin-top: @signview-half-gutter;

    .on-small-view({
      display: block;
      text-align: left;
      margin-bottom: @signview-half-gutter;
    });
  }

  .loader {
    .on-small-view({
      text-align: center;
    });
  }

  .hide-button {
    float: right;

    .on-small-view({
      float: none;
    });
  }

  .show-attachment {
    min-width: 68px;
  }

  .upload-button {
    .on-small-view({
      display: block;
      width: 100%;

      .button {
        display: block;
        width: 100%;
      }
    });
  }
}
