@import "vars";

.main {
  position: relative;
}

b, strong {
  font-weight: 400;
}

p {
  .font-normal();
}

label {
  .font-normal();
}

h1 {
  .font-large();
  line-height: 1em;
  letter-spacing: -1px;
  font-weight: 400;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;
}

h2 {
  .font-normal();
  font-weight: 300;
}

h4 {
  .font-normal()
}

.hidden {
  filter: alpha(opacity=0);
  opacity: 0;
}

.section {
  background-color: @signview-section-bg;
  margin-top: @signview-half-gutter;
  padding: @signview-section-padding;
  margin-left: auto !important;
  margin-right: auto !important;
  width: @container-lg;

  @media not all and (min-width: (@container-lg + @signview-gutter)) {
    width: auto;
  }

  .on-medium-view({
    max-width: @signview-medium-view;
  });

  .on-small-view({
    padding: @signview-section-padding-small;
    margin-top: @signview-half-gutter;
    max-width: @signview-small-view;
  });
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

dl {
  width: 100%;

  dt {
    margin-bottom: @signview-half-gutter;
  }

  dd {
    line-height: 0px;
  }

  .item {
    margin-top: @signview-gutter;

    &:first-child {
      margin-top: 0;
    }
  }
}

textarea {
  .font-normal();
  padding: 10px;
  height: 104px;

  width: 378px;
  max-width: 100%;

  .on-small-view({
    width: 100%;
    max-width: none;
  });
}

.info-text-input {
  cursor: text;
  width: 100%;

  input {
    line-height: 30px;
  }
}

.button {
  @trans-time: 200ms;

  .font-normal();
  background-color: @signview-bg;
  border-radius: 0;
  box-sizing: content-box; // fix IE issues with min-width;
  font-weight: 400;
  min-width: 140px - @signview-button-padding-lr * 2;
  padding: @signview-button-padding-tb @signview-button-padding-lr;
  transition: background-color @trans-time ease-out, opacity @trans-time ease-out;
  user-select: none;

  .on-small-view({
    display: block;
    padding: @signview-button-padding-tb-small @signview-button-padding-lr-small;
  });

  &:hover {
    transition: background-color 0ms ease-out;
    background-color: darken(@signview-bg, 5%);
  }

  &:active,
  &.active {
    background-color: darken(@signview-bg, 5%);
  }
}

.button-block {
  display: block;
  font-size: @signview-font-size-large;
  font-weight: 400;
  line-height: normal;
  margin-top: @signview-gutter;
  width: auto;

  &.small-button-block{
    .font-normal();
    font-weight: 300;

    .label {
      height: 36px;
      line-height: 36px;
    }
  }

  .on-small-view({
    font-size: @signview-small-font-size-large;
    margin-top: @signview-half-gutter;

    &.small-button-block {
      padding: (@signview-button-padding-tb-small - 4px) @signview-button-padding-lr-small;
    }
    &.transparent-button {
      padding: (@signview-button-padding-tb-small - 4px) @signview-button-padding-lr-small;
    }
  });

  &:first-child {
    margin-top: 0;
  }
}

.obligatory-input {
  @trans-time1: 100ms;
  @trans-time2: 80ms;
  @padding-tb: 6px;
  @padding-lr: 14px;

  transition: background-color @trans-time1 ease-out, border-color @trans-time1 ease-out;
  font-size: @signview-font-size-small;
  padding: @padding-tb @padding-lr;
  height: 44px;
  overflow-y: hidden;

  input {
    transition: width @trans-time2 step-end;
    background-color: transparent;
    line-height: 30px;
    width: 100%;
  }

  .after {
    transition: opacity @trans-time2, height @trans-time2 step-end, width @trans-time2 step-end, transform @trans-time2 step-end;
    display: inline-block;
    opacity: 0;
    height: 0;
    width: 0;
    position: relative;
    transform: scale(0);
    background-repeat: no-repeat;
    top: 3px;
    right: 0px;
    right: calc(-@signview-half-gutter);
  }
}

.valid {
  @trans-time: 200ms;

  background-color: #FFFFFF !important;
  border: 1px solid #ccc;

  &:hover {
    border: 1px solid #ccc !important;
  }

  input {
    transition: width @trans-time step-start;
    width: 93%;
    width: calc(~"100% - 17px - " @signview-half-gutter);
  }

  .after {
    opacity: 1;
    height: 13px;
    width: 17px;
    transform: scale(1);
    transition: transform @trans-time cubic-bezier(0.13, 1.5, 1, 1.38);
  }
}

.button-group {
  .button {
    margin-right: @signview-gutter;

    .on-small-view({
      display: block;
      margin-top: @signview-half-gutter;
      margin-right: 0;
    });

    &:first-child {
      margin-right: 0;
      float: right;

      .on-small-view({
        float: none;
        margin-top: 0;
      });
    }
  }
}

.small-buttons {
  .button {
    min-width: 124px - @signview-button-padding-lr * 2;
  }
}

.transparent-button {
  font-weight: 300;
  .font-normal();
  background: transparent;
  text-decoration: underline;
  color: @signview-fg;

  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }
}

.vertical {
  display: table;
  width: 100%;
  height: 100%;

  .middle {
    display: table-cell;
    vertical-align: middle;
  }
}

.bankid-logo-wrapper {
  display: inline;

  .on-small-view({
    display: block;
    margin-bottom: 10px;
  });
}

.bankid-logo {
  display: inline-block;
  margin-right: @signview-half-gutter;
  vertical-align: middle;
}

.regular-bankid-logo {
  background-image: url(/img/bankid3.png);
  background-size: cover;
  height: 38px;
  width: 42px;

  .on-small-view({
    height: 25px;
    width: 28px;
  });
}

.mobile-bankid-logo {
  background-image: url(/img/mobilebankid.png);
  background-size: cover;
  height: 67px;
  width: 37px;

  .on-small-view({
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 44px;
    width: 24px;
  });
}

.paperclip {
  background-image: url(/img/gem_large.png);
  background-size: cover;
  display: inline-block;
  height: 22px;
  margin-right: @signview-half-gutter;
  vertical-align: middle;
  width: 17px;
}

.large-checkbox {
  @dim: 18px;
  @color: @signview-fg;

  .checkbox {
    background-color: @signview-bg;
    border: none;
    width: @dim;
    height: @dim;
    border: 2px solid @color;
    position: relative;
  }

  .checkbox-box-wrapper {
    vertical-align: top;
    top: 2px;
  }
  .checkmark {
    @url: %("/colored_image?file=valid-input-checkbox.png&color=%D", #FFFFFF);
    width: @dim;
    height: @dim;
    background-image: url(@url);
    background-position: 0px 2px;
    display: none;
  }

  label {
    margin: 0;
    display: inline;
  }

  .checkbox.checked {
    background: @color;

    .checkmark {
      display: block;
    }
  }
}

.positioned {
  position: relative;
}

.full-height {
  position: absolute;
  height: 100%;

  .on-small-view({
    position: static;
    margin-bottom: @signview-half-gutter;
  });
}

.censor-screenshot {
  body.screenshot & {
    color: black !important;
    background-color: black !important;
  }
}
