@import 'runtime/signviewbranding/signviewbrandingdefaultvariables';

.consent-module {
  .title {
  }

  .consent-question {
    .title {
      font-size: larger;
      margin: .5em 0;
    }

    .consent-option {
      cursor: pointer;
      margin-top: .5em;

      .radiobutton-wrapper {
        .radiobutton {
          border-radius: 100%;
          background-color: @actioncolor;
        }
      }

      label {
        display: inline;
      }
    }

    .detailed-description-button {
      .button {
        margin-top: 1em;
      }
    }
  }
}
