@import "vars";

.feedback {
  h1, .label, .button, .field {
    margin-bottom: @signview-half-gutter;
  }
  .button .label {
    margin-bottom: 0;
  }

  .field {
    display: inline-block;
    width: 378px;

    .label {
      text-align: left;
    }
  }
}
