@import "vars";
@import "../branding/elements";

.document-pages {
  position: relative;
  text-align: center;
  background-color: @signview-bg;
  text-align: left;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  margin-top: 0;
  margin-bottom: -@signview-half-gutter;

  * {
    box-sizing: content-box;
  }

  .signatureBox {
    background-color: @white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    min-width: 10px;
    text-align: center;
    opacity: .95;

    &.withImage {
      background-color: transparent;
    }

    img {
      -moz-opacity: 0.95;
      filter: ~"alpha(opacity=95)";
      opacity: 0.95;
    }
  }

  .placedfield {
    position: absolute;
    &.active {
      z-index: 1;
    }
  }

  .placedcheckbox-noactive {
    background: url(~"@{img-base-url}/checkbox-blue-unchecked.png") no-repeat scroll 0 0;

    &.checked {
      background: url(~"@{img-base-url}/checkbox-blue-checked.png") no-repeat scroll 0 0;
    }
  }

  .waiting4page {
    background-color: #fafafa;
    background-image: url(~"@{img-base-url}/wait30trans.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #777;
    height: 100px;
    margin: 10px auto;
    width: 100%;
    .box-shadow(0 0 8px rgba(80, 80, 80, 0.31));
  }

  .pagejpg {
    width: 100%;
  }

  .signatureBox.forDrawing {
    &.signaturePlaceholder {
      color: @text-dark;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-style: solid;
    }
  }

  .info-text-input {
    width: auto;
  }

  .pagediv {
    position: relative;
    width: 100%;
    margin-top: @signview-half-gutter;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    img {
      width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .placedfield {
   .placedcheckbox,
   .placedcheckbox.checked {
      background-position: center;
    }

    &.to-fill-now {
      border-style: solid;
      z-index: 1;

      .placedfield-placement-wrapper {
        overflow: hidden;
      }

      .placedcheckbox {
        background: url("/img/checkbox-unchecked.png") no-repeat center center;

        &:active {
          background: url("/img/checkbox-active.png") no-repeat center center;
        }

        &.checked {
          background: url("/img/checkbox-checked.png") no-repeat center center;
        }
      }
    }

    input:-webkit-input-placeholder {
      color: @text-medium;
    }

    input:-moz-placeholder {
      color: @text-medium;
    }

    input:-ms-input-placeholder {
      color: @text-medium;
    }

    input.grayed {
      color: @text-medium;
    }
  }
}
