@import "vars";
@import "../branding/elements";

.scroller {
  touch-action: none;
  overflow-y: hidden;
  margin-bottom: -4px;
}

.place-for-arrows {
  position: relative;
}

.document-pages {
  position: relative;
  text-align: center;
  background-color: @signview-bg;
  text-align: left;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  max-width: none !important;

  &.grab {
    cursor: grab;
  }

  &.grabbing {
    cursor: grabbing;
  }

  * {
    box-sizing: content-box;
  }

  .user-select(none);

  .highlight-clear {
    background-color: rgba(0, 0, 0, 0.25);
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 2;
  }

  .highlight-clear-button {
    background-color: #f1f1f1;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 50%;
    vertical-align: middle;
    margin-top: -161px;
    height: 323px;
    width: 323px;

    .rounded(323px);

    .on-small-view({
      margin-top: -108px;
      height: 216px;
      width: 216px;
      .rounded(216px);
    });

    .clear-icon {
      margin: 87px auto 11px auto;
      svg {
        height: 47px;
      }

      .on-small-view({
        margin: 54px auto 11px auto;
        svg {
          height: 32px;
        }
      })
    }
    .text {
      font-size: 18px;

      .vcentered-bold-text {
        display: block;
        margin: 11px 0px;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        &:before { content: ' '; display: block; }
        .on-small-view({
          margin: 6px 0px;
          font-size: 18px;
        })
      }
    }

  }

  .highlight-canvas {
    left: 0;
    position: absolute;
    top: 0;
    opacity: @highlighting-canvas-opacity;
    z-index: 1;

    &.active {
      z-index: 2;
      cursor: pointer;
    }
  }

  .signatureBox {
    background-color: @white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    min-width: 10px;
    text-align: center;
    opacity: .95;

    &.withImage {
      background-color: transparent;
    }

    img {
      -moz-opacity: 0.95;
      filter: ~"alpha(opacity=95)";
      opacity: 0.95;
    }
  }

  .placedfield {
    position: absolute;
    -webkit-overflow-scrolling: auto;
    white-space: nowrap;
    &.active {
      z-index: 1;
    }
  }

  .placedcheckbox .checkboxClickableArea {
    position: absolute;
  }

  .placedcheckbox svg {
    position: absolute;
    left: 0px;
    right: 0px;
  }

  .pagejpg {
    width: 100%;
  }

  .signatureBox.forDrawing {
    &.signaturePlaceholder {
      color: @text-dark;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-style: solid;
    }

    img {
      vertical-align: baseline;
    }
  }

  .info-text-input {
    width: auto;
  }

  .pagediv {
    position: relative;
    width: 100%;
    margin-bottom: @signview-half-gutter;

    img {
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .placedfield {

    &.to-fill-now {
      border-style: solid;
      z-index: 1;

      .placedfield-placement-wrapper {
        overflow: hidden;
      }
    }

    .placedfield-placement-pre-wrapper {
      font-family: inherit;
    }

    input:-webkit-input-placeholder {
      color: @text-medium;
    }

    input:-moz-placeholder {
      color: @text-medium;
    }

    input:-ms-input-placeholder {
      color: @text-medium;
    }

    input.grayed {
      color: @text-medium;
    }
  }
}
