@import "vars";

.flash {
  @padding-tb: 40px;
  @padding-lr: 50px;

  background: transparent;
  top:0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100001;

  transition: all .25s ease-in-out;

  .flash-content-wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: @container-lg;

    @media not all and (min-width: (@container-lg)) {
      width: 100%;
    }
  }

  .flash-body {
    font-size: 18px;
    font-weight: 300;
    max-width: calc(~"100% - 185px");
    padding: @padding-tb @padding-lr;
    text-align: left;
    word-break: break-word;
  }

  .flash-close {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    padding: 0px @padding-lr;
    position: absolute;
    right: 0;
    top: @padding-tb + 2px;
    width: 22px;
  }
}
