@import "vars";

@import "../bootstrap/mixins/grid-framework.less";
@import "../bootstrap/mixins/grid.less";
@import "../bootstrap/mixins/responsive-visibility.less";
@import "../bootstrap/utility/responsive-utilities.less";

.col-loop (@p, @i, @rules) when (@i > 0) {
  .col-@{p}-@{i} {
    @rules();
  }

  .col-loop(@p, @i - 1, @rules);
}

.col-all-loop (@rules) {
  .col-loop(lg, 12, @rules);
  .col-loop(md, 12, @rules);
  .col-loop(sm, 12, @rules);
  .col-loop(xs, 12, @rules);
}

.clearfix {
  &:before,  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

div.main {
  .container-fixed();
  .clearfix();

  padding: 0;

  .row {
    .make-row();

    .make-grid-columns();

    .make-grid(xs);

    .clearfix();

    @media (min-width: @screen-sm-min) {
      .make-grid(sm);
    }

    @media (min-width: @screen-md-min) {
      .make-grid(md);
    }

    @media (min-width: @screen-lg-min) {
      .make-grid(lg);
    }

    // only use inner gutters, slow, but modifying the grid mixins does not seem to work.
    .col-all-loop({
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    });

    .on-medium-view({
      .col-loop(md, 12, {
        padding-left: 0;
        padding-right: 0;
      });
    });

    .on-small-view({
      .col-loop(sm, 12, {
        padding-left: 0;
        padding-right: 0;
      });
    });

    .left {
      text-align: left;

      .on-small-view({
        text-align: left;
      });
    }

    .center {
      text-align: center;

      .on-small-view({
        text-align: left;
      });
    }

    .right {
      text-align: right;

      .on-small-view({
        text-align: left;
      });
    }
  }

  .section {
    .row();
  }

  .center-block {
    float: none !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .pull-right {
    float: right !important;
  }

  .pull-left {
    float: left !important;
  }
}
