@import "vars";

.header {
  @breakpoint: (@container-lg + @signview-gutter * 2);
  height: @signview-header-height;

  .on-small-view({
    height: @signview-header-height-small;
  });

  .main, .row, .col-xs-6 {
    height: @signview-header-height;

    .on-small-view({
      height: @signview-header-height-small;
    });
  }

  .main {
    @media (min-width: @breakpoint) {
      padding: 0;
    }

    @media not all and (min-width: @breakpoint) {
      padding: 0 @signview-gutter;
    }

    .on-small-view({
      padding: 0 @signview-half-gutter;
    });

    .link {
      display: inline-block;
      line-height: @signview-header-height;

      .on-small-view({
        line-height: @signview-header-height-small;
      });
    }

    .logo {
      max-width: 172px;
      max-height: 52px;

      .on-small-view({
        max-width: 104px;
        max-height: 20px;
      });
    }

    .content {
      text-align: right;
    }

    .info {
      white-space: nowrap;
      overflow: hidden;
      line-height: 1em;
      text-overflow: ellipsis;
    }
  }
}
