@import "vars";

.header {
  @breakpoint: (@container-lg + @signview-gutter * 2);
  height: @signview-header-height;

  .on-small-view({
    height: @signview-header-height-small;
  });

  .main, .row, .col-xs-6 {
    height: @signview-header-height;

    .on-small-view({
      height: @signview-header-height-small;
    });
  }

  .main {
    max-width: 1040px;

    @media (min-width: @breakpoint) {
      padding: 0;
    }

    @media not all and (min-width: @breakpoint) {
      padding: 0 @signview-gutter;
    }

    .on-small-view({
      padding: 0 @signview-half-gutter;
      max-width: @signview-small-view;
    });

    .link {
      display: inline-block;
      text-decoration: underline;

      .on-small-view({
      });
    }

    .logo {
      max-width: 172px;
      max-height: 52px;

      .on-small-view({
        max-width: 104px;
        max-height: 20px;
      });
    }

    .content {
      text-align: right;
      float: right;
    }

    .info {
      display: inline-block;
    }
    .download {

      .download-icon {
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;

        .on-small-view({
          margin-right: 20px;
        });
      }
    }
  }
}
