@import "vars";

@import "../branding/reset";
@import "../branding/elements";

@import "../branding/modal";
@import "../branding/select";
@import "../branding/infotextinput";
@import "../branding/checkbox";
@import "../branding/main";
@import "../branding/header";
@import "../branding/footer";

@import "../utils";
@import "../hubspot";

@import "flash";

html {
  overflow-x: hidden;
}

body {
  background-color: @signview-bg;
  line-height: 1.2em;
}

.signview {
  word-wrap: break-word;
  float: left;
  min-width: 100%;

  @import "grid";
  @import "base";

  .font-normal();

  @import "overlay";
  @import "header";
  @import "instructions";
  @import "file";
  @import "attachments";
  @import "signatories";
  @import "sign";
  @import "footer";
  @import "drawer";
  @import "arrows";
  @import "feedback";
  @import "loading";
  @import "extradetails";
  @import "padsigning";
}
