@import "vars";

.instructions {
  margin-top: 0;

  text-align: center;

  .continue-button-wrapper {
    margin-top: 20px;
  }

  .follow {
    font-weight: 300;
  }

  .arrowtext {
    cursor: pointer;
    color: @brand-secondary;
    font-weight: 600;
  }

  .menu-options {
    overflow: hidden;
    transition: height 0.2s ease-out;
  }
}
