@import "vars";

.document-pages .instructions {
  transition: opacity 0.2s ease-in-out;
  text-align: right;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
  min-height: 51px;
  text-align: center;
  padding: @signview-section-padding;

  .on-small-view({
    padding: @signview-section-padding-small;
  });

  .follow {
    font-weight: 300;
  }

  .arrowtext {
    cursor: pointer;
    font-weight: 600;
  }
  .continue-button-wrapper {
    margin: 20px
  }

}
