@import "vars";

.padsigning {
  .title {
    margin-bottom: @signview-half-gutter;
  }

  .button {
    margin-left: @signview-half-gutter;
    margin-bottom: @signview-half-gutter;

    .on-small-view({
      margin-left: 0;
    });
  }
}
