.placedfield.js-radiobutton {
  &.to-fill-now {
    .clickable {
      display: block;
      position: absolute;
    }

    .underlay {
      background-color: rgba(255, 255, 255, 0.75);
      border: 1px solid transparent;
      display: block;
      position: absolute;

      > span {
        bottom: 0px;
        display: block;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }
  }
}
