@import "vars";

.parties {
  ul {
    margin-bottom: @signview-gutter;
  }

  li {
    margin-top: 5px;

    .on-small-view({
      margin-top: 0;
    });

    white-space: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  .row {
    margin-bottom: @signview-gutter;

    &:first-child {
      margin-top: 0;
    }
  }

  .title {
    margin-bottom: @signview-parties-section-padding;

    .on-small-view({
      margin-bottom: @signview-gutter;
    });
  }

  .name {
    margin-bottom: @signview-gutter;
    font-weight: 300;

    &.title-margin-top {
      margin-top: @signview-parties-section-padding + @signview-font-size-large;
    }

    .on-small-view({
      margin-bottom: @signview-gutter;
      font-size: @signview-small-font-size-large;
    });
  }

  .statustext {
    line-height: 26px;
  }

  .icon {
    margin-top: -3px;
    margin-right: 4px;
  }
  .icon.small {
    margin-bottom: -7px;
  }
}
