@import "vars";

.parties {
  ul {
    margin-bottom: @signview-gutter;
  }

  li {
    margin-top: 5px;
    white-space: normal;

    &:first-child {
      margin-top: 0;
    }
  }

  .row {
    margin-top: @signview-gutter;

    &:first-child {
      margin-top: 0;
    }
  }

  .title {
    margin-bottom: 45px;
  }

  .name {
    margin-bottom: @signview-gutter;
  }

  .statustext {
    line-height: 26px;
  }

  .icon.status,
  .icon.small {
    margin-bottom: -7px;
  }
}

