@import 'variables.less';

.button {
  background-color: @brand-primary-darker;
  color: @white !important;
  cursor: pointer;
  display: inline-block;
  *display: inline; // IE 7 Hack
  font-family: @font-family-source;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  max-height: 16px;
  min-width: 50px;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transform: translateZ(0);
  -webkit-user-select: none;
  user-select: none;
  zoom: 1; // IE 7 Hack
  
  .border-radius(1px, 1px, 1px, 1px);
  .transition(.15s, ease-in-out);

  &:hover {
    background-color: @blue-hover;
  }

  &:active,
  &.active {
    background-color: @brand-primary-darker;
  }

  &.button-small {
    font-size: 13px;
    line-height: 14px;
    max-height: 14px;
    min-width: 35px;
    padding: 8px 12px;
  }

  &.button-large {
    font-size: 18px;
    line-height: 18px;
    max-height: 18px;
    padding: 17px 25px 17px; // to fix Firefox bug, have to use padding instead of line height

    .small-screen & {
      font-size: 42px;
      line-height: 60px;
      max-height: 80px;
      padding-bottom: 25px;
    }
  }

  &.button-round {
    border: @light-border 4px solid;
    
    .border-radius(25px, 25px, 25px, 25px);

    &.button-small {
      border-width: 3px;

      .border-radius(16px, 16px, 16px, 16px);
    }

    &.button-round.button-large {
      border: #eeeeee 5px solid;

      .border-radius(32px, 32px, 32px, 32px);

      &.black {
        border: none;
      }
    }

    &.red,
    &.black {
      border-color: @dark-border;
    }

    &.green {
      // There is a problem in Safari where the bordered element expands into the border when
      // the border is transparent. What we want is this:
      // border-color: rgba(0, 0, 0, .1);
      // but we go with this hack to make the border look OK on both backgrounds.
      border-color: #e1e1e1;

      & .greybg {
        border-color: #d4d4d4;
      }
    }

    .spinner-container {
      left: -20px;
      position: absolute;
      top: 23px;
    }
  }
}

.colored-button(@color, @hovercolor) {
  background-color: @color;

  &:hover {
    background-color: @hovercolor;
  }

  &:active {
    background-color: @color;
  }
}

.button-green {
  .colored-button(@brand-secondary, @brand-secondary-dark);

  &.is-waiting {
    cursor: wait;
    .colored-button(@brand-secondary-dark, @brand-secondary-dark);
  }

  &.is-inactive {
    border-color: transparent !important;
    color: #999999 !important;
    cursor: default;
    .colored-button(#eaeaea, #eaeaea);
  }
}

.button-gray {
  .colored-button(@grey, darken(@grey, 5%));

  color: @primary-font-color !important;
}

.button-signview-blue {
  .colored-button(@brand-primary-complementary, @brand-primary-complementary-dark);
}

.button-light-blue {
  .colored-button(@light-blue, darken(@light-blue, 25%));

  &.button-small {
    font-weight: 400;
  }
}

.button-red {
  .colored-button(@btn-negative-bg, @btn-negative-bg-hover);
}

// Special fixes for special browsers
input[type=submit].button.button-large,
button.button.button-large {
  // ie8 and below input height fix
  line-height: 24px\9;
  padding: 12px 30px 13px\9;
}

input[type="submit"]::-moz-focus-inner {
  border: 0;
}