.checkbox {
  cursor: pointer;
  height: 10px;
  margin: 10px 0 10px 0;
  width: 10px;
  border: 1px solid @checkbox-grey-border-color;

  .checkmark {
    background: url(~"@{img-base-url}/checkboxes-blue.png") top left no-repeat;
    width: 10px;
    height: 10px;
  }

  &.disabled {
    .checkmark:before {
      content: "";
      display: block;
      position: relative;
      top: -1px;
      left: -1px;
      width: 12px;
      height: 12px;
      background: rgba(255, 255, 255, 0.6);
    }
  }

  &:hover, &:focus  {
    border-color: @checkbox-border-color;
  }

  &:active,
  &.active,
  &.checked {
    .checkmark {
      background-position: 0 -10px;
    }
    border-color: @checkbox-border-color;
  }
}

.checkbox-box {
  cursor: pointer;
  display: table;

  .checkbox{
    margin: 0;
  }

  .checkbox-box-wrapper {
    display: table-cell;
    width: 10px;
    vertical-align: middle;
  }

  .checkbox-label {
    cursor: pointer; // Due to React issue https://github.com/facebook/react/issues/134
    display: table-cell;
    line-height: 16px;
    margin-bottom: 13px;
    margin-top: 0;
    padding-left: 5px;
  }

  .disabled {
    opacity: 0.2;
  }

}
