.checkbox {
  background: url(~"@{img-base-url}/checkboxes-blue.png") top left no-repeat;
  cursor: pointer;  
  height: 12px;
  margin: 10px 0 10px 0;
  width: 12px;

  &:hover  {
    background-position: 0 -12px;
  }

  &:active,
  &.active,
  &.checked {
    background-position: 0 -24px;
  }
}

.checkbox-box {
  mix-height: 32px;
  
  .checkbox{
    margin: 0;
  }

  .checkbox,label {
    display: inline-block;
  }

  label {
    margin-bottom: 13px;
    margin-left: 10px;
    margin-top: 0;
    line-height: 16px;
  }
}