@import 'variables.less';

// Used for keeping the footer at the bottom
// http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
.wrapper-position-footer {
  min-height: 100%;
  position: relative;
}

// TODO: Drop this when we will start using better footer
.body-container {
  padding-bottom: 160px;   // 120px + 40px: Height of the footer + wanted space between footer and content
}

.mainContainer {
  margin: 0px auto;
  min-height: 601px;
  overflow: visible;
  width: 100%;

  &.big {
    height: 721px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    .inner {
      height: 721px;
      left: 50%;
      margin-left: -960px;
      position: absolute;
      top: 0;
      width: 1920px;
      z-index: 1;
    }

    img.bg {
      left: 0;
      max-width: none;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  .short-input-section {
    margin: auto;
    width: 1018px;

    div.shadowed {
      padding: 4em 0 3em;
      text-align: center;

      h1,
      h2,
      h3,
      h4 {
        color: @white;
        font-weight: normal;
        text-shadow: 0 2px 3px rgba(0, 0, 0, .45);
      }
    }

    .short-input-container {
      margin: 0px auto;
      width: 416px;

      .short-input-container-body-wrapper {
        transition: all 0.15s ease-in-out 0s;

        .short-input-container-body {
          background: none repeat scroll 0 0 @grey-background;
          border: 1px solid #dddddd;
          padding: 1.5em 0 0.5em;
          transition: all 0.15s ease-in-out 0s;

          .position {
            margin: 16px auto 16px;
            padding-left: 48px;
            padding-right: 48px;
            text-align: center;

            &.first {
              margin-top: 0px;
            }

            h1 {
              color: #7a94b8;
              font: 1.5em/1 @font-family-source;
              letter-spacing: normal;
              text-align: center;
            }
          }
        }
      }

      .short-input-container-footer {
        background: none repeat scroll 0 0 rgba(73, 82, 89, .5);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7F495259',endColorstr='#7F495259');
        height: 2em;
        padding: 8px 48px 8px 32px;

        a {
          color: @text-very-light;
          text-decoration: none;

          &:hover {
            color: @text-light;
          }
        }

        p {
          line-height: 2em;

          &.float-left {
            text-align: left;
          }

          &.float-right {
            text-align: right;
          }
        }
      }

      p {
        line-height: 2em;
        text-align: center;

        input {
          background: none repeat scroll 0 0 transparent;
          border: 1px solid rgba(255, 255, 255, .33);
          color: @white;
          content: "";
          height: 12px;
          left: 0;
          line-height: 12px;
          margin-right: 10px;
          margin-top: -4px;
          text-align: center;
          transition: all 0.15s ease-in-out 0s;
          width: 12px;
        }
      }
    }
  }
}
