@media all and (max-width: 1160px) {

  aside.contact nav.contact  {
    display: none;
  }
}

aside.contact nav.contact {
  height: 180px;
  left: 0;
  margin-left: 4px;
  margin-top: -90px;
  position: fixed;
  top: 50%;
  z-index: 1097;
  width: 60px;

  ul {

    li {
      height: 60px;
      position: relative;
      width: 60px;

      &:last-child a .hover {
        height: 36px;
      }
      
      a {
        display: block;
        border-left: 4px solid transparent;
        margin-left: -4px;
        margin-top: -1px;
        transition: .15s ease-in-out all;
        width: 64px;

        .icon {
          background: @white;
          border: 1px solid @blue-border;
          height: 60px;
          position: relative;
          text-align: center;
          width: 60px;
          z-index: 10;

          img {
            margin: 14px;
            opacity: .66;
            transition: .15s ease-in-out all;
          }
        }

        .hover {
          background: @white;
          border: 1px solid @blue-border;
          border-left: none;
          height: 34px;
          left: -180px;
          padding: 12px 16px;
          position: absolute;
          opacity: 0;
          top: 0;
          width: 180px;
          z-index: 0;

          p {
            color: @primary-font-color;
            font: 14px/1 @font-family-source;
            margin: 0;
            margin-bottom: 0;
          }

          small {
            color: @text-dark;
            font: .75em/1 @font-family-source;
          }
        }

        &:hover {
          border-color: @blue-medium;

          .icon {

            img {
              opacity: 1;
            }
          }

          .hover {
            left: 60px;
            opacity: 1;
          }
        }
      }
    }
  }
}