@media all and (max-width: 1160px) {

  aside.contact nav.contact  {
    display: none;
  }
}

aside.contact nav.contact {
  height: 180px;
  left: 0;
  margin-left: 4px;
  margin-top: -90px;
  position: fixed;
  top: 50%;
  z-index: 97;
  width: 60px;

  &.inactive {
    display: none;
  }

  ul {

    li {
      height: 60px;
      position: relative;
      width: 60px;
      
      a {
        display: block;
        border-left: 4px solid transparent;
        box-sizing: border-box;
        margin-left: -4px;
        margin-top: -1px;
        transition: .15s ease-in-out all;
        width: 64px;

        .icon {
          background: @white;
          border: 1px solid @blue-border;
          box-sizing: border-box;
          height: 60px;
          position: relative;
          text-align: center;
          width: 60px;
          z-index: 10;

          img {
            margin: 14px;
            opacity: .66;
            transition: .15s ease-in-out all;
          }
        }

        .hover {
          background: @white;
          border: 1px solid @blue-border;
          border-left: none;
          box-sizing: border-box;
          font-size: 16px;
          height: 60px;
          left: -180px;
          line-height: 12px;
          padding: 12px 16px;
          position: absolute;
          opacity: 0;
          top: 0;
          width: 180px;
          z-index: 0;

          p {
            color: @dark-text;
            font: bold 14px/1 @font-family-source;
            margin: 0;
            margin-bottom: 0;
          }

          small {
            color: @text-dark;
            display: inline-block;
            font: .75em/1 @font-family-source;
            padding-top: 8px;
          }
        }

        &:hover {
          border-color: @text-dark;

          .icon {

            img {
              opacity: 1;
            }
          }

          .hover {
            left: 60px;
            opacity: 1;
          }
        }
      }
    }
  }
}