.editable-text {
  display: table;
  width: 220px;
  min-height: 32px;
  line-height: 32px;
  table-layout: fixed;

  .editable-text-save {
    display: table-cell;
    white-space: nowrap;
    width: 1px;
  }

  .editable-text-input-container {
    display: table-cell;
    padding-right: 20px;
  }

  .editable-text-input {
    width: 100%;
    padding: 4px 9px 4px 9px;
  }

  .editable-text-input input {
    height: 20px;
    padding: 0px;
  }

  & .editable-text-icon {
    display: none;
  }

  &:hover .editable-text-icon {
    display: inline;
  }

  .editable-text-icon {
    vertical-align: baseline;
    margin-left: 7px;
  }

  .editable-text-text {
    word-wrap: break-word;
  }
}
