.modal .rendered-email {
  .email-preview-hidden {
    display: none;
  }

  .notclickableinpreview {
    cursor: default !important;
  }

  #templateBody {
    border-collapse: separate;
    border-spacing: 32px 32px;
  }

  p {
    color: inherit;
    word-wrap: break-word; 
  }
}
