.modal .rendered-email {
  .email-preview-hidden {
    display: none;
  }

  .notclickableinpreview {
    cursor: default !important;
  }

  #templateBody {
    border-collapse: separate;
    border-spacing: 32px 32px;
  }

  p {
    color: inherit;
    word-wrap: break-word; 
  }
  textarea {
    border: 1px solid @border-grey;
    padding: 10px;
    margin: 0px 0px 16px 0px;
    resize: none;
    height: 56px;
    font-family : @font-family-source;
    font-size: 12px;
  }
}
