
footer.site.logged-in {
  background: @white;
  border-top: 1px solid #dee4ed;
  bottom: 0;
  font-size : 15px;
  height: 45px; // Height of the footer
  margin-top: -207px; // This has to be synched with body-container. Note that logged-in is absolute and this one is not
  min-width: 1020px;
  padding-bottom: 35px;
  padding-top: 40px;
  position: absolute;
  width: 100%;
  z-index: 90;
  .clearfix;

  .poweredbyscrive {
    color: #333;
    margin: 0 auto;
    position:relative;
    text-align: center;
    width: 100%;

    .logo {
      background-image: url(~"@{img-base-url}/logo-small-grey.png");
      height: 17px;
      margin: 0 auto;
      width: 80px;
    }
  }
}
