.info-text-input{
  background: none repeat scroll 0 0 @white;
  border: 1px solid @gray-border;
  display : inline-block;
  font-size: 16px;
  line-height: 21px;
  padding: 5px;

  .small-screen & {
    line-height: 25px;
    font-size: 22px;
    padding: 10px;
  }

  .after {
    display: none;
  }

  &.readonly {
    color: @disabled-grey-background;
    cursor: default;

    input {
      cursor: default;
    }
  }

  &:focus:not(.readonly), &:hover:not(.readonly) {
    border-color: #7a94b8;
  }

  &.transparent {
    background-color: transparent;

    input {
      background-color: transparent;
    }
  }

  input {
    border: 0;
    font-weight: 300;
    height: 30px;
    line-height: 21px;
    padding: 0 0 0 1px;
    width: 100%;
  }

  .closer {
    background: url(~"@{img-base-url}/editor-view-remove-party.png");
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    left: -9px;
    position: absolute;
    top: -9px;
    width: 24px;

    &:hover {
      background-position: -24px 0;
    }
  }

  .growth {
    left: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    white-space: pre;
  }

  .internal-button-wrapper {
    position: relative;
    float: right;
    height: 0px;
    width: 0px;
    margin-right:-5px;

    .internal-button {
      cursor: pointer;
      background-color: #bfbfbf;
      color: @text-medium;
      padding: 5px;
      position: relative;
      float:right;
      text-decoration: bold;
      width: auto;
      white-space: nowrap;

      &:hover {
        background-color: #cfcfcf;
      }
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  input[type="number"] {
      -moz-appearance: textfield;
  }
}
