.info-text-input{
  background: none repeat scroll 0 0 @white;
  border: 1px solid @gray-border;
  display : inline-block;
  font-size: 16px;
  line-height: 21px;
  padding: 5px;

  .small-screen & {
    line-height: 25px;
    font-size: 22px;
    padding: 10px;
  }

  &.readonly {
    color: @disabled-grey-background;
    cursor: default;

    input {
      cursor: default;
    }
  }

  &:focus:not(.readonly), &:hover:not(.readonly) {
    border-color: #7a94b8;
  }

  &.transparent {
    background-color: transparent;

    input {
      background-color: transparent;
    }
  }

  input {
    border: 0;
    font-weight: 300;
    height: 30px;
    line-height: 21px;
    padding: 0;
    width: 100%;
  }

  .closer {
    background: url(~"@{img-base-url}/editor-view-remove-party.png");
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    left: -9px;
    position: absolute;
    top: -9px;
    width: 24px;

    &:hover {
      background-position: -24px 0;
    }
  }

  .ok-button {
    background: #bfbfbf;
    border: 1px solid #808080;
    border-radius: 3px;
    color: @white;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    text-decoration: bold;
    width: auto;

    &:hover {
      background: #cfcfcf;
      border: 1px solid #909090;
    }
  }
  .internal-button-wrapper {
    position: relative;
    float: right;
    height: 0px;
    width: 0px;
    margin-right:-5px;

    .internal-button {
      cursor: pointer;
      background: #bfbfbf;
      color: @text-medium;
      padding: 5px;
      position: relative;
      float:right;
      text-decoration: bold;
      width: auto;
      white-space: nowrap;
      
      &:hover {
        background: #cfcfcf;
      }
    }
  }
}
