.info-text-input{
  &:not(transparent) {
    background: none repeat scroll 0 0 @white;
  }
  border: 1px solid #dddddd;
  display : inline-block;
  font-size: 16px;
  line-height: 21px;
  padding: 5px;

  &.readonly {
    color: @disabled-grey-background;
    cursor: default;

    input {
      cursor: default;
    }
  }

  &:focus:not(.readonly), &:hover:not(.readonly) {
    border-color: #7a94b8;
  }

  &.transparent {
    background-color: transparent;

    input {
      background-color: transparent;
    }
  }

  input {
    border: 0px;
    font-weight: 300;
    height: 30px;
    line-height: 21px;
    padding: 0px;
    width: 100%;
  }

  .closer {
    background: url(~"@{img-base-url}/editor-view-remove-party.png");
    background-position: 0px 0px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    left: -9px;
    position: absolute;
    top: -9px;
    width: 24px;

    &:hover {
      background-position: -24px 0px;
    }
  }

  .ok-button {
    background: #bfbfbf;
    border: 1px solid #808080;
    border-radius: 3px;
    color: @white;
    padding: 3px;
    position: absolute;
    right: 5px;
    text-decoration: bold;
    top: 3px;
    width: auto;

    &:hover {
      background: #cfcfcf;
      border: 1px solid #909090;
    }
  }
}