.phone-number-input {
  position: relative;

  > input {
    margin-left: 20px;
    width: ~"calc(100% - 20px)";
  }

  .flag-button {
    background: transparent;
    cursor: pointer;
    height: 40px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 25px;

    .flag {
      vertical-align: middle;
      margin-left: 5px;
      margin-top: 14px;
    }
  }

  .dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px none;
    display: none;
    left: -1px;
    position: absolute;
    right: -1px;
    top: 40px;
    z-index: 1020;

    &.expanded {
      display: block;
    }

    > input {
      border: 1px solid @gray-border;
      display: block;
      font-size: 12px;
      height: 18px;
      line-height: 18px;
      padding: 0px 2px;
      margin: 0px 5px;
      margin-bottom: 5px;
      width: ~"calc(100% - 2px - 4px - 10px)";
    }

    .scrollView {
      max-height: 100px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    ul {
      position: relative;

      li {
        cursor: pointer;
        font-size: 12px;
        height: 20px;
        line-height: 20px;

        .flag {
          margin: 0px 5px;
          vertical-align: middle;
        }

        &.highlighted {
          background: #ccc;
        }
      }
    }
  }

  &:focus:not(.readonly), &:hover:not(.readonly) {
    .dropdown {
      border-color: #7a94b8;
    }
  }

  &.redborder {
    .dropdown {
      > input {
        margin-top: 5px;
      }
    }
  }
}
