
.select{
  background: @white;
  border: 1px solid #dddddd;
  color: @black;
  font-family: @font-family-source;
  font-weight: 300;
  position: relative;
  text-align: left;

  &.inactive {
    cursor: default;
    background: @gray-2-percent;

    .select-button {
       background: @gray-2-percent;

      .select-button-right {
        background: @gray-2-percent;
      }
    }

    select {
      display: none;
    }
  }

  select {
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    color: transparent;
    cursor: pointer;
    height: 39px;
    margin:none;
    padding:none;
    position: absolute;
    opacity: 0;
    outline:none;
    width: 100%;
    z-index: 1;

    &:focus {
      outline: none;
    }

    option {
      color: @black;

      &[disabled] {
        color: @gray-25-percent;
      }
    }
  }

  .select-button {
    background: @white;
    height: 38px;
    position: relative;

    .select-button-left {
      float: left;
      height: 34px;
      position: relative;
      width: 6px; // this must be kept in sync with selects.js
    }

    .select-button-right {
      @url : %('/colored_image?file=select-arrow.png&color=%D',@gray-border);
      background-image: url(@url);
      background-position: 0 11px;
      background-repeat: no-repeat;
      float: right;
      height: 34px;
      position: relative;
      width: 21px; // this must be kept in sync with selects.js
    }

    .select-button-label {
      background-repeat: repeat-y;
      color: @black;
      float: left;
      font-size: 15px;
      line-height: 21px;
      overflow: hidden;
      padding-top: 9px;
      text-decoration: none;
      text-indent: 5px;
      white-space: nowrap;
    }

    .closer {
      background: url(~"@{img-base-url}/editor-view-remove-party.png");
      background-position: 0 0;
      cursor: pointer;
      display: inline-block;
      height: 22px;
      left: -9px;
      position: absolute;
      top: -9px;
      width: 24px;
      z-index: 2;

      &:hover {
        background-position: -24px 0;
      }
    }
  }
}