
.select-expanded-wrapper {
  position: absolute;
  z-index: 5000;

  // New selectboxes (in react) use select-expanded-wrapper. In that case only wrapper has to be positioned absolute
  .select.select-exp {
    position: relative;
  }
}

.select{
  background: @white;
  color: @black;
  cursor: pointer;
  font-family: @font-family-source;
  font-weight: 300;
  position: relative;
  text-align: left;

  &.inactive {
    cursor: default;
    background: @gray-2-percent;

    .select-button {
       background: @gray-2-percent;

      .select-button-right {
        background: @gray-2-percent;
      }
    }
  }


  .select-button {
    background: @white;
    height: 38px;
    position: relative;

    .select-button-left {
      float: left;
      height: 34px;
      position: relative;
      width: 6px; // this must be kept in sync with selects.js
    }

    .select-button-right {
      @url : %('/colored_image?file=select-arrow.png&color=%D',@gray-border);
      background-image: url(@url);
      background-position: 0 11px;
      background-repeat: no-repeat;
      float: right;
      height: 34px;
      position: relative;
      width: 21px; // this must be kept in sync with selects.js
    }

    .select-button-label {
      background-repeat: repeat-y;
      color: @black;
      float: left;
      line-height: 21px;
      overflow: hidden;
      padding-top: 9px;
      text-decoration: none;
      text-indent: 5px;
      white-space: nowrap;
    }

    .closer {
      background: url(~"@{img-base-url}/editor-view-remove-party.png");
      background-position: 0 0;
      cursor: pointer;
      display: inline-block;
      height: 22px;
      left: -9px;
      position: absolute;
      top: -9px;
      width: 24px;

      &:hover {
        background-position: -24px 0;
      }
    }
  }

  &.select-exp {
    display: block;
    position: absolute;
    z-index: 5000;

    .select-button {
      z-index: 5002;
    }

    .select-opts {
      background: @white;
      left: -1px ;
      padding: 0;
      position: absolute;
      text-align: left;
      top: 37px;
      z-index: 5001;

      &.right {
        left: auto;
        right: -1px;
        text-align: right;
      }

      li {
        height: 20px;
        line-height:  22px;
        padding: 6px;
        text-indent: 5px;

        &:hover {
          background: @slightly-darker-grey-background;
        }
      }
    }
  }
}