.flash-signview {
  &.success {
    .flash-content {
      background-color: @positivecolor;
      color: @positivetextcolor;
    }
  }

  &.error {
    .flash-content {
      background-color: @negativecolor;
      color: @negativetextcolor;
    }
  }
}
