@import 'runtime/signviewbranding/flash';
@import 'runtime/common/buttons';
@import 'runtime/common/utils';
@import 'runtime/common/service-header';
@import 'runtime/signviewbranding/to-startbranding';
@import 'runtime/signviewbranding/identify';

.background_with_ie_support(@bcolor) {
        @filter :  %("progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)",argb(@bcolor),argb(@bcolor));
        background:transparent; /* Fallback IE */
        filter: e(@filter);
        background-color: @bcolor;
        @url : %('%s/img/transparent-pixel.png', @cdnbaseurl);
        background-image: @url; // Make click area work in IE8.
}

/* Signview in general */
.signview {

  .section.highlight {
    border-color: @actioncolor;
  }
}
/* Header */
.signview .pageheader {
  background-color: @brandcolor;
  color: @brandtextcolor;
  font-family : @font;

  .content .sender {
    color: @brandtextcolor;
    font-family : @font;

    .inner.clickable {
      color: @brandtextcolor;
      font-family : @font;

      &:hover {
        color: lighten(@brandtextcolor,20%);
      }
    }
  }
}

.signview {
  .branded-checkbox {
    .checkbox {
      .background_with_ie_support(fade(@actioncolor, 20%));
      border: 2px solid @actioncolor;
    }

    .checkmark {
      @url: %("%s/colored_image?file=valid-input-checkbox.png&color=%D", @cdnbaseurl, @actiontextcolor);
      background-image: url(@url);
    }

    .checkbox.checked {
      background: @actioncolor;
    }
  }
}

.signview .sign {
  .check-done {
    @url: %('%s/colored_image?file=check-done.png&color=%D', @cdnbaseurl, @positivecolor);
    background: url(@url);
  }
}

.signview .header {
  background-color: @brandcolor;
  color: @brandtextcolor;

  .main {
    background-color: @brandcolor;

    .link {
      color: @brandtextcolor;
    }

    h4 {
      color: @brandtextcolor;
    }
  }
}

/* Instructions */
.signview .instructions.section {

  .headline,.subheadline {
    font-family: @font;
   }

  .download {
    color: #4A4A49;
    font-family: @font;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: underline;
    }
  }

  .arrowtext {
    color : @actioncolor;

    &:hover {
      color: lighten(@actioncolor,10%);
    }
  }

  .arrow-legend {

    .mandatory {
      @url : %('%s/colored_image?file=icon-legend-mandatory.png&color=%D', @cdnbaseurl, @actioncolor);
      background : url(@url) ;
    }

    .optional {
      @url : %('%s/colored_image?file=icon-legend-mandatory.png&color=%D', @cdnbaseurl, @actionsecondarycolor);
      background : url(@url) ;
    }
  }
}
/* Signatories section */
.signview .signatories.section {
  font-family: @font;

  h2, .name, .statustext, .titleinfo, .field, .statusbox {
    font-family: @font;
  }
}
/* Arrows */
.signview .arrows {

  .action-arrow.left {

    .front {
      @url : %('%s/colored_image?file=sign-arrow-action-left.png&color=%D',@cdnbaseurl, @actioncolor);
      background : url(@url);
    }

    .back {
      @url : %('%s/colored_image?file=sign-arrow-action-left-back.png&color=%D',@cdnbaseurl, @actioncolor);
      background : url(@url);
    }

    .label {
      @url : %('%s/colored_image?file=sign-arrow-action-label.png&color=%D', @cdnbaseurl, @actioncolor);
      background : url(@url);
      color : @actiontextcolor;
      font-family: @font;
    }
  }

  .action-arrow.right {

    .front {
      @url : %('%s/colored_image?file=sign-arrow-action-right.png&color=%D', @cdnbaseurl, @actioncolor);
      background : url(@url);
    }

    .back {
      @url : %('%s/colored_image?file=sign-arrow-action-right-back.png&color=%D', @cdnbaseurl, @actioncolor);
      background : url(@url);
    }

    .label {
      @url : %('%s/colored_image?file=sign-arrow-action-label.png&color=%D', @cdnbaseurl, @actioncolor);
      background : url(@url);
      color : @actiontextcolor;
      font-family: @font;
    }
  }

  .arrow.up {
    @url : %('%s/colored_image?file=sign-arrow-up.png&color=%D', @cdnbaseurl, @actioncolor);
    background : url(@url);
  }

  .arrow.down {
    @url : %('%s/colored_image?file=sign-arrow-down.png&color=%D', @cdnbaseurl, @actioncolor);
    background : url(@url);
  }
}
.signview {
  .obligatory-input{
    border-color: @actioncolor; /* Fallback IE */
    border-color: fade(@actioncolor,60%);
    .background_with_ie_support(fade(@actioncolor, 5%));

    &:hover, &.active {
      border-color: @actioncolor;
    }

    &.valid {
      border-color: #ddd;
    }
  }
}

.obligatory-input {
  .after {
    @url: %("%s/colored_image?file=valid-input-check.png&color=%D", @cdnbaseurl, @actioncolor);
    background-image: url(@url);
  }
}

/* Signatory attachments section */
.signview .section .signatoryattachments {

  h2, .subtitle, .filename .label, .name, .description {
    font-family: @font;
  }
}
/* Author attachments section */
.signview .section .authorattachments {

  h2, .name {
    font-family: @font;
  }

}
/* Placements */
.signview .document-pages {
  /* Texts and checkboxes */

  .placedfield.to-fill-now {
    border-color: @actionsecondarycolor; /* Fallback IE */
    border-color: fade(@actionsecondarycolor,60%);

    .info-text-input {
      background-color: transparent;
    }

    &:hover, &.active {
      border-color: @actionsecondarycolor;

      &.active {
        background-color:#FFFFFF;
      }
    }

    &.obligatory {
      border-color: @actioncolor; /* Fallback IE */
      border-color: fade(@actioncolor,60%);
      background: transparent;

      &.active {
        border-color: @actioncolor;
        background: #FFFFF;
      }
    }

    &.empty-text-field {
      .background_with_ie_support(fade(@actionsecondarycolor,20%));

      &.optional {
        .background_with_ie_support(fade(@actionsecondarycolor,20%));
      }

      &.active {
        background-color: #FFFFFF;
        &.optional {
          .text-inline-editing {
            .background_with_ie_support(fade(@actionsecondarycolor,20%));
          }
        }
      }
    }

    &.invalid {
      .background_with_ie_support(fade(@actionsecondarycolor,20%));

      &.obligatory {
        .background_with_ie_support(fade(@actioncolor,20%));
      }

      &.active {
        background-color: #FFFFFF;
        .text-inline-editing {
          .background_with_ie_support(fade(@actionsecondarycolor,20%));
        }

        &.obligatory {
          .text-inline-editing {
            .background_with_ie_support(fade(@actioncolor,20%));
          }
        }
      }
    }
  }

  .signatureBox.forDrawing {
    border-color: @actionsecondarycolor;
    border-color: fade(@actionsecondarycolor,60%);

    &:hover {
      border-color: @actionsecondarycolor;
    }

    &.signaturePlaceholder {
      .background_with_ie_support(fade(@actionsecondarycolor,20%));
    }

    &.obligatory {
      border-color: @actioncolor;
      border-color: fade(@actioncolor,60%);

      &:hover {
        border-color: @actioncolor;
      }

      &.signaturePlaceholder {
        .background_with_ie_support(fade(@actioncolor,20%));
      }
    }
  }
}
