.authorizeview {
  background-color:#495259;
  color: #FFFFFF;
  display: table;
  height: 100%;
  width: 100%;
}
.authorizeview > .main {
  display: table-cell;
  vertical-align: middle;
  width:100% !important;
  min-width:100% !important;
}

.authorizeview .main .main {
  margin: 0px auto;
  width: 292px !important;
  min-width: 292px !important;
}

.authorizeview .main .container {
  width: 292px !important;
  min-width: 292px !important;
}

.authorizeview  a {
  cursor: pointer;
  color: #FFFFFF;
}

.authorizeview  a:hover {
  color: #FFFFFF;
}

.authorizeview  select {
  background-color: #495259;
  border-color: #FFFFFF;
  color: #FFFFFF;

}

.authorizeview  .btn {
  background-color: #495259;
  border-color: #FFFFFF;
}

.authorizeview  .btn:hover {
  background-color: #606c75;
  color: #FFFFFF;
}

.authorizeview  .btn:focus {
  background-color: #606c75;
  color: #FFFFFF;
}



.authorizeview .divider-line {
  background-image: url('../img/divider-line.png');
  display: block;
  height: 2px;
  margin: 15px auto;
  width: 166px;
}
