.email-preview {
  width: 600px;
  display: inline-block;

  @original-padding: 32px; // How big it actually is in the email
  @actual-padding: @original-padding; // How big it will appear in the preview

  .logo-wrapper {
    max-width: 600px;
    margin-top: 20px;
    padding: @actual-padding;
    background-color: #495259; // TODO use variables.less
  }

  .content-container {
    padding: @actual-padding;

    .document-preview {
      max-width: 150px;
      border: 1px solid #ddd;
    }

    .invitation {
      margin-left: @actual-padding;
      max-width: 350px;

      p {
        margin-bottom: 20px;
      }
    }


    .document-preview, .invitation {
      display: inline-block;
      vertical-align: top;
    }
  }

  .footer {
    margin-top: @actual-padding;
    border-top: 1px solid #ddd;

    p {
      margin-top: @actual-padding;
      font-size: 13px;
      font-style: italic;
      line-height: 125%;
      text-align: justify;
    }
  }
}

