.login-preview {
  margin: auto;
  width: 600px;
  
  @original-padding: 16px; // How the padding is in the actual login page
  @actual-padding: 0.8*@original-padding; // How big it will appear in the preview

  .logo-wrapper {
    max-width: 600px;
    margin: 10px auto 0;
    text-align: center;
    padding: @actual-padding;

    .small {
      font-size: 13px;
      padding: 0;
    }

    img {
      max-width: 200px;
    }
  }

  .content-container {
    padding: @actual-padding;

    .content {
      text-align: center;

      > * {
        margin-bottom: @actual-padding;
      }

      p a {
        cursor: text;
        text-decoration: underline;
      }

      .select-container {
        cursor: default;
        padding-bottom: 0;
        width: 280px;
        margin: 0 auto;

        .select {
          cursor: default;
          width: 180px !important;
          margin: 0 auto;
        }

        .select-button {
          background: transparent;
        }

        .select-button-label {
          cursor: text;
        }
      }

      .info-text-input {
        display: block;
        margin: @actual-padding auto;
      }

      .button {
        width: 170px;
      }

      .internal-button {
        margin-right: 5px;
        margin-top: -30px;
      }
    }
  }
}
