@import 'branding/colors.less';

.account input {
    padding-left: 10px;
    font-size: 15px;
}

.account {
    .tab-viewer-header .tabs li.active > h5{
        font-weight: 400;
    }
}

.account-settings {
    padding-top: 20px;
}

.account input.emailinput[type="text"],
.account input.newpassword[type="text"] {
    width: 125px;
    margin-right: 10px;
    border-color: transparent;
    background: transparent;
    color: #222;
}
.account input[type="text"],
.account input[type="password"] {
    width: 225px;
    height: 26px;
    font-weight: 300;
}
.account input[type="checkbox"]{
    margin-right : 6px;
    margin-top : -3px;
}

.account-body table td {
   padding: 5px;
   text-align: left;
   font-weight: 300;

   input {
      height: 28px;
      width: 317px;
   }

   &:first-child {
    width: 85px;
   }  
}

.account > .col,
.account > .blue-box,
.companybranding > .col  {
   margin: 0 20px 20px 0;
}
.account > .col {
     float: left;
     width: 430px;

    .account-header.company {
        border-bottom: none;
	width:100%;
    }
}

.account > .col {
    margin-left: 100px;
}

.account > .blue-box {
    float: left;
    width: 385px;
}

.account {
   .col.float-right, .col.float-left {
     margin: 0;
   }
}

.account-header {
    width: 1018px;
    min-height: 32px;
    padding-bottom: 10px;
    position: relative;
    color: #333333;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Source Sans Pro,Helvetica Neue,sans-serif;
    font-size: 1.5em;
    line-height: 25px;
    font-weight: 300;
}



.account-body {
   margin-top: 20px;
}


.account-footer {
    margin-left: 718px; 
}

.account-body .col .account-footer {
    margin-right: 5px;
}

.account-body .account-footer a {
   display: inline-block;
   margin: 0 auto;
}

.account-body label {
    font-size: 15px;
    font-weight: 300;
    color: @text-very-dark;
}


/* This are used in account and admin sections, so need to be toplevel*/
.usagestats {
  .tab-content {
      display: none;
  }
  .jsdaytable .tab-container, .usagestats .jsmonthtable .tab-container, .usagestats .tab-table {
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
  }
  .tab-table {
      border-top: 0;
  }
  .option-top-box {
      display: none;
  }
  .jsdaytable {
      margin-top: 20px;
      margin-bottom: 40px;
  }
  .jsmonthtable {
      margin-top: 20px;
  }
  h2 {
      text-align: center;
      font-family: Source Sans Pro,Helvetica Neue,sans-serif;
      font-size: 1.5em;
      line-height: 25px;
      color: #333333;
  }
  td.num {
      font-weight: bold;
      font-family: "Courier New", Courier, monospace;
  }
}

