.body-container > .account {
  background: #FFFFFF;
}

.companybranding {
  height: 330px;

  table {
    width: 100%;
  }

  .checkboxtoggle {
    width: 30px;
  }

  input.colour {
    width: 80px;
    margin-left: 30px;
  }

  .colourdisplay {
    width: 0px;
    margin-left: 20px;
    padding: 10px 14px;
    border: solid 1px black;
  }

  .logocustomise {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
  }

  .sample {
    width: 650px;
    margin: 10px 30px;
    background-color: white;
    padding: 10px;
    border:1px solid #DDDDDD;
  

    .header {
      padding: 10px;
    }

    hr {
      height:1px;
      border:none;
      background:#fff;
      width:330px;
    }

    .logo {
      min-height: 33px;
      text-align: center;
      padding: 20px;
    }

    .header {
      .subject {
        width: 100%;
        text-align: center;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 0.04em;
        padding: 0px;
        margin: 0px;
        text-transform: none;
      }

      .strapline {
        width: 100%;
        text-align: center;
        display: block;
        font-weight: 100;
        font-size: 11px;
        margin: 0px;
        margin-bottom: 20px;
        text-transform: none;
    }
  }
  .save {
    margin-right: 40px;
  }
 }
}

.tab-viewer .account .companybranding .col {
  float: none;
  width: 860px;
}

.tab-viewer .tab-container .companybranding .sample .content {
  color: #212121;
  font-size: 12px;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.apidashboard {
  p {
      font-size: 14px;
  }

  .subbox {
    display : none;
  }

  .account .col {
      width: 100%;
  }
  .oauth-section {
    margin-bottom: 10px;
    border : 1px dashed #CCCCCC;
    padding: 20px;
  }

  .account .col p {
      margin-right: 30px;
      display: inline-block;

  }

  .col.float-right {
      display: none;
  }


  .col {
      display: table;
      overflow: hidden;
      height: 33px;
  }

  .middle {
      display: table-cell;
      vertical-align: middle;
  }
}
