
.apisettings {

  .tab-viewer {
    width: 100%;
  }

.apidashboard {

    padding: 20px;

    p {
        font-size: 14px;
    }

    .subbox {
      display : none;
    }

    .account .col {
        width: 100%;
    }
    .oauth-section {
      margin-bottom: 55px;

      .oauth-section-header {
        border-bottom: 1px solid #DEE4ED;
        color: #333333;
        display: block;
        font-family: Source Sans Pro,Helvetica Neue,sans-serif;
        font-size: 1.5em;
        line-height: 25px;
        margin: 20px 0px 5px;
        min-height: 32px;
        padding-bottom: 5px;
        position: relative;
        text-align: left;
        display: block;
      }
      .oauth-section-label {
        color: #333333;
        display: block;
        font-family: Source Sans Pro,Helvetica Neue,sans-serif;
        font-size: 1em;
        line-height: 1em;
        margin: 10px 0px 20px;
        position: relative;
        text-align: left;
        display: block;

      }
      label.delete {
        cursor: pointer;
        color: #B50008;
        &:hover {
          color: red;
        }
      }
    }

    .account .col p {
        margin-right: 30px;
        display: inline-block;

    }

    .col.float-right {
        display: none;
    }


    .col {
        display: table;
        overflow: hidden;
        height: 33px;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
    }
  }
  .mailapisettings {

    padding: 20px;

    li {
      margin: 5px 0 0 5px;
    }

    td:first-child {
      width: 300px !important;
    }

    input {
      width: 50px !important;
    }

    .col {
        float: left;
        width: 390px;
        margin: 0 20px 20px;
        border: 4px solid #DEE4ED;
        transition: all 0.5s ease-in-out 0s;
    }

    .col:hover{
        border-color: #364963;
    }

  }


}

.tab-viewer .apisettings col {
  float: none;
  width: 360px;
}
