@import 'designview/util.less';
@import 'branding/variables.less';

.archive,
.admin {

  .list-container {
    background: transparent;
    border: none;
    margin: auto;
    width: 1018px;
    
    .table {
      border: none;
      
      thead {
        background: @grey;
      }

      tr:hover {
        background: @slightly-darker-grey-background;
      }
    }
  }

  .option-top-box {
    border-bottom: none;
    
    // align to menu and the list.
    .col.float-left,
    .col.float-right {
      margin: 0;
    }

    .subbox {
      padding-left: 0px;
      padding-right: 0px;

      .options-box .select {
        height: 40px;
        margin-right: 0px;
      }
    }
  }

  .tab-viewer-header .tabs li.active > h5 {
    font-weight: 400;
  }
}

.archive .scrolled {

  .option-top-box {
    height: 121px;

    .subbox {
      background: @grey-background;
      border-bottom: 1px solid #e0e0e0;
      height: 42px;
      padding: 13px 0;
      position: fixed;
      top: 0px;
      width: 1018px;
    }
  }
}

.table-statuses {
  background: #fff;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: @text-medium;
  font-size: 13px;
  height: 13px;
  line-height: 13px;
  margin-top: 10px;
  padding: 10px 10px;
}

.table-statuses .icon {
  margin-left: 30px;
  margin-top: -7px;
  
  &.first { 
    margin-left: 4px;
  }
}

.new-post-sign-view-user {
  text-align: center;

  .grey-arrow {
    margin-top: 15px;
  }

  h2 {
    font-weight: 400;
    font-size: 26px;
    margin-top: 5px;
  }

  .subtitle {
    margin-bottom: 20px;
    margin-top: 70px;
  }

  div.subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: left;
    width: 420px;

    h5 {
      font-size: 16px;
      line-height: 25px;
    }

    h5.great-thing {
      font-weight: 300;
      margin-left: 15px;
      
      &:before {
        content: url(/img/arrow-list.png);
        margin-right: 5px;
      }
    }
  }
}


// Welcome new user in document archive view - EXPERIMENT
// -------------------------

.new-post-sign-view-user-first-row-highlighted .archive .list-container .table tbody tr:first-child {
  border: 2px #53b688 solid;
}

.new-post-sign-view-user-first-row-highlighted .archive .list-container .option-top-box {
  display: none;
}

.new-post-sign-view-user-first-row-highlighted .archive .list-container {
  margin-top: 50px;
}

.new-post-sign-view-user-first-row-highlighted .archive .tab-viewer-header {
  display: none;
}

.new-post-sign-view-user-first-row-highlighted .archive {

  .mark-document-overlay {
    background-color: rgba(83, 182, 136, 0.24);
    height: 41px;
    position: absolute;
    width: 1015px;
  }

  .inner-container.experiment4 {
    background-color: #fafafa;
    border: 2px solid #f2f2f2;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px 10px;
    display: inline-block;
    margin-bottom: 400px;
    margin-top: 40px;
    padding: 46px 20px 53px 100px;
    
    .subtitle {
      width: 489px;
    }

    .subtitle {
      margin-top: 0px !important;
    }

    .explanation {
      color: #4a4949;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 3px;

      &.second-h5 {
        font-size: 17px;
        margin-top: 9px;
      }
    }

    .design-view-document-buttons-upload-button {
      float: left;
    }
  }

  .document-description {
    left: -37px;
    position: relative;
    top: -39px;

    img,
    h3 {
      display: inline-block;
    }

    h3 {
      color: @brand-secondary;
      font-size: 25px;
      font-weight: 400;
      left: 6px;
      top: 32px;
      position: relative;
      
      span {
        color: #4a4949;
        font-size: 17px;
        font-weight: 300;
        line-height: 28px;
        margin-left: 5px;
      }
    }

    img {
      width: 29px;
    }
  }
}

// END - Welcome new user in document archive view - EXPERIMENT
// -------------------------