@import 'designview/util.less';
@import 'branding/colors.less';

.archive, .admin {
    .list-container {
        border: none;
        width: 1018px;
        margin: auto;
        background: transparent;

        .table {
            border: none;
            thead {
                background: @grey;
            }
            tr:hover {
                background: @slightly-darker-grey-background;
            }
        }
    }

    .option-top-box {
        border-bottom: none;
        // align to menu and the list.
        .col.float-left, .col.float-right {
            margin: 0;
        }
        .subbox {
            padding-left: 0px;
            padding-right: 0px;

            .options-box .select {
                margin-right: 0px;
            }
        }
    }

    .tab-viewer-header .tabs li.active > h5{
        font-weight: 400;
    }
}

.archive .scrolled .option-top-box{
    position: fixed;
    top: -57px;
    height: 113px;
    width: 1018px;
    background: @grey-background;
    border-bottom: 1px solid #e0e0e0;
}

.table-statuses {
      background: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      color: @text-medium;
      font-size: 13px;
      margin-top: 10px;
      padding: 10px 10px;
      height: 13px;
      line-height: 13px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
 }

.table-statuses .icon {
      margin-top: -4px;
      margin-left: 30px;
      &.first { margin-left: 4px }
 }

 .new-post-sign-view-user {
    text-align: center;

    .grey-arrow {
        margin-top: 30px;
    }

    h2 {
        margin-top: 5px;
        font-weight: 400;
        font-size: 26px;
    }

    .subtitle {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    div.subtitle {
        width: 420px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;

        h5 {
            font-size: 16px;
            line-height: 25px;
        }

        h5.great-thing {
            margin-left: 15px; 
            font-weight: 300;
            &:before {
                content: url(/img/arrow-list.png);
                margin-right: 5px;
            }
        }

    }
}

.new-post-sign-view-user-first-row-highlighted .archive .list-container .table tbody tr:first-child { border: 2px #53B688 solid; } 
.new-post-sign-view-user-first-row-highlighted .archive .list-container .option-top-box { display: none; } 
.new-post-sign-view-user-first-row-highlighted .archive .list-container { margin-top: 50px; } 
.new-post-sign-view-user-first-row-highlighted .archive .tab-viewer-header { display: none; }
