@import 'branding/colors';
@import 'branding/elements';
@import 'designview/util';

.authorview {

  background: @grey-background;

  .signatories-box {
    margin-right: 36px;
  }

  .history-box {
      width : 1018px;
      margin: 0 auto;
      .headline {
        background-color: @slightly-darker-grey-background;
        border: 1px solid @dark-border;
        color: #333;
        font-size: 20px;
        line-height: 18px;
        margin: 15px 0px 25px;
        padding: 22px;
        text-align : center;
      }

      .document-history-container {
        box-sizing: border-box;
        border: 1px solid @dark-border;
      }

      .table > table {
        border: none;
        thead > tr {
          border-top: none;
        }
      }
  }

  .titlebox {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .headline {
      color: black;
      font-size: 24px;
      font-weight: 400;
    }
    .subheadline {
      margin-left: auto;
      margin-right: auto;
      margin-top: 11px;
    }
    .duedate {
        font-weight: normal;
        display: block;
        margin-bottom : 28px;
    }

    a.download {
        background: url(../img/senddoc.png) no-repeat;
        padding-left: 20px;
        font-weight: normal;
    }
    .buttonbox {
      margin: 32px auto 0;
      text-align : center;
    }
  }

  .section {
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid @dark-border;
      clear: both;
      background-color: white;
      overflow: hidden;
      margin-top: 17px;
      width: 1018px;
      box-sizing: border-box;
      h2 {
          float: left;
          width: 260px;
          margin-bottom: 20px;
          color: black;
          padding-left: 30px;
          font-size: 20px;
          font-weight: 300;
        }
    }

  .column.spacing {
          margin-right: 20px;
  }

  .subcontainer {
      margin-bottom: 20px;
  }

  .subcontainer .signatories {
      div.spacing {
          padding: 8px;
          .butt {
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
      }


      .sig.first {
          margin-top: 0px;
          padding-top: 0px;
      }

      .sig {
          margin-top: 4px;
      }

      .sig .name {
          margin-bottom: 2px;
      }

      .sig .name.first {
          margin-top: 0px;
      }

      padding-bottom: 30px;
      padding-top: 30px;

      td.signatory-box {
          border: solid @dark-border 1px;
          background: @grey-background;
          vertical-align : top;
      }
      td.signatory-box-separator {
          width: 20px;
      }  
      .column {
          display: inline-block;
          width: 270px;
          min-height: 125px;
          &.spacing {  
            margin-right: 0px;
          }
      }

      .name {
          color: black;
          font-size: 16px;
          height: 19px;
          padding-left: 10px;
          margin-top: -2px;
          margin-bottom: -2px;
      }

      .company {
          font-size: 14px;
          margin-bottom: 5px;
      }

      .inner {
          margin-top: 10px;
          min-height: 75px;
          color : #505050;
          border-top: 1px dashed #ccc;

          &.spacing {
            padding-top: 20px;
          }
      }
      .inner .email:hover{
              overflow: visible;
      }

      .details {
          float:left;
          padding: 0px;
          font-size: 14px;
          padding-left: 10px;
      }

      .field {
          height: 16px;
          font-size: 14px;
          line-height: 15px;
          width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow:hidden;
          margin-bottom: 5px;
      }
      .statustext {
          font-size: 14px;
      }
      .statusbox {
          border-top: 1px dashed #ccc;
          font-size: 13px;
          vertical-align: middle;
          line-height: 13px;
          margin-top: 29px;
      }

      .statusbox .spacing {
          padding-left: 18px;
          padding-top: 18px;
      }

      .statusbox .icon.status {
          display: inline-block; 
          float: none;
          margin-top: 1px;
      }
      .line {
          display: table;
          overflow: hidden;
          height: 15px;
          width: 100%;
          margin-left: 10px;
      }

      .line .middle {
          display: table-cell;
          vertical-align: middle;
          a {
            cursor: pointer;
          }
      }

      .signatory {
        .field .grayed {
          color: white;
        }

        .field input {
          width: 195px;
        }

        .fieldwrapper {
          width: 200px;
        }
      }
     .optionbox {
        padding: 12px 0px 2px 18px;
        height : 40px;
        border-top: 1px dashed #ccc;
        margin-top: 15px;

        .change-email-box {
            display: inline-block;
            input {
              width: 180px;
              float: left;
            }
            .btn-tiny {
              margin-left: 5px;
              float: left;
            }
        }

        .reminderForSendIcon {
            background: url(../img/remind.png) 0 0 no-repeat;
            margin-top: 7px;
            margin-right: 7px;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .reminderForSignedIcon  {
            background: url(../img/senddoc.png) 0 0 no-repeat;
            display: inline-block;
            margin-top: 4px;
            margin-right: 7px;
            height: 16px;
            width: 16px;
            float:left;
        }

        .giveForSigningIcon {
            background: url(../img/give.png) 0 0 no-repeat;
            margin-top: 5px;
            margin-right: 7px;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .addToPadIcon {
            margin-top: 5px;
            margin-right: 7px;
            background: url(../img/pad.png) 0 0 no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .removeFromPadIcon {
            margin-top: 4px;
            margin-right: 7px;
            background: url(../img/icon-delete.png) 0 0 no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }
     }

  }

  .signatoryattachments {

    .item {
      margin-bottom : 10px;
      margin-right  : 10px;
      .name {
        font-weight: bold;
        color: black;
      }
    }

    .list {
      float: left;
      width: 580px;
      margin-left: 23px;
      margin-right: 20px;
      .desc {
          width: 420px;
          .description {
             font-style: italic;
          }
      }
      .file {
          vertical-align:top
      }
    }

  }

  .subcontainer .document-pages .pagediv {
    margin-top: 25px;
    border: 1px dashed @dark-border;
    padding: 35px;
    .box-shadow(none);
    .border-radius(16px,16px,16px,16px);
    .pagejpg {
      .box-shadow(0 0 5px #aaa);
    }
  }
}
