@import 'branding/colors';
@import 'branding/elements';
@import 'designview/util';

.authorview {
  padding-bottom: 61px;
  .signatories-box {
    margin-right: 36px;
  }

  .history-box {
      width : 1018px;
      margin: 0 auto;
      .headline {
        background-color: @slightly-darker-grey-background;
        border: 1px solid @dark-border;
        color: #333;
        font-size: 20px;
        line-height: 18px;
        margin: 15px 0px 25px;
        padding: 22px;
        text-align : center;
      }

      .document-history-container {
        box-sizing: border-box;
        border: 1px solid @dark-border;
      }

      .table > table {
        border: none;
        thead > tr {
          border-top: none;
        }
      }
  }

  .titlebox {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .headline {
      color: #4A4A49;
      font-size: 24px;
      font-weight: 400;
    }
    .subheadline {
      margin-left: auto;
      margin-right: auto;
      margin-top: 11px;
    }
    .duedate {
        font-weight: normal;
        display: block;
        margin-bottom : 28px;
    }

    a.download {
        background: url(../img/senddoc.png) no-repeat;
        padding-left: 20px;
        font-weight: normal;
    }
    .buttonbox {
      margin: 32px auto 0;
      text-align : center;
    }
  }

  .section {
      padding-top: 20px;
      padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid @dark-border;
      clear: both;
      background-color: white;
      overflow: hidden;
      margin-top: 35px;
      width: 1018px;
      box-sizing: border-box;
      h2 {
          float: left;
          width: 260px;
          margin-bottom: 20px;
          color: @dark-text;
          padding-left: 30px;
          font-size: 20px;
          font-weight: 300;
        }
    }

  .column.spacing {
          margin-right: 20px;
  }

  .subcontainer {
      margin-bottom: 35px;
  }

  .subcontainer .signatories {
      div.spacing {
          .butt {
            padding-bottom: 0px;
            margin-bottom: 0px;
          }
      }


      .sig.first {
          margin-top: 0px;
          padding-top: 0px;
      }

      .sig {
          margin-top: 4px;
      }

      .inner .details, .titleinfo, .statusbox, .optionbox {
	  padding:10px;
      }

      padding-bottom: 30px;
      padding-top: 30px;

      .signatory-box {
          border: solid @dark-border 1px;
          background: @grey-background;
          vertical-align: top;
	  padding: 15px;
	  min-width:269px;
      }

      .signatory-box-separator {
          width: 20px;
      }  

      .column {
          display: inline-block;
          width: 100%;
          min-height: 125px;
          &.spacing {
            margin-right: 0px;
          }
	  .sig {
	      &:first-child {
		  padding-top:0px;
	      }
	      padding: 10px;
	      border-bottom: 1px dashed #ccc;
	      &:last-child {
		  padding-bottom:0px;
		  border-bottom:none;
	      }
	  }

      }

      .name {
          color: @text-dark;
          font-size: 16px;
      }

      .company {
          font-size: 14px;
          margin-bottom: 5px;
      }

      .inner {
          min-height: 75px;
          color : #505050;
          border-top: 1px dashed #ccc;
      }

      .inner .email:hover{
              overflow: visible;
      }

      .field {
          height: 16px;
          font-size: 14px;
          line-height: 15px;
          width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow:hidden;
          margin-bottom: 5px;
      }
      .statustext {
          font-size: 14px;
      }
      .statusbox {
          border-top: 1px dashed #ccc;
          font-size: 13px;
          vertical-align: middle;
      }

      .statusbox .icon.status {
          display: inline-block;
          float: none;
          margin-top: 1px;
	  margin-right:10px;
      }

      .line {
          overflow: hidden;
	  margin-top: 2px;
	  .middle {
	      display:inline-block;
              a {
		  cursor: pointer;
              }
	  }
	  .details {
              font-size: 14px;
	      float:right;
	  }

      }

      .signatory {
        .field .grayed {
          color: white;
        }

        .field input {
          width: 195px;
        }

        .fieldwrapper {
          width: 200px;
        }
      }
     .optionbox {
        height : 40px;
        border-top: 1px dashed #ccc;
        display: block;
        color: @blueH;
        .change-email-box, .change-mobile-box {
            margin-bottom: 4px;
            display: inline-block;
            padding: 8px 0px 0px 0px;
            input {
              width: 180px;
              float: left;
            }
            .btn-tiny {
              margin-left: 5px;
              float: left;
            }
        }

        .reminderForSendIcon {
            background: url(../img/remind.png) 0 0 no-repeat;
            margin-top: 7px;
            margin-right: 7px;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .reminderForSignedIcon  {
            background: url(../img/senddoc.png) 0 0 no-repeat;
            display: inline-block;
            margin-top: 4px;
            margin-right: 7px;
            height: 16px;
            width: 16px;
            float:left;
        }

        .giveForSigningIcon {
            background: url(../img/give.png) 0 0 no-repeat;
            margin-top: 5px;
            margin-right: 7px;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .addToPadIcon {
            margin-top: 5px;
            margin-right: 7px;
            background: url(../img/pad.png) 0 0 no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }

        .removeFromPadIcon {
            margin-top: 4px;
            margin-right: 7px;
            background: url(../img/icon-delete.png) 0 0 no-repeat;
            display: inline-block;
            height: 16px;
            width: 16px;
            float:left;
        }
     }

  }

  .signatoryattachments {

    .item {
      margin-bottom : 10px;
      margin-right  : 10px;
      .name {
        font-weight: 400;
        color: @dark-text;
      }
    }

    .list {
      float: right;
      width: 580px;
      margin-left: 23px;
      margin-right: 20px;
      .desc {
          width: 420px;
          .description {
             font-style: italic;
          }
      }
      .file {
          vertical-align:top
      }
    }

  }

  .document-pages {
      margin: 25px auto 0 auto;
      padding: 35px;
      border: 1px dashed #cccccc;
      border: 1px dashed @dark-border;
      .border-radius(5px, 5px, 5px, 5px);
      .pagediv {
	  &#page1 {
	      margin-top:0px;
	  }
	  margin-top:35px;
      }
  }
}
