@import 'branding/variables';
@import 'branding/elements';
@import 'designview/util';

.authorview {

  .signatories-box {
    margin-right: 36px;
  }

  .history-box {
    background-color: @white;
    border: 1px solid @dark-border;
    border-bottom-width: 0;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 1016px; // total width of 1018px with border etc.

    .headline {
      color: @dark-text;
      font-size: 20px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 22px;
      text-align: center;
    }

    .document-history-container {
      border: 1px solid @dark-border;
      box-sizing: border-box;
      width: 943px;
    }

    .table > table {
      border: none;

      thead > tr {
        border-top: none;
      }
    }
  }

  .titlebox {
    background: @white;
    border: 1px solid @dark-border;
    margin: 25px auto;
    padding: 30px 0;
    text-align: center;
    width: 1018px;

    .headline {
      color:#4a4a49;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .subheadline {
      margin-left: auto;
      margin-right: auto;
      margin-top: 11px;
    }

    .duedate {
      font-weight: normal;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    a.download {
      background: url(../img/senddoc.png) no-repeat;
      font-weight: normal;
      left: -10px;
      padding-left: 20px;
      position: relative;
    }

    .buttonbox {
      margin: 32px auto 0;
      text-align: center;

      > .button {
        margin-right: 10px;
      }
    }
  }

  .section {
    background-color: @white;
    border: 1px solid @dark-border;
    box-sizing: border-box;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 1018px;
    
    h2 {
      color: @dark-text;
      float: left;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
      padding-left: 30px;
      width: 260px;
    }
  }

  .column.spacing {
    margin-right: 20px;
  }

  .subcontainer {
    margin-bottom: 35px;
  }

  .subcontainer .signatories {
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    
    .box-shadow(0px 0px 8px rgba(80, 80, 80, 0.31));

    div.spacing {
      
      .butt {
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
    }

    .sig.first {
      margin-top: 0px;
      padding-top: 0px;
    }

    .sig {
      margin-top: 4px;
    }

    .inner .details,
    .titleinfo,
    .statusbox,
    .optionbox {
      padding: 10px;
    }

    .grey-box { 
      background: @grey-background;
      border: solid @dark-border 1px;
      padding: 15px;
      vertical-align: top;
    }

    .column {
      display: inline-block;
      margin-right: 0px;
      min-height: 125px;
      width:269px;

      .sig {
        border-bottom: 1px dashed #ccc;
        padding: 10px;

        &:first-child {
          padding-top: 0px;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0px;
        }
      }
    }

    .name {
      color: @text-dark;
      font-size: 16px;
    }

    .company {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .column {
      display: inline-block;
      margin-right: 0px;
      min-height: 125px;
      width: 269px;

      &.auto-reminder {
        // Fix for the auto reminder case, if used in more places,
        // this class name should be renambed to something more generic

        margin-top: 20px;
        min-height: 0;

        .inner {
          min-height: 0;

          .details {
            padding-bottom: 8px;
          }
        }
      }

      .sig {
        border-bottom: 1px dashed #ccc;
        padding: 10px;

        &:first-child {
          padding-top: 0px;
        }
        
        &:last-child {
          border-bottom: none;
          padding-bottom: 0px;
        }
      }
    }

    .inner {
      border-top: 1px dashed #ccc;
      color: #505050;
      min-height: 75px;
    }

    .inner .email:hover {
      overflow: visible;
    }

    .field {
      height: 16px;
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      white-space: nowrap;
    }

    .statustext {
      float: left;
      font-size: 14px;
    }

    .statusbox {
      border-top: 1px dashed #ccc;
      font-size: 13px;
      vertical-align: middle;
      
      .statustext {
        margin-top: 3px;
      }
    }

    .statusbox .icon.status {
      display: inline-block;
      float: left;
      margin-right: 10px;
      margin-top: 1px;
    }

    .line {
      display: table;
      margin-top: 2px;
      overflow: hidden;
      
      .middle {
        display: table-cell;
        vertical-align: middle;
        
        a {
          cursor: pointer;
        }

        .icon.status {
          margin-right: 7px;
        }
      }

      .details {
        float:right;
        font-size: 14px;
      }
    }

    .optionbox {
      border-top: 1px dashed #ccc;
      display: block;
      height: 40px;
      margin-top: 30px;
      
      .change-email-box,
      .change-mobile-box {
        display: inline-block;
        margin-bottom: 4px;
        padding: 8px 0px 0px 0px;

        input {
          float: left;
          width: 180px;
        }

        .btn-tiny {
          float: left;
          margin-left: 5px;
        }
      }

      .reminderForSendIcon {
        background: url(../img/remind.png) 0 0 no-repeat;
        display: inline-block;
        float: left;
        height: 16px;
        margin-right: 7px;
        margin-top: 7px;
        width: 16px;
      }

      .reminderForSignedIcon  {
        background: url(../img/senddoc.png) 0 0 no-repeat;
        display: inline-block;
        float: left;
        height: 16px;
        margin-right: 7px;
        margin-top: 4px;
        width: 16px;
      }
    }
  }

  .signatoryattachments {

    .item {
      margin-bottom: 10px;
      margin-right: 10px;
      
      .name {
        color: @dark-text;
        font-weight: 400;
      }
    }

    .list {
      float: right;
      margin-left: 23px;
      margin-right: 20px;
      width: 580px;

      .desc {
        width: 420px;

        .description {
          font-style: italic;
        }
      }

      .file {
        vertical-align: top;
      }
    }
  }

  .document-pages-wrapper {
    background: #e9e9e9;
    border: 1px solid #cccccc;
    margin: 0 auto;
    padding: 36px 36px 36px 37px;
    width: 943px; // Propageted form document-pages

    .border-radius(0, 5px, 5px, 0);
    .box-shadow(inset 0px 0px 8px rgba(80, 80, 80, 0.21));

    .section {
      margin-top:15px;
      width: 943px;

      .box-shadow(0px 0px 8px rgba(80, 80, 80, 0.31));

      &.signatories {
        margin-top: 0; // Since signatories is on top we dont need any extra margin, reset to 0.
      }
    }

    .pagediv {
      margin-top:15px;

      &#page1 {
        margin-top:0px;
      }
    }
  }
}

.prolong-modal-content {
  text-align: center;

  .text {
    display: inline-block;
  }

  .info-text-input {
    margin-left: 8px;
    margin-right: 8px;
    width: 30px;

    input {
      height: 27px;
      text-align: center;
    }
  }
}

.autoreminder-modal-content {
  text-align: center;

  .text {
    display: inline-block;
  }

  .line-before-calendar {
    margin-bottom: 13px;
  }

  .info-text-input {
    margin-left: 7px;
    margin-right: 5px;
    width: 30px;

    input {
      height: 27px;
      text-align: center;
    }
  }
}