.blocking-info {
    display: none;
    padding: 31px 0 15px 0;
    text-align: center;
    font-weight: bold;
    margin: 0 auto 25px auto;
    
    .headline {
        color: black;
        font-size: x-large;
        margin: 0 0 5px 0;
    }
    
    .subheadline {
        margin: 0 auto 5px auto;
    }

    a {
        cursor: pointer;
    }
}

.blocking-info.good {
    background-color: #E7F6D5;
    border: 1px solid #89C041;
    display: block;
}

.blocking-info.warn {
    background-color: #F6D5E7;
    border: 1px solid #C04189;
    display: block;
}
