.blocking-info {
  cursor: pointer;
  display: none;
  font-weight: bold;
  margin: 0 auto;
  padding: 31px 15px 15px 15px;
  text-align: center;

  .headline {
    color: black;
    font-size: 21px;
    margin: 0 0 5px 0;
  }

  .subheadline {
    margin: 0 120px 5px 120px;
  }

  a {
    cursor: pointer;
  }
}

.blocking-info.good {
  background-color: #e7f6d5;
  border: 1px solid #89c041;
  display: block;
  font-weight: 300;
  padding-bottom: 18px;
  padding-top: 23px;
  
  a {
    color: #5a5a5a;
    font-weight: 600;
    text-decoration: underline;
  }
}

.blocking-info.warn {
  background-color: #f6d5e7;
  border: 1px solid #c04189;
  display: block;
}

.blocking-info.hide {
  display: none;
}