.blocking-info {
  display: none;
  padding: 31px 15px 15px 15px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto 0 auto;
  cursor: pointer;

  .headline {
    color: black;
    font-size: 21px;
    margin: 0 0 5px 0;
  }

  .subheadline {
    margin: 0 120px 5px 120px;
  }

  a {
    cursor: pointer;
  }
}

.blocking-info.good {
  background-color: #E7F6D5;
  border: 1px solid #89C041;
  display: block;
  padding-top: 23px;
  padding-bottom: 18px;
  font-weight: 300;
  a {
    font-weight: 600;
    color: #5a5a5a;
    text-decoration: underline;
  }
}

.blocking-info.warn {
  background-color: #F6D5E7;
  border: 1px solid #C04189;
  display: block;
}

.blocking-info.hide {
  display: none;
}
