/* Buttons Symbols */

.btn-symbol {
	background: url(../img/spr-btn-symbols.png);
	display: inline-block;
	height: 16px;
	position: relative;
	width: 16px;
}

.btn-big .btn-symbol {
	right: -11px;
	top: 15px;
}

.btn-small .btn-symbol {
	right: -6px;
	top: 4px;
}

.btn-tiny .btn-symbol {
	right: 0;
	top: 4px;
}

.btn-small .btn-symbol.cross {
	background-position: -66px -1px;
	right: 5px;
        top: 5px;
	width: 22px;
        margin-left: 10px;
}

.btn-big .btn-symbol.cross {
	background-position: -66px -19px;
	height: 22px;
	margin-right: 4px;
	top: 11px;
	width: 30px;
        margin-left: 10px;
}

.btn-symbol.none {
	background: none;
}

.btn-symbol.green.eye {
	background-position: 0 0;
}

.btn-symbol.green.arrow-left {
	background-position: -16px 0;
}

.btn-symbol.green.arrow-right {
	background-position: -32px 0;
}

.btn-symbol.green.person {
	background-position: -48px 0;
}

.btn-symbol.blue.eye {
	background-position: 0 -17px;
}

.btn-symbol.blue.arrow-left {
	background-position: -16px -17px;
}

.btn-symbol.blue.arrow-right {
	background-position: -32px -17px;
}

.btn-symbol.blue.person {
	background-position: -48px -17px;
}

.btn-symbol.black.eye {
	background-position: 0 -34px;
}

.btn-symbol.black.arrow-left {
	background-position: -16px -34px;
}

.btn-symbol.black.arrow-right {
	background-position: -32px -34px;
	left: 0px;
}

.btn-symbol.black.person {
	background-position: -48px -34px;
}
.btn-symbol.red.arrow-left {
background-position:-16px -51px;
}
