.create-from-template {
  width: 1018px;
  margin: auto;

  .option-top-box .col {
    margin-right: 0px;
  }

  .header {
    padding-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    .headline {
      color: #333;
      font-weight: 300;
      font-size: 25px;
      line-height: 21px;
      margin-bottom: 5px;
    }
  }
}
