.authorattachments {

  .item {
    margin-bottom: 10px;
  }

  .item .icon {
     float: left;
     width: 13px;
     height: 14px;
     background: url(../img/attachment-icon.png);
  }

  .item .label {
     float: left;
     margin-left: 10px;
     width : 290px;
  }

  .item .name {
     font-weight: bold;
     color: black;
  }

  .item a {
     text-decoration: underline;
  }

  .list {
    float: left;
    width: 322px;
    margin-right: 20px;
  }
}