@import 'branding/variables';

.authorattachments {
  
  &.small-screen {

    > h2 {
      // !important because otherwise we can't override
      // the previous rule from in here, as we're so deep already.
      font-size: x-large !important;
      font-weight: bold !important;
    }

    .list .desc {
      width: 500px;

      .item {
        margin-bottom: 5px;
      }

      .name {
        font-size: 24px;
        margin-top: 11px;
      }
    }

    table {
      border-spacing: 0 6px;
      border-collapse: separate;
    }
  }

  .icon {
    background: url(../img/attachment-icon.png);
    float: left;
    height: 14px;
    margin-right: 2px;
    margin-top: 3px;
    width: 13px;
  }

  .item {
    margin-bottom: 18px;
    margin-right: 10px;
  }

  .desc .item .label {
    margin-top: 6px;
  }

  .item .name {
    color: @black;
  }

  .item a {
    display: block;
  }

  .list {
    float: right;
    width: 580px;
    margin-left: 23px;
    margin-right: 20px;

    & .signview {
      margin-right: -10px;
      width: 610px;
    }

    .desc {
      width: 420px;
      
      .description {
        font-style: italic;
      }
    }
    .file {
      vertical-align: top;
    }
  }
}

.document-history-container {
  background-color: @white;
  border: 1px solid #868686;
  margin: 0 auto 25px;
  min-height: 100px;
  width: 1018px;

  .tab-container {
    border-color: transparent;
  }

  .list-container .table {
    background-color: @white;
    border: none;

    thead {
      background-color: #f3f3f3;
      
      tr {
        
        th {
          
          span {
            font-size: 14px;
          }
        }
      }
    }

    tbody {
      
      tr td.row {
        line-height: 24px;
        padding-bottom: 5px;
        padding-top: 5px;
      }
    }
  }

  .list-container {
    border: none;
  }

  .document-history-footer {
    height: 30px;
    padding: 5px;
    width: 100%;
  }

  .document-history-footer .option {
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 14px;
    margin: 8px 12px;
  }

  .document-history-footer .option .label {
    color: #007cac;
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-left: 2px;
  }

  .document-history-footer .option .expandable {
    background: url(../img/iconPlus.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 16px;
    width: 16px;
  }

  .document-history-footer .option .expandable.expanded {
    background: url(../img/iconMinus.png) no-repeat scroll 0 0 transparent;
  }
}