.authorattachments {

  .item {
    margin-bottom: 10px;
  }

  .item .icon {
     float: left;
     width: 13px;
     height: 14px;
     background: url(../img/attachment-icon.png);
  }

  .item .label {
     float: left;
     margin-left: 10px;
     width : 290px;
  }

  .item .name {
     font-weight: bold;
     color: black;
  }

  .item a {
     text-decoration: underline;
  }

  .list {
    float: left;
    width: 322px;
    margin-right: 20px;
  }
}

.document-history-container {
    margin-top: 10px;
    background-color : #ffffff;
    width: 928px;
    border : 1px solid #AAAAAA;
    margin : 10px auto;
    min-height: 120px;

    .tab-container {
        border-color: transparent;
    }

    .list-container .table {
        border-color: transparent;
        background-color: #FFFFFF;
    }

    .list-container{
        border-color: transparent;
    }

    .document-history-footer{
        width: 100%;
        padding : 5px;
        height : 30px;
    }


    .document-history-footer .option{
        margin: 8px 12px;
        height : 14px;
        display: inline-block;
        float : right;
        cursor: pointer;
    }

    .document-history-footer .option .label{
        font-size: 12px;
        color: #007CAC;
        display: inline-block;
        margin-left : 2px;
        float : left;
    }

    .document-history-footer .option .expandable {
        background: url("../img/iconPlus.png") no-repeat scroll 0 0 transparent;
        height: 16px;
        width: 16px;
        display: inline-block;
        float: left;
    }

    .document-history-footer .option .expandable.expanded{
        background: url("../img/iconMinus.png") no-repeat scroll 0 0 transparent;
    }

}