/* Highlight styling */

.highlight {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0; // overriden by js
  z-index: 2000;
  background: url(/img/highlight-bg.png);
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

.highlight-explanation {
  position: fixed;
  z-index: 55000;

  .text-shadow { text-shadow: black -1px 1px; }

  h1 {
    color: #f7f7f7;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    .text-shadow;
    &.arrowed:before {
      content: url('/img/highlight-arrow.png');
      position: absolute;
      left: -50px;
      top: 0; 
    }
  }

  h3 {
    color: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    .text-shadow;
  }
}
