@import 'branding/colors';
@import 'branding/typography';

.tab-viewer > .list-container {
        border-top: 0px solid #808080;
}

.list-container {
   border-radius: 0 0 5px 5px;
   border-top: 1px solid #808080;
   border-left: 1px solid #808080;
   border-right: 1px solid #808080;
   border-bottom: 1px solid #808080;
   -moz-border-radius: 0 0 5px 5px;
   -webkit-border-radius: 0 0 5px 5px;

  .table {
      background: #f4f4f4;
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px;
      border: 4px solid #f4f4f4;
      table {
            background: #fff;
            border: 1px solid #e0e0e0;
            width: 100%;
            table-layout: fixed;
            th {
                  height: 40px;
                  padding-bottom: 4px;
                  padding-left: 15px;
                  text-align: left;
                  vertical-align: bottom;
                  span {
                     color: #000 !important;
                     font-family: @source;
                     font-size : 16px;
                     font-weight: normal;
                     text-decoration: none;
                     cursor: pointer;
                     &:hover {
                        color: @blue-dark !important;
                     }
                  }
                
              }
           td {
                  color: #666;
                  height: 28px;
                  line-height: 22px;
                  font-size: 13px;
                  margin-bottom: 1px;
                  padding-left: 15px;
                  overflow-x:hidden;
                  &.right {
                        padding-right: 12px;
                        text-align: right;
                    }
                  a {
                        color: #666;
                    &:hover {
                        color: #000;
                    }
                  }
              }
           tr {
              border-top: 1px solid #e0e0e0;
              &.odd td {
                background: #f6f6f6;
              }
            }
          }
  .table-paginate {
      .pages {
        color: #999;
        margin: 10px auto 5px;
        text-align: center;
        width: 600px;
        font-size: 13px;
        }
        strong {
          color: #000;
          display: block;
        }
        .page-change{
              padding: 3px;
              color: #007CAC;
              cursor: pointer;
              &.current{
                color: #333333;
                font-weight : bold;
                cursor: default;
              }
        }
    }
}



  .col {
        margin: 0 20px;
        padding-top: 28px;
        padding-bottom: 14px;
        max-width: 800px;
        &.float-right {
            margin: 0 20px 0 0;
        }
        &.float-left {
            margin: 0 0 0 20px;
        }
  }

  /* Select boxes and search boxes for lists */

  .option-top-box {
        background: #fff;
        border-bottom: 1px solid #cccccc;
  }

  input.list-search {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #DDDDDD;
        box-shadow: none;
        font-family :  @sans;
        font-size: 14.5px;
        padding: 5px;
        height: 20px;
        width: 160px;
        margin-right: 8px;
        line-height: 20px;
        &:focus, &:hover {
          border-color: #7A94B8;
        }
  }

  .subbox {
    padding-top: 10x;
    height : 40px;
    padding-bottom: 20px;
    display : block;
    padding-right: 10px;
    padding-left: 20px;
    .empty {
      height : 0px;
    }
    .options-box  {
      float: right;

    }
  }
  .actionButton, .select  {
      margin-right : 8px;
      .select-button .select-button-label{
        color : #000;
      }
      .select-opts {
        color : #000;
      }
  }

  th .checkbox {
    margin-top: 20px;
    margin-bottom: 6px;
  }
}
