.oauth-confirm {


  .button-box {
    height : 60px;
    margin: 10px auto;
  }

  .login-or-create-box{
    height : 100px;
    margin: 10px auto;
  }
 
  .oauth-confiration-box{
    margin: 20px 0px;
    border-color:  #DEE4ED;
    p {
      margin : 30px 10px;
    }

    li {
      margin : 20px 0px;
    }

    ul {
      margin: 20px 10px;
      list-style: disc;
      list-style-position : inside;
    }
  }

  .big-input {
    width : 290px;
    display : inline-block;
    margin: 10px 0px;
  }

  .login-box {
    display : inline-block;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .create-account-box{
    float : right;
    width: 320px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .create-account-button, .login-button {
    margin-top: 10px;
  }
}
