.oauth-confirm {

  #top-slim-container {
    
    .content {
      width:800px;

      .scrive-logo {
        float:right;
      }
      .toplink {
        float:left;
        padding-left:0px;
      }
    }
  }

  h1 {
      font-size: 36px;
      color : #222222;
  }

  h2 {
      margin-bottom : 5px;
  }

  .mainContainer {
    width :800px;
    margin : auto;
  }

  .body-container{
    width :800px;
    margin : auto;
    min-width: 800px;
  }

  .button-box {
    height : 60px;
    margin: 10px auto;
  }

  .login-or-create-box{
    height : 100px;
    margin: 10px auto;
  }
 
  .oauth-confiration-box{
    margin: 20px 0px;
    font-size : 14pt;
    color : #555555;
    border-color: #333333;
    p {
      margin : 30px 10px;
    }

    li {
      margin : 20px 0px;
    }

    ul {
      margin: 20px 10px;
      list-style: disc;
      list-style-position : inside;
    }
  }

  .txt {
    width: 80px;
    display : inline-block;
  }

  input {
    width: 100px;
    display : inline-block;
  }

  .login-box {
    display : inline-block;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .create-account-box{
    float : right;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-small {
    margin-top: 10px;
  }
}
