.noDocumentAvaible {
  background-color: #fafafa;
  border: 1px solid #777777;
  height: 735px;
  margin-top: 20px;
  padding-top: 100px;
  text-align: center;
  width: 1018px;
}

.noDocumentAvaible .header {
  color: #222222;
  font-size: 24px;
  padding: 10px;
}

.noDocumentAvaible .sheader {
  font-size: 14px;
}

.padview {
  margin: 0 auto;
  width: 1018px;

  .login {
    margin-top: 40px !important;
  }
}