/**
  Styles for Payments form and dashboard.
  Author: Eric Normand

**/

.payments.loading {
    background-image: url(/img/wait30trans.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 240px;
}


.payments-dashboard {

    @blue: #35a4d6;
    @darkblue: #137DAD;
    @green: #9bd567;

    color: #666;


    .payments {
        margin: auto;
        height: 650px;
    }

    .header {
        font-size: 18px;
        margin-bottom: 12px;
    }


    .table {
        padding: 12px;
    }

    .plan-total {
        border-top: 1px dashed #CCC;
        width: 100%;
        margin-top:16px;
        padding-top: 12px;
        font-weight: bold;
    }


    .subheader {
        /* cascading this from somewhere else; have to reset it */
        color: #666;
        font-weight: normal;
    }

    .line .total {
        float: right;
    }

    .next-payment {
        border-bottom: 1px dashed #CCC;
        padding-bottom: 12px;
        margin-top: 16px;
    }

    .previous-payments {
        margin-top: 12px;
    }

    .btn-small {
        float:right;
    }

    .changesubscription select {
        font-size: 14px;
    }

    .changesubscription .totaltable {
        margin-top: 16px;
    }

    .payments .payments .header {
        margin-top:80px;
    }


    .plan .header {
        margin-top:0px;
    }

    .changesubscription .header {
        margin-top:0px;
    }

    .cancel-button {
        float: left;
        margin-left: -16px;
    }

    .savechanges {
        margin-top: 12px;
    }

    .plan-pending {
        margin-top: 8px;
    }

    .invoice-date {
        width: 120px;
        display: inline-block;
    }

    .plan-price {
        margin-top: 16px;
    }

    .select-plan {
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        width: 90px;
    }

    .select-users {
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        width: 90px;
    }

    .recurly.update_billing_info .billing_info {
        
    }

    .recurly.update_billing_info {
        width: 458px;
    }

    .col1 .col {
        width: 320px;
    }

    .col2 .col {
        width: 460px;
    }

    .plan, .payments {
    }

    .changesubscription, .changebilling {
    }

    .noprovider {
        width: 480px;
    }

    .changebilling .header {
        margin-top: 32px;
    }

    .recurly .accepted_cards {
        right: 28px;
    }

    .col1 {
        width: 320px;
        float: left;
    }

    .col2 {
        width: 480px;
        float: right;
    }

    .recurly .contact_info {
        background: transparent;
    }

    .recurly div.title {
        color: #666;
        font-weight: bold;
        padding-bottom: 0;
        font-size: 14px;
    }

    .payments.subscribing {
        width: 740px;
        margin: auto;
    }

    .payments.subscribing .col {
        width:460px;
    }


    .recurly .field .placeholder {
        font-size: 10px;
    }

    .recurly .field.card_number input[type="text"] {
        width: 180px;
    }

    .recurly .field.cvv input[type="text"] {
        width: 40px;
    }

    .recurly .footer {
        padding:0px;
        padding-bottom:12px;
        text-align: center;
    }

    .payments.subscribing {
        height: 1240px;
    }

    .btn-big {
        display:inline-block;
        margin:auto;
    }

    .subscribed {
        height: 650px;
        margin: auto;
    }

    .subscribed .billing_info .title {
        font-size: 0px;
        padding: 0;
        height: 16px;
    }

    span.subscription-chooser {
        padding-top: 16px;
        display: block;
    }

    .plan-name {
        padding-top: 16px;
        line-height: 25px;
        height: 25px;
        font-weight: bold;
        font-size: 14px;
    }

    .current-subscription {
        height: 350px;
    }

    .change-subscription {
        height: 350px;
    }

    .subscribed .recurly .footer {
        height: 0px;
        padding: 0px;
        width: 443px;
        position: relative;
    }

    .recurly {
        .field input[type=text] {
            padding: 1px;


        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 2px;
        margin: 3px auto 3px 0;
        font: 10px "Lucida Grande";
        height: 17px;
        padding: 1px;
        box-shadow: none;
        width: 268px;
 
        }
        .field.expires .title {
            font: 10px "Lucida Grande";
            line-height: 25px;
        }

        .field.expires {
            padding-bottom: 6px;
        }
    }

    .payments .recurly .field {
        margin-bottom: 0;
        margin-left: 0;
    }

    .recurly .contact_info, .recurly .billing_info, .recurly .accept_tos {
        padding: 0;
        margin-top: 0;
    }

    .recurly .field .placeholder {
        line-height: 30px;
        padding-left: 4px;
    }

    .recurly .server_errors.any {
        margin: 16px 28px 0 0;
    }

    .recurly .field .error {
        font-size: 10px;
        margin-left: 0px;
        line-height: 13px;
    }

    .changebilling-form {
        min-height: 124px;
    }

    .recurly .field.card_number .error {
        left: 280px;
    }

    .changebilling-form .btn-small {
        position: relative;
        bottom: -14px;
        right: 0px;
    }

    .accepted_cards {
        display: none;
    }

    .subheader {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .subscription-payments .account-body {
        min-height: 190px;
        
    }

    .askviktor {
        margin-top: 16px;
    }

    h3 {
        
        
    }
}