.payments.loading {
    background-image: url(/img/wait30trans.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 240px;
}


.payments-dashboard {
    color: #666;


    .payments {
        margin: auto;
        height: 650px;
    }

    .header {
        font-size: 18px;
        margin-bottom: 12px;
    }


    .table {
        padding: 12px;
    }

    .plan-total {
        border-top: 1px dashed #CCC;
        width: 100%;
        margin-top:16px;
        padding-top: 12px;
        font-weight: bold;
    }


    .subheader {
        /* cascading this from somewhere else; have to reset it */
        color: #666;
        font-weight: normal;
    }

    .line .total {
        float: right;
    }

    .next-payment {
        border-bottom: 1px dashed #CCC;
        padding-bottom: 12px;
        margin-top: 16px;
    }

    .previous-payments {
        margin-top: 12px;
    }

    .btn-small {
        float:right;
    }

    .changesubscription select {
        font-size: 14px;
    }

    .changesubscription .totaltable {
        margin-top: 16px;
    }

    .payments .payments .header {
        margin-top:80px;
    }


    .plan .header {
        margin-top:0px;
    }

    .changesubscription .header {
        margin-top:0px;
    }

    .cancel-button {
        float: left;
        margin-left: -16px;
    }

    .savechanges {
        margin-top: 12px;
    }

    .plan-pending {
        margin-top: 8px;
    }

    .invoice-date {
        width: 120px;
        display: inline-block;
    }

    .plan-price {
        margin-top: 16px;
    }

    .select-plan {
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        width: 90px;
    }

    .select-users {
        font-weight: bold;
        font-size: 14px;
        display: inline-block;
        width: 90px;
    }

    .recurly.update_billing_info .billing_info {
        
    }

    .recurly.update_billing_info {
        width: 458px;
    }

    .col1 .col {
        width: 320px;
    }

    .col2 .col {
        width: 460px;
    }

    .plan, .payments {
        //    float:left;
    }

    .changesubscription, .changebilling {
        //    float:right;
    }

    .noprovider {
        width: 480px;
    }

    .changebilling .header {
        margin-top: 32px;
    }

    .recurly .accepted_cards {
        right: 28px;
    }

    .col1 {
        width: 320px;
        float: left;
    }

    .col2 {
        width: 480px;
        float: right;
    }

    .recurly .contact_info {
        background: transparent;
    }

    .recurly div.title {
        color: #666;
        font-weight: bold;
        padding-bottom: 0;
        font-size: 14px;
    }

    .payments.subscribing {
        width: 740px;
        margin: auto;
    }

    .payments.subscribing .col {
        width:460px;
    }


    .recurly .field .placeholder {
        font-size: 10px;
    }

    .recurly .field.card_number input[type="text"] {
        width: 180px;
    }

    .recurly .field.cvv input[type="text"] {
        width: 40px;
    }

    .recurly .footer {
        padding:0px;
        padding-bottom:12px;
        text-align: center;
    }

    .payments.subscribing {
        height: 1240px;
    }

    .btn-big {
        display:inline-block;
        margin:auto;
    }

    .subscribing .table {
        border: 0px;
    }

    .subscribed .billing_info .title {
        font-size: 0px;
        padding: 0;
        height: 16px;
    }

    span.subscription-chooser {
        padding-top: 16px;
        display: block;
    }

    .plan-name {
        padding-top: 16px;
        line-height: 25px;
        height: 25px;
        font-weight: bold;
        font-size: 14px;
    }

    .current-subscription {
        height: 350px;
    }

    .change-subscription {
        height: 350px;
    }

    .subscribed .recurly .footer {
        height: 0px;
        padding: 0px;
        width: 443px;
        position: relative;
    }

    .recurly {
        .field input[type=text] {
            padding: 1px;


        background-color: #fff;
        border: 1px solid lightgray;
        border-radius: 2px;
        margin: 3px auto 3px 0;
        font: 10px "Lucida Grande";
        height: 17px;
        padding: 1px;
        box-shadow: none;
        width: 268px;
 
        }
        .field.expires .title {
            font: 10px "Lucida Grande";
            line-height: 25px;
        }

        .field.expires {
            padding-bottom: 6px;
        }
    }

    .payments .recurly .field {
        margin-bottom: 0;
        margin-left: 0;
    }

    .recurly .contact_info, .recurly .billing_info, .recurly .accept_tos {
        padding: 0;
        margin-top: 0;
    }

    .recurly .field .placeholder {
        line-height: 30px;
        padding-left: 4px;
    }

    .recurly .server_errors.any {
        margin: 16px 28px 0 0;
    }

    .recurly .field .error {
        font-size: 10px;
        margin-left: 0px;
        line-height: 13px;
    }

    .changebilling-form {
        min-height: 124px;
    }

    .recurly .field.card_number .error {
        left: 280px;
    }

    .changebilling-form .btn-small {
        position: relative;
        bottom: -14px;
        right: 0px;
    }

    .accepted_cards {
        display: none;
    }

    .subheader {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .subscription-payments .account-body {
        min-height: 190px;
        
    }

    .askviktor {
        margin-top: 16px;
    }

    h3 {
        
        
    }

    .subscribing {

        .includes {
            margin-top: 18px;
            .price {
                font-family: 'Copse', serif;
                text-align: center;
                display: inline-block;
                width: 50%;
                .price1 {
                    font-size: 64px;
                    font-weight: bold;
                    color: #000;
                }
                .price2 {
                    font-size: 18px;
                    color: #9a9a9a;
                }
            }
            
            .features {
                display: inline-block;
                .feature {
                    background-image: url(/img/iconGreenCheck.png);
                    background-repeat: no-repeat;
                    background-position: 0 6px;
                    font-size: 18px;
                    line-height: 28px;
                    padding-left: 22px;
                }
            }

        }

        .planbox {
        float: left;
        width: 230px;
        border: 1px solid #d3d3d3;
        margin-left: 18px;
        margin-top: 19px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px 5px 5px 5px;
        background-color: #fafafa;
        text-align: center;

        .header {
            height: 54px;
            border-bottom: 1px solid #d3d3d3;
            padding-top: 32px;
            padding-bottom: 16px;
            margin-bottom: 0px;
            position: relative;
            .header1 {
                font-size: 20px;
                color: #676767;
                font-family: 'Copse', serif;
                font-weight: bold;
            }
            .header2 {
                color: #a5a5a5;
                font-size: 12px;
                font-style: italic;
                font-family: 'Copse', serif;
            }
        }

        .features {
            //height: 32px;
            color: #72c104;
            padding-top: 20px;
            font-size: 16px;
            padding-bottom: 20px;
        }

        .price {
            background-color: #f1f1f1;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 16px;
            color: #737373;
            font-family: 'Copse', serif;
            .price1 {
                font-size: 12px;
                color: #9a9a9a;
                font-weight: bold;
            }

            .price2 {
                font-size: 32px;
                color: #000;
                font-weight: bold;
            }

            .price2.s {
                margin-top:12px;
            }

            .price3 {
                font-size: 12px;
                color: #9a9a9a;
                font-weight: bold;
            }

        }

        .buttonbox {
            padding-top: 20px;
            padding-bottom: 20px;
            .btn-small {
                float: none;
                display: inline-block;
            }
            .btn-small.black {
                /* IE 8 */
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
                
                /* IE 5-7 */
                filter: alpha(opacity=50);

                /* Netscape */
                -moz-opacity: 0.5;

                /* Safari 1.x */
                -khtml-opacity: 0.5;

                /* Good browsers */
                opacity: 0.5;
            }
        }
    }

    .planbox.selected {
        border-color: #9bd567;

        a.btn-small.green {
            .left {
	        background-position: -209px -68px;
            }
            .label {
	        background-position: 0 -591px;
	        text-shadow: #41770b 0 1px 3px;
            }
            .right {
	        background-position: -223px -68px;
            }
        }
    }

    .planbox.form, .planbox.enterprise {
        //height: 297px;

        -moz-box-shadow: 2px 2px 2px #d2d2d2;
        -webkit-box-shadow: 2px 2px 2px #d2d2d2;
        box-shadow: 2px 2px 2px #d2d2d2;
    }

    .planbox.team {
        margin-left: 0px;
        //height: 333px;
        -moz-box-shadow: 4px 4px 4px #d2d2d2;
        -webkit-box-shadow: 4px 4px 4px #d2d2d2;
        box-shadow: 4px 4px 4px #d2d2d2;
        img.bestvalue {
            position: absolute;
            left: -3px;
            top:  -4px;
        }
    }

    h2 {
        font-size: 28px;
        margin-bottom: 26px;
        margin-top: 15px;
        text-align: center;
        color: #000;
        letter-spacing: 0px;
        font-family: 'Copse', serif;
        font-weight: normal;
        width: 110%;
        margin-left: -5%;
    }
    
    h3 {
        font-size: 24px;
        margin-bottom: 19px;
        color: #898989;
        font-family: 'Copse', serif;
        font-weight: bold;
        margin-top:64px;
    }



    form.recurly.subscribe {
        width: 100%;
        text-align: center;

        margin-top: 18px;

        .server_errors {
            text-align: left;
            width: 742px;
            margin: 0;
            margin-left: -1px;
            height: 34px;
            .error {
                margin-bottom: 18px;
            }
        }



        .borderbox{
            margin-top: 18px;
            border: 1px solid #9bd567;
            width: 410px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px 5px 5px 5px;
            background-color: #fafafa;
            text-align: left;
            -moz-box-shadow: 4px 4px 4px #d2d2d2;
            -webkit-box-shadow: 4px 4px 4px #d2d2d2;
            box-shadow: 4px 4px 4px #d2d2d2;

            .subscription {
                padding-top: 8px;
                padding-bottom: 8px;
            }

            .plan .name {
                display: none;
            }

            .recurring_cost {
                display: none;
            }

            .totalbox {
                background-color: #f1f7ed;

                padding-top:6px;
                padding-bottom: 6px;
            }


            .due_now {
                width: 100%;
                background: #f1f7ed; 
                text-shadow: none;

                color: #569e16;
                padding: 20px 0px;
                margin: 0px;
                position: static;
                text-align: center;
                height: auto;
                font-size: 24px;
                line-height: 1em;
                font-weight: bold;
                font-family: 'Copse', serif;
                margin-bottom: 8px;
                .title {
                    width: auto;
                    color: #569e16;
                    font-size: 24px;

                    display: none;
                    float: none;
                }
                .cost {
                    float: none;
                    display: inline;
                    text-shadow: none;
                    position: static;
                    color: #569e16;
                    font-size: 24px;
                    font-weight: bold;
                }
                .guarantee {
                    color: #828483;
                    font-size: 14px;
                    padding-top: 6px;
                    font-weight: normal;
                }
            }

            .title {
                display: none;
            }

            .billing_info {
                text-align: center;
                .credit_card {

                    text-align: left;
                }
            }

            .field.first_name, .field.last_name {
                display: none;
            }

/*            .label {
                display: inline-block;
                float: none;
                text-align: right;
                color: #414141;
                font-size: 16px;
            }
*/

            .field.expires {
                text-align: center;
                width: 202px;
                .title {
                    display: inline;
                    display: inline-block;
                    float: none;
                    text-align: right;
                    color: #414141;
                    font-size: 16px;
                }

            }

            .field {
                float: none;
                display: block;
                width: auto; 
                color: #414141;
                font-size: 16px;
                height: auto;
                margin-top: 16px;
                text-align: left;
                margin-left: 102px;
                input {
                    display: inline;
                    /*margin-left: 10px;*/
                    width: 200px;
                    font-family: "Lucida Grande", sans-serif;
                    padding: 1px;
                    border: 1px solid #A0A0A5;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
                    font-size: 16px;
                    height: 22px;
                }

                div.month, div.year {
                    float: none;
                    display: inline-block;
                    width: auto;
                    font-size: 16px;

                    select {
                        font-size: 16px;
                    }

                }

                .month {
                    margin-left: 10px;

                }

               .placeholder {
                   font-size: 16px;
                   
                   
               }


                .error {
                    display: inline-block;
                    min-width: 0px;
                    width: auto;
                    margin-left: 12px;
                    position: static;
                }
                

            }

            .field.vat_number, .field.company_name, .field.email {
                display: none;
            }
            .field.expires {
                padding-bottom: 0px;
                width: 100%;
                margin-left: 0;
                .title {
                    width: auto;
                }
            }

            .field.quantity {
                text-align: center;
                margin-left:0px;
                .quantity {
/*                    margin-left: 10px; */
                    font-weight: bold;
                    font-size: 20px;
                    height: 26px;
                    display: inline-block;
                    text-transform: lowercase;
                }
            }

        }

        
        .btn-big {
            display: inline-block;
            padding-left: 3px;
        }

        .footer {
            padding: 20px 0;
        }
        
    }

    }
}