@import 'designview/util.less';
@import 'branding/elements';
@import 'branding/variables.less';

.drawing-modal {
  z-index: 5001;
  
  .modal-close {
    background-image: url(~"@{img-base-url}/sprite-grey-X.png");
  }

  .modal-footer {
    border-top: medium none;
    margin: 0;
    padding: 15px 38px 21px;
  }

  .signatureDrawingBoxWrapper {
    border: 1px solid #CCCCCC;
    margin: 10px auto 0;    
  }

  .signatureDrawingBox {
    background-color: @white;
    position: relative; // Important for dealing with drawing events
    
    canvas {
      position:absolute;
      -ms-touch-action: none;
      z-index: 1000;
    }
  }

  .header h1 {
    color : @black;
    font-size : 20pt;
    margin: 20px auto;
    text-align: center;
  }
}