div.terms-of-service {
  section {
    padding: 3em 0;
    border-bottom: 1px solid #dee4ed;
    zoom: 1;
    box-sizing: border-box;
    margin: 0 auto;
  }

  div.ct {
    width: 960px;
    margin: 0 auto;
    zoom: 1;
  }

  header.bulky {
    width: 800px;
    max-width: 800px;
    margin: 0 auto 3em;
    padding: 3em 0;
    border: 4px solid #dee4ed;
    border-left: none;
    border-right: none;
    text-align: center;
  }

  header.bulky h1 {
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin: 0;
  }

  div.content {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 3em;
    font: 16px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #333;
  }

  div.content h1 {
    font-size: 1.5em;
    margin: 48px 0 16px;
    color: #364963;
    letter-spacing: -1px;
  }
}
