/* Icons and simillar stuff */

.icon.status, .icon.small {
    background: url(../img/spr-icons.png) 0 0 no-repeat;
    display: inline-block;
    height: 15px;
    margin-right: 4px;
}

.icon.small.business {
    background-position: 0 0;
    width: 16px;
}

.icon.small.add {
    background-position: -71px 0;
    width: 14px;
}

.icon.small.remove {
    background-position: -85px 0;
    width: 14px;
}

.icon.small.ok {
    background-position: -171px 0;
    width: 14px;
}
/* Status Icons */

.icon.status {
    height: 11px;
    width: 11px;
}

.icon.signed {
    background-position: -199px 1px;
    width: 15px;
}

.icon.draft {
    background-position: -214px 0;
}

.icon.template {
    background-position: -225px 0;
}

.icon.problem {
    background-position: -236px 0;
    margin-right: 7px;
}

.icon.rejected {
    background-position: -247px 0;
    margin-right: 7px;
}

.icon.deliveryproblem {
    background-position: -258px 0;
    margin-right: 7px;
}

.icon.timeouted {
    background-position: -269px 0;
    margin-right: 7px;
}

.icon.cancelled {
    background-position: -280px 0;
    margin-right: 7px;
}

.icon.sent {
    background-position: -291px 0;
    margin-right: 7px;
}

.icon.delivered {
    background-position: -302px 0;
    margin-right: 7px;
}

.icon.read {
    background-position: -313px 0;
    margin-right: 7px;
}

.icon.opened {
    background-position: -324px 0;
    margin-right: 7px;
}

.icon.prolonged {
    background-position: -335px 0;
    margin-right: 7px;
}

.icon.cross {
    background: url(../img/x.png) 0 0 no-repeat;
    display: inline-block;
    height: 22px;
    width: 31px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

.icon.delete {
    background: url(../img/icon-delete.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    &.gray {
        background: url(../img/icon-delete-gray.png) 0 0 no-repeat;
    }
}

.icon.edit {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-image: url(/img/iconPen.png);
}

.icon.remind {
    background: url(../img/remind.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}

.backicon {
    background: url(../img/back.png) no-repeat transparent;
    height: 16px;
    margin:auto;
    width: 16px;
    background-position: 0px 0px;
    display: block;
}

.gotodave {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/iconPen.png);

}

.notSharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconMan.png);
}

.sharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconGroup.png);
}

.actionIcon.removefromqueue{
        background-image: url(../img/icon-delete.png);
        float: left;
        height: 16px;
        width: 16px;
}

.actionIcon.addtoqueue{
        background-image: url(../img/foreward.png);
        float: left;
        height: 14px;
        width: 14px;
}


.go-back-image{
    display: block;
    margin:1px;
    height: 16px;
    width: 16px;
    background: url(/img/undo.png) 0 -0 no-repeat;
}
.logout-image{
    display: block;
    margin:1px;
    height: 16px;
    width: 16px;
    background: url(/img/exit.png) 0 -0 no-repeat;

}

.statustext.signed {
      color: black;
}

.statustext.opened {
      color: #71a0c2;
}

.statustext.sent {
      color: #eea045;
}

.statustext.canceled {
      color: #d55d5d;
}

.statustext.delivered {
      color: black;
}

.editable {
  ol li {
    list-style: decimal;
  }
  ol {
    padding-left: 40px;
    list-style: decimal outside none;
  }
  ul li {
    list-style: disc;
  }
  ul {
    padding-left: 40px;
    list-style: disc outside none;
  }
}

.waiting4data
{
    margin-left:40%;
    margin-right:40%;
    height: 100px;
    background-image: url(/img/wait30trans.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.loadingMail
{
    margin-left:40%;
    margin-right:40%;
    height: 400px;
    background-image: url(/img/wait30trans.gif);
    background-repeat: no-repeat;
    background-position: center center;
}


/* HOW TO MAKE FILE INPUT LOOKING LIKE A BUTTON !!!! */
.button input.multiFileInput
{
    position:relative;
    z-index:10;
    cursor:pointer;
    float:right;
    top:-50px;
    left:10;
    right:-30px;
    font-size:90px;
    cursor:pointer;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    opacity: 0;
    min-height: 66px;
}

/*Use this class to mark some error*/
.redborder
{
    border:1px solid red;
}

.redborder input {
    border-color: red;
}
/*This are all bank icons, but since thay have strange shapes we need to manually inline them*/
.nordea {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.telia {
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}

.bankid {
    padding-top: 3px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}
.mbi {
    padding-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    height: 33px;
    overflow:none;
}

.divider-line{
  display: block;
  margin: 10px auto;
  background-image: url("/img/divider-line.png");
  height:9px;
  width: 166px;
}

.label-with-link a {
  color: #5C7599;
}

.label-with-link a:hover {
   color: #668EDA;
}

.label-with-link a:visited {
   color: #425A7C;
}