.mainContainer .short-input-section.signup .short-input-container {
    width: 640px;


    .short-input-container-body-wrapper .short-input-container-body .position {
      text-align: left;
      .big-input {
          width : 300px;
          display: inline-block;
          margin-left:0px;
        }
        .button {
          width: 142px;
          display: inline-block;
        }
    }
}