@import 'branding/colors';
@import 'branding/typography';



.mainContainer .short-input-section .short-input-container.login,
.mainContainer .short-input-section .short-input-container.recovery-container {
        .big-input {
          width : 282px;
        }
        .button {
          width : 268px;
        }
}


.mainContainer .short-input-section header.recovery,
.mainContainer .short-input-section header.signup  {
      padding-top: 138px;
}
.mainContainer .short-input-section.signup .short-input-container,
.mainContainer .short-input-section .short-input-container.recovery {
    width: 640px;

    .short-input-container-body-wrapper .short-input-container-body .position {
      .big-input {
          width : 320px;
          display: inline-block;
          margin-right:24px;
          float: left;
        }
        .button {
          width: 116px;
          display: inline-block;
        }
    }
}

.mainContainer .short-input-section.account-setup {
     width: 930px;
    .short-input-container {
      width: 930px;
      margin-top: 50px;
      margin-bottom: 50px;
      .short-input-container-body-wrapper {
        width: 490px;
        border-color: transparent;
      }
      .short-input-container-right {
        width: 400px;
        margin-top: 10px;
        margin-left: 35px;
      }

      .big-input {
          width: 360px;
          padding: 10px;
        }

      .med-input {
          width: 160px;
          padding: 10px;
      }

      .button {
          margin-top: 20px;
          width: 280px;
          display: inline-block;
      }

      .med-input-left {
          margin-right: 20px;
      }

    }
}

.mainContainer .short-input-section.accept-tos {

     width: 500px;
     margin-top: 20px;
     margin-top: 20px;
    .short-input-container {
      width: 500px;
      .short-input-container-body-wrapper .short-input-container-body .position {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        .button {
          width: 200px;
          display: inline-block;
        }
      }
    }
}

