/* Icons and simillar stuff */

.icon.status, .icon.small {
    background: url(../img/spr-icons.png) 0 0 no-repeat;
    display: inline-block;
    height: 15px;
    margin-right: 4px;
}

.icon.small.business {
    background-position: 0 0;
    width: 16px;
}

.icon.small.add {
    background-position: -71px 0;
    width: 14px;
}

.icon.small.remove {
    background-position: -85px 0;
    width: 14px;
}

.icon.small.ok {
    background-position: -171px 0;
    width: 14px;
}
/* Status Icons */

.icon.status {
    height: 11px;
    width: 11px;
}

.icon.signed {
    background-position: -199px 1px;
    width: 15px;
}

.icon.draft {
    background-position: -214px 0;
}

.icon.template {
    background-position: -225px 0;
}

.icon.problem {
    background-position: -236px 0;
    margin-right: 7px;
}

.icon.rejected {
    background-position: -247px 0;
    margin-right: 7px;
}

.icon.deliveryproblem {
    background-position: -258px 0;
    margin-right: 7px;
}

.icon.timeouted {
    background-position: -269px 0;
    margin-right: 7px;
}

.icon.cancelled {
    background-position: -280px 0;
    margin-right: 7px;
}

.icon.sent {
    background-position: -291px 0;
    margin-right: 7px;
}

.icon.delivered {
    background-position: -302px 0;
    margin-right: 7px;
}

.icon.read {
    background-position: -313px 0;
    margin-right: 7px;
}

.icon.opened {
    background-position: -324px 0;
    margin-right: 7px;
}

.icon.cross {
    background: url(../img/x.png) 0 0 no-repeat;
    display: inline-block;
    height: 22px;
    width: 31px;
    margin-left: 10px;
    position: relative;
    top: 4px;
}

.icon.delete.gray {
    background: url(../img/icon-delete-gray.png) 0 0 no-repeat;
}


.backicon {
    background: url(../img/back.png) no-repeat transparent;
    height: 16px;
    margin:auto;
    width: 16px;
    background-position: 0px 0px;
    display: block;
}

.gotodave {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/iconPen.png);

}

.notSharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconMan.png);
}

.sharedIcon
{
    display : block;
    width: 16px;
    height: 16px;
    background-image: url(/img/iconGroup.png);
}

.actionIcon.removefromqueue{
        background-image: url(../img/icon-delete.png);
        float: left;
        height: 16px;
        width: 16px;
}

.actionIcon.addtoqueue{
        background-image: url(../img/foreward.png);
        float: left;
        height: 14px;
        width: 14px;
}
