@import 'branding/colors';
@import 'branding/typography';



.mainContainer .short-input-section .short-input-container.login,
.mainContainer .short-input-section .short-input-container.recovery-container {
        .big-input {
          width : 282px;
        }
        .button {
          width : 268px;
        }
}


.mainContainer .short-input-section header.recovery,
.mainContainer .short-input-section header.signup  {
      padding-top: 138px;
}
.mainContainer .short-input-section.signup .short-input-container,
.mainContainer .short-input-section .short-input-container.recovery {
    width: 640px;

    .short-input-container-body-wrapper .short-input-container-body .position {
      .big-input {
          width : 320px;
          display: inline-block;
          margin-right:24px;
          float: left;
        }
        .button {
          width: 116px;
          display: inline-block;
        }
    }
}

.mainContainer .short-input-section.account-setup {
     width: 530px;
    .short-input-container {
      width: 530px;
      p {
        text-align : left;
        line-height: 24px;
      }

      .short-input-container-body-wrapper .short-input-container-body .position {
        text-align : left;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 10px;
        .big-input {
          width : 300px;
          margin-left:0px;
        }
        .optional{
          color : @text-very-light;
          margin-left: 10px;
        }
        .button {
          width: 142px;
          display: inline-block;
        }
      }
    }
}

.mainContainer .short-input-section.accept-tos {

     width: 500px;
     margin-top: 20px;
     margin-top: 20px;
    .short-input-container {
      width: 500px;
      .short-input-container-body-wrapper .short-input-container-body .position {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
        .button {
          width: 200px;
          display: inline-block;
        }
      }
    }
}

