/* Signview header */

@draftcolor :  #111111;
@cancelledcolor: #111111;
@initiatedcolor: #111111;
@sentcolor: #111111;
@deliveredcolor : #111111;
@openedcolor :  #111111;
@reviewedcolor : #111111;
@signedcolor : #111111;
@participantcolor1 : #999999;
@participantcolor2 : #999999;
@participantcolor3 : #999999;
@participantcolor4 : #999999;
@participantcolor5 : #999999;
@participantcolor6 : #999999;