.admin {
  .account {
    label {
      color: @primary-font-color;
      font-size: 15px;
      font-weight: 300;
    }

    input[type="text"] {
      font-size: 15px;
      font-weight: 300;
      height: 26px;
      padding-left: 10px;
      width: 225px;
    }
  }
}