.admin {
  .account {
    label {
      color: @primary-font-color;
      font-size: 15px;
      font-weight: 300;
    }

    input[type="text"] {
      font-size: 15px;
      font-weight: 300;
      height: 26px;
      padding-left: 10px;
      width: 225px;
    }

    table.user-details-editor,
    table.company-details-editor {
      border-collapse: separate;
      border-spacing: 10px;
    }

    .user-details-button-bar,
    .company-details-button-bar {
      margin-top: 30px;

      .button {
        margin-left: 20px;
      }
    }
  }
}

.user-details-modal-move,
.company-details-modal-merge {
  .company-name {
    color: #666666;
    display: inline;
    font-size: 10px;
    margin-left: 10px;
    width: 200px;
  }
}