@import 'branding/variables';

.apidashboard {

  p {
    font-size: 14px;
  }

  .subbox {
    display: none;
  }

  .account .col {
    width: 100%;
  }

  .oauth-section {
    margin-bottom: 55px;
    
    &:last-child {
      margin-bottom: 0;
    }

    .oauth-section-header {
      border-bottom: 1px solid #dee4ed;
      color: @black;
      display: block;
      font-size: 25px;
      font-weight:300;
      line-height: 21px;
      margin: 38px 0 5px;
      min-height: 32px;
      padding-bottom: 10px;
      position: relative;
      text-align: left;
    }

    .oauth-section-label {
      color: #333333;
      display: block;
      font-family: @font-family-sans;
      font-size: 1em;
      line-height: 1em;
      margin: 15px 0 15px;
      position: relative;
      text-align: left;
    }

    label.delete {
      color: #b50008;
      cursor: pointer;
      
      &:hover {
        color: red;
      }
    }
  }

  .account .col p {
    margin-right: 30px;
    display: inline-block;
  }

  .col.float-right {
    display: none;
  }

  .col {
    display: table;
    height: 33px;
    overflow: hidden;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }
}