@import 'branding/elements';
@import 'branding/variables';

.signview .arrows {
  @scroll-arrow-size: 102px;
  @scroll-arrow-margin: 50px;
  @action-arrow-front-width:20px;
  @action-arrow-back-width:8px;
  @action-arrow-height: 37px;

  .hidden {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .scroll-arrow {
    background-repeat: no-repeat;
    display: block;
    height: @scroll-arrow-size;
    min-width: @scroll-arrow-size;
    position: fixed;
    z-index: 999;
  }

  .down.arrow {
    .scroll-arrow;

    background: url(~"@{img-base-url}/sign-arrow-down.png");
    bottom: @scroll-arrow-margin;
    position: fixed;
  }

  .up.arrow {
    .scroll-arrow;

    up: @scroll-arrow-margin; // TODO: remove this comment if "up" is the right attribute to use
    background: url(~"@{img-base-url}/sign-arrow-up.png");
    background-repeat: no-repeat;
  }

  .action-arrow {
    display: block;
    position: absolute;
    z-index: 999;
  }

  .front {
    background-repeat: no-repeat;
    height: @action-arrow-height;
    width: @action-arrow-front-width;
  }

  .back {
    background-repeat: no-repeat;
    height: @action-arrow-height;
    width: @action-arrow-back-width;
  }

  .label {
    background-repeat: repeat-x;
    color: @white;
    font-size: 14px;
    height: @action-arrow-height;
    min-width: 43px;
    padding-top: 6px;
    white-space: nowrap;
  }

  .action-arrow.right .front {
    background-image: url(~"@{img-base-url}/sign-arrow-action-right-front.png");
    float: left;
  }

  .action-arrow.right .back {
    background-image: url(~"@{img-base-url}/sign-arrow-action-right-back.png");
    float: left;
  }

  .action-arrow.right .label {
    background-image: url(~"@{img-base-url}/sign-arrow-action-label.png");
    float: left;
    line-height: 1.8;
    padding-left: 3px;
    padding-right: 3px;
  }

  .action-arrow.left .front {
    background-image: url(~"@{img-base-url}/sign-arrow-action-left-front.png");
    float: right;
    margin-top: -1px; // is this an image problem? i just rotated the right one 180 deg.
  }

  .action-arrow.left .back {
    background-image: url(~"@{img-base-url}/sign-arrow-action-left-back.png");
    float: right;
  }

  .action-arrow.left .label {
    background-image: url(~"@{img-base-url}/sign-arrow-action-label.png");
    float: right;
    line-height: 1.8;
    padding-right: 3px;
  }
}
