@import 'branding/elements';
@import 'branding/variables';

.attachment-view-topbar {
  background-image: url(~"@{img-base-url}/bg-header.jpg");
  color: @white;
  min-height: 20px;
  padding: 4px 3px 3px 20px;
  position: relative;

  .title {
    font-size: 10px;
    margin-right: 2px;
  }

  .download {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }

  .download a {
    color: #999999;
    float: right;

    &:hover{
      color: @white;
    }
  }

  .docname input.docname-edit {
    background: transparent;
    border: 0 solid transparent;
    color: @white;
    padding: 0;
  }
}

.attachment {
  margin: 20px auto;
  width: 1018px;

  .document-pages {
    padding-top: 20px;
  }
}