.checkbox(@klass, @baseSize) {
  &.@{klass} {
    height: @baseSize;
    width: @baseSize;

    > div {
      background-image: url(~"@{img-base-url}/checkbox/@{klass}.svg");
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: @baseSize @baseSize * 4;
      height: @baseSize;
      width: @baseSize;
    }

    &.checked > div {
      background-position: 0px -1 * @baseSize * 1;
    }

    &.inactive > div {
      background-position: 0px -1 * @baseSize * 2;
    }

    &.inactive.checked > div {
      background-position: 0px -1 * @baseSize * 3;
    }
  }
}

.checkbox-wrapper {
  background-color: white;

  .checkbox(small, 12px);

  .checkbox(medium, 22px);

  .checkbox(large, 44px);
}
