.companyaccountsandstats {

  .tab-viewer {
    width: 100%;
  }

  .unchangable-role {
    margin-left: 13px;
  }

}
.editcompanyusermodal {

  table {
    border-collapse: separate;
    border-spacing: 5px;

    td {
      line-height:22px;
    }

    td:first-child {
      width: 200px;
    }
    td:first-child {
      width: 150px;
    }

    .info-text-input  {
      width: 290px;
    }

    input.emailinput[type="text"]  {
      color: #222222;
      background: transparent;
      border-color: transparent;
      margin-right: 10px;
      width: 190px;
    }
  }
}
