@import 'branding/elements';
@import 'branding/variables';

.companybranding {

  .tab-viewer {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .branding-container {
    background-color: @white;
    border: 2px solid #eee;
    display: inline-block;
    margin-top: 8px;
    padding: 25px;
    width: 723px;
  }

  div.option label {
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
  }

  .checkboxtoggle {
    width: 30px;
  }

  .checkbox-box {
    vertical-align: top;

    .checkbox {
      margin-top: 5px;
      vertical-align: top;
    }

    label {
      width: 180px;
    }
  }

  input.colour {
    width: 80px;
    margin-left: 23px;
  }

  .colourdisplay {
    background: url(~"@{img-base-url}/colorpicker/select2.png") repeat scroll center center transparent;
    border: solid 1px #eeeeee;
    display: inline-block;
    margin-left: 20px;
    margin-top: 1px;
    padding: 14px 14px;
    vertical-align: top;
    width: 0px;
  }

  .logocustomise {
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 30px;
  }

  .sample {
    background-color: @white;
    border:1px solid #dddddd;
    padding: 10px;
    margin: 10px 30px;
    width: 650px;

    .header {
      padding: 10px;
    }

    hr {
      background: @white;
      border: none;
      height: 1px;
      width: 330px;
    }

    .logo {
      min-height: 33px;
      padding: 20px;
      text-align: center;
    }

    .header {

      .subject {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 0.04em;
        margin: 0px;
        padding: 0px;
        text-align: center;
        text-transform: none;
        width: 100%;
      }

      .strapline {
        display: block;
        font-size: 11px;
        font-weight: 100;
        margin: 0 0 20px 0;
        text-align: center;
        text-transform: none;
        width: 100%;
      }
    }
  }

  .save {
    margin: 4px 2px 0px 0px;
  }

  .hue-display {
    color: @white;
    cursor: pointer;
    display: inline-block;
    font: 16px/16px Helvetica Neue, Arial, sans-serif;
    margin: 0 0 0 20px;
    max-height: 16px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: hsla(0, 0, 0, 0.5) 0 1px 0;
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translatez(0);
    transform: translatez(0);
    -moz-transition: 0.15s ease-in-out;
    -ms-transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s, ease-in-out;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    zoom: 1;
  }

  .mail-sample {
    margin: auto;
    width: 608px;

    td {
      padding: 4px 0;
    }

    .emailpreviewlogo {
      border: none;
      margin-left: 7px;
      margin-top: 20px;
      max-width: 600px;
    }

    .maintable {
      width: 608px;
    }

    .emailpreviewcontenttable {
      border: 4px solid #dee4ed;
      border-top: auto;
      background-color: @white;
    }

    .emailpreviewsubject {
      color: #364963;
      display: block;
      font-family: @font-family-sans;
      font-size: 28px;
      line-height: 120%;
      margin-bottom: 8px;
      text-align: left;
    }

    .emailpreviewpoweredbyscrive {
      color: #7a94b8;
      display: block;
      font-family: @font-family-sans;
      font-size: 16px;
      font-weight: normal;
      line-height: 150%;
      text-align: left;
    }

    .emailpreviewheadersubtablecell {
      background-color: @white;
    }

    .emailpreviewheadertable {
      border-bottom-color: #dee4ed;
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    .emailpreviewbutton {
      background: hsl(215, 30%, 35%); // TODO: change to variable or hex
      color: @white;
      cursor: pointer;
      display: inline-block;
      font: 16px/16px Helvetica Neue, Arial, sans-serif;
      margin: 0 0 0 3px;
      max-height: 16px;
      padding: 12px 20px;
      text-align: center;
      text-decoration: none;
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      -webkit-transform: translatez(0);
      transform: translatez(0);
      -moz-transition: 0.15s ease-in-out;
      -ms-transition: 0.15s ease-in-out;
      -o-transition: 0.15s ease-in-out;
      -webkit-transition: 0.15s ease-in-out;
      transition: 0.15s, ease-in-out;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      zoom: 1;
    }

    .divcontent {
      float: right;
      width: 374px;
    }

    .documentpreview {
      border: none;
      max-width: 150px;
    }

    .documentpreviewdiv {
      border: 1px solid #dee4ed;
      float: left;
      margin: 2px 26px 42px 46px;
    }

    .documentcontent {
      color: #333;
      font-family: @font-family-sans;
      font-size: 16px;
      margin-top: 24px;
      line-height: 150%;
      text-align: left;
    }

    .contenttable {
      border-bottom-color: #dee4ed;
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }

    .emailpreviewfooter {
      color: #999;
      font-family: @font-family-sans;
      font-size: 13px;
      font-style: italic;
      line-height: 125%;
      text-align: justify;
      padding: 4px 40px 8px;
    }

    .emailpreviewfootertable {
      background-color: @white;
      border-top: 0;
    }

    .maincontenttable {
      background-color: @white;
      border: 4px solid #dee4ed;
      border-top: auto;
    }
  }
}

.tab-viewer .companybranding .col {
  float: none;
  width: 860px;
}

.tab-viewer .tab-container .companybranding .sample .content {
  color: #212121;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-transform: none;  
}
