.create-from-template {
  margin: auto;
  width: 1018px;

  .list-container {
    padding-top: 40px;

    .option-top-box {
      .col.float-left {
        padding: 0 0 14px 0;

        .headline {
          font-size: 25px;
          line-height: 47px;
          vertical-align: middle;
        }
      }
    }
  }
}
