.create-from-template {
  margin: auto;
  width: 1018px;

  .option-top-box .col {
    margin-right: 0px;
  }

  .header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    text-align: center;

    .headline {
      color: #333;
      font-size: 25px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 35px;
    }
  }
}