@import 'branding/elements';
@import 'branding/variables.less';
@import 'runtime/servicebranding/servicebrandingdefaultvariables.less';

// Stuff specyfic to design view
// Durring backbone refactoring we changed structure and we want to get rid of bad css stuff also
// -------------------------

input.daystosign {
  background-color: @white;
  border: 1px solid lightgray;
  border-radius: 2px 2px 2px 2px;
  font-size: 11px;
  margin: 0 3px 0 3px;
  padding: 2px;
  position: relative;
  text-align: center;
  top: -1px;
  width: 20px;
}

.calendarbutton,
.editinvitemessageicon,
.authorattachmentssetupicon,
.signatoryattachmentssetupicon {
  background-position: 2px 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  padding-left: 5px;
  position: relative;
  top: 3px;
  width: 16px;
}

.calendarbutton {
  background-image: url(~"@{img-base-url}/calendar.png");
}

.editinvitemessageicon {
  background-image: url(~"@{img-base-url}/iconPen.png");
}

.authorattachmentssetupicon,
&.signatoryattachmentssetupicon{
  background-image: url(~"@{img-base-url}/attachment.gif");
}

.option-box {
  height: 130px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.designSignatoryAttachmentsPopupContent {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 30px;
}

.selectAuthorAttachmentPopupContent {
  margin: auto;
  width: 630px;

  .attachmentsList {
    padding : 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    thead, tbody {
      display: inline-flex;
      flex-direction: column;

      tr {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 2px;
        margin: 3px;

        &.redborder {
          margin: 2px;
        }

        td {
          display: inline-block;
          margin: 0 2px;

          &.attachment-name {
            width: 210px;
          }

          &.attachment-shared {
            width: 25px;
          }

          &.attachment-type {
            width: 160px;
          }

          &.attachment-merged {
            width: 140px;
          }

          &.attachment-view {
            width: 30px;
          }

          &.attachment-remove {
            width: 15px;
          }

          &.attachment-error {
            color: @negativecolor;
            width: 580px;
            text-align: left;
          }
        }
      }
    }

    tbody tr td {
      text-align: center;
    }

    .view-link {
      background: url(~"@{img-base-url}/sprite-grey-eye.png") no-repeat scroll 0 0 transparent;
      cursor: pointer;
      display: inline-block;
      height: 14px;
      width: 25px;

      &:hover {
        background-position: -25px 0;
      }
    }

    .remove-link {
      background: url(~"@{img-base-url}/sprite-grey-X.png") no-repeat scroll 0 0 transparent;
      cursor: pointer;
      display: inline-block;
      height: 12px;
      width: 12px;

      &:hover {
        background-position: -12px 0;
      }
    }
  }

  .select {
    display: inline-block;
    vertical-align: middle;
  }

  a.add-attachment.button {
    float: right;
    color: white;

    &:hover {
      color: white;
    }
  }

}

.designCSVSignatoryPopupContent .option-box {
  margin: auto;
}

.designCSVSignatoryPopupContent {
  margin: 0;
  padding-bottom: 8px;

  .buttonbox {
    text-align: center;
  }
}

.designCSVSignatoryPopupScroll {
  margin-bottom: 30px;
  overflow-x: auto;
}

.removeSignatoryAttachmentIcon {
  cursor: pointer;
  display: block;
  font-size: 20px;
  width: 14px;
}

.editSignatoryAttachmentTable {
  border-collapse: separate;
  margin-bottom: 5px;
  margin-top : 5px;

  input {
    height: 29px;
    width: 145px;
    font-weight: 300;
  }

  textarea {
    height: 29px;
    font-weight: 300;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: 300;
  }
}

.editSignatoryAttachmentName {
  line-height: 10px;
  width: 130px;
}

.editSignatoryAttachmentDescription {
  line-height: 18px;
  overflow: hidden;
  width: 240px;
}

.editSignatoryAttachmentSelect {
  height: 42px;
}

.editSignatoryAttachmentTDName {
  width: 150px;
}

.editSignatoryAttachmentTDDescription {
  width: 230px;
}

.editSignatoryAttachmentTDSelect {
}

th.editSignatoryAttachmentTDIcon {
  border-bottom: none;
}

.csvDataTable {
  font-size: 15px;
  margin: auto;
  margin-bottom: 30px;
  min-width: 600px;
}

.csvDataTable td {
  border: 1px solid #eeeeee;
  min-width: 85px;
  padding-left: 10px;
  padding-right: 35px;
  padding-top: 10px;
  vertical-align: top;
}

.csvDataTable th {
  background: @grey-background;
  border: 1px solid #eeeeee;
  font-weight: normal;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
}

.designCSVSignatoryPopupContent .generalProblems {
  margin: 10px auto 8px;
}

.designCSVSignatoryPopupContent .problem {
  color: red; // TODO: use variable in less?
  font-size: 10px;
}

.designCSVSignatoryPopupContent .generalProblems .problem {
  color: @gray-50-percent;
  font-size: 15px;
  font-weight: 300;
  line-height: 20p;
  margin: 0;
  text-align: center;

  &.problem-header {
    color: @gray-85-percent;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .put-link-to-contact-here {
    color: @text-dark;
    text-decoration: underline;
  }
}

.signStepsBody.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.countspan {
  margin-left: 0.5em;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle.ui-resizable-se {
  background-image: url(~"@{img-base-url}/resize.png");
  bottom: 2px;
  cursor: se-resize;
  height: 10px;
  position: absolute;
  right: 2px;
  width: 10px;
}

.ui-draggable-dragging {
  cursor: pointer;
  z-index: 1500;

  .placedfield-placement-wrapper-text {
    background-color: @white;
    -moz-opacity: 0.95;
    filter: ~"alpha(opacity=95)";
    opacity: 0.95;
  }
}

.designview {

  .subcontainer {
    background-color: #f0f0f0;
    background-image: url(~"@{img-base-url}/horizontal-shading-bar.png");
    background-repeat: no-repeat;
    -moz-box-shadow: inset 1px 1px 5px #505050;
    -webkit-box-shadow: inset 1px 1px 5px #505050;
    box-shadow: inset 1px 1px 5px #505050;
    padding-bottom: 23px;
    padding-top: 10px;
  }

  .border {
    background-color: #ecedf3;
    display: inline-block;
    float: left;
    height: 192px;
    width: 1px;
  }

  .placedfield {
    cursor: pointer;
  }

  // In design view we want to have a visible background since they can be still moved.
  .placedfieldvalue {
    background-color: @white;
    -moz-opacity: 0.95;
    filter: ~"alpha(opacity=95)";
    opacity: 0.95;
  }
}

// Don't set margin, as we want to see the X for the participants
div.mCSB_inside > div.mCSB_container {
  margin-right: 0px;
}

// Fixes bug where you can't click on elements under tab overlay.
.design-view-tabs {
  pointer-events: none;

  .tab-viewer-header {
    pointer-events: auto;
  }

  .design-view-tab-center {
    pointer-events: none;

    > div > div {
      pointer-events: auto;
    }
  }
}
