.error-page-header {
  width:275px;
  margin:20px auto;

  .error-page-header-logo-wrapper {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;

    label {
      text-align:center;
      width: 275px;
    }
  }
}

.error-page-info {
   text-align: center;
   width: 600px;
   margin:80px auto;

   .error-page-description {

     margin:20px auto;

     h1 {
      margin-bottom: 20px;
     }
   }

   .error-page-instruction {
     margin:20px auto;
   }

   .error-page-buttons-box {
     width: 360px;
     margin:10px auto;
     height: 100px;
     text-align: center;

     .button {
       width: 100px;
     }
   }
}
