@import 'branding/variables';

.list-container {

  .table {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    table {
      background: @white;
      border: 1px solid @dark-border;
      table-layout: fixed;
      width: 100%;

      th {
        background-color: @slightly-darker-grey-background;
        height: 33px;
        padding-bottom: 10px;
        padding-left: 15px;
        text-align: left;
        vertical-align: bottom;

        span {
          color: @black !important;
          font-family: @font-family-source;
          font-size : 15px;
          font-weight: 300;
          text-decoration: none;
          word-wrap: break-word;

          &.sortable {
            cursor: pointer;

            &:hover {
              color: @blue-dark !important;
            }
          }
        }
      }

      td {
        color: #666;
        height: 31px;
        line-height: 24px;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 1px;
        padding: 3px 5px 3px 15px;
        overflow-x: hidden;

        &.right {
          padding-right: 12px;
          text-align: right;
        }

        a {
          color: #666;

          &:hover {
            color: @black;
          }
        }
      }

      tr {
        border-top: 1px solid #e0e0e0;

        &.odd td {
          background: #f6f6f6;
        }
      }
    }

    .table-paginate {

      .pages {
        color: #999;
        font-size: 13px;
        height: 22px;
        margin: 10px auto 5px;
        text-align: center;
        width: 600px;
      }

      strong {
        color: @black;
        display: block;
      }

      .page-change{
        color: #007cac;
        cursor: pointer;
        padding: 3px;

        &.current{
          color: #333333;
          cursor: default;
        }
      }
    }
  }

  .col {
    margin: 0 20px;
    max-width: 800px;
    padding-bottom: 14px;
    padding-top: 5px;

    &.float-right {
      margin: 0 20px 0 0;
    }

    &.float-left {
      margin: 0 0 0 20px;

      a {
        margin-right: 7px;
      }
    }
  }


  // Select boxes and search boxes for lists
  // -------------------------

  .list-search {
    margin-right: 8px;
    width: 230px;
  }

  .subbox {
    display: block;
    height : 40px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10x; // TODO: should this be px, or should it be removed?

    .empty {
      height: 0px;
    }

    .options-box {
      float: right;
    }
  }

  .actionButton,
  .select  {
    margin-right: 8px;

    &.float-right {
      margin-right:0px;
    }

    .select-button .select-button-label{
      color : @black;
    }

    .select-opts {
      color : @black;
    }
  }

  th .checkbox {
    margin-bottom: 6px;
    margin-top: 20px;
  }
}
