.new-password-box {
  margin: 30px auto;
  width: 275px;

  .header {
    margin-bottom: 30px;
    text-align: center;

    .label {
      text-align: center;
      width: 275px;
    }
  }

  .position {
    &.second {
      margin-top: 15px;
    }

    &.third {
      margin-top: 30px;
      text-align: center;
    }
  }

  .info-text-input {
    font-size: 16px;
    padding: 7px 14px;
    width: 245px;
  }

  .button {
    width: 235px;
  }
}
