// Styles for Payments form and dashboard.
// Author: Eric Normand
// -------------------------

@import 'branding/elements';
@import 'branding/variables';

.payments.loading {
  background-image: url(~"@{img-base-url}/wait30trans.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 240px;
}

.body-container.pricing {
  background-color: @grey-background;
}

.price-plan {
  margin: 35px 0 0 0 !important;

  &.tab-content.account .noprovider { // for people who're using the free plan
    margin: auto !important;
  }

  &.blocking-modal {
    margin-top: 20px !important;
    .payments { 
      padding-top: 0;
      min-height: 100%;
      padding-bottom: 20px;
    }
  }

  &.price-plan-branded {
    margin: auto !important;

    .payments {
      padding-top: 0;
    }

    .vat-box {
      margin-left: 188px;
    }
  }
}

.surround-content {
  background-color: @white;
  border: 1px solid #ddd;
  padding: 20px;
}

.payments-dashboard {

  .subscription-plan {
    margin-bottom:50px;
	
    .plan-information {
      .surround-content;
      padding-bottom: 35px;
      text-align: center;
      width: 320px;
    }

    .plan-name {
      border-bottom: 1px solid #ddd;
      font-size: 24px;
      margin-bottom: 35px;
      padding-bottom: 12px;
    }

    .askviktor {
      padding-top: 10px;
      padding-left: 5px;

      a {
        color: @brand-primary-darker;
        font-weight: 400;
      }
    }
  }
}

.payments {
  padding-bottom: 50px;
  padding-top: 38px;

  .price-plan.tab-content.account & { // for inside the system
      padding-bottom: 10px;
      padding-top: 10px;
  }

  h4 {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 10px;
  }
}

.payments-dashboard .features{
	height: 465px;
}

.payments-dashboard .subscribed {
   
  .payments {
    height: 650px;
    margin: auto;
  }

  .header {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .table {
    padding: 12px;
  }

  .btn-small {
    float:right;
  }

  .changesubscription select {
    font-size: 14px;
  }

  .changesubscription .totaltable {
    margin-top: 16px;
  }

  .payments .payments .header {
    margin-top:80px;
  }

  .plan .header {
    margin-top: 0;
  }

  .changesubscription .header {
    margin-top: 0;
  }

  .cancel-subscription {
    margin-top: 38px;
  }

  .cancel-button {
    float: left;
    margin: 0 16px 0 0;
  }

  .savechanges {
    margin-top: 12px;
  }

  .plan-pending {
    margin-top: 8px;
  }

  .invoice-date {
    display: inline-block;
    width: 120px;
  }

  .plan-price {
    margin-top: 16px;
  }

  .select-plan {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;    
    width: 90px;
  }

  .select-users {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
  }

  .recurly.update_billing_info {
    width: 458px;
  }

  .changebilling .header {
    margin-top: 32px;
  }

  .recurly .accepted_cards {
    right: 28px;
  }

  .recurly .contact_info {
    background: transparent;
  }

  .recurly div.title {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 0;
  }

  .payments.subscribing {
    margin: auto;
    width: 740px;
  }

  .payments.subscribing .col {
    width: 460px;
  }

  .recurly .field .placeholder {
    display: none;
    font-size: 10px;
  }

  .recurly .footer {
    padding: 0 0 12px 0;
  }

  .payments.subscribing {
    height: 1240px;
  }

  .btn-big {
    display: inline-block;
    margin: auto;
  }

  .subscribed {
    height: 650px;
    margin: auto;
  }

  .billing_info .title {
    display: none;
    font-size: 0;
    height: 16px;
    padding: 0;
  }

  span.subscription-chooser {
    display: block;
    padding-top: 16px;
  }

  .current-subscription {
    height: 350px;
  }

  .change-subscription {
    height: 350px;
  }

  .subscribed .recurly .footer {
    height: 0;
    padding: 0;
    position: relative;
    width: 443px;
  }

  .recurly {

    .field {
      margin: 8px 0;
      width: 430px;

      input[type=text] {
        background-color: @white;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: none;
        color: @primary-font-color;
        display: inline-block;
        font-size: 18px;
        height: 16px;
        margin: 0;
        padding: 7px 10px;
        width: 260px;
      }

      &.vat_number {
        display: none;
      }
    }

    .field.expires .title {
      line-height: 25px;
      width: 100px;
    }

    .field.expires {
      padding-bottom: 6px;
  
      div {
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }      
  }

  .payments .recurly .field {
    margin-bottom: 0;
    margin-left: 0;
  }

  .recurly .contact_info,
  .recurly .billing_info,
  .recurly .accept_tos {
    padding: 0;
    margin-top: 0;
  }

  .recurly .field .placeholder {
    line-height: 30px;
    padding-left: 4px;
  }

  .recurly .server_errors.any {
    color: @brand-negative;
    margin: 16px 28px 0 0;  
  }

  .recurly .field .error {
    color: @brand-negative;
    display: inline-block;
    margin-left: 16px;
  }

  .changebilling-form {
    min-height: 124px;
  }

  .recurly .field.card_number .error {
    left: 280px;
  }

  .changebilling-form .btn-small {
    bottom: -14px;
    position: relative;
    right: 0;
  }

  .accepted_cards {
    display: none;
  }

  .subscription-payments {
    margin-bottom:50px;
    
    .account-body {
	    .surround-content;
	    display:inline-block;
	    min-height: 0;
      min-width: 320px;
            
	    .subheader,
      .line {
		    display: block;
	    }
	    
      .subheader {
		    width: 150px;
	    }
	    
      .total {		    
		    display: inline-block;
        width: 100px;
	    }

	    .plan-total {
    		border-top: 1px dashed #ccc;
    		font-weight: bold;
    		margin-top: 16px;
        padding-top: 12px;
        width: 100%;
      }

	    .next-payment {
    		border-bottom: 1px solid #ccc;
    		padding-bottom: 12px;
	    }

	    .previous-payments {
		    margin-top: 12px;
	    }
    }
  }

  .renew-subscription {
    margin-bottom: 50px;
    
    .renew-button {
      margin-top: 18px;  
    }
  }
}

.contact-admin {
  margin-top: 32px;
}
