@media (max-width: 1035px) {
  .responsive {
    .mainContainer {  padding-bottom: 121px - 25px/2; }
    .signview { min-width: 0; }
    .pageheader { min-width: 0; }
    .pageheader .content {
      width: auto;
      display: block;
      position: relative;
      max-width: 1018px;
      min-width: 320px;

      .logowrapper {
        padding-left: 15px;
      }

      .sender .inner {
        padding: 0;
        margin: 0;
      }

      .sender {
        position: absolute;
        top: 0;
        right: 15px;

        .inner {
          position: relative;
          top: 50%;
          transform: translate(0%,-50%);
          -ms-transform: translate(0%,-50%);
          -moz-transform: translate(0%,-50%);
          -webkit-transform: translate(0%,-50%);
        }
      }
    }
    .pagefooter { min-width: 0; }
    .pagefooter .content {
      width: auto;
      max-width: 1018px;
      min-width: 320px;

    }
  }
}
