@import 'branding/variables';
@preview-ratio: 500 / 1040;

.sample-sign-view {
  border: 1px solid @gray-border;
  margin: auto;
  width: 600px;

  a {
    cursor: default;

    .label {
      cursor: text;
    }
  }

  .sample-sign-view-header {
    border-bottom: 1px solid @blue-border;
    display: table;
    min-height: 50px;
    width: 100%;

    &.hidden { display: none; }

    .logo {
      display: table-cell;
      padding: 10px 10px 10px 50px;
      vertical-align: middle;
      text-align: left;

      img {
        max-width: @preview-ratio * 172px;
        max-height: @preview-ratio * 52px;
      }
    }

    .header-text {
      display: table-cell;
      font-size: 10px;
      padding-right: 52px;
      text-align: right;
      vertical-align: middle;
    }
  }

  .arrow-legend {
    .arrow-icon {
      display: inline-block;
      height: 22px;
      width: 22px;
    }
    .copy {
      font-size: 11px;
      margin-left: 2px;
      vertical-align: super;
    }
    .optionalcontainer {
      padding-bottom: 5px;
      margin-top: -3px;
    }
  }

  .contentheader {
    margin: 0 !important;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    background-color: white;
    border-bottom-width: 0;

    .document-name {
      text-decoration: underline;
      font-size: 14px;
      padding: 14px;
    }

    .button {
      font-size: 14px;
      background-color: #f1f1f1;
    }

    p {
      display: inline-block;
      margin: 0;
    }

    .download {
      &.hidden {
        display: none;
      }
      background: url(../img/senddoc.png) no-repeat;
      background-position: 0 2px;
      cursor: text;
      display: inline-block;
      font-size: 11px;
      font-weight: normal;
      padding-left: 20px;
    }

    .highlight-green {
      font-weight: 600;
    }

    .instructions {
      font-size: 18px;
      margin-bottom: 0;

      .arrowtext {
        font-weight: 600;
      }
    }

  }

  .document {
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.15);
    padding: @preview-ratio * 45px;
    text-align: center;
    background: #f1f1f1;
    position: relative;

    .exampledocument {
      box-shadow: 0 0 8px rgba(80, 80, 80, 0.31);
      width: 480px;
    }

    .downarrow {
      display: inline-block;
      height: 102px;
      width: 102px;
      position: absolute;
      left: 40%;
      bottom: 25px;
      background: url('../img/sign-arrow-down.png');
    }

    .field {
      display: inline-block;
      height: 30px;
      position: absolute;
      margin-top: 3px;
    }

    .mandatoryfield {
      bottom: 415px;
      left: 75px;

      .front {
        position: relative;
        z-index: 2;
        background-image: url('../img/sign-arrow-action-right.png');
        float: left;
        background-repeat: no-repeat;
        height: 37px;
        width: 20px;
        margin-left: -9px;
      }
    }

    .optionalfield {
      bottom: 407px;
      left: 369px;
      width: 62px;
    }

    .placedfield {
      display: inline-block;
      float: left;
      border: 2px solid;
      font-size: 12px;
      z-index: 1;
    }

    .optionalplacedfield {
      border-color: #33b1dd;
    }

    .mandatoryplacedfield {
      border-color: #53b688;
      position: relative;
      top: 5px;
    }

    .placedfieldvalue {
      font-size: 12px;
      line-height: 12px;
      padding: 5px;
    }
  }

  .section {
    text-align: center;
    margin: 10px 0;
    padding: @preview-ratio * 45px;
    background-color: white;
  }

  .buttons {
    margin-top: 0;
    height: auto;
    overflow: hidden;

    .button {
      display: block;
      margin: 0 auto;
      width: @preview-ratio * 475px;

      .label {
        margin: 0 7px 0 7px;
      }
    }

    .sign {
      margin-bottom: 10px;
    }

    .reject {
      .button {
        font-weight: 300;
        background-color: white;
        text-decoration: underline;
      }
    }

    &.noreject {
      .buttoncontainer {
        &.sign {
          float: none;
        }
        &.reject {
          display: none;
        }
      }
    }
  }

  .innercontent {
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
  }

  .content {
    padding-bottom: 20px;
    background-color: #F1F1F1;
  }

  .footer {
    .logo {
      margin: 0 auto;
      width: @preview-ratio * 149px;
    }
  }
}
