.standard-input-table {
  margin-top: 20px;

  label {
    color: @primary-font-color;
    font-size: 15px;
    font-weight: 300;
  }


  table {
    td {
      font-weight: 300;
      padding: 5px;
      text-align: left;

      input {
        height: 28px;
        width: 317px;
      }

      &:first-child {
        width: 85px;
      }
    }

    tr.validation-tr {
      td {
        padding: 0 0 0 5px;
      }
    }
  }
}
