.standard-input-table {
  margin-top: 20px;

  label {
    color: @primary-font-color;
    font-size: 15px;
    font-weight: 300;
  }
  
  table td {
    font-weight: 300;
    text-align: left;
    padding: 5px;

    input {
      height: 28px;
      width: 317px;
    }

    &:first-child {
      width: 85px;
    }
  }
}
