@import 'branding/variables';

.terms-of-service {
  section {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3em 0;
    zoom: 1;
  }

  .ct {
    margin: 0 auto;
    width: 960px;
    zoom: 1;
  }

  .bulky {
    border-left: none;
    border-right: none;
    margin: 0 auto 3em;
    max-width: 800px;
    padding: 3em 0;
    text-align: center;
    width: 800px;
  }

  .bulky h1 {
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.2em;
    margin: 0;
  }

  .content {
    color: #333;
    font: 17px/1.5 @font-family-source;
    margin: 0 auto;
    padding-bottom: 3em;
    width: 800px;
  }

  .content h1 {
    color: #364963;
    font-size: 1.5em;
    letter-spacing: -1px;
    margin: 48px 0 16px;
  }

  p {
    margin: 0 0 1em 0;
    padding:0;
  }
}