@import 'branding/elements';
// Icons and simillar stuff
// -------------------------

.icon.status,
.icon.small {
  background: url(~"@{img-base-url}/spr-icons.png") 0 0 no-repeat;
  display: inline-block;
  height: 15px;
  margin-bottom: -6px;
  margin-right: 4px;

  .tooltip-body & {
    margin-bottom: -8px;
  }
}

.icon.small.business {
  background-position: 0 0;
  width: 16px;
}

.icon.small.add {
  background-position: -71px 0;
  width: 14px;
}

.icon.small.remove {
  background-position: -85px 0;
  width: 14px;
}

.icon.small.ok {
  background-position: -171px 0;
  width: 14px;
}


// Status Icons
// -------------------------

@icon-height: 26px;
@icon-width: 26px;

.icon.status {
  background: url(~"@{img-base-url}/sprite-archive-3.png") 0 0 no-repeat;
  height: @icon-height;
  width: @icon-width;
}


.icon.initiated {
  background-position: (-@icon-width * 0) 0;
}

.icon.sent {
  background-position: (-@icon-width * 1) 0;
}

.icon.delivered {
  background-position: (-@icon-width * 2) 0;
}

.icon.read {
  background-position: (-@icon-width * 3) 0;
}

.icon.opened {
  background-position: (-@icon-width * 4) 0;
}

.icon.signed {
  background-position: (-@icon-width * 5) 0;
}

.icon.rejected {
  background-position: (-@icon-width * 6) 0;
}

.icon.cancelled {
  background-position: (-@icon-width * 7) 0;
}

.icon.timeouted {
  background-position: (-@icon-width * 8) 0;
}

.icon.prolonged {
  background-position: (-@icon-width * 9) 0;
}

.icon.problem, .icon.deliveryproblem, .icon.confirmationdeliveryproblem {
  background-position: (-@icon-width * 10) 0;
}

.icon.draft {
  background-position: (-@icon-width * 11) 0;
}

.icon.template {
  background-position: (-@icon-width * 12) 0;
}

.icon.sealed {
  background-position: (-@icon-width * 13) 0;
}

.icon.extended {
  background-position: (-@icon-width * 14) 0;
}

.icon.authenticationview {
  background-position: (-@icon-width * 16) 0;
}

.icon.authenticated {
  background-position: (-@icon-width * 17) 0;
}

.icon.approved {
  background-position: (-@icon-width * 18) 0;
}

.icon.edit {
  background-image: url(~"@{img-base-url}/iconPen.png");
  display: inline-block;
  height: 14px;
  width: 14px;
}

.icon.remind {
  background: url(~"@{img-base-url}/remind.png") 0 0 no-repeat;
  display: block;
  height: 16px;
  width: 16px;
}

.gotodave {
  display: block;
  background-image: url(~"@{img-base-url}/iconPen.png");
  height: 15px;
  width: 15px;
}

.editable {

  ol li {
    list-style: decimal;
  }

  ol {
    list-style: decimal outside none;
    padding-left: 40px;
  }

  ul li {
    list-style: disc;
  }

  ul {
    list-style: disc outside none;
    padding-left: 40px;
  }
}

.loadingMail, .loadingSpinner {
  background-image: url(~"@{img-base-url}/wait30trans.gif");
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  margin-left: 40%;
  margin-right: 40%;
}


// Transparent file inpit - displayed over button
// -------------------------

.upload-button {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.upload-button input.file-input {
  cursor: pointer;
  display: block;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  height: 66px;
  opacity: 0;
  position: absolute;
  right: -30px; // Not whole area of input is clickable in all browsers
  top: -10px;
  z-index: 10;
}


// Use this class to mark that an input is obligatory
.obligatory-input {
  border: 1px solid fade(@brand-secondary, 50%);

  &:focus:not(.readonly), &:hover:not(.readonly) {
   border-color: fade(@brand-secondary, 50%);
  }
}
