@import 'branding/elements';

.box.verificationBox {
  padding: 164px 0;
  text-align: center;

  h4 {
    margin: 2em;
  }
}

.verificationContainer {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 50px;

  .upload-button {
    .file-input {
      right: 0;
      width: 366px;
    }
  }
}

.verificationResultModal {
  height: 100px;
  margin: 0px auto;
  width: 546px;

  .float-left {
    text-align: center;
    width: 60px;

    .verificationSuccessIcon {
      background: url(~"@{img-base-url}/icons.png") 0 0 no-repeat;
      background-position: 0 -339px;
      height: 61px;
      margin: 15px;
      width: 64px;
    }

    .verificationFailedIcon,
    .verificationErrorIcon {
      background-image: url(~"@{img-base-url}/spr-flash-icons.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      display: block;
      height: 30px;
      margin: 15px;
      margin-top: 25px;
      width: 30px;
    }
  }

  .float-right {
    width: 450px;
  }
}
