/* Scrive branding header */
@brandcolor :  @white;
@brandtextcolor: @text-dark;
@actioncolor: @brand-secondary;
@actiontextcolor: @white;
@actionsecondarycolor: @brand-secondary-dark;
@actionsecondarytextcolor: @white;
@positivecolor: @brand-secondary;
@positivetextcolor: @white;
@negativecolor: @red;
@negativetextcolor:@white;
@font: @font-family-source;
